[2021-04-21 19:43] spinler commented on #2903
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/42519

[2021-04-21 21:56] derekhoward55 opened #3075 "Power Sequencing code trace system type"
Trace the IM value in the journal early during the power on sequencing so we know the system type in field/lab debug and can validate that the correct config files are used and function supported.  This is done on the way to standby in openpower-vpd-parser ("System VPD IM keyword: " << systemType << "\n"), but the journal can wrap quickly and this info then lost.  However the value is not availabl

[2021-04-22 01:52] derick-montague commented on #3070
[Conversation about the display of the ASCII code in the UI](https://ibm-systems-power.slack.com/archives/C0Q6TQP5Z/p1619016703321800)

[2021-04-22 02:38] derick-montague commented on #2896
The determinations were made today and we need can move forward with some design feedback. All the changes are documented in the description.

[2021-04-22 02:44] derick-montague commented on #2156
@dixsie Do you want to pick up this story? I think @sandeepasingh116 can pick up #3070

[2021-04-22 10:36] rfrandse commented on #50
refresh

[2021-04-22 10:36] rfrandse commented on #2106
refresh

[2021-04-22 10:38] rfrandse commented on #2174
refresh

[2021-04-22 10:40] rfrandse commented on #2316
refresh

[2021-04-22 10:41] rfrandse commented on #2326
refresh

[2021-04-22 10:45] rfrandse commented on #2520
refresh

[2021-04-22 10:46] rfrandse commented on #567
refresh

[2021-04-22 10:47] rfrandse commented on #574
refresh

[2021-04-22 10:48] rfrandse commented on #577
refresh

[2021-04-22 10:50] rfrandse commented on #652
refresh

[2021-04-22 10:52] rfrandse commented on #690
refresh

[2021-04-22 10:52] rfrandse commented on #2813
refresh

[2021-04-22 10:53] rfrandse commented on #767
refresh

[2021-04-22 10:55] rfrandse commented on #2892
refresh

[2021-04-22 14:54] rfrandse commented on #50
refresh

[2021-04-22 14:54] rfrandse commented on #2099
refresh

[2021-04-22 14:55] rfrandse commented on #2106
refresh

[2021-04-22 14:56] rfrandse commented on #2174
refresh

[2021-04-22 14:57] joseph-reynolds commented on #1763
I emailed details about the problem to the openbmc email list and mentioned it on Discord, but I have not gotten any response.

[2021-04-22 14:58] rfrandse commented on #2316
refresh

[2021-04-22 15:03] rfrandse commented on #2520
refresh

[2021-04-22 15:06] rfrandse commented on #577
refresh

[2021-04-22 15:08] rfrandse commented on #652
refresh

[2021-04-22 15:10] rfrandse commented on #767
refresh

[2021-04-22 15:12] rfrandse commented on #2892
refresh

[2021-04-22 15:13] rfrandse commented on #2945
refresh

[2021-04-22 15:13] rfrandse commented on #904
refresh

[2021-04-22 15:14] rfrandse commented on #909
refresh

[2021-04-22 15:15] rfrandse commented on #2564
refresh

[2021-04-22 15:16] rfrandse commented on #1172
refresh

[2021-04-22 15:16] rfrandse commented on #1193
refresh

[2021-04-22 15:17] rfrandse commented on #1321
refresh

[2021-04-22 15:19] rfrandse commented on #1328
refresh

[2021-04-22 15:20] rfrandse commented on #1477
refresh

[2021-04-22 15:20] rfrandse commented on #1484
refresh

[2021-04-22 15:21] rfrandse commented on #1489
refresh

[2021-04-22 15:21] rfrandse commented on #1520
refresh

[2021-04-22 15:21] rfrandse commented on #1523
refresh

[2021-04-22 15:22] rfrandse commented on #1555
refresh

[2021-04-22 15:23] rfrandse commented on #1572
refresh

[2021-04-22 15:23] rfrandse commented on #1593
refresh

[2021-04-22 15:39] joseph-reynolds commented on #2875
Is there a way to test this function without a physical OpPanel and without the need to be physically present?  For example, if the OpPanel ultimately produces D-Bus events, can we use `busctl` commands to simulate that an OpPanel was hot-plugged into the BMC and then OpPanel function 74 was used?  (Asking for the test team.)

[2021-04-22 20:18] #2987 closed

[2021-04-22 20:41] geissonator commented on #2989
I know some tweaks will come to the different fan configs as the different teams work on the system but the base code for fan control on 1s4u is all in.

[2021-04-22 20:41] #2989 closed

[2021-04-22 20:42] geissonator commented on #2988
Work complete and in a downstream driver

[2021-04-22 20:42] #2988 closed

[2021-04-22 21:13] msbarth commented on #3074
The current idea is that the fan watchdog would be initially tripped upon BMC standby-to-poweron state and would be reset(start poking the watchdog) by fan control after fan control successfully loads its config. In addition to this, fan monitor would need to then be started by fan control after the watchdog is being poked since fan monitor can not be running at any point the fan watchdog is tripp

[2021-04-22 21:22] geissonator commented on #2866
The current code this story will need to manipulate is here: https://github.com/openbmc/openpower-debug-collector/blob/master/watchdog_timeout.cpp

Here's the proposal on break down of this story:
- Convert https://github.com/openbmc/openpower-debug-collector to meson
- Create error utilizing PEL interface (and corresponding registry entry)
- Call the new Hostboot dump create interface, and wait f

[2021-04-23 03:20] lxwinspur commented on #2150
@spinler @mzipse

@ChicagoDuan of the IPS Team has worked on it and started coding.

Also, @spinler Could you kindly explain why use openpower-occ-control for OCC temps and power?
Because I remembered that we control for OCC temps and power with phosphor-hwmon before, compared with the previous function, what are the benefits? Maybe we missed something.

Thanks a lot :)

[2021-04-23 03:35] lxwinspur commented on #3006
About this issue:
[code]
fixed it by:
https://gerrit.openbmc-project.xyz/c/openbmc/pldm/+/42576

[2021-04-23 05:01] jinuthomas commented on #2875
I have not. yet started on this will need to look at how it can be done

[2021-04-23 09:43] zhanghaodi commented on #2485
@mzipse @anoo1 @gtmills
What is the result of the discussion?
Has the problem been solved?
If the problem is solved, can this issue be blocked?
If not resolved, please indicate the direction.

[2021-04-23 09:47] zhanghaodi commented on #1763
@mzipse @joseph-reynolds
Thank you, how should we solve this problem now,
Can this issue be temporarily blocked?
Open this issue after the service-config-manager problem is solved.

[2021-04-23 10:37] rfrandse commented on #2062
refresh

[2021-04-23 10:37] rfrandse commented on #50
refresh

[2021-04-23 10:38] rfrandse commented on #2099
refresh

[2021-04-23 10:38] rfrandse commented on #2106
refresh

[2021-04-23 10:39] rfrandse commented on #2174
refresh

[2021-04-23 10:41] rfrandse commented on #242
refresh

[2021-04-23 10:42] rfrandse commented on #2305
refresh

[2021-04-23 10:42] rfrandse commented on #2316
refresh

[2021-04-23 10:47] rfrandse commented on #2475
refresh

[2021-04-23 10:47] rfrandse commented on #2520
refresh

[2021-04-23 10:50] rfrandse commented on #574
refresh

[2021-04-23 10:50] rfrandse commented on #577
refresh

[2021-04-23 10:51] rfrandse commented on #579
refresh

[2021-04-23 10:53] rfrandse commented on #652
refresh

[2021-04-23 10:53] rfrandse commented on #654
refresh

[2021-04-23 10:54] rfrandse commented on #690
refresh

[2021-04-23 10:55] rfrandse commented on #767
refresh

[2021-04-23 10:57] rfrandse commented on #2892
refresh

[2021-04-23 13:29] spinler commented on #2150
If you're asking why we're using these PLDM IDs instead of standard hardcoded phosphor-hwmon config file IDs, it's because we're now supporting 4 different systems in the same flash image.  The largest one having something like 500 different sensor values that someone would need to type into both our config files and the MRW XML that hostboot would get the values from.  And, the people typing them

[2021-04-23 13:31] spinler commented on #2150
I don't know if it will be useful, but @smccarney is currently writing sensor monitoring code for the VRMs that has much of the same behavior as the OCC monitoring will.  Not that code would be literally shared, but he might have some design ideas.

[2021-04-23 14:52] rfrandse commented on #2058
refresh

[2021-04-23 14:53] rfrandse commented on #50
refresh

[2021-04-23 14:54] rfrandse commented on #2099
refresh

[2021-04-23 14:54] rfrandse commented on #2106
refresh

[2021-04-23 14:55] rfrandse commented on #2174
refresh

[2021-04-23 14:58] rfrandse commented on #2316
refresh

[2021-04-23 15:02] rfrandse commented on #2520
refresh

[2021-04-23 15:05] rfrandse commented on #577
refresh

[2021-04-23 15:07] rfrandse commented on #652
refresh

[2021-04-23 15:08] rfrandse commented on #690
refresh

[2021-04-23 15:09] rfrandse commented on #767
refresh

[2021-04-23 15:11] rfrandse commented on #2892
refresh

[2021-04-23 15:12] rfrandse commented on #2945
refresh

[2021-04-23 15:15] msbarth opened #3076 "PFP::control - Action to override a single fan's speed within a zone"
With dual rotor fans, a requirement is that when a single rotor fails within a fan FRU, the other rotor should be held at full speed therefore this fan should ignore target change requests while its in this single rotor fail scenario. The idea is to have an action that is triggered by a group containing the pair of fan rotor functional properties to then set a given fan tach sensor object's target

[2021-04-23 15:46] mzipse commented on #1763
@zhanghaodi , Joseph has reached out to the community and maintainers for help on this issue but unfortunately after a couple of weeks, we have not yet received any response.  So, at this point, I would like to ask you or someone on your team to dig a little deeper into the Service Config Manager code to understand why it is failing.  It appears that there is a bug in this code.  I would suggest o

[2021-04-23 16:39] gtmills opened #3077 "Fix the links"
Some of these are links they should not be
https://github.com/openbmc/bmcweb/blob/af6298daa55d41d5a47459215b96ca5ec079dfb4/Redfish.md#redfishv1accountserviceaccounts

[2021-04-23 18:37] GabrielDonas commented on #3077
Hi @gtmills, I create a [pull request](https://github.com/openbmc/bmcweb/pull/201#issue-622244002) on the bmcweb repo to resolve this issue.

[2021-04-23 18:52] gtmills commented on #3077
@GabrielDonas That is great! Please submit openbmc patches via Gerrit.
https://github.com/openbmc/docs/blob/master/CONTRIBUTING.md#submitting-changes-via-gerrit-server-to-openbmc
https://gerrit.openbmc-project.xyz/q/project:openbmc%252Fbmcweb+status:open

[2021-04-24 14:50] rfrandse commented on #50
refresh

[2021-04-24 14:51] rfrandse commented on #2106
refresh

[2021-04-24 14:52] rfrandse commented on #2174
refresh

[2021-04-24 14:54] rfrandse commented on #2316
refresh

[2021-04-24 14:58] rfrandse commented on #2520
refresh

[2021-04-24 15:00] rfrandse commented on #574
refresh

[2021-04-24 15:01] rfrandse commented on #577
refresh

[2021-04-24 15:03] rfrandse commented on #652
refresh

[2021-04-24 15:04] rfrandse commented on #690
refresh

[2021-04-24 15:05] rfrandse commented on #767
refresh

[2021-04-24 15:07] rfrandse commented on #2892
refresh

[2021-04-24 15:07] rfrandse commented on #2945
refresh

[2021-04-25 14:50] rfrandse commented on #50
refresh

[2021-04-25 14:50] rfrandse commented on #2106
refresh

[2021-04-25 14:52] rfrandse commented on #2174
refresh

[2021-04-25 14:54] rfrandse commented on #2316
refresh

[2021-04-25 14:58] rfrandse commented on #2520
refresh

[2021-04-25 15:01] rfrandse commented on #577
refresh

[2021-04-25 15:03] rfrandse commented on #652
refresh

[2021-04-25 15:04] rfrandse commented on #690
refresh

[2021-04-25 15:04] rfrandse commented on #767
refresh

[2021-04-25 15:06] rfrandse commented on #2892
refresh

[2021-04-25 15:07] rfrandse commented on #2945
refresh

[2021-04-25 17:46] mzipse commented on #869
Timed Power on work is now closed.  Confirmed this with the PLDM team and Andrew.

[2021-04-25 17:46] #869 closed

[2021-04-26 03:30] lxwinspur commented on #2150
@spinler

Thank you very much for providing us with a lot of useful information, that will be very helpful.
Also, @ChicagoDuan is working on it, He will ping you if he has any questions.

Thanks again Matt

[2021-04-26 07:15] lxwinspur commented on #2996
@geissonator @spinler

About this issue, Could you remove `ReadyForDev`?

[2021-04-26 10:50] rsnair commented on #1971
This is not needed for GA1. It's only for process improvement. Please tag this appropriately.

[2021-04-26 10:51] rsnair commented on #1972
Not a functional requirement. This is nice to have and not needed for GA1. Please tag this appropriately.

[2021-04-26 10:51] rsnair commented on #1973
Not a functional requirement. This is nice to have and not needed for GA1. Please tag this appropriately.

[2021-04-26 10:54] rsnair commented on #2217
Is this needed for GA1? This appears to be a guard tool enhancement and not having a real field use case.

[2021-04-26 10:59] rsnair commented on #2752
Is this the one Chirag was working a while back? Can we have the commit details updated and mark the story as closed?

[2021-04-26 10:59] rsnair commented on #2752
@chirshar07 Please do the needful

[2021-04-26 11:21] ojayanth opened #3078 "pHAL : Improvements"
This epic to to track all improment and nice to have issues in the phal area.

[2021-04-26 11:22] rsnair commented on #676
Estimated Story Points - 20. Modifying this to 0 as it's not in scope for GA1. If there is a better way to have this not getting included in the reports, we can change it back.

[2021-04-26 11:24] rsnair commented on #2224
Is this a GA1 priority?

[2021-04-26 11:29] ojayanth commented on #2224
yes this is required . This will help to avoid bmc/host dependency some level .

[2021-04-26 13:10] spinler commented on #2996
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-logging/+/42043

[2021-04-26 13:55] derick-montague commented on #2156
@dixsie - Looks like these are in the driver. i was looking at the Redfish API on W70 and all the properties seem to be there.

[2021-04-26 14:52] rfrandse commented on #50
refresh

[2021-04-26 14:52] rfrandse commented on #2099
refresh

[2021-04-26 14:52] rfrandse commented on #2106
refresh

[2021-04-26 14:53] rfrandse commented on #2174
refresh

[2021-04-26 14:56] rfrandse commented on #2316
refresh

[2021-04-26 14:58] rfrandse commented on #2428
refresh

[2021-04-26 15:00] rfrandse commented on #2520
refresh

[2021-04-26 15:05] rfrandse commented on #652
refresh

[2021-04-26 15:06] rfrandse commented on #690
refresh

[2021-04-26 15:07] rfrandse commented on #767
refresh

[2021-04-26 15:07] rfrandse commented on #768
refresh

[2021-04-26 15:08] geissonator opened #3079 "bmcweb: redfish: system: Host TransitioningToRunning should be Starting"
See https://grok.openbmc.org/xref/openbmc/bmcweb/redfish-core/lib/systems.hpp?r=601af5ed#653
[code]

The ["Status"]["State"] should be "Starting", similar to what was done in the hypervisor state code:
https://grok.openbmc.org/xref/openbmc/bmcweb/redfish-core/lib/hypervisor_system.hpp?r=8d1b46d7#67

bmcweb has some requirements on commit message and testing, please see https://github.com/openbmc/b

[2021-04-26 15:09] rfrandse commented on #815
refresh

[2021-04-26 15:09] rfrandse commented on #2892
refresh

[2021-04-26 15:10] rfrandse commented on #2945
refresh

[2021-04-26 15:11] rfrandse commented on #904
refresh

[2021-04-26 15:12] rfrandse commented on #909
refresh

[2021-04-26 15:12] rfrandse commented on #3016
refresh

[2021-04-26 15:13] rfrandse commented on #2564
refresh

[2021-04-26 15:14] rfrandse commented on #1176
refresh

[2021-04-26 15:14] rfrandse commented on #1193
refresh

[2021-04-26 15:15] rfrandse commented on #1321
refresh

[2021-04-26 15:17] rfrandse commented on #1328
refresh

[2021-04-26 15:18] rfrandse commented on #1477
refresh

[2021-04-26 15:18] rfrandse commented on #1484
refresh

[2021-04-26 15:19] rfrandse commented on #1489
refresh

[2021-04-26 15:19] rfrandse commented on #1513
refresh

[2021-04-26 15:19] rfrandse commented on #1520
refresh

[2021-04-26 15:19] rfrandse commented on #1523
refresh

[2021-04-26 15:20] rfrandse commented on #1555
refresh

[2021-04-26 15:27] geissonator commented on #3079
High level steps for this:
- Clone bmcweb and make the code change, ensure docker unit tests pass against the change
- devtool modify bmcweb within a openbmc/openbmc build and do a full romulus build
- Boot the build within QEMU and manually verify the change by using busctl to change the state of the HostState
[code]
- Utilize curl commands to verify Redfish reports the new "Starting" state (http

[2021-04-26 18:09] spinler commented on #2872
@msbarth Was it decided the other day that this won't be necessary, and it should just wait forever?

[2021-04-26 18:36] msbarth commented on #2872
This is a general issue that we still need to handle for the override and default config file cases.

For the case of the compatible interface provided JSON file, we should wait forever.

However, for users that do not use the compatible interface, work needs to be done to log an error (or halt any poweron?) when the system is powered on and no config file was found by that time.

[2021-04-26 19:27] spinler commented on #1592
The assigned fan CCINs are:

rainier fan (2U): 7B5F
rainier blower (4U): 7B5G

FNs are still TBD.

[2021-04-26 20:42] derekhoward55 commented on #1591
verified on hw and simics

[2021-04-27 01:20] #3006 closed

[2021-04-27 07:48] priyanka-pillai97 commented on #1490
### Internal users slack discussion:
https://ibm-systems.slack.com/archives/G01JLPJKVG9/p1619103268068000
https://ibm-systems.slack.com/archives/G01JLPJKVG9/p1619103393070500

[2021-04-27 13:27] mzipse commented on #1243
@shenki , do we need to do anything for GA1 related to this issue?  Or is this already completed?

[2021-04-27 14:22] mzipse commented on #824
@shenki , can we consider this complete now?  Or do we still have to upstream this?  I assume we have code in a driver.

[2021-04-27 14:25] mzipse commented on #1772
@klauskiwi @shenki   What is the latest on this.  Is there still more work to upstream the kernel driver?  Do we at least have this in a downstream driver?

[2021-04-27 14:28] mzipse commented on #1237
@shenki is this the same as #1243 ?

[2021-04-27 14:38] nmuruli commented on #2888
Code up for review: https://gerrit.openbmc-project.xyz/c/openbmc/pldm/+/41773

[2021-04-27 14:52] rfrandse commented on #50
refresh

[2021-04-27 14:52] rfrandse commented on #2106
refresh

[2021-04-27 14:54] rfrandse commented on #2174
refresh

[2021-04-27 14:55] rfrandse commented on #242
refresh

[2021-04-27 14:56] rfrandse commented on #2316
refresh

[2021-04-27 14:58] mzipse commented on #3049
@geissonator , do we really need to do this?  I thought @amboar was working on a way to solve this?

[2021-04-27 14:59] nmuruli commented on #2998
Code Review : PLDM : add Hostboot pnor LIDs into FileTable : https://gerrit.openbmc-project.xyz/c/openbmc/pldm/+/42442
Depends on the Async Cmd support which is also in code review..

[2021-04-27 15:00] rfrandse commented on #2475
refresh

[2021-04-27 15:01] rfrandse commented on #2520
refresh

[2021-04-27 15:01] mzipse commented on #128
@ojayanth , is this story still needed?  I thought this has already been worked out as part of the Dump Management work.  True?

[2021-04-27 15:01] rfrandse commented on #518
refresh

[2021-04-27 15:02] mzipse commented on #128
Assigning to Jayanth to resolve.

[2021-04-27 15:02] rfrandse commented on #519
refresh

[2021-04-27 15:02] rfrandse commented on #567
refresh

[2021-04-27 15:04] rfrandse commented on #574
refresh

[2021-04-27 15:04] rfrandse commented on #577
refresh

[2021-04-27 15:06] rfrandse commented on #652
refresh

[2021-04-27 15:07] mzipse commented on #2619
@geissonator I believe we can close this now.  Can you confirm?

[2021-04-27 15:07] rfrandse commented on #690
refresh

[2021-04-27 15:08] rfrandse commented on #767
refresh

[2021-04-27 15:08] rfrandse commented on #769
refresh

[2021-04-27 15:09] mzipse commented on #2856
@geissonator , I believe we have this closed too but your work must be under a different commit.  Can you update and close?

[2021-04-27 15:10] rfrandse commented on #2892
refresh

[2021-04-27 15:28] gtmills commented on #1358
This work is complete.

[2021-04-27 15:28] #1358 closed

[2021-04-27 15:31] msbarth opened #3080 "PFP::presence - Verify and document the use of a direct GPIO detection in place of a GPIO thru I2C expander (i.e. PCA9552)"
Investigate and verify how fan presence would be configured to use a direct GPIO detection of a fan since primarily it had been used/configured to use GPIO's thru I2C expanders (i.e. PCA9552's)

[2021-04-27 15:44] spinler opened #3081 "PELs: Put PEL callhome action flag value on D-Bus"
The callhome action flag  inside a PEL needs to be on D-Bus so that it can be turned into the AutomatedServiceNotify property in Redfish.  This story is just to put the property on D-Bus.  Another one will handle the bmcweb side.

[2021-04-27 15:46] spinler opened #3082 "PELs: Cram the callouts into a Resolution D-Bus property"
Redfish only gave us a single string property called Resolution to put the callouts into.  So we'll need to build a string out of the callout list and put it on D-Bus.  This story covers that.  Another story will cover the bmcweb side of t hings.

[2021-04-27 15:48] spinler opened #3083 "PELs: Put the SRC words onto D-Bus"
These will go into the redfish event log.  See https://ibm.ent.box.com/notes/791481299908 for details.  Another story will do the bmcweb part of putting this property into a redfish event log.

[2021-04-27 15:50] spinler commented on #560
Created stories #3081, #3082, #3083  for the pieces.

[2021-04-27 16:12] gtmills opened #3084 "Redfish: Resolution property"
Resolution will have the callouts
#3082 is the D-Bus work

[2021-04-27 16:14] gtmills opened #3085 "Redfish ServiceProviderNotified property"
D-Bus property is #3081

[2021-04-27 16:15] gtmills opened #3086 "Move to Redfish 2021.1"
Redfish's first release of 2021. When it releases we should move to it

[2021-04-27 16:21] gtmills commented on #2009
@manojkiraneda I believe progress code / Progress Indicators is downstream in a driver.
@manojkiraneda Should you own this?

[2021-04-27 16:24] gtmills commented on #566
@spinler is this the same as #2006  ?

[2021-04-27 16:24] sumitk56 commented on #2568
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/42445

[2021-04-27 16:24] #2568 closed

[2021-04-27 16:25] gtmills commented on #1067
Ties in with #2007
Maybe we should just close one ? @spinler
Does this track the D-Bus work ?

[2021-04-27 17:05] gtmills opened #3087 "Update Redfish.md with new schemas and properties"
https://github.com/openbmc/bmcweb/blob/master/Redfish.md needs to be updated so we can enforce updating this in commits

[2021-04-27 17:15] gtmills opened #3088 "bmcweb: fix 500 when DELETE and badId (should be resourceNotFound )"
See https://github.com/openbmc/bmcweb/issues/191
and fix https://github.com/openbmc/bmcweb/commit/3de8d8ba2880173fac03c949d9fae035442549ee

Have this all over like Network https://github.com/openbmc/bmcweb/blob/244b6d5b9779ef09d5b359befaa2180acb4afd4a/redfish-core/lib/ethernet.hpp#L2323

Look for doDelete() do they handle a badId properly?

[2021-04-27 18:30] spinler commented on #1067
I think we need to put some sort of 'hidden' property on D-Bus that bmcweb can look at, so we can use this story for that.

Is 'hidden' still the right abstraction for bmcweb do you think?

[2021-04-27 18:32] spinler commented on #1592
The RI keyword is a 4 byte value that looks like 0xAAAABBBB, where
AAAA = resource class.  For fans it is, 0x0005
BBBB = RID, which will be 0x210x where x is the instance number of the fan

For example, for fan 2 it would be 0x00052102.

[2021-04-27 18:35] spinler commented on #1592
The plan now is to just put these 3 keywords into the VPD JSON for the fans and load them from there.  The fans already have to be in the JSON anyway so they can get location codes.   On Everest, only the RI keyword will need to be in the JSON since the fans have EEPROMs.

[2021-04-27 18:46] gtmills commented on #1758
/ibm/v1 can be enabled via https://github.com/openbmc/bmcweb/blob/8401529e4fb52caa1725caaa4777536f541d10e8/meson_options.txt#L29

[2021-04-27 18:48] geissonator commented on #2856
All code merged and in under https://gerrit.openbmc-project.xyz/q/topic:%22hyp-state%22+(status:open%20OR%20status:merged)

[2021-04-27 18:48] #2856 closed

[2021-04-27 18:52] geissonator commented on #2619
We do not have support in for the chassis here but that is not needed currently. HMC team only needed the system portion of this which is in and merged. I'll close this and create a separate one for chassis if the need ever arises.

[2021-04-27 18:52] #2619 closed

[2021-04-27 18:57] geissonator commented on #3049
Yeah this is the last line of defense to ensure we don't power down a system when PHYP is up and running. The decision from Deans meeting is we have to do it.

[2021-04-27 19:16] msbarth commented on #1379
The functionality that PDM provided has been integrated into the fan monitor application. At this time, PDM is looked at being deprecated, so this issue is not needed.

[2021-04-27 19:16] #1379 closed

[2021-04-27 20:03] msbarth commented on #473
At this time, PDM is deprecated..closing

[2021-04-27 20:03] #473 closed

[2021-04-27 20:05] msbarth commented on #2655
Will revisit performing this change after further spec'ing of the fan hardware, but it doesnt appear to be necessary at this time. closing

[2021-04-27 20:05] #2655 closed

[2021-04-27 20:09] msbarth commented on #1021
Fan VPD issue -> https://github.com/ibm-openbmc/dev/issues/1592

Appears this will all be handled by the VPD application, assigning to Santosh

[2021-04-27 20:09] msbarth commented on #1638
At this time, PDM is deprecated. closing

[2021-04-27 20:09] #1638 closed

[2021-04-27 20:13] msbarth opened #3089 "PFP - Add meson building support"
The openbmc strategic direction is to have repos built using meson. Need to create all the necessary meson configurations to mimic what autotools currently does when building the fan applications.

[2021-04-27 20:31] gtmills commented on #2969
Probably time to start on it.
Can you email the list, respond to that thread that you plan to work on it?
 https://lists.ozlabs.org/pipermail/openbmc/2021-February/025141.html

[2021-04-27 20:32] gtmills commented on #2485
This is still a problem. If you have a system with 2 host images, you can not switch between them.
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/35226 added this for BMC but we don't have anything for the host image to do this.

[2021-04-27 21:30] spinler commented on #58
Discussed this today with @derekhoward55 and others.  This is still desired on eBMC because it was done on the FSP.  On P9 FSP the power on count was written into each processor VPD, though there is some question if that still occurred on P10.  If not done on P10 FSP, then it won't be needed on P10 eBMC.  However, having this in telemetry is still required.

[2021-04-27 22:08] spinler commented on #58
In case it matters, the FSP also reported power on hours in telemetry.  That is already on D-Bus with the xyz.openbmc_project.State.PowerOnHours interface in the chassis state manager.

[2021-04-27 22:27] bjwyman commented on #1748
Looking for information on the CCIN handling.

I suppose I can note the commits I know are part of getting handling of 1600W, PEC, and CAPABILITY.
https://github.com/openbmc/linux/commit/b1fbe673b89e88adae0800ab8bef69854be58720#diff-425b49bde3f53a9740fccda555025e4d34c97339a74423e9ca0e6baa5565f0a3

https://github.com/openbmc/linux/commit/9d741f0f7443a71fecd6e17f92a6406a1966a5b3#diff-4a9f1fc50789c53

[2021-04-27 23:24] klauskiwi commented on #1772
I guess nothing really changed since my comment back on March. I created a downstream PR to add the out-of-tree TPM driver as a build-time patch: https://github.ibm.com/openbmc/openbmc/pull/1016

The thing is: do we want to carry those patches on our main downstream drivers? or perhaps we should create a new image type / distro feature enabling that only for manufacturing builds? @rfrandse @bradbi

[2021-04-28 01:31] lxwinspur commented on #1758
@gtmills

Sorry, I know very little about this issue.
Does this mean that this issue has been finished?
If so, could you close it?

[2021-04-28 01:38] gtmills commented on #1758
@lxwinspur It is not done.
I was trying to explain where the code will go.

[2021-04-28 01:55] lxwinspur commented on #1758
Thanks @gtmills

[2021-04-28 03:07] ojayanth commented on #2915
@amitay is working on this issue

[2021-04-28 03:11] ojayanth commented on #2917
As per the current design direction. BMC is not going honour the SBE  extract RC for SEEPROM Side switch. Team agreed to use existing algorithm for SEEPROM Side selection. If required later we need to bring-back this issue. Updating epic.

[2021-04-28 03:12] ojayanth commented on #2918
As per the current design direction. BMC is not going honour the SBE extract RC for SEEPROM Side switch. Team agreed to use existing algorithm for SEEPROM Side selection. If required later we need to bring-back this issue. Updating epic.

[2021-04-28 03:13] ojayanth commented on #2715
Document is available here  https://ibm.ent.box.com/file/754666532939

[2021-04-28 03:15] ojayanth commented on #2916
This issue is used to track the work associated phosphor-logging related to  implement new SBE Error RC specific d-bus.
Details available in https://ibm.ent.box.com/file/754666532939

[2021-04-28 03:16] ojayanth commented on #2940
Amitay is working on this .

[2021-04-28 03:17] ojayanth commented on #3057
https://github.ibm.com/phal/libekb_p10/pulls

[2021-04-28 03:24] ojayanth opened #3090 "libekb: SBE FFDC to fapiRC conversion"
Add libekb and pub-ekb support to enable SBE created HWP errors processing.
- The Key requirement here is to convert SBE provided FFDC into BMC Known RC format
-  Integrate all the required SBE specific Error xml's in pub-ekb
-  Infrastructure changes  related to libekb to support SBE error processing.

[2021-04-28 03:24] ojayanth commented on #3090
https://github.ibm.com/phal/libekb_p10/pull/27

[2021-04-28 03:29] ojayanth opened #3091 "SBE user data plugin support in PEL tool."
Install SBE provided SBE Internally created FFDC parser function  in BMC and enable PEL infrastructure to consume this function while displaying the error log.

[2021-04-28 03:33] ojayanth commented on #692
- BMC Native SCOM  ( SBE Dump use case only)
    - Callout end point and bus path
    - SCOM should fail if Clock’s are off.
        - SBE Dump procedure need to include pre-check
            - Check SBE pervasive clock’s are on  and SBE CBS engine started.
            - Return appropriate error rc’s based on type of pre-check failures
            - Callout details need to update based on the erro

[2021-04-28 03:34] ojayanth commented on #692
SBE HWP team agreed to get required pr-check support in the SBE dump specific hwp's . Out look is May end 2021.

[2021-04-28 03:39] ojayanth commented on #732
@dhruvibm can you add more description here?

[2021-04-28 03:41] ojayanth commented on #1470
This issue used to celanup openpower-proc control error logs and enable support sbe chip-op failures.

[2021-04-28 03:43] ojayanth commented on #1797
Required libekb plat support also to enable this errors . Increasing the complexity.

[2021-04-28 03:46] derick-montague commented on #2740
Intel is working on the first implementation of this change.

[2021-04-28 03:50] ojayanth opened #3092 "openpower-proc-control: SBE chip-op failure handling support."
- Enable sbe chip-op failures error handling support in openpower-proc-control repositiory.
- Enable IPl Start_cbs hwp failures related to sbe timeout.

[2021-04-28 03:50] ojayanth commented on #1470
#3092 used for tracking chi-op failures.

[2021-04-28 03:54] ojayanth commented on #674
Not seeing any issue related to this . Updating the milestone.

[2021-04-28 03:56] ojayanth commented on #676
Updated Story points and updated the milestone.

[2021-04-28 04:03] ojayanth commented on #2160
This is already enabled . with different github issues.

[2021-04-28 04:03] #2160 closed

[2021-04-28 04:04] ojayanth commented on #2161
This support is available. Will re-open this if you find any issues after enableing new system types.

[2021-04-28 04:04] #2161 closed

[2021-04-28 04:04] #1970 closed

[2021-04-28 04:07] ojayanth commented on #2639
@chiragsibm please include gerrit link

[2021-04-28 04:10] #2665 closed

[2021-04-28 04:11] #2370 closed

[2021-04-28 04:11] santoshpuranik commented on #2670
Closing this. Known bugs have been fixed.

[2021-04-28 04:11] #2670 closed

[2021-04-28 04:12] santoshpuranik commented on #1586
This is merged to master as well as in a GHE driver.

[2021-04-28 04:12] #1586 closed

[2021-04-28 04:31] santoshpuranik commented on #2981
Resolved by: https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/41216
Resolved by: https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/40158

[2021-04-28 04:37] santoshpuranik commented on #2667
All changes are in a driver and also upstream. Any future updates will be taken up as defects.

[2021-04-28 04:37] #2667 closed

[2021-04-28 04:39] santoshpuranik opened #3093 "Figure out how to remove items from the inventory"

[2021-04-28 04:45] ojayanth commented on #1741
@sampmisr is this work include PLDM FCO work?  @mzipse

[2021-04-28 05:38] RameshIyyar opened #3094 "bmcweb: Model core in redfish"
- Currently, we did not model core in redfish (bmcweb) and the redfish spec have properties (ProcessorType and SubProcessors) in Processor schema to add subunit of processor
- So, we need to extend the existing bmcweb processor schema implementation to provide core information as subunit of processor to the external user.

[2021-04-28 05:59] shenki commented on #824
This was upstreamed in v5.3 https://github.com/torvalds/linux/commit/f160e99462c68ab5b9e2b9097a4867459730b49a

[2021-04-28 05:59] #824 closed

[2021-04-28 07:54] zhanghaodi commented on #2485
@gtmills @mzipse
Ours is a Dubai machine, we don’t need this feature at present,
But the support ```Witherspoon``` mentioned earlier, do they need this feature.

Could you remove the ```ReadyForDev``` label ?
We don't need this.

[2021-04-28 08:01] zhanghaodi commented on #2485
And does ```Rainier``` machine need this function?

[2021-04-28 09:13] manojkiraneda commented on #1920
The code is merged downstream & available in tag-19

[2021-04-28 09:13] #1920 closed

[2021-04-28 09:13] manojkiraneda commented on #2957
Code is merged downstream - and is available from bmc tag-19

[2021-04-28 09:13] #2957 closed

[2021-04-28 09:17] manojkiraneda commented on #2009
The Progress code History - the pldm, post-code-manager, bmcweb changes are merged downstream & available in tag-19 driver.

The Real Time Progress Indicator - Needs eventing support for progress codes in the bmcweb repo - as per my last conversation - this is being picked up by @ratagupt squad.

[2021-04-28 10:57] Pavithrab7 commented on #2877
https://gerrit.openbmc-project.xyz/c/openbmc/pldm/+/41194

[2021-04-28 10:57] #2877 closed

[2021-04-28 11:13] Pavithrab7 commented on #2799
https://gerrit.openbmc-project.xyz/c/openbmc/pldm/+/41033

[2021-04-28 11:14] #2799 closed

[2021-04-28 12:19] msbarth opened #3095 "PFP::control - Document JSON configuration README"
Update the current fan control documentation with the details on each of the JSON configuration files used and how to configure them. With how the fan control actions are created, consider documenting the available actions (and how to use them) by creating a tool that would autogenerate each action's documentation based on a required set of comments within the action's header file and/or source co

[2021-04-28 12:25] nmuruli commented on #652
The storied in this EPIC are PLDM wishlist and not mandatory for GA1. Milestone updated to A.1.888

[2021-04-28 12:27] msbarth opened #3096 "PFP::control - Support sighup reloading of the JSON configuration files"
Similar to how the other fan apps handle sighup to reload their JSON configuration files, fan control should reload all of its JSON configuration files upon getting a sighup signal. The current configuration of fan control should **only** be updated after all of the JSON configuration files have been successfully parsed and loaded.

[2021-04-28 12:40] gtmills commented on #2009
Needs eventing support for progress codes in the bmcweb repo. @ratagupt Assigned you. Let me know if that is incorrect or if you are tracking elsewhere and I can close.

[2021-04-28 12:41] gtmills commented on #1920
@manojkiraneda Do we need to track anything to get this upstream?

[2021-04-28 12:41] gtmills commented on #2485
Rainier does not need this machine.

[2021-04-28 12:46] nmuruli commented on #652
I noticed that few of the Issues tagged to this Wishlist stories are still requried for GA1. I will look at individual and update them

[2021-04-28 13:37] #2837 closed

[2021-04-28 13:37] #3069 closed

[2021-04-28 13:48] joseph-reynolds commented on #1763
There is discussion in the gerrit review about this: https://gerrit.openbmc-project.xyz/c/openbmc/service-config-manager/+/42072

[2021-04-28 14:53] rfrandse commented on #50
refresh

[2021-04-28 14:53] rfrandse commented on #2106
refresh

[2021-04-28 14:54] rfrandse commented on #2174
refresh

[2021-04-28 14:55] rfrandse commented on #2183
refresh

[2021-04-28 14:56] rfrandse commented on #2305
refresh

[2021-04-28 14:57] rfrandse commented on #2316
refresh

[2021-04-28 14:57] rfrandse commented on #2326
refresh

[2021-04-28 14:59] rfrandse commented on #2398
refresh

[2021-04-28 15:00] rfrandse commented on #2443
refresh

[2021-04-28 15:02] rfrandse commented on #2520
refresh

[2021-04-28 15:02] rfrandse commented on #518
refresh

[2021-04-28 15:03] rfrandse commented on #519
refresh

[2021-04-28 15:03] rfrandse commented on #559
refresh

[2021-04-28 15:04] rfrandse commented on #567
refresh

[2021-04-28 15:04] rfrandse commented on #568
refresh

[2021-04-28 15:05] rfrandse commented on #574
refresh

[2021-04-28 15:06] rfrandse commented on #577
refresh

[2021-04-28 15:07] rfrandse commented on #652
refresh

[2021-04-28 15:09] rfrandse commented on #690
refresh

[2021-04-28 15:09] rfrandse commented on #767
refresh

[2021-04-28 15:10] rfrandse commented on #769
refresh

[2021-04-28 15:11] rfrandse commented on #2892
refresh

[2021-04-28 15:12] rfrandse commented on #864
refresh

[2021-04-28 19:19] msbarth opened #3097 "PFP::control - Get fan control service running at BMC standby"
Need to get the fan control service to start at BMC standby. This will likely involve adding additional code to support subscribing to certain configured signals or init triggered events that are dependent on services that may not be started yet.

[2021-04-28 19:41] gtmills commented on #2485
Closing. This is still needed but I don't see this ever being a priority.

[2021-04-28 19:41] #2485 closed

[2021-04-28 19:43] gtmills opened #3098 "Move Inventory.Item.Board from Chassis to Assembly"
Please include link to mailing list in commit msg.
Please write a good, long commit msg on why this is needed / what this accomplishes, "to align with Redfish's new thinking on a number of Chassis in a simple rack server."

https://lists.ozlabs.org/pipermail/openbmc/2021-April/026059.html

[2021-04-28 19:49] human3rr commented on #3079
Curl command to get PowerState and Status:
`curl -k -H "X-Auth-Token: $TOKEN" -X GET https://${BMC_IP}/redfish/v1/Systems/system`
Snippet from redfish response:
`  "PowerState": "PoweringOn",
  "ProcessorSummary": {
    "Count": 0,
    "Status": {
      "State": "Disabled"
    }
  },
  "Processors": {
    "@odata.id": "/redfish/v1/Systems/system/Processors"
  },
  "Status": {
    "Health": "OK",

[2021-04-28 19:54] human3rr commented on #3079
Docker unit tests passed. Log attached:
[testlog.txt](https://github.com/ibm-openbmc/dev/files/6394453/testlog.txt)

[2021-04-28 20:10] #3053 closed

[2021-04-28 20:30] human3rr commented on #3079
Redfish validator succeeded.
Snippit from test:
`
*** /redfish/v1/Systems/system
INFO -   Type (#ComputerSystem.v1_13_0.ComputerSystem), GET SUCCESS (time: 0.167041)
WARNING - IndicatorLED: The given property is deprecated by revision: This property has been deprecated in favor of the LocationIndicatorActive property.
INFO -   PASS
...
INFO - Validation has succeeded.`

Attaching log file:
[Confor

[2021-04-28 20:42] gtmills commented on #3098
First need to implement RelatedItem

[code]

[2021-04-28 21:15] derick-montague commented on #2210
Moved into current sprint since design is working with the FEDs to create the layout for VPD.

[2021-04-28 21:47] #1175 closed

[2021-04-28 21:48] #1360 closed

[2021-04-28 21:48] #1494 closed

[2021-04-28 21:48] #2168 closed

[2021-04-28 21:56] bjwyman commented on #2822
Power supply I2C devices and presence lines added to dev-5.10 branch.
https://github.com/openbmc/linux/compare/d538d632fb20...4c64c5ceebe8

https://github.com/openbmc/linux/commit/b426c2173d24c5cbbce0b25a13be1ce5895404f8
	ARM: dts: aspeed: everest: Add power supply i2c devices

https://github.com/openbmc/linux/commit/75c5d93e717bb48e4c79f96be65848f2ecbd91ef
	ARM: dts: aspeed: everest: GPIOs suppor

[2021-04-28 21:57] #2822 closed

[2021-04-28 23:38] bjwyman commented on #2822
https://github.com/openbmc/openbmc/compare/cb9a27855c94...fe8dcc89f2d2

[2021-04-29 01:26] zhanghaodi commented on #1763
@mzipse @joseph-reynolds
Our team is interested in this and will devote energy to research Service Config Manager code to understand why it is failing.
Thank you very much for the discussion in 42072. We will continue to study in this direction and continue the discussion.

[2021-04-29 07:54] ParishrutB commented on #3070
Following proposal is currently under review. SME @manojkiraneda
https://gerrit.openbmc-project.xyz/c/openbmc/docs/+/41660

In the workgroup meeting on the same day, Jason Bills suggested that all the property types can be changed to string, and the backend can select whether to send an ASCII code or a HEX code.

[2021-04-29 10:42] rfrandse commented on #1
refresh

[2021-04-29 10:47] rfrandse commented on #2326
refresh

[2021-04-29 10:49] rfrandse commented on #2429
refresh

[2021-04-29 10:53] rfrandse commented on #568
refresh

[2021-04-29 10:53] rfrandse commented on #574
refresh

[2021-04-29 10:54] rfrandse commented on #577
refresh

[2021-04-29 10:58] rfrandse commented on #767
refresh

[2021-04-29 11:00] rfrandse commented on #2944
refresh

[2021-04-29 11:00] rfrandse commented on #2945
refresh

[2021-04-29 11:01] rfrandse commented on #904
refresh

[2021-04-29 11:01] rfrandse commented on #906
refresh

[2021-04-29 11:02] rfrandse commented on #909
refresh

[2021-04-29 11:02] rfrandse commented on #3016
refresh

[2021-04-29 11:03] rfrandse commented on #3078
refresh

[2021-04-29 11:03] rfrandse commented on #2564
refresh

[2021-04-29 11:04] rfrandse commented on #1172
refresh

[2021-04-29 11:04] rfrandse commented on #1193
refresh

[2021-04-29 11:05] rfrandse commented on #1258
refresh

[2021-04-29 11:05] rfrandse commented on #1321
refresh

[2021-04-29 11:05] rfrandse commented on #1322
refresh

[2021-04-29 11:07] rfrandse commented on #1328
refresh

[2021-04-29 11:08] rfrandse commented on #570
refresh

[2021-04-29 11:08] rfrandse commented on #1387
refresh

[2021-04-29 11:08] rfrandse commented on #1403
refresh

[2021-04-29 11:09] rfrandse commented on #1477
refresh

[2021-04-29 11:09] rfrandse commented on #1484
refresh

[2021-04-29 11:09] rfrandse commented on #1489
refresh

[2021-04-29 11:10] rfrandse commented on #1513
refresh

[2021-04-29 11:10] rfrandse commented on #1520
refresh

[2021-04-29 11:10] rfrandse commented on #1523
refresh

[2021-04-29 11:11] rfrandse commented on #1571
refresh

[2021-04-29 11:12] rfrandse commented on #1572
refresh

[2021-04-29 11:12] rfrandse commented on #612
refresh

[2021-04-29 11:13] rfrandse commented on #1704
refresh

[2021-04-29 11:13] rfrandse commented on #1737
refresh

[2021-04-29 11:14] rfrandse commented on #1832
refresh

[2021-04-29 11:15] rfrandse commented on #1936
refresh

[2021-04-29 11:16] rfrandse commented on #1939
refresh

[2021-04-29 11:16] rfrandse commented on #1942
refresh

[2021-04-29 11:16] rfrandse commented on #1960
refresh

[2021-04-29 11:17] rfrandse commented on #1976
refresh

[2021-04-29 11:17] rfrandse commented on #1983
refresh

[2021-04-29 11:18] rfrandse commented on #2040
refresh

[2021-04-29 13:51] mzipse commented on #1330
We have de-prioritized this work for the time being.  When resources free up, we will revisit.

[2021-04-29 13:55] gtmills commented on #3094
@RameshIyyar Have you seen https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/38570 #1747

[2021-04-29 14:50] gtmills opened #3099 "Need to pass 'ibm' env to the webui-vue to theme as IBM"
https://github.com/openbmc/webui-vue/blob/492875622b39cb2cf04bbb9248b6ed0c52ced2df/docs/themes/env.md

https://github.com/openbmc/webui-vue/blob/7cc1fd48e64ff01dc80eb6323c1175b2fa42a2d0/.env.ibm

[2021-04-29 14:51] gtmills commented on #1042
I think #3099 will close this? Passing 'ibm' to webui-vue?

[2021-04-29 14:51] gtmills commented on #3099
https://github.com/ibm-openbmc/dev/issues/1042 might be the same issue

[2021-04-29 15:44] derick-montague commented on #1042
But I don't think we have a design for that environment.

[2021-04-29 15:59] geissonator commented on #2990
Setting milestone out a ways since it's not clear to me when we'll see these new power supplies. I don't think there's much work remaining to this story other then verifying they work as expected.

[2021-04-29 16:04] geissonator commented on #1693
This will affect #2618 since that will define our policies when restarting the BMC.

[2021-04-29 16:21] spinler commented on #2874
Merged this downstream.

[2021-04-29 16:21] #2874 closed

[2021-04-29 16:23] derick-montague opened #3100 "GUI : FED : Ability to download all dumps"
## Overview
As a BMC user (all personas),
I need the ability to download ~~all~~ multiple dumps
So that I can quickly get all the information needed to troubleshoot a system

### User feedback
1. It is manageable to download individual dumps
1. It is not clear if there is a need for downloading multiple like there was on FSP-based systems
1. The current dump tool used by support will unpack the co

[2021-04-29 16:25] spinler commented on #159
This will be handled elsewhere.  Closing.

[2021-04-29 16:25] #159 closed

[2021-04-29 16:25] #192 closed

[2021-04-29 16:26] #311 closed

[2021-04-29 18:09] spinler commented on #3046
https://github.ibm.com/openbmc/bmcweb/pull/122

[2021-04-29 18:13] spinler commented on #3046
oops, this needs to stay open until it is upstreamed

[2021-04-29 18:36] gtmills commented on #1829
https://github.com/openbmc/phosphor-dbus-interfaces/blob/32304979b404c24e32f195d08c667e65b9b34695/xyz/openbmc_project/Control/TPM/Policy.interface.yaml#L5 is the D-Bus interface

[2021-04-29 18:40] geissonator commented on #2866
For converting to meson, there are a lot of examples of other repos doing it:
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-state-manager/+/27873 is the start of a series of commits for doing it in state manager
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-logging/+/42359/ is a series of commits for phosphor-logging (a more complex repo)

A search in gerrit should pop quite a

[2021-04-29 18:47] geissonator commented on #2866
https://grok.openbmc.org/xref/openbmc/docs/host-management.md?r=b41aff0f#255 has some background on the host watchdog and the parts involved.

[2021-04-29 19:16] spinler commented on #3081
This can be done similar to how the FilePath was added to entries:

1. Create new D-Bus interface with a boolean property for this in phosphor-dbus-interfaces
   * need to decide what to call it, if Callhome vs AutomatedServiceNotify if appropriate.
2. Put this on every openbmc event log entry, default it to false.  maybe do this behind a compile flag?
3. In the PEL code, set the property based on

[2021-04-29 19:17] spinler commented on #1067
Similar pattern as #3081.

[2021-04-29 20:28] derekhoward55 commented on #584
Current strawman proposed by @spinler and tentatively agreed to is the power sequencing app would continue to host a 'pgood' DBus object (as op-powrctl does) that portrayed the state of the 'SYS_PWR_OK' status from the UCD power sequencer.  When other apps would detect a chip/hw problem, they would wait a hardcoded 10seconds (for the appropriate power deglitching/sequencing to happen), then check

[2021-04-29 20:42] gtmills commented on #1021
@santoshpuranik Can you update the milestone here? Close if need?

[2021-04-29 20:43] gtmills commented on #1779
@sampmisr Can you update the milestone here?

[2021-04-29 20:43] gtmills commented on #1841
@ratagupt Can you update the milestone here?

[2021-04-29 20:49] gtmills commented on #1950
@ojayanth What else is needed here since "manually gard" is in the  processor and memory schemas?

[2021-04-29 20:51] gtmills commented on #494
Closing. Please reopen if this still needs to be tracked.

[2021-04-29 20:51] #494 closed

[2021-04-29 21:41] msbarth opened #3101 "PFP::control - Investigate optimizing the use of `getManagedObjects`"
Using `getManagedObjects` to populate the cache is efficient from a dbus traffic view, but it does cause (in the current design) the cache to be populated with objects that are not necessarily configured to be used by fan control. Need to investigate a better way to filter the results returned by `getManagedObjects` thru the Groups that are configured since that configuration provides the entire l

[2021-04-30 00:36] #3008 closed

[2021-04-30 09:22] Srisuk commented on #3065
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/42787

[2021-04-30 10:00] nmuruli commented on #2592
"pvm_rtad" ==> BIOS enum attr Already supported.. Closing this ISSUE
"displayName" : "Remote Trusted Attestation Daemon State"
"helpText" : "This option enables or disables the Remote Trusted Attestation Daemon for host firmware.",

[2021-04-30 10:00] #2592 closed

[2021-04-30 10:03] nmuruli commented on #1987
Scope of this work in increasing , hence updating the estimate.

[2021-04-30 10:18] nmuruli commented on #805
We have all required BIOS attribute supported.. Closing this

[2021-04-30 10:18] #805 closed

[2021-04-30 10:19] nmuruli commented on #2101
@gtmills Can you please provide more details on the BIOS attribute or bring it up in one of our design meeting

[2021-04-30 10:22] nmuruli commented on #2637
@anoo1 for now thinks that she can take care of PLDM changes to call the validation API -- Making her the owner

[2021-04-30 10:37] nmuruli commented on #1946
Need to check with HB if this is still valid requirement

[2021-04-30 10:43] rfrandse commented on #2062
refresh

[2021-04-30 10:43] rfrandse commented on #50
refresh

[2021-04-30 10:44] rfrandse commented on #2099
refresh

[2021-04-30 10:45] rfrandse commented on #2173
refresh

[2021-04-30 10:47] rfrandse commented on #242
refresh

[2021-04-30 10:47] rfrandse commented on #2305
refresh

[2021-04-30 10:48] rfrandse commented on #304
refresh

[2021-04-30 10:49] rfrandse commented on #315
refresh

[2021-04-30 10:49] nmuruli commented on #1995
Support for required BIOS attribute is completed

[2021-04-30 10:49] rfrandse commented on #2398
refresh

[2021-04-30 10:50] rfrandse commented on #2428
refresh

[2021-04-30 10:52] rfrandse commented on #2475
refresh

[2021-04-30 10:53] rfrandse commented on #559
refresh

[2021-04-30 10:56] rfrandse commented on #577
refresh

[2021-04-30 10:56] rfrandse commented on #610
refresh

[2021-04-30 10:56] nmuruli commented on #2689
This story will be open to support the FRUs as and when we get the DBUS information

[2021-04-30 10:58] rfrandse commented on #652
refresh

[2021-04-30 10:59] rfrandse commented on #2736
refresh

[2021-04-30 10:59] rfrandse commented on #767
refresh

[2021-04-30 11:00] rfrandse commented on #769
refresh

[2021-04-30 11:02] rfrandse commented on #2945
refresh

[2021-04-30 11:03] rfrandse commented on #904
refresh

[2021-04-30 11:03] rfrandse commented on #906
refresh

[2021-04-30 11:03] rfrandse commented on #907
refresh

[2021-04-30 11:04] rfrandse commented on #913
refresh

[2021-04-30 11:04] rfrandse commented on #2986
refresh

[2021-04-30 11:05] rfrandse commented on #3016
refresh

[2021-04-30 11:06] rfrandse commented on #1172
refresh

[2021-04-30 11:06] rfrandse commented on #1193
refresh

[2021-04-30 11:06] rfrandse commented on #1258
refresh

[2021-04-30 11:07] rfrandse commented on #1322
refresh

[2021-04-30 11:08] nmuruli commented on #1779
We have most of the BIOS attribute attributes for PHYP consumption is already supported. We will keep this open for any new requirement

[2021-04-30 11:09] rfrandse commented on #1328
refresh

[2021-04-30 11:09] rfrandse commented on #1364
refresh

[2021-04-30 11:10] nmuruli commented on #1234
@geissonator Do you know if this is already done..

[2021-04-30 11:10] rfrandse commented on #1457
refresh

[2021-04-30 11:10] rfrandse commented on #1477
refresh

[2021-04-30 11:10] rfrandse commented on #1489
refresh

[2021-04-30 11:11] rfrandse commented on #1494
refresh

[2021-04-30 11:11] rfrandse commented on #1520
refresh

[2021-04-30 11:11] rfrandse commented on #1523
refresh

[2021-04-30 11:13] rfrandse commented on #612
refresh

[2021-04-30 11:13] nmuruli commented on #1637
Good to have ISSUE. Post GA

[2021-04-30 11:13] rfrandse commented on #1691
refresh

[2021-04-30 11:14] rfrandse commented on #1737
refresh

[2021-04-30 11:15] rfrandse commented on #1832
refresh

[2021-04-30 11:16] rfrandse commented on #1932
refresh

[2021-04-30 11:16] rfrandse commented on #1936
refresh

[2021-04-30 11:17] rfrandse commented on #1959
refresh

[2021-04-30 11:18] rfrandse commented on #1976
refresh

[2021-04-30 11:18] rfrandse commented on #1977
refresh

[2021-04-30 11:18] rfrandse commented on #1983
refresh

[2021-04-30 11:19] rfrandse commented on #1989
refresh

[2021-04-30 11:19] rfrandse commented on #1994
refresh

[2021-04-30 11:19] rfrandse commented on #2040
refresh

[2021-04-30 13:48] derick-montague commented on #2868
Closing this story as the work will be completed in #3005

[2021-04-30 13:48] #2868 closed

[2021-04-30 15:21] geissonator commented on #1234
Not sure how I'm involved in this one @nmuruli? To my knowledge, out of band IPMI is still enabled on Rainier.

[2021-04-30 16:44] mzipse commented on #1946
@nmuruli , Dean was recommending a while back that we pass this work over to the HB team.  They are the ones that need it.  Perhaps we could mark this as A.1.888?

[2021-04-30 17:30] derick-montague commented on #2894
Should this be a 212.8 or a 2.13.8?

[2021-04-30 17:45] derick-montague commented on #3021
@rfrandse @gtmills @anoo1 - Is this the right milestone? The GUI has to have this error message or the user won't know why the upload failed.

[2021-04-30 20:27] bjwyman commented on #1748
[code]
"Invalid Or Unsupported Command Received"
Well, that isn't a good sign.

[2021-05-01 10:42] rfrandse commented on #2058
refresh

[2021-05-01 10:43] rfrandse commented on #2097
refresh

[2021-05-01 10:45] rfrandse commented on #2171
refresh

[2021-05-01 10:45] rfrandse commented on #2174
refresh

[2021-05-01 10:47] rfrandse commented on #242
refresh

[2021-05-01 10:48] rfrandse commented on #304
refresh

[2021-05-01 10:49] rfrandse commented on #2398
refresh

[2021-05-01 10:50] rfrandse commented on #2428
refresh

[2021-05-01 10:51] rfrandse commented on #407
refresh

[2021-05-01 10:51] rfrandse commented on #2117
refresh

[2021-05-01 10:53] rfrandse commented on #567
refresh

[2021-05-01 10:55] rfrandse commented on #577
refresh

[2021-05-01 10:55] rfrandse commented on #610
refresh

[2021-05-01 10:56] rfrandse commented on #2681
refresh

[2021-05-01 10:57] rfrandse commented on #652
refresh

[2021-05-01 10:58] rfrandse commented on #2736
refresh

[2021-05-01 10:59] rfrandse commented on #2813
refresh

[2021-05-01 10:59] rfrandse commented on #767
refresh

[2021-05-01 11:01] rfrandse commented on #2892
refresh

[2021-05-01 11:02] rfrandse commented on #904
refresh

[2021-05-01 11:03] rfrandse commented on #3016
refresh

[2021-05-01 11:04] rfrandse commented on #3078
refresh

[2021-05-01 11:05] rfrandse commented on #1176
refresh

[2021-05-01 11:05] rfrandse commented on #1193
refresh

[2021-05-01 11:05] rfrandse commented on #1258
refresh

[2021-05-01 11:07] rfrandse commented on #1328
refresh

[2021-05-01 11:08] rfrandse commented on #1359
refresh

[2021-05-01 11:08] rfrandse commented on #1387
refresh

[2021-05-01 11:09] rfrandse commented on #1477
refresh

[2021-05-01 11:09] rfrandse commented on #1484
refresh

[2021-05-01 11:09] rfrandse commented on #1489
refresh

[2021-05-01 11:09] rfrandse commented on #1494
refresh

[2021-05-01 11:10] rfrandse commented on #1500
refresh

[2021-05-01 11:10] rfrandse commented on #1520
refresh

[2021-05-01 11:10] rfrandse commented on #1523
refresh

[2021-05-01 11:11] rfrandse commented on #1537
refresh

[2021-05-01 11:12] rfrandse commented on #612
refresh

[2021-05-01 11:15] rfrandse commented on #1930
refresh

[2021-05-01 11:15] rfrandse commented on #1938
refresh

[2021-05-01 11:16] rfrandse commented on #1959
refresh

[2021-05-02 08:52] nmuruli commented on #1946
@mzipse I checked with the Nick from HB team and he mentioned that Hostboot will dump out the continuous trace on the 2nd virtual UART if the eBMC has enabled a specific BIOS attribute policy.  So, as far as I know, nothing else needs to be done on this front .

[2021-05-02 08:52] #1946 closed

[2021-05-02 10:46] rfrandse commented on #242
refresh

[2021-05-02 10:53] rfrandse commented on #577
refresh

[2021-05-02 10:59] rfrandse commented on #904
refresh

[2021-05-02 11:01] rfrandse commented on #3078
refresh

[2021-05-02 11:04] rfrandse commented on #1364
refresh

[2021-05-02 11:05] rfrandse commented on #1494
refresh

[2021-05-02 11:10] rfrandse commented on #1959
refresh

[2021-05-02 23:30] dixsie commented on #2156
resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/42838

[2021-05-03 08:48] lxwinspur commented on #1039
@spinler @vmauery

Around this issue, I have a question:
We have an example code:
[code]

So my initial idea is to define `const std::experimental::source_location& location = std::experimental::source_location::current()` into the log method.
But for the log method, has defined a variable parameter, so it can not receive the default parameter again.

link: https://github.com/openbmc/phosphor-logg

[2021-05-03 10:32] Srisuk commented on #2309
Updated the missing keys as per the new schema pushed as part of https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/40326.

[2021-05-03 10:37] Srisuk commented on #2313
Updated the missing keys as per the new schema, which is pushed as part of https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/41086

[2021-05-03 10:48] rfrandse commented on #2398
refresh

[2021-05-03 10:53] rfrandse commented on #577
refresh

[2021-05-03 11:01] rfrandse commented on #3078
refresh

[2021-05-03 11:04] rfrandse commented on #1328
refresh

[2021-05-03 11:05] rfrandse commented on #1477
refresh

[2021-05-03 11:06] rfrandse commented on #1520
refresh

[2021-05-03 11:06] rfrandse commented on #1523
refresh

[2021-05-03 11:12] rfrandse commented on #1983
refresh

[2021-05-03 11:32] derick-montague opened #3102 "GUI : FED : HW Inventory - Remove <br> elements from VPD layout"
## Overview
The VPD is displayed using a data list. In each data list is a term and definition. In the current implementation, we have used the `<br>` element to create space between the term and definition pairs. This is not a semantic use for this element.

### Resource
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/br

### Example
[code]
The easiest way to solve this is to remove the

[2021-05-03 13:41] Srisuk commented on #973
Backend code is merged as part of https://gerrit.openbmc-project.xyz/c/openbmc/pldm/+/41715, waiting to test the feature in machine. https://ibm-systems-power.slack.com/archives/GBVDZRCQK/p1619150950076100?thread_ts=1618416613.075500&cid=GBVDZRCQK

[2021-05-03 14:45] msbarth opened #3103 "PFP - Create a flight recorder for fan monitor"
Need to discuss and determine how we should handle if/when someone (such as a customer) logs into the BMC and alters any of the fan configs (whether knowingly or not) from a support point-of-view since doing this could drastically change the thermal stability of the system.

It may not be a concern as the BMC filesystem could be read-only.

[2021-05-03 14:51] Srisuk commented on #2311
Many keys are missing, keys will be available in the fw-20.
Slack conversation: https://ibm-systems-power.slack.com/archives/C0Q6TQP5Z/p1620051083069600?thread_ts=1619086127.353600&cid=C0Q6TQP5Z

[2021-05-03 15:03] derick-montague commented on #2802
Talked to @priyanka-pillai97 today and we need to verify that this will not be done and we can move this to a different milestone.

[2021-05-03 15:30] spinler commented on #2601
The hwdiags code found a way around this, so this isn't needed for now.  Can revisit in the future if necessary.

[2021-05-03 15:30] #2601 closed

[2021-05-03 19:36] anoo1 opened #3104 "Code update: Fix shellcheck warnings"
Fix the shellcheck warnings in the phosphor-bmc-code-mgmt repo , and bump the repo to c++20. Example commit chain in the openpower-pnor-code-mgmt repo: https://gerrit.openbmc-project.xyz/c/openbmc/openpower-pnor-code-mgmt/+/42643

[2021-05-03 20:58] spinler commented on #3011
We're not going this route. Instead we will model slot power state and have dbus-sensors check that to know if a sensor is valid, instead of just having entity-manager probe when the slot is valid.

[2021-05-03 20:58] #3011 closed

[2021-05-03 22:56] derick-montague commented on #2896
Factory Reset Resolved by: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/42884

[2021-05-04 08:03] shenki commented on #1243
I would say yes. We would need to check with the design required for the relevant machines and make sure we're configuring the ports correctly.

[2021-05-04 10:47] rfrandse commented on #2326
refresh

[2021-05-04 10:51] rfrandse commented on #2475
refresh

[2021-05-04 10:52] rfrandse commented on #559
refresh

[2021-05-04 10:53] rfrandse commented on #568
refresh

[2021-05-04 10:53] rfrandse commented on #574
refresh

[2021-05-04 10:54] rfrandse commented on #577
refresh

[2021-05-04 10:55] rfrandse commented on #610
refresh

[2021-05-04 10:58] rfrandse commented on #2813
refresh

[2021-05-04 11:01] rfrandse commented on #904
refresh

[2021-05-04 11:02] rfrandse commented on #3016
refresh

[2021-05-04 11:03] rfrandse commented on #1193
refresh

[2021-05-04 11:04] rfrandse commented on #1258
refresh

[2021-05-04 11:04] rfrandse commented on #1321
refresh

[2021-05-04 11:04] rfrandse commented on #1322
refresh

[2021-05-04 11:06] rfrandse commented on #1328
refresh

[2021-05-04 11:07] rfrandse commented on #1477
refresh

[2021-05-04 11:08] rfrandse commented on #1489
refresh

[2021-05-04 11:08] rfrandse commented on #1520
refresh

[2021-05-04 11:08] rfrandse commented on #1523
refresh

[2021-05-04 11:09] rfrandse commented on #1537
refresh

[2021-05-04 11:10] rfrandse commented on #1668
refresh

[2021-05-04 13:45] #2626 closed

[2021-05-04 13:47] #2210 closed

[2021-05-04 13:54] #3003 closed

[2021-05-04 13:59] spinler commented on #1107
not needed anymore

[2021-05-04 13:59] #1107 closed

[2021-05-04 14:01] eddiejames opened #3105 "kernel: OCC: handle SBE reset/retry and extract FFDC"
Implement recovery for the SBE after failing to access the OCC.
Implement a way to extract the SBE FFDC after a failure.

[2021-05-04 14:20] gtmills opened #3106 "Upstream: Display error on GUI when exceed number of websockets"
2 parts:

1) bmcweb needs to look for number of sessions / number of max sessions similar to https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/25231
and return an error via websocket if this connection will exceed the max number of connections.
The error might look like
[code]
2) The GUI (webui-vue) looks for this code and displays a error message https://github.com/openbmc/webui-vue/blob/f302

[2021-05-04 14:21] gtmills opened #3107 "OP940: Display error on GUI when exceed number of websockets"
2 parts:

1) bmcweb needs to look for number of sessions / number of max sessions similar to https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/25231
and return an error via websocket if this connection will exceed the max number of connections.
The error might look like
[code]

2) The GUI (phosphor-webui) looks for this code and displays a error message
https://github.com/openbmc/phosphor-webu

[2021-05-04 14:50] spinler commented on #979
Closing, as not needed for Rainier.

[2021-05-04 14:50] #979 closed

[2021-05-04 17:14] gtmills commented on #3106
This story tracks both the bmcweb work and the GUI. We can break down if need.

[2021-05-04 17:15] gtmills commented on #3107
This story tracks both the bmcweb work and the GUI. We can break down if need.

[2021-05-04 18:35] spinler commented on #561
This merged, closing.

[2021-05-04 18:35] #561 closed

[2021-05-04 19:08] spinler commented on #560
Closing this one since I broke it out into separate issues.

[2021-05-04 19:08] #560 closed

[2021-05-04 19:26] gtmills commented on #2129
We hardcode "WrapsWhenFull"
https://github.com/openbmc/bmcweb/blob/4a0bf539728cada806fc7a16a208edc6332bdb86/redfish-core/lib/log_services.hpp#L1013

[2021-05-04 19:27] spinler commented on #2129
Closing.

[2021-05-04 19:27] #2129 closed

[2021-05-04 19:28] gtmills commented on #1802
https://github.com/openbmc/bmcweb/blob/4a0bf539728cada806fc7a16a208edc6332bdb86/redfish-core/lib/log_services.hpp#L1712

[2021-05-04 19:29] spinler commented on #1802
Yes, closing.

[2021-05-04 19:29] #1802 closed

[2021-05-04 21:03] gtmills opened #3108 "Add ArgDescriptions to bmcweb registries"
See comments on https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/42880

[2021-05-04 21:33] spinler commented on #1144
Will use #3073 to track this one.

[2021-05-04 21:33] #1144 closed

[2021-05-04 23:18] BMC-Bruce opened #3109 "QEMU needs model support for Infineon DPS310 Air Pressure and Temperature Sensors"
Rainier and Everest have Infineon DPS310 Air Pressure Sensor used to compute Altitude.
Its Temperature Sensor needs to also be part of the model too.
QEMU's model needs work be functional for meeting developers and CI needs.

@mzipse didn't want us to loose this, certainly a low priority presently.

[2021-05-05 02:01] gtmills commented on #256
Can we address comments on https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/38599 ?
I feel this is really close

[2021-05-05 04:35] ratagupt commented on #2009
I was not signed up for this, One who added the feature support , should support for eventing, We have the infra available.

[2021-05-05 06:20] ojayanth commented on #79
Epic updated with nice to have bucket.

[2021-05-05 06:40] ojayanth commented on #128
Option a and C is already enabled , need to look option b.

[2021-05-05 06:48] ojayanth commented on #2446
No further action required.

[2021-05-05 06:48] #2446 closed

[2021-05-05 06:53] ojayanth commented on #1941
Direction to use the existing Attribute override mechanism to share policy flag to Host.

[2021-05-05 06:53] #1941 closed

[2021-05-05 06:55] RameshIyyar commented on #2011
@gtmills / @ojayanth what is the scope of this story ?
I have created stories already for bmcweb work items which are accepted for guard milestone.
#2939
#2938
#2937
#2936

[2021-05-05 06:58] ojayanth commented on #1940
MNFG_NO_GARD Disable all GARD  #1740
MNFG_ENERGYSCALE_SPECIAL_POLICIES --  Host boot control , not required to track here.
This issue will use for trackin g MNFG_NO_SYS_DUMP /MNFG_SYS_DUMP_TERM support

[2021-05-05 09:43] dhruvibm commented on #1345
All the issues are closed

[2021-05-05 09:43] #1345 closed

[2021-05-05 10:09] rsnair commented on #2629
Closing this as its completed

[2021-05-05 10:10] rsnair commented on #2629
@chiragsibm Please update the commit link

[2021-05-05 10:10] #2629 closed

[2021-05-05 10:11] gkeishin commented on #1389
This hasn't worked since the time we tested on Tacoma but we can re-check and update it..

[2021-05-05 10:14] rsnair commented on #2639
PLID is needed for associating dumps. SRC details are not critical and can be deferred to GA2

[2021-05-05 10:15] rsnair commented on #2639
Reducing the SP to reflect the pending work

[2021-05-05 10:25] dhruvibm commented on #2762
It is already in GHE

[2021-05-05 10:25] #2762 closed

[2021-05-05 10:27] dhruvibm commented on #2763
Merged the commit
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-dbus-interfaces/+/38540

[2021-05-05 10:27] #2763 closed

[2021-05-05 10:28] dhruvibm commented on #2764
The changes are in GHE

[2021-05-05 10:28] #2764 closed

[2021-05-05 10:29] dhruvibm commented on #2766
The validation is completed

[2021-05-05 10:29] #2766 closed

[2021-05-05 10:31] dhruvibm commented on #2768
https://gerrit.openbmc-project.xyz/q/topic:%22RESOURCEDUMP%22+(status:open%20OR%20status:merged)

[2021-05-05 10:31] #2768 closed

[2021-05-05 10:42] rfrandse commented on #2058
refresh

[2021-05-05 10:43] rfrandse commented on #2062
refresh

[2021-05-05 10:44] dhruvibm commented on #2976
Not needed,

[2021-05-05 10:44] #2976 closed

[2021-05-05 10:46] dhruvibm commented on #700
This change is merged to GHE

[2021-05-05 10:46] #700 closed

[2021-05-05 10:47] rfrandse commented on #2305
refresh

[2021-05-05 10:48] rfrandse commented on #304
refresh

[2021-05-05 10:50] rsnair commented on #706
Is this still relevant/need handling now that we're not having NBD?

[2021-05-05 10:50] rfrandse commented on #2443
refresh

[2021-05-05 10:51] rfrandse commented on #2475
refresh

[2021-05-05 10:52] rsnair commented on #733
Not sure if this is still relevant. Moving to GA2. Can revisit in GA1 with valid justification

[2021-05-05 10:53] rfrandse commented on #559
refresh

[2021-05-05 10:53] rfrandse commented on #567
refresh

[2021-05-05 10:54] rfrandse commented on #568
refresh

[2021-05-05 10:54] rfrandse commented on #569
refresh

[2021-05-05 10:54] rfrandse commented on #570
refresh

[2021-05-05 10:54] rfrandse commented on #571
refresh

[2021-05-05 10:54] rfrandse commented on #572
refresh

[2021-05-05 10:55] rfrandse commented on #573
refresh

[2021-05-05 10:56] rfrandse commented on #577
refresh

[2021-05-05 10:56] rfrandse commented on #579
refresh

[2021-05-05 10:56] rfrandse commented on #585
refresh

[2021-05-05 10:57] rfrandse commented on #2664
refresh

[2021-05-05 10:57] rsnair commented on #1968
Nice to have but can be deferred to GA2 as its not a functional piece.

[2021-05-05 11:02] rfrandse commented on #2944
refresh

[2021-05-05 11:03] rfrandse commented on #2964
refresh

[2021-05-05 11:04] rfrandse commented on #3016
refresh

[2021-05-05 11:04] rfrandse commented on #3078
refresh

[2021-05-05 11:05] rfrandse commented on #1172
refresh

[2021-05-05 11:06] rfrandse commented on #1258
refresh

[2021-05-05 11:06] rfrandse commented on #1321
refresh

[2021-05-05 11:08] rfrandse commented on #1328
refresh

[2021-05-05 11:09] rfrandse commented on #1387
refresh

[2021-05-05 11:09] rfrandse commented on #1403
refresh

[2021-05-05 11:09] rfrandse commented on #1477
refresh

[2021-05-05 11:10] rfrandse commented on #1489
refresh

[2021-05-05 11:10] rfrandse commented on #1520
refresh

[2021-05-05 11:11] rfrandse commented on #1523
refresh

[2021-05-05 11:11] ojayanth commented on #1968
@rsnair this issue is already tagged to #3078

[2021-05-05 11:12] rfrandse commented on #1570
refresh

[2021-05-05 11:12] rfrandse commented on #1571
refresh

[2021-05-05 11:12] rfrandse commented on #1572
refresh

[2021-05-05 11:13] rfrandse commented on #1691
refresh

[2021-05-05 11:13] rfrandse commented on #1704
refresh

[2021-05-05 11:14] rfrandse commented on #1832
refresh

[2021-05-05 11:16] rfrandse commented on #1936
refresh

[2021-05-05 11:16] rfrandse commented on #1942
refresh

[2021-05-05 11:16] rfrandse commented on #1944
refresh

[2021-05-05 11:17] rfrandse commented on #1960
refresh

[2021-05-05 11:17] rfrandse commented on #1964
refresh

[2021-05-05 11:25] RameshIyyar opened #3110 "Guard: DBus - Add inventory item interfaces for guardable FRUs/FRU subunits"
This story is used to track the inventory item interfaces  for all guardable FRUs/FRU subunits.

Add the below inventory item interfaces for all guardable FRUs/FRU subunits because, those **interface are required to get FRUs/FRU subunits name** which is need to show in GUI while listing the guard records and those interface will be populated as a single static object under the respective parent (p

[2021-05-05 11:34] RameshIyyar commented on #3110
Need to close below points.
- Need to look whether any existing inventory interface can use ?
- Need to add as new inventory interface item interface if not available ?
  - Need to check whether can be add as generic interface or openPOWER or IBM

In above table, the 4th column represent inventory item interface name.
- If it is empty then not able to find.
- if it is **bold** then not sure whethe

[2021-05-05 12:34] gtmills commented on #2009
@manojkiraneda  Can you add the eventing support for this?

[2021-05-05 12:41] ratagupt commented on #2029
It is already delivered , HMC/Redfish client would be notified through event and HMC have to perform the GET request to get the LOGS.
https://github.ibm.com/openbmc/bmcweb/pull/122

[2021-05-05 12:41] #2029 closed

[2021-05-05 12:45] ratagupt commented on #2189
We have delievered this in downstream but we need to do more work to make it upstream.Let's keep it open but change the milestone.
We can do this later.

[2021-05-05 12:47] ratagupt commented on #2377
Both the commits are merged, hence closing the isue.

[2021-05-05 12:47] #2377 closed

[2021-05-05 12:48] ratagupt commented on #2232
Commit is merged, Hence closing the issue.

[2021-05-05 12:48] #2232 closed

[2021-05-05 12:49] ratagupt commented on #2233
Commit is merged, Hence closing the issue.

[2021-05-05 12:49] #2233 closed

[2021-05-05 13:13] spinler commented on #2639
@rsnair Can you refresh my memory, is it just the SRC ascii string and the 9 hex words needed here, or is it the whole SRC section, which would include callouts if there are any?

[2021-05-05 13:14] nmuruli commented on #2009
@gtmills We discussed locally this activity and the someone from @rsnair (Rajiv's) squad will pick this activity.

[2021-05-05 13:44] gtmills commented on #2009
@nmuruli Thank you. I assigned to @rsnair

[2021-05-05 13:58] spinler commented on #2991
We're not going to go this direction, instead hwmontempsensor will do all the work of knowing when power is on.  Closing.

[2021-05-05 13:58] #2991 closed

[2021-05-05 14:46] geissonator commented on #2996
Code merged an in, closing

[2021-05-05 14:46] #2996 closed

[2021-05-05 14:48] geissonator commented on #768
All stories and epics complete, just waiting to for last one to get pulled into downstream.

[2021-05-05 16:27] spinler opened #3111 "Put PEL CreatorID field on D-Bus"
It's in the PrivateHeader section.  It will be used for building up the Redfish message property

[2021-05-05 16:28] spinler opened #3112 "Put PEL subsystem value on D-Bus"
It's in the UserHeader section.  It will be used in the Redfish Message field.

[2021-05-05 16:32] spinler opened #3113 "Build PEL Redfish Message string from event log properties"
For GA1, the plan is to build up the Message property in a Redfish event log based on the PEL creator and subsystemIDs.

For example:
Hostboot created an event in the Memory subsystem.

Could also add in the PEL severity if we wanted more granularity than the warning/ok/critical provided Redfish severity property:
Hostboot created a Predictive event in the Memory subsystem.

Requires #3111 and #31

[2021-05-05 16:33] spinler commented on #1800
Moving this out of GA1.

[2021-05-05 16:58] mzipse commented on #2644
@amboar , is this related to the recent KCS work you are doing?  Or is there additional work here?

[2021-05-05 17:12] #3064 closed

[2021-05-05 17:36] gtmills commented on #2011
@RameshIyyar If this is tracked elsewhere, this can be closed.

[2021-05-05 18:31] joseph-reynolds commented on #1830
Here are some more ideas for the REST APIs which work with ACFs:

**POST** - upload an ACF certificate which enables the service agent's login password
At most one ACF may be present.
Uploading a valid ACF shall replace any existing certificate.  A failed ACF upload shall not affect any existing ACF.
Uploading an ACF shall fail for the following reasons, and the reason shall be communicated to the

[2021-05-05 18:49] msbarth commented on #2652
Assigning to Eddie. After a conversation with him, he's working on getting the DPS310 data onto dbus which covers this issue and I didnt find another issue referencing the DPS310 work.

[2021-05-05 19:04] aahmed-2 commented on #2108
Tested on Tacoma system. LogService.ClearLog works

[2021-05-05 19:04] #2108 closed

[2021-05-05 19:05] msbarth commented on #2631
Duplicate of https://github.com/ibm-openbmc/dev/issues/3076, closing

[2021-05-05 19:05] #2631 closed

[2021-05-05 19:34] #3 closed

[2021-05-05 19:42] msbarth commented on #1774
@derekhoward55 This is being entirely handled by the vpd app now correct?

[2021-05-05 19:47] msbarth commented on #319
This references many Swift stories that have been closed and at this time, all the corresponding Rainier stories for the listed items have been delivered where applicable. Closing

[2021-05-05 19:47] #319 closed

[2021-05-05 19:52] msbarth commented on #1869
- [x] Turn off the default to high speed when we are able to read the necessary component temp sensors.
**Dynamic fan control will occur once the events configuration is populated to being changing fan speeds.**

- [x] Thermal alg: 3-zone (like in P9) is plan of record. Support same obmc fan control and monitoring. Updates for enterprise, including fail&presence info, error logging and shutdown (s

[2021-05-05 19:52] #1869 closed

[2021-05-05 20:14] msbarth commented on #1778
I'm confused over what's expected under this story being in the `Rainier Fan Control & Monitoring FF` epic... I can not cover Redfish/IPMI functionality or verification, or trending data, or that the alerts/events for fan presence or functional status changes beyond that those are both present on dbus and currently being updated appropriately based on the fan presence and fan monitor configs.

Sho

[2021-05-05 20:19] msbarth commented on #1724
Where or who's doing the work to get this power mode on dbus? Also, what is sending the mode to the OCC then?

Seems from a `Rainier Fan Control & Monitoring FF` epic view, only thing needed here is for fan control to get the power mode off dbus and use it appropriately in setting the floor and not the other things listed. Sending the power mode to the OCC sounds like this should be done by the op

[2021-05-05 20:24] spinler commented on #1442
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/42519

[2021-05-05 20:28] msbarth commented on #1442
Duplicate of https://github.com/ibm-openbmc/dev/issues/2903

[2021-05-05 20:28] #1442 closed

[2021-05-05 20:28] cjcain commented on #1724
I am doing the code to put the mode on the dbus and send to the OCC and it will be in in the openpower-occ-control app.
Design doc: https://gerrit.openbmc-project.xyz/c/openbmc/docs/+/38786
Dbus add was merged, but not populated yet: https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-dbus-interfaces/+/42511

[2021-05-05 20:32] msbarth opened #3114 "PFP::monitor - Switch config to use `count` method"
Update fan monitor's config to use the `count` method of failure detection instead of the contiguous time of a fan being in a failed state. Let's start with using 30 tick's against a fan to mark it nonfunctional.

[2021-05-05 20:48] msbarth commented on #2469
Assigning to myself as a holder.

[2021-05-05 21:21] msbarth commented on #1698
@derekhoward55 FWIW, since all the OCC sensors to dbus is being re-worked into the openpower-occ-control app, they could likely easily include the VDD temp from the OCC out on dbus, which fan control could easily read it from there instead of the phosphor-regulators app. As long as the OCC device driver is providing the VDD in the poll response up to the openpower-occ-control, that could then just

[2021-05-05 21:21] msbarth commented on #1698
Duplicate of https://github.com/ibm-openbmc/dev/issues/2753 ?

[2021-05-05 21:28] cjcain commented on #1698
Vdd temp is provided in the OCC poll response, so the sensor will be available on dbus.

[2021-05-05 21:43] msbarth commented on #2867
Should be able to contain this within config file changes to the sensor-monitoring app.

[2021-05-05 21:49] msbarth commented on #2091
@derekhoward55 Has the retrieval of the PMIC temps been closed on and we'll be getting them on dbus from some app?

[2021-05-05 21:54] msbarth commented on #1698
@cjcain Not necessarily, the OCC device driver would roll it up to sysfs on the BMC, then the openpower-occ-control app would need to consume it from there and then serve the sensor onto dbus. I dont believe it was asked in the work being done to start provided the OCC temps by the openpower-occ-control app to include the VDD in those sensors it will put on dbus.

[2021-05-05 21:56] msbarth commented on #1724
@cjcain Awesome, thanks for the info.

[2021-05-05 21:58] shenki commented on #525
This has been merged into the openbmc u-boot tree as of https://github.com/openbmc/u-boot/commit/44a8c618c1215e0faac0f335f0afd56ed4240e76

[2021-05-05 21:58] #525 closed

[2021-05-05 22:07] cjcain commented on #1698
I agree, that they may not be the ones doing it, but it will still need to get done (by me if no one else)

[2021-05-05 22:21] amboar commented on #2644
Yes, this is directly related to the KCS work.

[2021-05-06 02:42] ChicagoDuan commented on #256
Yes, I am working on this.

[2021-05-06 04:08] derick-montague opened #3115 "GUI : FED : Update to Bootstrap-vue 2.22.x"
## Overview
When the next version of Bootstrap-vue is released, we need to update to resolve the router-link deprecated tag prop.

[code]
## UX Flow / Interaction Requirements
N/A

## Final Invision Mockup
N/A

## cURL Commands
N/A

## Notes
N/A

## UI Checklist
### Browser Tests (Chrome, Firefox, Safari (Mac), Edge (Windows))
- [ ] Tested responsive layout on supported viewport sizes
- [ ] Verifi

[2021-05-06 06:42] ojayanth commented on #2663
Bring-up completed. closing this epic.

[2021-05-06 06:48] ojayanth commented on #732
Closing this now. No outstanding work

[2021-05-06 06:48] #732 closed

[2021-05-06 07:02] #2663 closed

[2021-05-06 08:20] Srisuk opened #3116 "GUI : FED : Issue on selecting manual setting in date and time settings page"
## Overview
- On the date and time settings page, not able to select manual settings, NTP setting is coming as default selected.

## UX Flow / Interaction Requirements
- [ ] Feature breakdown

## Final Invision Mockup
- ![image.png](https://images.zenhubusercontent.com/5e65df1bdfe1a8032d964bbc/c24d6cf9-be48-40da-adc3-ec3492d571a1)

## cURL Commands
- [ ] Add cURL commands

## Notes
- [ ] Any known

[2021-05-06 08:50] ojayanth commented on #2800
Rajeese is looking this issue.

[2021-05-06 09:01] ojayanth commented on #2920
The use case is limited sbe_start hwp failure handling due to sbe is not reached to ready state.

[2021-05-06 09:06] ojayanth commented on #690
Scope: Provide PEL based d-bus Interface to create SBE FFDC based error log.
- Processing of HWP failures provided by SBE
- Adding HW callout and service actions related information in the error log.
- SBE internal failure logged as raw hex data.

[2021-05-06 09:08] ojayanth commented on #2715
Design direction finlaized , closing this issue.

[2021-05-06 09:08] #2715 closed

[2021-05-06 09:11] ojayanth opened #3117 "SBE Chip-op failue enablement IPL Time."
- Enable SBE chip-op failure error Handling at IPL Time for the all impacted applications. like Dump, ipl, pldm- wtachdog, attn.
-

[2021-05-06 09:14] ojayanth commented on #2919
- This pdbg based API to set/get SBE state.

[2021-05-06 09:23] ojayanth opened #3118 "SBE Chip-op Failure Handling at Runtime( Recovery)"
- Use case is limited to only OCC app driven Chip-op failures.
Work Includes:
- PLDM Interface to support SBE Recovery request.
- HBRT support PLDM requests.
- OCC driver support to extract SBE FFDC
- OCC App support for SBE Error handling.

[2021-05-06 09:25] ojayanth commented on #2921
Scope: Work related OCC app related changes.

[2021-05-06 09:36] ojayanth opened #3119 "pdbg API: Checking SBE vital attn status"
Provide pdbg API  to chek any SBE vital attn is in progress

[2021-05-06 09:38] ojayanth opened #3120 "pdbg API: check IPL window"
Provide pdbg based API to check IPL is in SBE or Hostboot window.

[2021-05-06 10:05] rsnair commented on #2752
Please update the story with the commit details. Closing as its completed

[2021-05-06 10:05] #2752 closed

[2021-05-06 10:08] ojayanth commented on #703
#672 Already covered this work.

[2021-05-06 10:08] #703 closed

[2021-05-06 10:16] ojayanth commented on #1966
Enable Chip-op Error Path handling TODos'

[2021-05-06 10:31] ratagupt commented on #476
@raviteja-b Can you check the systemd, Have the systemd fix the issue?

[2021-05-06 10:34] ratagupt commented on #1200
It is not needed now, Hence closing this,

[2021-05-06 10:34] #1200 closed

[2021-05-06 10:37] rsnair commented on #705
PM dump is deferred to GA2.

[2021-05-06 10:37] ratagupt commented on #1383
@mzipse seems this is not immediate priority as we would not be supporting dual boot on Rainier.

[2021-05-06 10:39] dhruvibm commented on #2627
Change is in master
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-debug-collector/+/37792

[2021-05-06 10:39] #2627 closed

[2021-05-06 10:40] dhruvibm commented on #2628
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-dbus-interfaces/+/37355

[2021-05-06 10:40] #2628 closed

[2021-05-06 10:42] rfrandse commented on #2058
refresh

[2021-05-06 10:43] rfrandse commented on #2059
refresh

[2021-05-06 10:43] rfrandse commented on #2061
refresh

[2021-05-06 10:43] rfrandse commented on #2062
refresh

[2021-05-06 10:44] rsnair opened #3121 "Event notification for SBE dump"
bmcweb changes to send the eent notification for SBE dump

[2021-05-06 10:44] rfrandse commented on #2106
refresh

[2021-05-06 10:45] ojayanth commented on #1966
Enable Guar/deconfig support cerated phal boot errors.

[2021-05-06 10:45] rfrandse commented on #2060
refresh

[2021-05-06 10:45] rsnair opened #3122 "Event notification for Hostboot dump"
bmcweb changes to send the event notification for Hostboot dump

[2021-05-06 10:46] rfrandse commented on #2231
refresh

[2021-05-06 10:47] rsnair opened #3123 "Event notification for Hardware dump"
bmcweb changes to send the event notification for Hardware dump

[2021-05-06 10:47] rfrandse commented on #242
refresh

[2021-05-06 10:48] rfrandse commented on #2305
refresh

[2021-05-06 10:48] rfrandse commented on #2316
refresh

[2021-05-06 10:49] rfrandse commented on #2525
refresh

[2021-05-06 10:50] rfrandse commented on #2378
refresh

[2021-05-06 10:50] ratagupt commented on #2963
@asmithakarun : You can create further stories like
1) Create the ethernet interface objects.
2) Create the Ip address objects.
3) Update the Dbus properties to the BIOS settings manager
4) Monitor the change in the BIOS settings and update the Dbus object.

[2021-05-06 10:52] rfrandse commented on #412
refresh

[2021-05-06 10:52] rfrandse commented on #2467
refresh

[2021-05-06 10:53] rfrandse commented on #2475
refresh

[2021-05-06 10:53] rfrandse commented on #2476
refresh

[2021-05-06 10:53] rfrandse commented on #2477
refresh

[2021-05-06 10:54] rfrandse commented on #2520
refresh

[2021-05-06 10:54] rfrandse commented on #518
refresh

[2021-05-06 10:54] rfrandse commented on #519
refresh

[2021-05-06 10:55] rfrandse commented on #559
refresh

[2021-05-06 10:56] rfrandse commented on #573
refresh

[2021-05-06 10:56] rfrandse commented on #574
refresh

[2021-05-06 10:57] rfrandse commented on #577
refresh

[2021-05-06 10:58] rfrandse commented on #579
refresh

[2021-05-06 11:01] rfrandse commented on #767
refresh

[2021-05-06 11:02] rfrandse commented on #786
refresh

[2021-05-06 11:05] rfrandse commented on #3016
refresh

[2021-05-06 11:05] rfrandse commented on #3078
refresh

[2021-05-06 11:06] rfrandse commented on #3117
refresh

[2021-05-06 11:06] rfrandse commented on #1172
refresh

[2021-05-06 11:07] rfrandse commented on #1258
refresh

[2021-05-06 11:09] rfrandse commented on #1328
refresh

[2021-05-06 11:11] rfrandse commented on #1513
refresh

[2021-05-06 11:11] asmithakarun opened #3124 "Create the ethernet interface objects"
For the Epic 2963: To write a new Dbus application for VMI IP configuration:

The first step in creating the application is to create the hypervisor ethernet objects under hypervisor network service.
It should look something like:

create: xyz.openbmc_project.Network.Hypervisor

busctl tree xyz.openbmc_project.Network.Hypervisor
[code]

The ethernet interface objects must be read from the base bio

[2021-05-06 11:12] rfrandse commented on #1571
refresh

[2021-05-06 11:13] rfrandse commented on #1593
refresh

[2021-05-06 11:13] rfrandse commented on #1668
refresh

[2021-05-06 11:13] rfrandse commented on #1691
refresh

[2021-05-06 11:14] rfrandse commented on #1737
refresh

[2021-05-06 11:14] asmithakarun opened #3125 "Create the Ip address objects"
For the Epic 2963: To write a new Dbus application for VMI IP configuration:

The second step after creating the hypervisor ethernet objects is to create the ip address objects. This is read from the base biostable and the dbus object would be created.

It should look something like:
busctl tree xyz.openbmc_project.Network.Hypervisor
[code]

[2021-05-06 11:15] rfrandse commented on #1832
refresh

[2021-05-06 11:16] rfrandse commented on #1936
refresh

[2021-05-06 11:17] rfrandse commented on #1959
refresh

[2021-05-06 11:17] rfrandse commented on #1960
refresh

[2021-05-06 11:17] rfrandse commented on #1964
refresh

[2021-05-06 11:18] rfrandse commented on #1977
refresh

[2021-05-06 11:19] rfrandse commented on #2040
refresh

[2021-05-06 11:20] asmithakarun opened #3126 "Update the BIOS table on Dbus properties change"
For the Epic 2963: To write a new Dbus application for VMI IP configuration:

The third step is to update the base biostable properties when there is a change in the corresponding properties in the dbus object.

[2021-05-06 11:21] asmithakarun opened #3127 "Monitor the change in the BIOS settings and update the Dbus object"
For the Epic 2963: To write a new Dbus application for VMI IP configuration:

The fourth step is to update the properties of the dbus objects when there is a change in the corresponding properties in base biostable.

[2021-05-06 11:21] ojayanth opened #3128 "Clock RAS : System without redudancy"
Clock chip has to be garded
 Planar has to be called out.

[2021-05-06 11:22] ojayanth opened #3129 "Clock support"
Track Clcok related work in phal area.

[2021-05-06 11:24] ojayanth opened #3130 "Clock RAS : System with redudancy"
1. Clock chip has to be deconfigured.
    2. Planar has to be called out if both clock chips are garded.

The redundancy is handled as integrated sparing (IS) in which the failure is posted in a hidden log and
is sent home periodically when system is setup to call home. Client does not see the IS error log. When
the remaining clock circuits fails, system ceases operation, failure posted and error

[2021-05-06 11:42] rsnair commented on #2011
Closing this one as Guard stories are already created. #1936 is the Guard epic for tracking.

[2021-05-06 11:42] #2011 closed

[2021-05-06 11:55] derick-montague commented on #2011
If we are closing stories that are set as dependents for GUI stories, we need to make sure to set the new dependencies.

[2021-05-06 12:02] derick-montague commented on #2011
@rsnair and @RameshIyyar are any of these stories being worked currently. I only ask as they are all new and seem to be associated with an older milestone.

![image](https://user-images.githubusercontent.com/1183515/117294902-cf0bf100-ae38-11eb-9e29-93da51105cbc.png)

[2021-05-06 12:14] ratagupt commented on #3010
We don't need this epic, all the storys are directly under 2963.

[2021-05-06 12:14] #3010 closed

[2021-05-06 13:45] rsnair commented on #3094
@gtmills good one ... If that's covering what we're looking for we'll close this story

[2021-05-06 14:20] RameshIyyar commented on #3094
Ah nice and I will take look.

[2021-05-06 15:19] msbarth opened #3131 "PFP - Install config files from repo"
All the phosphor-fan config files are installed by the recipe. The config files should be moved to within the repo and installed from there. It would be best if this was done after the change from autotools to meson.

[2021-05-06 16:20] spinler commented on #3114
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/42961

[2021-05-06 16:47] sandeepasingh116 commented on #2311
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/42963

[2021-05-06 16:54] asmithakarun commented on #2963
I have created the same.

https://github.com/ibm-openbmc/dev/issues/3124
https://github.com/ibm-openbmc/dev/issues/3125
https://github.com/ibm-openbmc/dev/issues/3126
https://github.com/ibm-openbmc/dev/issues/3127

[2021-05-07 02:50] raviteja-b commented on #476
@ratagupt
Seems systemd still does not support LinkLocalAddressing=fallback with MaxAttempts=infinity

`LinkLocalAddressing=fallback has no reason to exist, because LL address must always be allocated as a fallback option when using DHCP. Having both DHCP and LL address at the same time is an RFC violation, so LinkLocalAdressing=yes correctly implemented is already the "fallback" behavior. The fal

[2021-05-07 04:28] RameshIyyar commented on #1962
I think we can use this story to enable support guard for phal error handling.

[2021-05-07 05:37] santoshpuranik opened #3132 "Define D-Bus API To Trigger Single FRU Collection"

[2021-05-07 05:38] santoshpuranik opened #3133 "Put PCIe Adapter Objects on D-Bus"

[2021-05-07 05:38] santoshpuranik opened #3134 "Put PCie Slot Objects On D-Bus"

[2021-05-07 05:40] santoshpuranik opened #3135 "Create D-Bus Interface For Ports (CxP Ports On Cable Cards)"

[2021-05-07 05:42] santoshpuranik opened #3136 "A way to Delete Inventory D-Bus Objects (Handle FRUs going away)"

[2021-05-07 05:42] santoshpuranik opened #3137 "Bind/Unbind leds-gpio driver on add/remove of cable card"

[2021-05-07 05:46] ratagupt commented on #2478
@ojayanth: Can we close this as per our last discussion in the openbmc design meeting?

[2021-05-07 05:51] #2478 closed

[2021-05-07 05:55] ratagupt commented on #1237
Seems need to work on this as confirmed by the @shenki

[2021-05-07 06:26] nmuruli commented on #2234
@bradbishop IPMI work , we get help from contractor with IPMI experience ?

[2021-05-07 06:33] ratagupt opened #3138 "bmcweb commits to be upstreamed"
This epic is to track the commits which is in downstream and the upstream reviews are going on.

[2021-05-07 06:35] ratagupt commented on #2346
I would be closing this story and the upstream efforts would be tracked through the epic 3138.

[2021-05-07 06:35] #2346 closed

[2021-05-07 06:36] #2345 closed

[2021-05-07 06:39] ratagupt commented on #2674
I would be closing this story and the upstream efforts would be tracked through the epic 3138.

[2021-05-07 06:40] ratagupt commented on #3138
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/34208
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/38051

[2021-05-07 06:44] ratagupt commented on #1286
Seems HMC doesn't need this functionality, we can work on this after GA1.

[2021-05-07 06:51] ratagupt commented on #2562
I have unassigned myself from this story as @joseph-reynolds is working on this.

[2021-05-07 07:08] ratagupt commented on #476
@dixsie @derick-montague Is it still needed? I heard that our customers doesn't want the link local address while the static/ DHCP address is there. Is it still valid?
Seems we have to get the fix from systemd and I don't think so we are going to get the fix soon.

[2021-05-07 07:16] ratagupt commented on #2943
I would be closing this story and the upstream efforts would be tracked through the epic 3138.

[2021-05-07 07:16] #2943 closed

[2021-05-07 07:17] jinuthomas opened #3139 "Display API using com.ibm support"
Check with PLDM to see if they are happy to use this to clear the LCD Panel on request from PHYP

[2021-05-07 07:23] jinuthomas commented on #1883
https://github.ibm.com/openbmc/ibm-panel/

[2021-05-07 07:23] #1883 closed

[2021-05-07 08:48] raviteja-b opened #3140 "Bmcweb changes to store LDAP user role in session object"
Right now bmcweb queries user info using dbus call on every URI, to  improve on performance
we can query information at the time of session creation and store in session object.

getuserinfo interface needs to be done only at the login time not with every request.
=> privilege should be fetched during authentication
=> persist the privilege in the in memory session object.
=> each successive reque

[2021-05-07 09:59] sampmisr opened #3141 "PLDM: support async msg from bmc"

[2021-05-07 10:03] rsnair commented on #3122
@asmithakarun Please update the PR/commit details and close.

[2021-05-07 10:08] sampmisr commented on #2845
This epic will accomplish two tasks:
1. change the fileio commands to support new parameters (refer fileio box note)
2. implement the COD feature via fileio

[2021-05-07 10:43] rfrandse commented on #2058
refresh

[2021-05-07 10:43] rfrandse commented on #2062
refresh

[2021-05-07 10:44] rfrandse commented on #2097
refresh

[2021-05-07 10:44] ratagupt commented on #1841
@derick-montague @gtmills : Here is the agreed list for the below info,

- Order Info:

- Processor Info

- Mem Info,

- Virtualization Enablement Technology (VET) Info

[code]
@gtmills You have some action items above as per the link https://ibm.ent.box.com/file/775628653268?s=qs88rtqutrijrnaqli9vxe10vku5tzl8.

Above can be done once we have a clarity.

- Activation -- Need to define the Redfish

[2021-05-07 10:46] rfrandse commented on #2231
refresh

[2021-05-07 10:47] sampmisr opened #3142 "PLDM: support concurrent FW update"

[2021-05-07 10:47] rfrandse commented on #242
refresh

[2021-05-07 10:48] rfrandse commented on #2316
refresh

[2021-05-07 10:48] rfrandse commented on #2326
refresh

[2021-05-07 10:49] nmuruli commented on #3142
We will pick this work based on when @anoo1 picks it up. Tentatively its JULY ?

[2021-05-07 10:49] rfrandse commented on #2378
refresh

[2021-05-07 10:51] rfrandse commented on #2428
refresh

[2021-05-07 10:51] rfrandse commented on #2429
refresh

[2021-05-07 10:51] rfrandse commented on #2432
refresh

[2021-05-07 10:51] rfrandse commented on #2454
refresh

[2021-05-07 10:52] rfrandse commented on #2439
refresh

[2021-05-07 10:52] rfrandse commented on #392
refresh

[2021-05-07 10:52] sampmisr opened #3143 "PLDM: CEC CM work"

[2021-05-07 10:52] rfrandse commented on #2449
refresh

[2021-05-07 10:53] rfrandse commented on #2456
refresh

[2021-05-07 10:53] rfrandse commented on #2467
refresh

[2021-05-07 10:54] rfrandse commented on #2563
refresh

[2021-05-07 10:55] sampmisr opened #3144 "PLDM: MEX CM work"

[2021-05-07 10:56] rfrandse commented on #573
refresh

[2021-05-07 10:56] rfrandse commented on #574
refresh

[2021-05-07 10:57] rfrandse commented on #577
refresh

[2021-05-07 10:58] rfrandse commented on #579
refresh

[2021-05-07 10:58] rfrandse commented on #2672
refresh

[2021-05-07 10:59] rfrandse commented on #2675
refresh

[2021-05-07 11:00] rfrandse commented on #652
refresh

[2021-05-07 11:01] rfrandse commented on #2733
refresh

[2021-05-07 11:01] rfrandse commented on #2736
refresh

[2021-05-07 11:03] rfrandse commented on #786
refresh

[2021-05-07 11:05] rfrandse commented on #904
refresh

[2021-05-07 11:05] rfrandse commented on #907
refresh

[2021-05-07 11:06] rfrandse commented on #3016
refresh

[2021-05-07 11:07] rfrandse commented on #3078
refresh

[2021-05-07 11:07] rfrandse commented on #3129
refresh

[2021-05-07 11:07] sampmisr opened #3145 "PLDM: support SBE error handling"
This needs following two support from pldm:
1. fileio communication at ipltime
2. provide the HB effecter to openpower-occ app so that it can issue a reset at runtime

[2021-05-07 11:08] rfrandse commented on #1193
refresh

[2021-05-07 11:08] rfrandse commented on #1322
refresh

[2021-05-07 11:10] rfrandse commented on #1328
refresh

[2021-05-07 11:11] rfrandse commented on #1364
refresh

[2021-05-07 11:11] rfrandse commented on #1387
refresh

[2021-05-07 11:12] rfrandse commented on #1446
refresh

[2021-05-07 11:12] rfrandse commented on #1477
refresh

[2021-05-07 11:13] rfrandse commented on #1520
refresh

[2021-05-07 11:13] rfrandse commented on #1523
refresh

[2021-05-07 11:13] sampmisr opened #3146 "PLDM: access key update support"

[2021-05-07 11:13] rfrandse commented on #1537
refresh

[2021-05-07 11:15] ratagupt opened #3147 "COD - Create the Dbus interfaces"
The model consists of following main entities:

1 - licenses - these objects represents the features.  There will be a license represnting
feature(one is to one relation ship) and these objects have state - active, inactive, unknown, etc.
These objects could implement the Delete interface for when a client wishes to disable the license/feature.

2 - manager - the manager object (distinct from free

[2021-05-07 11:16] rfrandse commented on #1737
refresh

[2021-05-07 11:17] rfrandse commented on #1832
refresh

[2021-05-07 11:17] rfrandse commented on #1882
refresh

[2021-05-07 11:17] rfrandse commented on #1911
refresh

[2021-05-07 11:18] rfrandse commented on #1917
refresh

[2021-05-07 11:18] rfrandse commented on #1932
refresh

[2021-05-07 11:19] rfrandse commented on #1936
refresh

[2021-05-07 11:19] rfrandse commented on #1940
refresh

[2021-05-07 11:20] rfrandse commented on #1960
refresh

[2021-05-07 11:20] rfrandse commented on #1964
refresh

[2021-05-07 11:20] rfrandse commented on #1977
refresh

[2021-05-07 11:24] sampmisr commented on #910
reopening to cater
1. multiple resource dump
2. resource dump with authentication
3

[2021-05-07 11:25] sampmisr opened #3148 "PLDM: support multiple resource dump"

[2021-05-07 11:25] ratagupt opened #3149 "COD: Create the Dbus app"
-  Yet to decide about where to HOST this application.
- Either write the new Meson/Auto tools framework or making the changes in the existing one.
- Write the main function  to make sure that it creates the application. It is a skeleton app.

[2021-05-07 11:26] sampmisr opened #3150 "PLDM: support resource dump with authentication"

[2021-05-07 11:30] ratagupt opened #3151 "COD: Implement the Manager Interface."
Major functionality of the Manager interface would be to Implement a Dbus method which creates the License Dbus object.
This interface would be used by the PLDM to craete the license object once PLDM gets the feature list from the host firmware.

[2021-05-07 11:31] ratagupt opened #3152 "COD: Implement the license interface"
licenses - these objects represents the features.  There will be a license represnting
feature(one is to one relation ship) and these objects have state - active, inactive, unknown, etc.

These objects could implement the Delete interface for when a client wishes to disable the license/feature.

[2021-05-07 11:38] ratagupt opened #3153 "COD: Requirement & Design"
We need to make sure that License object should be persisted on the BMC as it keeps the status of the feature.
Whenever there is a change in the feature, Host firmware notifies to the BMC over PLDM.
PLDM updates the license/feature obect with the correct status.

[2021-05-07 11:43] ratagupt commented on #2736
Here are the summary for this epic.

The model consists of following main entities:1 - licenses - these objects represents the features.  There will be a license represnting
feature(one is to one relation ship) and these objects have state - active, inactive, unknown, etc.
These objects could implement the Delete interface for when a client wishes to disable the license/feature.

2 - manager - the

[2021-05-07 11:54] ratagupt opened #3154 "COD: Milestone"

[2021-05-07 12:22] rsnair opened #3155 "bmcweb changes for enabling SBE dump"

[2021-05-07 12:24] rsnair opened #3156 "bmcweb: Enable Hardware dump"

[2021-05-07 12:25] rsnair opened #3157 "bmcweb: user triggered hardware dump"

[2021-05-07 13:26] derick-montague commented on #1538
@priyanka-pillai97 - You may want to find a FED to work on this with you. Here is some information from Ratan in the #1841, https://github.com/ibm-openbmc/dev/issues/1841#issuecomment-834257902

[2021-05-07 13:32] derick-montague commented on #476
I have asked the team to follow up on this. I don't remember the issue anymore, but Dixsie may. One thing that @BMC-Bruce mentioned was that people may not want the SIT interface shown at all.

[2021-05-07 13:40] spinler commented on #1109
closing as no more swift.

[2021-05-07 13:40] #1109 closed

[2021-05-07 13:42] spinler commented on #558
I have seen no plans to change the IPMI SEL strategy between Witherspoon and Rainier, so I'm going to close this.  Any work to do any SEL support needed on Rainier would be covered by the IPMI team just like all the  other IPMI functionality.

[2021-05-07 13:42] #558 closed

[2021-05-07 13:45] derick-montague commented on #476
@ratagupt the concern came from the GUI community work group and is discussed in this thread on slack.

https://ibm-systems-power.slack.com/archives/C0Q6TQP5Z/p1591810665268100

## Summary

@BMC-Bruce might be able to speak a little to this also as he was in the meeting.

[2021-05-07 14:32] anoo1 commented on #610
End-to-end verification requires Hostboot to transition to reading LIDs. This is being tracked with: #907

[2021-05-07 14:34] gtmills opened #3158 "Should use Inventory Item "PrettyName" for Redfish Name"
https://github.com/openbmc/bmcweb/issues/204

We should look for PrettyName and if it isn't there fall back to the last segment of the URI

https://ibm-systems-power.slack.com/archives/C1HT3FHNK/p1620407582169500?thread_ts=1620123529.115600&cid=C1HT3FHNK

https://github.com/openbmc/phosphor-dbus-interfaces/blob/495981805244269650bee13d1ee8f13543b2bc5a/xyz/openbmc_project/Inventory/Item.interface.y

[2021-05-07 14:38] anoo1 opened #3159 "Provide HBB to Hostboot Boot Loader via non-PLDM"
Even though this story is not going to be implemented in the PLDM code, it's required to complete the PLDM Hostboot communication Epic.

Background: Hostboot Boot Loader would not use PLDM in P10, it has been deferred to P11. The Hostboot Boot Loader requests the contents of the HBB file. An initial idea was to map the HBB content in a memory window and have a lightweight PLDM download command tha

[2021-05-07 15:01] anoo1 opened #3160 "Redfish OEM Update command for concurrent update"
Create a new Redfish OEM Update command. This command would be the same as the current update one, but would be used by the management console to perform concurrent updates.

Add support for OnReset apply time.

[2021-05-07 15:04] anoo1 opened #3161 "Concurrent FW Update Integration"
Coordinate with the management console on implementing the new Redifsh OEM command. Do end-to-end verification, which includes verification of the built images and the concurrent update process of the hypervisor and partition firmware.

[2021-05-07 15:11] BMC-Bruce commented on #476
sit0, to me, doesn't seem like something to normally display, however there has been much debate as how to control sit0's existence and it usage.

See this Gerrit review for more details "Prevent sit0 virtual device being added to the list of NICs"
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-networkd/+/38407

[2021-05-07 15:41] gtmills commented on #2006
According to @spinler should be moved to A.2.999 milestone

[2021-05-07 16:47] gtmills opened #3162 "Populating Redfish EventID"
D-Bus is #3083
https://redfish.dmtf.org/schemas/v1/LogEntry.v1_8_0.json

[2021-05-07 16:48] gtmills commented on #3083
Ideally, this would be a similar name to EventID..

[2021-05-07 17:27] gtmills opened #3163 "Turn off D-Bus REST API"
Turn off D-Bus REST API and all the associated with that work

[2021-05-07 17:56] gtmills opened #3164 "Redfish: Move to 2021.2"
When it comes out.

[2021-05-07 18:04] gtmills commented on #2219
@joseph-reynolds You are still planning on doing? We really want for the GUI..

[2021-05-07 18:09] gtmills opened #3165 "Redfish: update creator ID / Subsystem in LogEntry"
@spinler and I discussed for a future GA.
#3113 is getting these properties in the message, would be great if they could also be a standard field

[2021-05-07 18:13] gtmills commented on #3163
https://github.com/openbmc/bmcweb/issues/114

[2021-05-07 19:27] gtmills commented on #1709
@derekhoward55 This story includes the power supply Redfish's Redundancy ?\
@msbarth Do we have a similar story for Redfish Fan Redundancy? Fan redundancy looks related to https://github.com/ibm-openbmc/dev/issues/491

[2021-05-07 19:30] gtmills commented on #1709
Redfish Power Supply Redundancy looks like
![redundancy-PS](https://user-images.githubusercontent.com/5455127/117499400-6d32b080-af38-11eb-8210-2f5aacd8237b.JPG)

[2021-05-07 20:22] #679 closed

[2021-05-07 20:23] #680 closed

[2021-05-07 20:23] #774 closed

[2021-05-07 20:23] #775 closed

[2021-05-07 20:24] #875 closed

[2021-05-07 21:13] bjwyman commented on #1750
https://gerrit.openbmc-project.xyz/c/openbmc/entity-manager/+/43009 IBM: Add BindDelay to IBMCFFPSConnector

[2021-05-07 21:20] mzipse commented on #559
refresh

[2021-05-08 10:42] rfrandse commented on #2058
refresh

[2021-05-08 10:43] rfrandse commented on #50
refresh

[2021-05-08 10:46] rfrandse commented on #2231
refresh

[2021-05-08 10:47] rfrandse commented on #242
refresh

[2021-05-08 10:47] rfrandse commented on #2305
refresh

[2021-05-08 10:48] rfrandse commented on #2326
refresh

[2021-05-08 10:49] rfrandse commented on #304
refresh

[2021-05-08 10:49] rfrandse commented on #2378
refresh

[2021-05-08 10:50] rfrandse commented on #2432
refresh

[2021-05-08 10:51] rfrandse commented on #392
refresh

[2021-05-08 10:51] rfrandse commented on #2456
refresh

[2021-05-08 10:52] rfrandse commented on #2467
refresh

[2021-05-08 10:53] rfrandse commented on #2475
refresh

[2021-05-08 10:54] rfrandse commented on #567
refresh

[2021-05-08 10:55] rfrandse commented on #568
refresh

[2021-05-08 10:55] rfrandse commented on #570
refresh

[2021-05-08 10:55] rfrandse commented on #573
refresh

[2021-05-08 10:57] rfrandse commented on #608
refresh

[2021-05-08 10:57] rfrandse commented on #611
refresh

[2021-05-08 10:59] rfrandse commented on #2733
refresh

[2021-05-08 11:00] rfrandse commented on #2736
refresh

[2021-05-08 11:03] rfrandse commented on #2944
refresh

[2021-05-08 11:03] rfrandse commented on #2945
refresh

[2021-05-08 11:05] rfrandse commented on #2964
refresh

[2021-05-08 11:05] rfrandse commented on #3016
refresh

[2021-05-08 11:07] rfrandse commented on #1176
refresh

[2021-05-08 11:07] rfrandse commented on #1193
refresh

[2021-05-08 11:08] rfrandse commented on #1258
refresh

[2021-05-08 11:11] rfrandse commented on #1364
refresh

[2021-05-08 11:11] rfrandse commented on #1403
refresh

[2021-05-08 11:12] rfrandse commented on #1489
refresh

[2021-05-08 11:12] rfrandse commented on #1537
refresh

[2021-05-08 11:13] rfrandse commented on #1570
refresh

[2021-05-08 11:14] rfrandse commented on #1571
refresh

[2021-05-08 11:14] rfrandse commented on #1593
refresh

[2021-05-08 11:14] rfrandse commented on #612
refresh

[2021-05-08 11:15] rfrandse commented on #1704
refresh

[2021-05-08 11:16] rfrandse commented on #1832
refresh

[2021-05-08 11:17] rfrandse commented on #1913
refresh

[2021-05-08 11:17] rfrandse commented on #1917
refresh

[2021-05-08 11:17] rfrandse commented on #1930
refresh

[2021-05-08 11:18] rfrandse commented on #1935
refresh

[2021-05-08 11:20] rfrandse commented on #2040
refresh

[2021-05-09 10:42] rfrandse commented on #2058
refresh

[2021-05-09 10:46] rfrandse commented on #242
refresh

[2021-05-09 10:54] rfrandse commented on #577
refresh

[2021-05-09 11:00] rfrandse commented on #904
refresh

[2021-05-09 11:05] rfrandse commented on #1364
refresh

[2021-05-09 11:06] rfrandse commented on #1494
refresh

[2021-05-09 23:43] amboar commented on #3159
I suggested we just write a separate tool that's easier to reason about that mboxd. It should only need a couple of open()s, a couple of ioctl()s, mmap() and memcpy(). Should be a 100 lines or so.

[2021-05-10 08:48] Srisuk commented on #3116
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/43035

[2021-05-10 09:33] lxwinspur commented on #1039
@spinler @mzipse
Could you give me some suggestions? Thanks.

[2021-05-10 10:48] rfrandse commented on #2378
refresh

[2021-05-10 10:50] rfrandse commented on #2428
refresh

[2021-05-10 10:54] rfrandse commented on #577
refresh

[2021-05-10 11:01] rfrandse commented on #907
refresh

[2021-05-10 11:06] rfrandse commented on #1328
refresh

[2021-05-10 11:13] rfrandse commented on #2002
refresh

[2021-05-10 12:39] vishwabmc opened #3166 "eBMC LED Management :: Enable LEDs on Everest 4S4U box"
- Work with System Engineers and understand LED layout and requirements
- Work with system Engineers and get the needed LED details documented in workbook / spread sheet
- Translate the LED information in the workbook / spread sheet into Linux Device tree
- Work with GSI and make sure INDIVIDUAL LEDs are verified
- Update the led-group definition in phosphor-led-manager
- Work with Linux leds-pca9

[2021-05-10 12:46] vishwabmc commented on #3166
I have been working this for some time now .. but opened it here to capture the efforts on this task.

- Work with System Engineers and understand LED layout and requirements :DONE
Work with system Engineers and get the needed LED details documented in workbook / spread sheet :DONE
Translate the LED information in the workbook / spread sheet into Linux Device tree :DONE
Work with GSI and make sure

[2021-05-10 13:42] spinler commented on #1039
Hi @lxwinspur, this sounds like a good question for the mailing list, I suspect people there will have some  ideas.

[2021-05-10 15:15] gtmills commented on #3158
https://github.ibm.com/openbmc/bmcweb/pull/143

https://ibm-systems-power.slack.com/archives/G3WAVQYTH/p1620659600330800?thread_ts=1620659278.328800&cid=G3WAVQYTH

https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/40158

[2021-05-10 21:01] mzipse commented on #1529
@joseph-reynolds  give the above, is this story needed anymore?

[2021-05-11 00:19] msbarth commented on #1724
@cjcain No, there is no dbus property that represents the fan floor set by fan control. As long as fan control is configured to change the fan floor from a propertiesChanged signal, the new floor will be set soon as fan control gets the signal. If the floor is configured to be changed based on an event timer, then the floor would not be updated until the configured timer expires.

It seems the bes

[2021-05-11 10:47] rfrandse commented on #2305
refresh

[2021-05-11 10:52] rfrandse commented on #518
refresh

[2021-05-11 10:54] rfrandse commented on #574
refresh

[2021-05-11 11:01] rfrandse commented on #904
refresh

[2021-05-11 11:02] rfrandse commented on #913
refresh

[2021-05-11 11:06] rfrandse commented on #1328
refresh

[2021-05-11 11:07] rfrandse commented on #1364
refresh

[2021-05-11 11:08] rfrandse commented on #1484
refresh

[2021-05-11 11:08] rfrandse commented on #1494
refresh

[2021-05-11 11:10] rfrandse commented on #1593
refresh

[2021-05-11 11:11] rfrandse commented on #1737
refresh

[2021-05-11 11:12] rfrandse commented on #1832
refresh

[2021-05-11 11:13] rfrandse commented on #1932
refresh

[2021-05-11 11:15] rfrandse commented on #2040
refresh

[2021-05-11 12:41] cjcain commented on #1724
@msbarth occ-control does not need to know the floor value.  It needs to know that the fan code saw the new floor and has at least initiated the floor change.  It is a sequencing issue to maintain thermal safety.

Lets say someone changes from a mode with fan floor of 4000 RPM to a new mode requiring a floor of 8000 RPM.  If OCC made the mode change before the fans were updated, the temperature co

[2021-05-11 12:52] msbarth commented on #1724
@cjcain The change in floor (and subsequent increase in fan speeds if the floor is higher than the current target) would happen as soon as fan control got the signal from dbus that the power mode changed. So this would all be dependent on how quickly dbus sends the propertiesChanged signal for the power mode change and fan control is swapped in to process that signal and run the associated actions

[2021-05-11 13:35] derick-montague commented on #2896
Server power operations resolved by: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/42979

[2021-05-11 14:29] derekhoward55 commented on #1724
Sounds good, lets keep it simple.  If later we see situations where DBus is getting bogged down and the floor isn't getting changed quickly, then we can add some handshaking at that time.  Thanks.

[2021-05-11 14:32] derick-montague opened #3167 "GUI : FED : Post Code update table to use ASCII and update the UI for downstream"
## Overview
- [ ] The UI need to be updated for downstream

## UX Flow / Interaction Requirements
- [ ] Feature breakdown

## Final Invision Mockup
- [ ] Add Link

## cURL Commands
N/A

## Notes
- [ ] Any known API workarounds
- [ ] Any server-side functionality WIP

## UI Checklist
### Browser Tests (Chrome, Firefox, Safari (Mac), Edge (Windows))
- [ ] Tested responsive layout on supported viewpo

[2021-05-11 14:42] anoo1 opened #3168 "eMMC: Implement BMC factory reset"
Implement the factory reset d-bus API in the phosphor-bmc-code-mgmt repo for the mmc layout.

[2021-05-11 14:43] derekhoward55 commented on #2091
@msbarth current plan of record is these internal PMIC temps will not be collected and put on DBus.  Only the OCC-collected temps would be used.

This issue can be scheduled out of this GA for now, I'll move it.  Hopefully testing will confirm the OCC-collected temps are suffice for GA.

[2021-05-11 20:44] derick-montague opened #3169 "GUI : FED : Certificate Management - Update country label"
## Overview
In the Generate Certificate form, we have a `Country` field that contains locations that are required to be labeled as Regions to be in compliance with China regulations. To accommodate, we need to change the label from `Country` to `Country / Region`.

### Screen capture
![image.png](https://images.zenhubusercontent.com/57e6780495e42b6c5ba963ac/bc40ddd7-7e75-49e1-9989-5b0168648c8f)

#

[2021-05-11 21:49] derick-montague commented on #3169
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/43099

[2021-05-11 22:11] msbarth commented on #2725
Change to fan monitoring config for new fan hardware -> https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/43089

[2021-05-12 06:21] AndyYFWang commented on #3107
Hi all,
I have an idea for this.
We may be able to add a warning message from the disconnected function of the KVM session.
(https://github.com/openbmc/phosphor-webui/blob/master/app/server-control/directives/kvm-console.js#L37)

like this:
....
function disconnected(e) {
                 $log.debug('RFB disconnected');
                 alert("503 Service Unavailable.");
                 alert("Th

[2021-05-12 07:13] lxwinspur commented on #1593
@gtmills @mzipse
Wonder why removed `prio_hight_3` and added `prio_medium`
Because @zhanghch05 has implemented most of the tasks, and only `filter` is a coding status.
Thanks

[2021-05-12 10:35] santoshpuranik opened #3170 "Implement VPD Single FRU Collection"

[2021-05-12 10:39] santoshpuranik commented on #3137
This is being tracked under issue 2341

[2021-05-12 10:39] #3137 closed

[2021-05-12 10:43] rfrandse commented on #2097
refresh

[2021-05-12 10:45] rfrandse commented on #2183
refresh

[2021-05-12 10:47] rfrandse commented on #2305
refresh

[2021-05-12 10:48] rfrandse commented on #2326
refresh

[2021-05-12 10:50] rfrandse commented on #2428
refresh

[2021-05-12 10:51] rfrandse commented on #409
refresh

[2021-05-12 10:52] rfrandse commented on #2520
refresh

[2021-05-12 10:53] rfrandse commented on #559
refresh

[2021-05-12 10:54] rfrandse commented on #569
refresh

[2021-05-12 10:54] rfrandse commented on #573
refresh

[2021-05-12 10:55] rfrandse commented on #574
refresh

[2021-05-12 10:56] rfrandse commented on #577
refresh

[2021-05-12 10:57] rfrandse commented on #2672
refresh

[2021-05-12 10:59] rfrandse commented on #2813
refresh

[2021-05-12 11:01] rfrandse commented on #856
refresh

[2021-05-12 11:02] rfrandse commented on #2945
refresh

[2021-05-12 11:03] rfrandse commented on #904
refresh

[2021-05-12 11:04] rfrandse commented on #3016
refresh

[2021-05-12 11:05] rfrandse commented on #2564
refresh

[2021-05-12 11:06] rfrandse commented on #1176
refresh

[2021-05-12 11:06] rfrandse commented on #1193
refresh

[2021-05-12 11:06] rfrandse commented on #1258
refresh

[2021-05-12 11:08] rfrandse commented on #1328
refresh

[2021-05-12 11:09] rfrandse commented on #1364
refresh

[2021-05-12 11:10] rfrandse commented on #1520
refresh

[2021-05-12 11:11] rfrandse commented on #1523
refresh

[2021-05-12 11:12] rfrandse commented on #1586
refresh

[2021-05-12 11:13] rfrandse commented on #1737
refresh

[2021-05-12 11:14] rfrandse commented on #1832
refresh

[2021-05-12 11:14] rfrandse commented on #1882
refresh

[2021-05-12 11:14] rfrandse commented on #1891
refresh

[2021-05-12 11:15] rfrandse commented on #1894
refresh

[2021-05-12 11:15] rfrandse commented on #1903
refresh

[2021-05-12 11:15] rfrandse commented on #1908
refresh

[2021-05-12 11:15] rfrandse commented on #1911
refresh

[2021-05-12 11:16] rfrandse commented on #1913
refresh

[2021-05-12 11:16] rfrandse commented on #1916
refresh

[2021-05-12 11:16] rfrandse commented on #1917
refresh

[2021-05-12 11:16] rfrandse commented on #1930
refresh

[2021-05-12 11:17] rfrandse commented on #1934
refresh

[2021-05-12 11:17] vishwabmc opened #3171 "eBMC LED Management :: Implement LocationIndicatorActive Property for BMC"
Implement LocationIndicatorActive property for BMC resource.

In : https://redfish.dmtf.org/schemas/v1/Manager.v1_11_0.json

Look for the Interface : "xyz.openbmc_project.Inventory.Item.Bmc" and look for `identify_led_group' association

[2021-05-12 11:17] rfrandse commented on #1939
refresh

[2021-05-12 11:19] rfrandse commented on #2040
refresh

[2021-05-12 13:30] ParishrutB opened #3172 "GUI : FED : Add dividers between table batch action buttons."
## Overview
- Table batch action buttons (selection actions) need to have dividers between them.

## UX Flow / Interaction Requirements
-  Note: There is no divider between the Cancel button and the button adjacent to it.

## Final Invision Mockup
- https://ibm.invisionapp.com/d/main#/console/15347903/319970027/preview

![image.png](https://images.zenhubusercontent.com/5e53d8992ef7be3be540de28/fc6

[2021-05-12 14:23] sumitk56 commented on #1730
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-logging/+/42621/12

[2021-05-12 15:45] #1730 closed

[2021-05-12 16:07] anoo1 opened #3173 "Dynamically create a BIOS attr to list LID files"
Per discussions with @sampmisr and HB team, need to create a BIOS attr at runtime (perhaps in the openpower-pnor-code-mgmt repo) with the list of LIDs that are applicable to the system. This is needed to communicate to HB which of the different flavor LIDs for the different system types apply to that particular system.
The BIOS attr would be a string such as: "HBI=81e0065d,HBB=81e0065a,SBE=81e0066

[2021-05-12 17:25] bradbishop opened #3174 "MEX CM: Implement org.freedesktop.DBus.ObjectManager on pldmd"
An org.freedesktop.DBus.ObjectManager is required to enable efficient client queries of pldmd hosted dbus objects.

[2021-05-12 18:49] spinler commented on #1729
Hostboot said they are going to fill these in from PLDM PDRs so we won't have to do it.  Closing.

[2021-05-12 18:49] #1729 closed

[2021-05-12 19:18] bradbishop opened #3175 "CEC CM: Add PCIe device/port/cable and battery DBus/Fru record mappings"
Ensure these inventory classes result in FRU record sets and FRU record set PDRs when the FRU inventory table is constructed

[2021-05-12 19:23] #2903 closed

[2021-05-12 19:38] bradbishop opened #3176 "CEC CM:Implement OEM PCIe link status/type/speed/width effectors"
Provide other PLDM stacks a mechanism for informing the BMC of PCIe device status.  These attributes should be passed through to the correct PCIe device inventory object on DBus.

[2021-05-12 19:43] bradbishop opened #3177 "CEC CM:Implement OEM enable slot access effector"
This effector should call a yet to be defined com.ibm interface on the PCIe slot.

[2021-05-12 19:43] bradbishop opened #3178 "CEC CM:Implement OEM enable slot access sensor"
This sensor will forward the call on to a yet to be defined com.ibm dbus method.

[2021-05-12 19:53] bradbishop opened #3179 "CEC CM: Implement state sets 352, 353 for each PCIe slot"
352: slot occupancy
353: slot state
both sensors are to pass through to dbus attributes on the pcie slot/pcie device

[2021-05-12 20:26] spinler commented on #3012
Merged.

[2021-05-12 20:26] #3012 closed

[2021-05-12 21:44] bjwyman commented on #3030
Related?
-[] Should inventoryAdded() have onOffConfig() and clearFaults()?
@smccarney asked about this while reviewing some other code change a while back.
	- Test this scenario?
		1. Start SIMICS.
		2. Remove PSU.
		3. Continue...BMC ready.
		4. Install PSU.

[2021-05-12 23:05] bradbishop opened #3180 "CEC CM:Implement effector state sets 352, 353 for each PCIe slot"
these are pass-thru to yet to be determined dbus properties on the pcie device or pcie slot

[2021-05-13 02:45] gtmills commented on #1593
Lowered the priority on this to show this is lower priority than like #2969 #2968 https://github.com/ibm-openbmc/dev/issues/2183
That said would very much like to have this.
@zhanghaodi Nice job.
I probably went overboard this probably still a prio_hight_3

[2021-05-13 02:47] gtmills commented on #3107
[code]
Would work. Was thinking this would be a specific error, which would require changes in bmcweb

[2021-05-13 02:53] lxwinspur commented on #1593
@gtmills
Thanks, got it :)

[2021-05-13 03:09] lxwinspur commented on #1039
@spinler
I sent an email to OpenBMC
https://lore.kernel.org/openbmc/CANFuQ7AvV_R-Q0q0-QEKH_CsYv9vk7dVHzL+e4NvjifeFRbknw@mail.gmail.com/

Let us keep waiting

[2021-05-13 04:07] Erich-Hauptli commented on #3107
@AndyYFWang Is it possible to also identify the user IP that has an open session?  Our PE team requested an alert message that was a bit more specific along the following lines:

"Unable to start a remote KVM session.  Another user at ip address {} has an open session and only 1 active KVM session is supported."

Would you then be able to populate the {} with the active session users IP?

[2021-05-13 07:51] zhanghaodi commented on #3045
review by:
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/43170

[2021-05-13 10:43] rfrandse commented on #2082
refresh

[2021-05-13 10:45] rfrandse commented on #2183
refresh

[2021-05-13 10:47] rfrandse commented on #242
refresh

[2021-05-13 10:47] rfrandse commented on #2305
refresh

[2021-05-13 10:50] rfrandse commented on #2428
refresh

[2021-05-13 10:52] vishwabmc opened #3181 "eBMC LED Management :: Implement State.Decorator.OperationalStatus interface"
All the Inventory D-Bus objects that implement "Inventory.Item" need to implement `xyz.openbmc_project.State.Decorator.OperationalStatus` `boolean:Functional` property.

Currently, it's there for `Item.Fan` and `Item.PowerSupply`. Similarly, we need it implemented for all the other Inventory D-Bus objects that are of type `Inventory.Item.xxxyyy`

[-] What exactly is needed ?
 - When the object is

[2021-05-13 10:53] rfrandse commented on #559
refresh

[2021-05-13 10:53] rfrandse commented on #567
refresh

[2021-05-13 10:54] rfrandse commented on #574
refresh

[2021-05-13 10:55] rfrandse commented on #577
refresh

[2021-05-13 10:57] rfrandse commented on #652
refresh

[2021-05-13 10:59] rfrandse commented on #2813
refresh

[2021-05-13 11:02] rfrandse commented on #904
refresh

[2021-05-13 11:02] rfrandse commented on #907
refresh

[2021-05-13 11:03] rfrandse commented on #3016
refresh

[2021-05-13 11:04] rfrandse commented on #3143
refresh

[2021-05-13 11:04] rfrandse commented on #3144
refresh

[2021-05-13 11:05] rfrandse commented on #1172
refresh

[2021-05-13 11:05] rfrandse commented on #1193
refresh

[2021-05-13 11:08] rfrandse commented on #1328
refresh

[2021-05-13 11:08] sumitk56 commented on #1416
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-logging/+/43178

[2021-05-13 11:08] rfrandse commented on #1364
refresh

[2021-05-13 11:10] rfrandse commented on #1520
refresh

[2021-05-13 11:11] rfrandse commented on #1571
refresh

[2021-05-13 11:12] rfrandse commented on #1668
refresh

[2021-05-13 11:12] rfrandse commented on #1737
refresh

[2021-05-13 11:12] vishwabmc opened #3182 "Rainier_2U: powersupply2 and powersupply3 appears in Inventory"
Rainer_2U has only 2 PS.. but 2 more power supplies appear on all systems.

            ├─/xyz/openbmc_project/inventory/system/chassis/motherboard/powersupply0
            ├─/xyz/openbmc_project/inventory/system/chassis/motherboard/powersupply1
            ├─/xyz/openbmc_project/inventory/system/chassis/motherboard/powersupply2
            ├─/xyz/openbmc_project/inventory/system/chassis/motherboa

[2021-05-13 11:13] vishwabmc commented on #3182
Assigned to @mzipse to assign it to right Engineer

[2021-05-13 11:13] rfrandse commented on #1832
refresh

[2021-05-13 11:14] rfrandse commented on #1929
refresh

[2021-05-13 11:15] rfrandse commented on #1935
refresh

[2021-05-13 11:15] rfrandse commented on #1942
refresh

[2021-05-13 11:17] rfrandse commented on #2002
refresh

[2021-05-13 11:17] rfrandse commented on #2040
refresh

[2021-05-13 11:46] lxwinspur commented on #3171
review by: https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/43179

[2021-05-13 14:13] dixsie commented on #2313
resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/43186

[2021-05-13 16:01] nmuruli commented on #1447
This is a GA2 activity

[2021-05-13 17:51] gtmills commented on #3045
Sorry for not responding sooner, at this time we just need PowerWatts in EnvironmentMetrics.
That is what we are trying to replace.
I am fine if we also want to add Fan speeds but let's make sure we concentrate on PowerWatts which is the replacement for PowerConsumedWatts

[2021-05-13 17:59] gtmills commented on #1042
@derick-montague Assigned you and unassigned me.

[2021-05-13 20:27] derekhoward55 commented on #1774
@msbarth the vpd app will fill in the hardcoded vpd (https://github.com/ibm-openbmc/dev/issues/1592).  I'd still like us to do a fan hot-swap on real hardware when all the code is in place to make sure the fan control and full path up to phyp works.

[2021-05-14 01:56] zhanghaodi commented on #3045
@gtmills Okay, for PowerWatts in EnvironmentMetrics.
The data comes from /redfish/v1/Chassis/chassisId/Sensors/TotalPower;
For the sensor called TotalPower, it does not exist on our machine;
this should be about reading the power of the entire chassis; how to get this data.
Does the sensor module need to add a sensor named TotalPower first?

[2021-05-14 07:17] asmithakarun commented on #3122
https://github.ibm.com/openbmc/bmcweb/commit/6a221262029bf0ebb8faea28190a05eb9437a607
The change is merged in the downstream.

[2021-05-14 07:23] #3122 closed

[2021-05-14 07:36] asmithakarun commented on #2963
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-networkd/+/43173

Initial patch is up in gerri. Will make changes on top of it for pending features and based on the review comments

[2021-05-14 10:43] rfrandse commented on #2082
refresh

[2021-05-14 10:44] rfrandse commented on #2097
refresh

[2021-05-14 10:45] rfrandse commented on #2183
refresh

[2021-05-14 10:47] rfrandse commented on #2305
refresh

[2021-05-14 10:50] rfrandse commented on #2428
refresh

[2021-05-14 10:52] rfrandse commented on #2475
refresh

[2021-05-14 10:54] rfrandse commented on #573
refresh

[2021-05-14 10:54] rfrandse commented on #574
refresh

[2021-05-14 10:55] rfrandse commented on #577
refresh

[2021-05-14 10:57] rfrandse commented on #652
refresh

[2021-05-14 11:01] rfrandse commented on #2944
refresh

[2021-05-14 11:02] rfrandse commented on #904
refresh

[2021-05-14 11:03] rfrandse commented on #3016
refresh

[2021-05-14 11:05] rfrandse commented on #1193
refresh

[2021-05-14 11:05] rfrandse commented on #1258
refresh

[2021-05-14 11:07] rfrandse commented on #1328
refresh

[2021-05-14 11:08] rfrandse commented on #1364
refresh

[2021-05-14 11:08] rfrandse commented on #1387
refresh

[2021-05-14 11:09] rfrandse commented on #1520
refresh

[2021-05-14 11:12] rfrandse commented on #1737
refresh

[2021-05-14 11:14] rfrandse commented on #1929
refresh

[2021-05-14 11:14] rfrandse commented on #1930
refresh

[2021-05-14 11:14] rfrandse commented on #1932
refresh

[2021-05-14 13:29] msbarth commented on #1774
@derekhoward55 Ok, wouldnt we think that the vpd app should verify this path since they own all the code interfacing with the hypervisor and dealing with fan vpd? I'd like to see us dis-associate from the dev and test if we dont own any of the code that deals with fan vpd anymore.

Hot-swapping a fan and verifying fan control reacts appropriately would still be owned by me, which I'll verify.

[2021-05-14 13:38] gtmills commented on #3077
Escape to characters

[2021-05-14 13:40] gtmills commented on #3087
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/43171 added properties for Processor

[2021-05-14 14:15] #1319 closed

[2021-05-14 14:27] gtmills commented on #3045
Yes, https://github.com/openbmc/bmcweb/blob/9a128eb3fc3008f802974360e98de6495ed1a66b/redfish-core/lib/sensors.hpp#L1007
https://github.com/search?q=org%3Aopenbmc+total_power&type=code

It only exists on ours when the system is booted.

Anyway you can a sensor like this to your machine?

[2021-05-14 15:09] gtmills opened #3183 "Add compile flag to turn off the old Power/Thermal"
Similar to https://github.com/openbmc/bmcweb/commit/2db77d34ca673f32411621b7e34b039dec948bd3#diff-76ea9078099f2ee8cc0e760a874dd153f225ba16ad10375c24ab6cd53518f3c4 need a "redfish-allow-deprecated-power-thermal" which should initially be true (enabled; allowing the old thermal/power).

At a later date, let's say 6 months, we can move this flag to defaulted off.
At an even later date we can remove t

[2021-05-14 17:19] msbarth opened #3184 "PFP::control - Add DEBUG journal and/or flight recorder traces to actions"
per https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/42057/1

[2021-05-14 20:50] mzipse commented on #2009
Reassigning to @ratagupt squad within @rsnair team.  That way it is visible to Ratan's squad.

[2021-05-14 20:57] mzipse commented on #2652
@BMC-Bruce , are you covering this with Eddie unavailable?  Reassigning to Bruce.

[2021-05-14 20:58] mzipse commented on #2652
You might want to confirm with Matt as to what is expected.

[2021-05-14 21:10] BMC-Bruce commented on #2652
Yes, I am.

[2021-05-14 21:11] BMC-Bruce commented on #2652
I will connect with Matt as to expectations.  Thanks!

[2021-05-14 21:32] mzipse commented on #1204
@joseph-reynolds , I think we can close this; commit is merged.  If you disagree, please reopen and let me know why.  Thanks.

[2021-05-14 21:32] #1204 closed

[2021-05-14 21:55] mzipse commented on #2100
Looks like Hostboot team will own this.  All BIOS settings.  I'll assign to me to ensure this happens.

[2021-05-14 22:10] mzipse commented on #2375
@bjwyman Does the above fix fix the issue? Or is this still an issue?

[2021-05-14 23:21] #3051 closed

[2021-05-15 02:14] geissonator commented on #118
Not worth the effort at this point. Lets close this one out.

[2021-05-15 02:14] #118 closed

[2021-05-15 10:45] rfrandse commented on #2183
refresh

[2021-05-15 10:47] rfrandse commented on #2305
refresh

[2021-05-15 10:50] rfrandse commented on #2432
refresh

[2021-05-15 10:52] rfrandse commented on #518
refresh

[2021-05-15 10:52] rfrandse commented on #519
refresh

[2021-05-15 10:53] rfrandse commented on #568
refresh

[2021-05-15 10:53] rfrandse commented on #571
refresh

[2021-05-15 10:54] rfrandse commented on #574
refresh

[2021-05-15 10:55] rfrandse commented on #577
refresh

[2021-05-15 10:55] rfrandse commented on #608
refresh

[2021-05-15 10:56] rfrandse commented on #611
refresh

[2021-05-15 10:58] rfrandse commented on #2733
refresh

[2021-05-15 10:59] rfrandse commented on #769
refresh

[2021-05-15 11:03] rfrandse commented on #3118
refresh

[2021-05-15 11:04] rfrandse commented on #1176
refresh

[2021-05-15 11:05] rfrandse commented on #1193
refresh

[2021-05-15 11:05] rfrandse commented on #1258
refresh

[2021-05-15 11:07] rfrandse commented on #1328
refresh

[2021-05-15 11:08] rfrandse commented on #1364
refresh

[2021-05-15 11:08] rfrandse commented on #1387
refresh

[2021-05-15 11:09] rfrandse commented on #1520
refresh

[2021-05-15 11:12] rfrandse commented on #1832
refresh

[2021-05-15 11:13] rfrandse commented on #1930
refresh

[2021-05-16 10:54] rfrandse commented on #577
refresh

[2021-05-16 10:57] rfrandse commented on #767
refresh

[2021-05-16 11:05] rfrandse commented on #1328
refresh

[2021-05-16 11:05] rfrandse commented on #1364
refresh

[2021-05-17 09:20] #3065 closed

[2021-05-17 09:22] #3031 closed

[2021-05-17 10:44] rfrandse commented on #2082
refresh

[2021-05-17 10:50] rfrandse commented on #2428
refresh

[2021-05-17 10:55] rfrandse commented on #577
refresh

[2021-05-17 11:04] rfrandse commented on #1322
refresh

[2021-05-17 11:12] rfrandse commented on #1929
refresh

[2021-05-17 11:27] vishwabmc commented on #3166
Work with GSI and make sure INDIVIDUAL LEDs are verified : DONE

Now, waiting on the PR to be reviewed and merged.

[2021-05-17 11:38] vishwabmc commented on #2120
The idea is still OEM :

phosphor-led-manager already has :
  /xyz/openbmc_project/led/groups/partition_system_attention_indicator
 /xyz/openbmc_project/led/groups/platform_system_attention_indicator

=======================================================================

PLDM will be making use of this for Sensor and Effector like this :

*Sensor  and Effector* :
[code]
*Sensor  and Effector* :

[2021-05-17 13:55] msbarth commented on #2652
@BMC-Bruce
The expectations are to get both the ambient and pressure(altitude) sensors values from the DPS310 into userspace and on dbus. I believe Eddie was working on adding support to dbus-sensors for the iio subsystem to support getting these on dbus using dbus-sensors.

[2021-05-17 14:51] derick-montague opened #3185 "GUI : FED : Hardware Inventory / Status - Add Quick links"
## Overview
- [ ] Add Overview

## UX Flow / Interaction Requirements
- [ ] Feature breakdown

## Final Invision Mockup
- [ ] Add Link
### Screen capture
![image.png](https://images.zenhubusercontent.com/57e6780495e42b6c5ba963ac/c86d8d26-4e2e-41a3-8a72-32975782ac68)

## cURL Commands
- [ ] Add cURL commands

## Notes

## UI Checklist
### Browser Tests (Chrome, Firefox, Safari (Mac), Edge (Windows)

[2021-05-17 14:59] #3169 closed

[2021-05-17 15:05] Srisuk commented on #2310
As per @santoshpuranik, this is not yet ready in the backend. Waiting for it to be ready in 2 weeks.

[2021-05-17 15:12] #2664 closed

[2021-05-17 15:51] derick-montague opened #3186 "GUI : FED : Dump download file name"
## Overview
The test team has found some issues when downloading and extracting the dumps file due to the spaces in the file name. Currently, the name follows this pattern:

`BMC Dump Entry <dump-id>`

The test team has requested that the name use the following pattern so the customer knows what to extract.

`BMC_Dump_Entry_<dump-id>.tar.gz`

## UX Flow / Interaction Requirements
- [ ] Update the

[2021-05-17 16:09] derekhoward55 opened #3187 "New daemon to poke hostboot runtime over pldm to collect PMIC data every 24 hours"
PMICs are the voltage regulators on P10 DDIMMs and provide telemetry and redundant phase failure data that can be collected.

The P10 self boot engine (SBE) will use hw procedure(s) to read the appropriate phase fail and telemetry data. It stores the data to be accessed by hostboot runtime (HBRT).  HBRT will create error logs every 24 hours with this data.  The contents of the data are not covered

[2021-05-17 22:21] joseph-reynolds opened #3188 "Disable mTLS in BMCWeb"
This work item is to configure out BMCWeb's uses of mTLS in the meta-ibm layer.  IBM PowerVM systems traditionally do not support mTLS user authentication.

The technical change is to to disable this feature in BMCWeb's meson_options.txt:
[code]

Note that other uses of mTLS are not affected by this change.  For example, BMC LDAP client authentication may continue to use mTLS.

This does not affec

[2021-05-18 03:22] ojayanth opened #3189 "pdbg: pmic telemetry chip-op support."
Chip-op details is going to available in SBE chip-op spec.

[2021-05-18 07:04] ojayanth commented on #673
Concurrent code update impact on device tree: 
- Key attributes we need to persist after concurrent code update is functional states. 
      - Most of  non-fapi attributes usage scope are limited to step 0 procedure execution
             - No reason to recover this value back in this path
     - Other r/w attributes updated by hostboot during ipl time is only consumed by host in the next ipl path

[2021-05-18 07:04] ojayanth commented on #673
High level design Direction:
1. Collecting attribute data , which need to be preserved across the code update use attribute tool and store in preserve partition.
2. Apply attribute override in the BMC reboot path after concurrent code update triggered reboot.

Work involved:
- Identify the attribute list need to preserve.
- Extend attribute tool import/export option to support selected attributes.

[2021-05-18 07:05] ojayanth commented on #673
This issue used for tracking Requirement/High level Design Direction.

[2021-05-18 07:09] ojayanth opened #3190 "DTM Concurrent Code update: Attribute tool support."
Add support in attributes tool to import/export selected attributes in knwon format.

[2021-05-18 07:11] ojayanth opened #3191 "DTM support for Concurrent Code update: enablement."
details available in #673

[2021-05-18 07:21] ojayanth commented on #672
New Design direction: preserve all Hostboot updated attributes / HWAS states related attributes in non genesis mode ipl. Only apply Guard records. 

Current BMC Flow:
Genesis mode:
- All units marked as non functional/presence

Normal Poweron
Get present processor in the system based on fsi presence ( pdbg probe).
Mark all the processors and primary processor child  chiplets({"core", "pauc", "pau"

[2021-05-18 07:24] ojayanth commented on #672
Reducing the issue complexity , need to revisit this incase any any additional requirement for SBE/Hostboot team

[2021-05-18 07:28] ojayanth opened #3192 "Attribute Tool: Logging support."
Existing attribute tool got limited traces and developed for tooling use case. Need to extend the logging in production level.

[2021-05-18 10:43] rfrandse commented on #2058
refresh

[2021-05-18 10:43] rfrandse commented on #2062
refresh

[2021-05-18 10:47] rfrandse commented on #242
refresh

[2021-05-18 10:48] rfrandse commented on #2316
refresh

[2021-05-18 10:50] rfrandse commented on #2428
refresh

[2021-05-18 10:51] rfrandse commented on #2443
refresh

[2021-05-18 10:54] rfrandse commented on #568
refresh

[2021-05-18 10:55] rfrandse commented on #577
refresh

[2021-05-18 10:56] rfrandse commented on #579
refresh

[2021-05-18 11:04] rfrandse commented on #3078
refresh

[2021-05-18 11:05] rfrandse commented on #1193
refresh

[2021-05-18 11:05] rfrandse commented on #1258
refresh

[2021-05-18 11:07] rfrandse commented on #1328
refresh

[2021-05-18 11:08] rfrandse commented on #1364
refresh

[2021-05-18 11:09] rfrandse commented on #1477
refresh

[2021-05-18 11:09] rfrandse commented on #1513
refresh

[2021-05-18 11:10] rfrandse commented on #1520
refresh

[2021-05-18 11:14] rfrandse commented on #1938
refresh

[2021-05-18 11:20] ChicagoDuan opened #3193 "Redfish : Look for OperationalStatus for the Health and HealthRollUp in health.hpp"
health.hpp should be modified to look for OperationalStatus for the Health and HealthRollUp.
Ideally, all resources would then use health.hpp.
It might make sense to rename health.hpp to status.hpp and have it do the health, healthrollup, and state.
https://github.com/ibm-openbmc/dev/issues/2795#issuecomment-813147536

Step 1 :
We should push a paragraph to : https://github.com/openbmc/docs/blob/9

[2021-05-18 13:48] #2896 closed

[2021-05-18 15:40] spinler commented on #2150
Now that the  PLDM PDR design for cores is mostly defined, we know that:
* the core instance ID is relative to its parent processor
* the container ID would also specify the parent processor, but it is some arbitrary number and there is no d-bus interface to get that out of PLDM.
* the parent processor instance ID is relative to it's DCM
* the DCM instance ID is relative to the system

So since we

[2021-05-18 16:08] #3114 closed

[2021-05-18 16:09] #2811 closed

[2021-05-18 16:09] #2725 closed

[2021-05-18 18:25] msbarth opened #3194 "PFP::monitor - `Count` method timer should start/stop when count transistions away/from 0 respectively"
Instead of having the `count` method's timer running all the time, it should be started when a up-count 'tick' is registered against a tach sensor (i.e. tach sensors was initially seen as out-of-range) and then the timer should stop once a tach sensor returns back to 0.

[2021-05-18 20:09] msbarth opened #3195 "PFP::control - Verify signals for objects owned continue to be received"
After testing whether objects owned on dbus by fan control can have a property changed and fan control handle that property being changed (per configuration), it was found that this works now where it had not back when enabling the `xyz.openbmc_project.Control.ThermalMode` interface on fan control was first put in place. This may be due to changes in sdbusplus async handling of signals, but this f

[2021-05-18 20:28] gtmills opened #3196 "Make ProcessorSummary work on IBM system"
https://github.com/openbmc/bmcweb/blob/15c27bf8ea1f7e2f8e07d1eaf386466091d69c17/redfish-core/lib/systems.hpp#L405
https://github.com/openbmc/bmcweb/blob/15c27bf8ea1f7e2f8e07d1eaf386466091d69c17/redfish-core/lib/systems.hpp#L98

What I see today on firmware: fw1020.00-21.0-a-4-gfe1557fbd
[code]

[code]

[code]

[2021-05-19 00:21] gtmills opened #3197 "Tasks should survive reboot"
Below a code update task with ApplyTime set to Immediate. I would expect the task to stick around after reboot but does not.
With this change also probably need a way to clean up old tasks.

[code]
[code]
Right before reboot:
[code]
During reboot:
[code]
After reboot:
[code]

[2021-05-19 05:56] zhanghaodi commented on #3045
Thank you, I am trying to make a similar sensor exist in our machine.

[2021-05-19 06:31] vishwabmc commented on #2136
Okay.. this can now be implemented ..

gerrit that adds PORT schema : https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/40158

Please add `LocationIndicatorActive` above this commit.

[2021-05-19 10:26] sampmisr commented on #3175
new fru records need to be added and verified

[2021-05-19 10:26] lxwinspur commented on #2150
@spinler

We want to know which pldm command we need to monitor?
sensorEvent?
https://github.com/openbmc/openpower-occ-control/blob/master/pldm.hpp#L66

[2021-05-19 10:31] sampmisr commented on #3176
will have a discussion about defining the state sets and entity ids. also need a way to map an effecter to the correct DBus object

[2021-05-19 10:41] sampmisr commented on #2366
the design has changed and we are taking this up as part of CEC CM work

[2021-05-19 10:43] rfrandse commented on #2058
refresh

[2021-05-19 10:44] rfrandse commented on #2082
refresh

[2021-05-19 10:44] rfrandse commented on #2099
refresh

[2021-05-19 10:45] sampmisr opened #3198 "MEX CM: support new event types for pdrRepoChangeEvent for CM"

[2021-05-19 10:46] rfrandse commented on #2183
refresh

[2021-05-19 10:48] rfrandse commented on #2305
refresh

[2021-05-19 10:48] rfrandse commented on #2326
refresh

[2021-05-19 10:51] sampmisr opened #3199 "CEC CM: manage entity association tree dynamically along with fru records"
add/delete entries to/from entity associtaion PDR dynamically and update the entity association tree accordingly when a new fru record(BMC) is added or deleted

[2021-05-19 11:12] sampmisr opened #3200 "MEX CM: manage entity association PDR dynamically for Host"
change the entity associtaion PDR when a fru is added or deleted in Host and update the entity association tree accordingly

[2021-05-19 11:14] sampmisr opened #3201 "MEX CM: implement setFRURecordTable responder"

[2021-05-19 11:29] sampmisr opened #3202 "PLDM: add entity instance as an input parameter to libpldm"
libpldm will be able to take entity instance number while creating entity association records. so that the entity instance number corresponds to the actual instance

[2021-05-19 11:37] sampmisr commented on #1446
Closing this issue as done

[2021-05-19 13:41] #3116 closed

[2021-05-19 14:03] Srisuk commented on #3068
Schema used to get the missing keys: https://redfish.dmtf.org/schemas/v1/Processor.v1_11_0.json

[2021-05-19 16:38] dixsie commented on #2865
Work being done in #3028

[2021-05-19 16:38] #2865 closed

[2021-05-19 16:47] #2079 closed

[2021-05-19 18:25] dixsie commented on #3028
resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/43366

[2021-05-19 18:26] dixsie commented on #3027
resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/43372

[2021-05-19 18:28] #3052 closed

[2021-05-19 18:58] dixsie opened #3203 "GUI : FED : Add Export/delete all logs buttons on Event Logs"
## Final Invision Mockup
- https://ibm.invisionapp.com/d/main#/console/15347903/319992747/preview

![image](https://user-images.githubusercontent.com/61419136/120800195-4c707180-c55d-11eb-93e2-8a723b544709.png)

## UI Checklist
### Browser Tests (Chrome, Firefox, Safari (Mac), Edge (Windows))
- [ ] Tested responsive layout on supported viewport sizes
- [ ] Verified functionality works as expected,

[2021-05-19 21:47] gtmills commented on #3086
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/43376

[2021-05-19 22:10] spinler commented on #2150
You won't need monitor any PLDM commands.  The label file will contain the value that hostboot told the OCC to use for that sensor.  The number in there will contain what you need to know to name the sensor.

That being said, we just had a meeting with the hostboot team today, and they proposed a new numbering scheme.  I need to make sure I have it right and then I'll let you know.

[2021-05-20 06:42] vishwabmc opened #3204 "eBMC LED Management : Miscellaneous work items"
These are either GA1 or GA2 work items and are very small ones.

[2021-05-20 06:56] Srisuk commented on #2311
The schema used to get the missing keys: https://redfish.dmtf.org/schemas/v1/Chassis.v1_15_0.json

[2021-05-20 07:22] vishwabmc opened #3205 "eBMC LED Management :: GA_2: rainier/everest: opencapi connector LEDs"
On PASS_2 boards, there are LEDs by each OpenCAPI connector slots (SLIMSAS) and there are 6 of them.

Work involved here :
- Update the rainier device tree for these 6 LEDs
- Update `rainier-2u/rainier-4u/rainier-1s4u` `led-group-config.json` with identify and fault groups
    Example: https://github.com/openbmc/phosphor-led-manager/blob/master/configs/ibm%2Ceverest/led-group-config.json#L9136

[2021-05-20 07:22] Srisuk commented on #2313
The schema used to find the missing keys: https://redfish.dmtf.org/schemas/v1/Fan.v1_0_0.json

[2021-05-20 07:23] Srisuk commented on #2309
The schema used to find the missing keys: https://redfish.dmtf.org/schemas/v1/PowerSupply.v1_0_0.json

[2021-05-20 07:31] vishwabmc opened #3206 "eBMC LED Management :: Everest LED work."
Work with System Engineers and understand LED layout and requirements :DONE
    Work with system Engineers and get the needed LED details documented in workbook / spread sheet :DONE
    Translate the LED information in the workbook / spread sheet into Linux Device tree :DONE
    Work with GSI and make sure INDIVIDUAL LEDs are verified :DONE ( Eric Rubio and Anitra helped verify all the 130+ LEDs o

[2021-05-20 07:32] vishwabmc commented on #3206
The PR that has the physical LED definition is also merged now.

[2021-05-20 07:37] vishwabmc opened #3207 "eBMC LED Management :: Everest :: Update associations file"
Currently, only some of the D-Bus objects have associations. The association file needs to be updated to contain everything.

Current association : https://github.com/openbmc/openbmc/blob/master/meta-ibm/recipes-phosphor/inventory/phosphor-inventory-manager/p10bmc/ibm%2Ceverest_associations.json

Refer Rainier : https://github.com/openbmc/openbmc/blob/master/meta-ibm/recipes-phosphor/inventory/pho

[2021-05-20 08:09] lxwinspur commented on #2136
Review by: https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/43391

[2021-05-20 09:10] ParishrutB commented on #1303
05/18/2021 Discussion with Derick, Parishrut, Priyanka, Nicole, Sandeepa

- Use case: Giving the user some information that a process is going on or is stuck. For this, backend is planning to introduce the Task Service for giving granular progress updates for tasks like Firmware Update, Dumps, etc. This was discovered in the latter stories. Real time POST codes indicators is not required for this

[2021-05-20 10:43] rfrandse commented on #2082
refresh

[2021-05-20 10:44] rfrandse commented on #2099
refresh

[2021-05-20 10:47] rfrandse commented on #2305
refresh

[2021-05-20 10:48] rfrandse commented on #2316
refresh

[2021-05-20 10:48] rfrandse commented on #2326
refresh

[2021-05-20 10:50] rfrandse commented on #2398
refresh

[2021-05-20 10:51] rfrandse commented on #2428
refresh

[2021-05-20 10:54] rfrandse commented on #568
refresh

[2021-05-20 10:55] rfrandse commented on #574
refresh

[2021-05-20 10:56] rfrandse commented on #577
refresh

[2021-05-20 10:56] rfrandse commented on #579
refresh

[2021-05-20 10:57] rfrandse commented on #2690
refresh

[2021-05-20 11:02] rfrandse commented on #2945
refresh

[2021-05-20 11:03] rfrandse commented on #904
refresh

[2021-05-20 11:05] rfrandse commented on #3129
refresh

[2021-05-20 11:05] rfrandse commented on #3143
refresh

[2021-05-20 11:05] rfrandse commented on #3144
refresh

[2021-05-20 11:06] rfrandse commented on #3166
refresh

[2021-05-20 11:06] rfrandse commented on #3204
refresh

[2021-05-20 11:06] rfrandse commented on #1193
refresh

[2021-05-20 11:07] rfrandse commented on #1258
refresh

[2021-05-20 11:09] rfrandse commented on #1328
refresh

[2021-05-20 11:10] rfrandse commented on #1364
refresh

[2021-05-20 11:10] rfrandse commented on #1403
refresh

[2021-05-20 11:11] rfrandse commented on #1477
refresh

[2021-05-20 11:11] rfrandse commented on #1520
refresh

[2021-05-20 11:16] rfrandse commented on #1942
refresh

[2021-05-20 11:38] derick-montague commented on #3044
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/42787

[2021-05-20 13:34] #3062 closed

[2021-05-20 13:53] Srisuk opened #3208 "GUI : FED : Bug after submitting data on LDAP page"
## Overview
- On the LDAP page, while the `Enable` checkbox is disabled, click on the `submit` button, and then the `submit` button is getting disabled which is a bug.
- After submitting the data, submit button should not get disabled.

## UX Flow / Interaction Requirements
- [ ] Feature breakdown

## Final Invision Mockup
- [ ] Add Link

## cURL Commands
- [ ] Add cURL commands

## Notes
- [ ] An

[2021-05-20 15:53] gtmills commented on #3086
Merged

[2021-05-20 15:53] #3086 closed

[2021-05-20 18:42] anoo1 commented on #3159
The tool could reside in the https://github.com/openbmc/openpower-pnor-code-mgmt repo, which is the one that currently parses the system type.

[2021-05-20 21:07] derekhoward55 commented on #2594
This is no longer needed based on the design change to have hbrt collect/log the data.

[2021-05-20 21:07] #2594 closed

[2021-05-20 21:12] derekhoward55 commented on #1721
This is no longer needed based on the design change to have HBRT collect/log the data.

[2021-05-20 21:12] #1721 closed

[2021-05-21 00:11] dixsie commented on #3185
Resolved by: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/43420

[2021-05-21 01:12] derick-montague commented on #3185
Did you talk with @gtmills about the HTML5 history mode?
https://router.vuejs.org/guide/essentials/history-mode.html#example-server-configurations

[2021-05-21 02:44] #2777 closed

[2021-05-21 02:44] #2846 closed

[2021-05-21 03:03] derick-montague commented on #2967
We will need to remove the Resource column. This is an SRC that will be part of the PEL download.

[2021-05-21 04:14] jaypadath commented on #3175
Below are the not present types in PDR list:

1) PLDM_ENTITY_DRIVE_BACKPLANE = 73,
disk_backplane0
disk_backplane1
disk_backplane2

2) PLDM_ENTITY_FAN = 93,
fan0 to fan5

3) PLDM_ENTITY_SOLID_STATE_SRIVE = 111,
nvme0 to nvme31

4) PLDM_ENTITY_MEMORY_CHIP = 142,
dimm0 to dimm31

5) PLDM_ENTITY_REAL_TIME_CLOCK = 147,
tod_battery

6) PLDM_ENTITY_SLOT = 186,
pcieslot0 to pcieslot11 [total 10 only]

7)

[2021-05-21 05:39] ojayanth commented on #3189
This is nor required  based on the design change to have hbrt collect/log the data

[2021-05-21 05:39] #3189 closed

[2021-05-21 10:47] rfrandse commented on #2305
refresh

[2021-05-21 10:47] rfrandse commented on #2316
refresh

[2021-05-21 10:48] rfrandse commented on #2326
refresh

[2021-05-21 10:50] rfrandse commented on #2428
refresh

[2021-05-21 10:52] #1416 closed

[2021-05-21 10:53] rfrandse commented on #568
refresh

[2021-05-21 10:54] rfrandse commented on #574
refresh

[2021-05-21 10:55] rfrandse commented on #577
refresh

[2021-05-21 10:55] rfrandse commented on #579
refresh

[2021-05-21 11:02] rfrandse commented on #904
refresh

[2021-05-21 11:02] rfrandse commented on #907
refresh

[2021-05-21 11:04] rfrandse commented on #3143
refresh

[2021-05-21 11:05] rfrandse commented on #1322
refresh

[2021-05-21 11:07] rfrandse commented on #1328
refresh

[2021-05-21 11:08] rfrandse commented on #1364
refresh

[2021-05-21 11:09] rfrandse commented on #1520
refresh

[2021-05-21 11:11] rfrandse commented on #1704
refresh

[2021-05-21 16:55] joseph-reynolds commented on #2875
There are thoughts that this (an some other) function should display the system serial# so a physically present operator can read the serial number which is  needed to generate the ACF.

[2021-05-21 20:02] #3054 closed

[2021-05-22 13:54] rajez133 opened #3209 "Disable Clock Output based on clock input status"
- Check the status of clock input from XTAL, and disable clock output if input is not OK.
- Also gard the clock target if input to clock is not OK.

[2021-05-23 10:51] rfrandse commented on #2475
refresh

[2021-05-23 10:52] rfrandse commented on #568
refresh

[2021-05-23 10:53] rfrandse commented on #572
refresh

[2021-05-23 10:53] rfrandse commented on #573
refresh

[2021-05-23 10:54] rfrandse commented on #574
refresh

[2021-05-23 10:54] rfrandse commented on #577
refresh

[2021-05-23 11:01] rfrandse commented on #904
refresh

[2021-05-23 11:02] rfrandse commented on #3016
refresh

[2021-05-23 11:03] rfrandse commented on #3129
refresh

[2021-05-23 11:10] rfrandse commented on #1737
refresh

[2021-05-23 12:51] jinuthomas opened #3210 "Base Display infrastructure"
Enable any external / internal display commands to be encoded , then scroll set for it and then call the transport layer to send the scroll and display to the physical LCD panel.

[2021-05-24 07:30] rajez133 commented on #2772
This is no more required, so closing it.

[2021-05-24 07:30] #2772 closed

[2021-05-24 08:32] sandeepasingh116 commented on #3070
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/43477

[2021-05-24 09:52] AndyYFWang commented on #3107
Hi @Erich-Hauptli , @gtmills ,

If the alert message is sent based on the connection restriction, I think I can do this part.
But if the user ip needs to be displayed, I may need some assistance in this part.
As for how to obtain the user ip, I did some tests last week, including writing a php file to enable it through html, such as
...
function getIP(){
if(!empty($_SERVER['HTTP_CLIENT_IP'])){
$ip

[2021-05-24 10:37] #3057 closed

[2021-05-24 10:40] ojayanth commented on #2916
Code Review in progress https://gerrit.openbmc-project.xyz/q/topic:%22SBEErrorHandl%22+(status:open%20OR%20status:merged)

[2021-05-24 10:45] rfrandse commented on #2171
refresh

[2021-05-24 10:47] rfrandse commented on #2316
refresh

[2021-05-24 10:49] rfrandse commented on #2398
refresh

[2021-05-24 10:52] vishwabmc commented on #3193
@ChicagoDuan Isn't health.cpp already looking at OperationalStatus to populate Health ?.

or , may be processor / DIMMs / Fans, individually have hooks on `OperationalStatus` and then use Health also ?. Because, I can today set health of Fan using OperationalStatus

https://github.com/openbmc/bmcweb/blob/master/redfish-core/lib/processor.hpp#L76

https://github.com/openbmc/bmcweb/blob/master/redfi

[2021-05-24 10:55] rfrandse commented on #577
refresh

[2021-05-24 10:58] ChicagoDuan commented on #3193
Now health.hpp doesn't look for OperationalStatus.
You can today set health of Fan using OperationalStatus, because it not uses health.hpp

[2021-05-24 10:58] rfrandse commented on #690
refresh

[2021-05-24 11:03] rfrandse commented on #3129
refresh

[2021-05-24 11:04] rfrandse commented on #1193
refresh

[2021-05-24 11:06] rfrandse commented on #1328
refresh

[2021-05-24 11:08] rfrandse commented on #1513
refresh

[2021-05-24 11:09] rfrandse commented on #1523
refresh

[2021-05-24 11:12] rfrandse commented on #1882
refresh

[2021-05-24 11:12] rfrandse commented on #1891
refresh

[2021-05-24 11:13] rfrandse commented on #1917
refresh

[2021-05-24 13:47] sampmisr commented on #1986
this was done via https://github.com/ibm-openbmc/dev/issues/2799

[2021-05-24 13:47] #1986 closed

[2021-05-24 13:47] sampmisr commented on #1995
closing this issue as pldm work is completed

[2021-05-24 13:47] #1995 closed

[2021-05-24 14:39] #1672 closed

[2021-05-24 14:40] smccarney commented on #1672
This has been implemented

[2021-05-24 14:41] smccarney commented on #2567
Performed the additional testing as part of the end-to-end testing of sensor monitoring.

[2021-05-24 14:41] #2567 closed

[2021-05-24 14:51] smccarney commented on #2175
I believe this issue can be closed.

*Error Scenarios*

1. User manually re-runs the configure service via systemctl (systemctl restart phosphor-regulators-config.service). If the system is already powered on (phosphor-regulators has already configured the regulators) the service should do nothing.

The hardware team has discovered that calling `regsctl config` is a good way of testing JSON config

[2021-05-24 14:51] #2175 closed

[2021-05-24 16:57] mzipse commented on #1979
Per feedback from Todd, we decided not to do this support.  Closing the story.

[2021-05-24 16:57] #1979 closed

[2021-05-24 19:41] derekhoward55 commented on #1863
EPOW full support moved to https://github.com/ibm-openbmc/dev/issues/585.
UPS support tracked with https://github.com/ibm-openbmc/dev/issues/571.

Closing this one out.

[2021-05-24 19:42] #1863 closed

[2021-05-24 23:12] gtmills opened #3211 "Need a SystemType for /redfish/v1/Systems/hypervisor"
[code]

"SystemType": "Physical" for /redfish/v1/Systems/system probably

``` "Virtual": "A virtual machine instance running on this system.",``` for /redfish/v1/Systems/hypervisor

[2021-05-25 05:37] amitay commented on #2915
I am working on it.

[2021-05-25 05:41] lxwinspur commented on #1763
@mzipse @joseph-reynolds
Around `disabling SSH`, we update the `srvcfg-manager` code and pushed a new patch, Please review these.
https://gerrit.openbmc-project.xyz/q/topic:%22disabling+SSH%22+(status:open%20OR%20status:merged)

@joseph-reynolds Around this issue, I have a question:
Why need to keep the existing connections when we disabling SSH? I think we need to disable all connections(include

[2021-05-25 06:30] ojayanth opened #3212 "pdbg: openbmc required HW access API's definition"
Finalize the design direction to use common HW access API's to check HW states and othe miscellaneous functions.

Requirements details available here #2919 #3119 #3120

[2021-05-25 06:32] ojayanth commented on #2919
Reducing complexity , API definitions tracked using #3212

[2021-05-25 06:33] ojayanth commented on #3120
API definitions tracked using #3212

[2021-05-25 06:33] ojayanth commented on #3119
API definitions tracked using #3212

[2021-05-25 06:35] ojayanth commented on #3212
Discussed with @amitay and the direction is to create new library in pdbg repositories to add all required hardware specific wrapper function required for opebmc.

[2021-05-25 10:35] sumitk56 commented on #3073
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-logging/+/43334

[2021-05-25 10:43] rfrandse commented on #2062
refresh

[2021-05-25 10:45] rfrandse commented on #2171
refresh

[2021-05-25 10:47] rfrandse commented on #242
refresh

[2021-05-25 10:47] rfrandse commented on #2305
refresh

[2021-05-25 10:50] rfrandse commented on #2428
refresh

[2021-05-25 10:52] rfrandse commented on #2475
refresh

[2021-05-25 10:52] rfrandse commented on #2520
refresh

[2021-05-25 10:53] rfrandse commented on #559
refresh

[2021-05-25 10:54] rfrandse commented on #568
refresh

[2021-05-25 10:55] rfrandse commented on #574
refresh

[2021-05-25 10:56] rfrandse commented on #577
refresh

[2021-05-25 10:57] rfrandse commented on #2672
refresh

[2021-05-25 10:59] rfrandse commented on #690
refresh

[2021-05-25 11:00] rfrandse commented on #767
refresh

[2021-05-25 11:03] rfrandse commented on #904
refresh

[2021-05-25 11:04] rfrandse commented on #2964
refresh

[2021-05-25 11:04] rfrandse commented on #3016
refresh

[2021-05-25 11:05] rfrandse commented on #3117
refresh

[2021-05-25 11:06] rfrandse commented on #1321
refresh

[2021-05-25 11:10] rfrandse commented on #1494
refresh

[2021-05-25 11:10] rfrandse commented on #1520
refresh

[2021-05-25 11:12] rfrandse commented on #1570
refresh

[2021-05-25 11:12] rfrandse commented on #1571
refresh

[2021-05-25 11:12] rfrandse commented on #612
refresh

[2021-05-25 11:13] rfrandse commented on #1737
refresh

[2021-05-25 11:15] rfrandse commented on #1929
refresh

[2021-05-25 11:17] rfrandse commented on #2040
refresh

[2021-05-26 10:43] rfrandse commented on #2058
refresh

[2021-05-26 10:45] rfrandse commented on #2171
refresh

[2021-05-26 10:47] rfrandse commented on #242
refresh

[2021-05-26 10:50] rfrandse commented on #2428
refresh

[2021-05-26 10:52] rfrandse commented on #2475
refresh

[2021-05-26 10:55] rfrandse commented on #577
refresh

[2021-05-26 11:03] rfrandse commented on #3016
refresh

[2021-05-26 11:04] rfrandse commented on #1193
refresh

[2021-05-26 11:05] rfrandse commented on #1258
refresh

[2021-05-26 11:07] rfrandse commented on #1364
refresh

[2021-05-26 11:08] rfrandse commented on #1494
refresh

[2021-05-26 11:09] rfrandse commented on #1520
refresh

[2021-05-26 11:09] rfrandse commented on #1537
refresh

[2021-05-26 11:11] rfrandse commented on #1737
refresh

[2021-05-26 13:38] ojayanth commented on #1741
@mzipse FYI.

[2021-05-26 14:35] derick-montague opened #3213 "GUI : Design : Hardware Deconfiguration Policy"
## Summary
The goal is to unify HW deconfiguration and `deconfiguration policies on the same page (may not need policies)` The proposed design that was created in September does not include the policy settings for HW deconfiguration.

Due to backend constraints, there are several aspects of the HW Deconfiguration design that have changed that include:
1. Different resources (Processors and DIMMs)

[2021-05-26 14:46] sneha787 commented on #3172
resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/43500

[2021-05-26 14:49] dixsie commented on #3102
I suggest wrapping each term & description in a single definition list instead of adding a new style because
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dl#single_term_and_description

[2021-05-26 18:13] dixsie opened #3214 "GUI : FED : Add download PEL button to event logs"
## Overview
- [ ] User can download the PEL associated with each event log entry

## UI Checklist
### Browser Tests (Chrome, Firefox, Safari (Mac), Edge (Windows))
- [ ] Tested responsive layout on supported viewport sizes
- [ ] Verified functionality works as expected, e.g. success and failure use cases
- [ ] Resolved any JavaScript errors thrown to the console

### Accessibility Tests
- [ ] Veri

[2021-05-26 21:07] gtmills commented on #1068
Just need to implement the Redfish here for AutomaticRetryConfig.
D-Bus is here.

[2021-05-26 21:55] mzipse commented on #3182
@bjwyman , I'm going to assign this to you to investigate.  @derekhoward55 , fyi.

[2021-05-26 21:59] mzipse commented on #492
@msbarth , is this issue needed anymore?.  We have no plans to do anything on P9 servers.  And I'm guessing you have this covered somehow on the P10 servers, true?

[2021-05-27 10:45] rfrandse commented on #2183
refresh

[2021-05-27 10:47] rfrandse commented on #2305
refresh

[2021-05-27 10:50] rfrandse commented on #2428
refresh

[2021-05-27 10:55] rfrandse commented on #577
refresh

[2021-05-27 10:55] rfrandse commented on #579
refresh

[2021-05-27 10:55] rfrandse commented on #611
refresh

[2021-05-27 10:57] rfrandse commented on #654
refresh

[2021-05-27 10:58] rfrandse commented on #2733
refresh

[2021-05-27 10:59] rfrandse commented on #767
refresh

[2021-05-27 11:02] rfrandse commented on #904
refresh

[2021-05-27 11:03] rfrandse commented on #3016
refresh

[2021-05-27 11:04] rfrandse commented on #3143
refresh

[2021-05-27 11:04] rfrandse commented on #3144
refresh

[2021-05-27 11:05] rfrandse commented on #1176
refresh

[2021-05-27 11:05] rfrandse commented on #1193
refresh

[2021-05-27 11:06] rfrandse commented on #1258
refresh

[2021-05-27 11:08] rfrandse commented on #1328
refresh

[2021-05-27 11:09] rfrandse commented on #1477
refresh

[2021-05-27 11:10] rfrandse commented on #1489
refresh

[2021-05-27 11:10] rfrandse commented on #1520
refresh

[2021-05-27 11:10] rfrandse commented on #1523
refresh

[2021-05-27 11:12] rfrandse commented on #1570
refresh

[2021-05-27 11:12] rfrandse commented on #1572
refresh

[2021-05-27 11:12] rfrandse commented on #1593
refresh

[2021-05-27 11:14] rfrandse commented on #1832
refresh

[2021-05-27 11:15] sampmisr commented on #1992
seems to be the follwing effecter in bmc:
{
        "type" : 31,
        "instance" : 0,
        "container" : 0,
        "effecters" : [{
            "set" : {
                "id" : 129,
                "size" : 1,
                "states" : [6]
            },
            "dbus" : {
                "path": "/xyz/openbmc_project/state/host0",
                "interface": "xyz.openbmc_project.Stat

[2021-05-27 11:15] rfrandse commented on #1936
refresh

[2021-05-27 11:17] rfrandse commented on #2040
refresh

[2021-05-27 16:24] derick-montague commented on #3005
WIP: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/43230

[2021-05-27 16:36] derick-montague commented on #3005
We are currently blocked due to a bug in new systems. Initiating a Resource dump results in an error. This was caused by a storage issue. Dumps were resulting in an error due to the number of dumps currently on the System.

However, on FW1020-21 we are experiencing a 404 when trying to create any dump type.
`/redfish/v1/Managers/bmc/LogServices/Dump/Actions/LogService.CollectDiagnosticData`

## Sl

[2021-05-27 17:03] ibmzach commented on #1992
That effecter only supports graceful restarts ("states": [6]), not graceful shutdowns.

[2021-05-27 17:07] derick-montague opened #3215 "GUI : FED : Table filter menu width and margins"
## Overview
The filter menu width is not wide enough to accommodate the dump types without wrapping. It will be easier to scan if we can increase the width of the menu and add more white space between the filter items.

## Acceptance criteria
To increase the readability and ease of scanning the filter menu items, this story will:
- [ ] Increase the menu width
- [ ] Increase filter menu item margin

[2021-05-27 18:32] msbarth commented on #1791
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/43594

[2021-05-27 18:33] msbarth commented on #3096
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/43591

[2021-05-28 02:52] derick-montague opened #3216 "GUI : FED : (Add story title here)"
## Overview
The themes section of the webui style guide contained a section named
theme. This section also included information about the environmental
builds. The name was misleading and confusing, so we determined in the
GUI Design Work Group to update the section name.

[2021-05-28 02:52] derick-montague opened #3217 "GUI : FED : Update Vuepress docs to change themes to custom"
## Overview
The themes section of the webui style guide contained a section named
theme. This section also included information about the environmental
builds. The name was misleading and confusing, so we determined in the
GUI Design Work Group to update the section name.

[2021-05-28 02:53] derick-montague commented on #3217
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/43139

[2021-05-28 10:09] vishwabmc opened #3218 "Cable Card Port objects are exposed for NVME JBOF"
## Actual Behavior

On rain104bmc, on PCIE slot_10, there is a JBOF card. It is reported as Cable card and its Ports have been exposed.

            │ ├─/xyz/openbmc_project/inventory/system/chassis/motherboard/pcie_cable_card10/cxp_bot
            │ └─/xyz/openbmc_project/inventory/system/chassis/motherboard/pcie_cable_card10/cxp_top

Redfish :

$ curl -k -H "X-Auth-Token: $token" -X GET https://

[2021-05-28 10:45] rfrandse commented on #2171
refresh

[2021-05-28 10:50] rfrandse commented on #2428
refresh

[2021-05-28 10:54] rfrandse commented on #574
refresh

[2021-05-28 10:55] rfrandse commented on #577
refresh

[2021-05-28 10:56] rfrandse commented on #2690
refresh

[2021-05-28 10:58] rfrandse commented on #767
refresh

[2021-05-28 11:02] rfrandse commented on #904
refresh

[2021-05-28 11:04] rfrandse commented on #1193
refresh

[2021-05-28 11:05] rfrandse commented on #1258
refresh

[2021-05-28 11:07] rfrandse commented on #1328
refresh

[2021-05-28 11:08] rfrandse commented on #1484
refresh

[2021-05-28 11:09] rfrandse commented on #1537
refresh

[2021-05-28 11:10] rfrandse commented on #1570
refresh

[2021-05-28 12:11] #3172 closed

[2021-05-28 12:13] derick-montague commented on #2312
Blocker: Waiting for `LocationIndicators` to be present in the API before merge is possible.

[2021-05-28 12:15] derick-montague commented on #2311
Blocker: Waiting for LocationIndicators to be present in the API before merge is possible.

[2021-05-28 12:15] derick-montague commented on #3068
Blocker: Waiting for LocationIndicators to be present in the API before merge is possible.

[2021-05-28 12:55] derick-montague commented on #2327
Users testing internally is complete. We need to discuss further with the BMC Engineer.

[2021-05-28 13:09] joseph-reynolds commented on #1763
I believe the direction is: all existing connections are dropped when when a service is disabled.
That corresponds to patchset 3.

[2021-05-28 13:51] derick-montague commented on #2995
@mzipse mentioned this is ready. We need to verify.

[2021-05-28 14:18] #3133 closed

[2021-05-28 14:18] #3134 closed

[2021-05-28 14:42] spinler opened #3219 "PEL user SRC parser python router"
peltool can print SRC details supplied by python modules: (https://github.com/openbmc/phosphor-logging/tree/master/extensions/openpower-pels#adding-python3-modules-for-pel-userdata-and-src-parsing).

For BMC created PELs, it calls a module called osrc.py  ('o' is the BMC creator ID').  That module will need to then lookup the actual SRC parser module based on the component ID.   Zane has an exampl

[2021-05-28 15:54] spinler commented on #976
I think the way to go that can avoid the problem is to make an archive subdirectory for the PELs, and move the files over there when the corresponding event log is deleted.   peltool could ignore those files, unless maybe a '--archive' argument was given.

We'd need to keep a cap on that directory size, probably a few MB would suffice.

We'll also need to make sure they are captured in BMC dumps.

[2021-05-28 16:24] vishwabmc commented on #2463
Code support is already in : https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/43391/

[2021-05-28 16:58] derick-montague commented on #1042
Updated design and added to the design review project in the webui-vue repo.

[2021-05-28 17:00] derick-montague commented on #2309
Is there a Gerrit review for this story? @dixsie

[2021-05-28 17:01] derick-montague commented on #2156
@dixsie - It looks like all FEDs are assigned to review this story. Could you work with the team to determine who the CC'd people should be?

[2021-05-28 17:03] derick-montague commented on #2311
@sandeepasingh116 - It looks like all the FEDs are assigned as reviewers. Can you work with the team to determine who should be assigned and who should be CC'd?

[2021-05-28 17:04] derick-montague commented on #1288
@sandeepasingh116 - It looks like all the FEDs are assigned as reviewers. Can you work with the team to determine who should be assigned and who should be CC'd?

[2021-05-28 17:06] derick-montague commented on #3027
@dixsie - It looks like all the FEDs are assigned as reviewers. Can you work with the team to determine who should be assigned and who should be CC'd?

[2021-05-28 17:07] derick-montague commented on #3028
@dixsie - It looks like all the FEDs are assigned as reviewers. Can you work with the team to determine who should be assigned and who should be CC'd?

[2021-05-28 17:08] derick-montague commented on #3185
I talked to Gunnar and we don't have the resources to set the priority to add this to BMCWeb.

[2021-05-28 17:10] derick-montague commented on #3005
@sneha787 - It looks like all the FEDs are assigned as reviewers. Can you work with the team to determine who should be assigned and who should be CC'd?

[2021-05-28 17:11] dixsie commented on #2309
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/43231

[2021-05-29 10:44] rfrandse commented on #2120
refresh

[2021-05-29 10:45] rfrandse commented on #2171
refresh

[2021-05-29 10:45] rfrandse commented on #2173
refresh

[2021-05-29 10:47] rfrandse commented on #2428
refresh

[2021-05-29 10:49] rfrandse commented on #2398
refresh

[2021-05-29 10:51] rfrandse commented on #412
refresh

[2021-05-29 10:54] rfrandse commented on #577
refresh

[2021-05-29 10:55] rfrandse commented on #2672
refresh

[2021-05-29 10:56] rfrandse commented on #2690
refresh

[2021-05-29 11:02] rfrandse commented on #3016
refresh

[2021-05-29 11:03] rfrandse commented on #1172
refresh

[2021-05-29 11:04] rfrandse commented on #1193
refresh

[2021-05-29 11:04] rfrandse commented on #1258
refresh

[2021-05-29 11:06] rfrandse commented on #1328
refresh

[2021-05-29 11:08] rfrandse commented on #1477
refresh

[2021-05-29 11:08] rfrandse commented on #1520
refresh

[2021-05-29 11:09] rfrandse commented on #1523
refresh

[2021-05-29 11:09] rfrandse commented on #1537
refresh

[2021-05-29 11:11] rfrandse commented on #612
refresh

[2021-05-29 11:13] rfrandse commented on #1938
refresh

[2021-05-30 10:47] rfrandse commented on #242
refresh

[2021-05-30 10:54] rfrandse commented on #577
refresh

[2021-05-30 11:01] rfrandse commented on #3016
refresh

[2021-05-30 11:05] rfrandse commented on #1364
refresh

[2021-05-30 11:06] rfrandse commented on #1494
refresh

[2021-05-31 05:09] sampmisr commented on #1992
yeah corrected my stmt. pls check the above notes

[2021-05-31 05:09] #1992 closed

[2021-05-31 05:54] lxwinspur commented on #2150
@spinler
Thanks for your mail.
I am working on this task and have already started coding
At present, I have a couple of  questions that I need to confirm with you:

[code]
1. Are all sensor IDs and entity IDs stored in the `temp_label` file or `temp_input`?
2. If the value of the `dimm2` sensor is equal to `47`, should its value be like this? (D0020047)? Note that it is `47` instead of `47000`?
3.

[2021-05-31 08:52] #3073 closed

[2021-05-31 10:44] rfrandse commented on #2099
refresh

[2021-05-31 10:51] rfrandse commented on #2475
refresh

[2021-05-31 10:54] rfrandse commented on #577
refresh

[2021-05-31 10:56] rfrandse commented on #652
refresh

[2021-05-31 11:01] rfrandse commented on #904
refresh

[2021-05-31 11:03] rfrandse commented on #3016
refresh

[2021-06-01 10:42] sandeepasingh116 commented on #3208
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/43668

[2021-06-01 11:06] rfrandse commented on #1328
refresh

[2021-06-01 14:53] spinler commented on #2150
1.  temp_input holds the actual temperature values.  temp_label is the file with the IDs
2.  I think it would be D0000047.  I'm not sure where the 2 came from?
3.  Those are documented in the OCC spec.  I'll check on its availability.  In the meantime, here's a snippet:

FRU Type - 1 byte.  Indicates what type of FRU the temperature is for:
0x00: Processor (core temperature)
0x01: Internal Memory

[2021-06-01 21:51] spinler commented on #3194
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/43688

[2021-06-02 02:47] lxwinspur commented on #2150
@spinler

We assume that the temperature value of `dimm2` is `47000`:
tempX_input = 47000
tempX_lable = D002iiii

Note:
[code]
Correct?

Because:
[code]
But I do not understand what the value of `iiii` is?

Also, for the `tempX_fru_type`:
[code]
I have some doubts here. We judge whether it is `DImm` or `Core`. It is judged by the first byte of `tempX_label` (D or C)
So, if `tempX_lable = D002iiii`

[2021-06-02 03:50] Erich-Hauptli commented on #3107
Please commit this fix without the IP.  Update the error to "Unable to start a remote KVM session. Only 1 active KVM session is supported."  We can investigate adding the IP in a future commit.

[2021-06-02 10:44] rfrandse commented on #2099
refresh

[2021-06-02 10:45] rfrandse commented on #2171
refresh

[2021-06-02 10:54] rfrandse commented on #574
refresh

[2021-06-02 10:55] rfrandse commented on #577
refresh

[2021-06-02 11:06] rfrandse commented on #1328
refresh

[2021-06-02 14:54] spinler commented on #976
As far as the  size cap goes, I think we're going to have to build it into the current size management checks.  So the total size of the archived PELs will count toward the 20MB cap.  To keep it a little easier, when we reach the warning limit, then I think we can delete the whole archive (as opposed to deleting just enough of it), and see if it's still over the limit before doing anything else.

[2021-06-02 15:14] derick-montague commented on #2802
We need to follow up with @dhruvibm - he is the SME to determine is this work can be done.

[2021-06-02 15:16] derick-montague commented on #2995
@asmithakarun is the SME who can determine if this work is ready for implementation based on feedback from the SoS trello card that @rfrandse updated today.

[2021-06-02 16:12] msbarth commented on #1870
Mimic the functionality of the `fansctl` bash script downstream into a C++ application that will be installed into the BMC image when phosphor-fan-control is also included in the image. The use of `busctl` commands within the bash script should be replaced with the appropriate dbus method calls using functions from sdbusplus.hpp.

It is recommended to attempt to keep the same output formatting tha

[2021-06-02 16:12] spinler commented on #2204
This link should help (thanks @santoshpuranik):

[code]

[2021-06-02 16:29] spinler commented on #1867
I think for now, we just need to handle the known callouts we have that point at connectors - the P0-T10 and P0-T4 connectors that are in the device path callouts JSON.  To handle these, the code can look for a '-T' at the end of the location code, strip it off, and then get the FN/CC/SN for that, which would be P0 in this case.

[2021-06-02 17:57] #2994 closed

[2021-06-02 17:59] msbarth commented on #1363
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/43602

[2021-06-02 18:16] spinler commented on #2150
I think I see the confusion because of something I didn't mention.  This definition:
[code]
is for the *uint32_t* version of the ID, not a string.  since that is what hostboot gives to the OCC, and what the OCC actually sends down in the poll response.  The device driver then converts that into the string found in the label file.

So the uint32_t value is 0xD0000002, and the label would be "D00000

[2021-06-02 18:25] spinler commented on #2150
For the other question, the reason the FRU type is embedded in the label is because the IDs are also what the OCC uses to callout FRUs for errors, so when hostboot gets those errors from the OCC it needs to be able to know the FRU type just from the ID since that is all it has, unlike for us where we also have the fru_type field of the poll response.

I think if the fru type embedded in the label

[2021-06-02 20:27] sneha787 commented on #3102
resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/43712

[2021-06-02 21:07] bjwyman commented on #918
Right now, the power state we are looking at is the pgood, and it is clearing faults when pgood goes active.
`constexpr auto POWER_IFACE = "org.openbmc.control.Power";`
`constexpr auto POWER_OBJ_PATH = "/org/openbmc/control/power0";`

That is AFTER things have started the enable and power up process. Ideally we would clear faults as close as possible to the point where we are going to activate the

[2021-06-03 07:45] lxwinspur commented on #2150
@spinler @mzipse

About this issue, I have pushed a new commit to verify the value of the tempX_label file
https://gerrit.openbmc-project.xyz/c/openbmc/openpower-occ-control/+/43734

Could you review it? Thanks a lot :)

[2021-06-03 09:10] rsnair commented on #3094
Reduced the sizing as some of the work is already done via https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/38570 #1747

[2021-06-03 09:27] RameshIyyar commented on #2224
Closing this story and it tracking in https://github.com/ibm-openbmc/dev/issues/2679

[2021-06-03 09:27] #2224 closed

[2021-06-03 10:20] rsnair commented on #2765
@derick-montague This story is not adding any features. It's only for enabling UT which is needed for the master merge. This will be a lower priority and can be worked post September 21

[2021-06-03 10:43] rfrandse commented on #2058
refresh

[2021-06-03 10:43] rfrandse commented on #2059
refresh

[2021-06-03 10:44] rfrandse commented on #2099
refresh

[2021-06-03 10:45] rfrandse commented on #2060
refresh

[2021-06-03 10:47] rfrandse commented on #2428
refresh

[2021-06-03 10:49] rfrandse commented on #2316
refresh

[2021-06-03 10:49] rsnair opened #3220 "Dump: Skip dump collection on secondary procs during istep 9-10"
Designs and impacts are being hashed out. @dhruvibm Please update the direction once you get clarity. This is being worked for Denali right now.

[2021-06-03 10:50] rfrandse commented on #2398
refresh

[2021-06-03 10:51] rfrandse commented on #412
refresh

[2021-06-03 10:52] rfrandse commented on #2476
refresh

[2021-06-03 10:54] rfrandse commented on #567
refresh

[2021-06-03 10:55] rfrandse commented on #574
refresh

[2021-06-03 10:56] rfrandse commented on #577
refresh

[2021-06-03 10:58] rfrandse commented on #652
refresh

[2021-06-03 11:02] rfrandse commented on #904
refresh

[2021-06-03 11:03] rfrandse commented on #2964
refresh

[2021-06-03 11:04] rfrandse commented on #3016
refresh

[2021-06-03 11:05] rfrandse commented on #1172
refresh

[2021-06-03 11:06] rfrandse commented on #1258
refresh

[2021-06-03 11:06] rfrandse commented on #1322
refresh

[2021-06-03 11:08] rfrandse commented on #1328
refresh

[2021-06-03 11:09] rfrandse commented on #1359
refresh

[2021-06-03 11:10] rfrandse commented on #1477
refresh

[2021-06-03 11:10] rfrandse commented on #1513
refresh

[2021-06-03 11:10] rfrandse commented on #1520
refresh

[2021-06-03 11:12] rfrandse commented on #1570
refresh

[2021-06-03 11:12] rfrandse commented on #1571
refresh

[2021-06-03 11:13] rfrandse commented on #1737
refresh

[2021-06-03 11:15] rfrandse commented on #1936
refresh

[2021-06-03 11:16] rfrandse commented on #1942
refresh

[2021-06-03 11:16] rfrandse commented on #1960
refresh

[2021-06-03 12:41] dixsie commented on #3203
resolved by: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/43751

[2021-06-03 19:15] spinler commented on #3219
We decided to have this in a standalone repo, and that works is being tracked elsewhere. Closing.

[2021-06-03 19:15] #3219 closed

[2021-06-04 04:49] ojayanth commented on #1470
This is already addressed in the latest build

[2021-06-04 04:49] #1470 closed

[2021-06-04 10:27] AndyYFWang commented on #3107
Hi @Erich-Hauptli  @gtmills

Regarding the part of adding the alert message, I already have a solution.
But I have discovered another new issue(?).
After I set the maxSession of KVM to 1, I found that abnormalities occurred when running on the "Firefox" browser.
(https://github.com/ibm-openbmc/bmcweb/blob/master/include/kvm_websocket.hpp#L15)

As shown in the figure below, the kvm session is norma

[2021-06-04 10:43] rfrandse commented on #2058
refresh

[2021-06-04 10:43] rfrandse commented on #2059
refresh

[2021-06-04 10:44] rfrandse commented on #2060
refresh

[2021-06-04 10:47] rfrandse commented on #2428
refresh

[2021-06-04 10:54] rfrandse commented on #577
refresh

[2021-06-04 10:57] rfrandse commented on #690
refresh

[2021-06-04 11:02] rfrandse commented on #3016
refresh

[2021-06-04 11:03] rfrandse commented on #1172
refresh

[2021-06-04 11:03] rfrandse commented on #1193
refresh

[2021-06-04 11:06] rfrandse commented on #1328
refresh

[2021-06-04 11:07] rfrandse commented on #1513
refresh

[2021-06-04 11:12] rfrandse commented on #1960
refresh

[2021-06-04 12:16] ParishrutB commented on #3203
Update after 06/03/2021

![image](https://user-images.githubusercontent.com/61419136/120799703-b6d4e200-c55c-11eb-9818-4a3f26b71989.png)

[2021-06-04 19:14] derick-montague opened #3221 "GUI : FED : Update navigation and routes to use updated IA"
## Overview
The IA study revealed a need to change the navigation and routing for the UI. The following changes need to be made to accommodate the IA findings. This could turn into a large story if we determine we need to accommodate changes in store and i18n key changes. It will be beneficial to break this story down in a refinement session.

## Acceptance criteria
The following are the names and

[2021-06-04 20:54] derick-montague commented on #1303
I expect this is supposed to be a FED story. Is that accurate @ParishrutB ?

[2021-06-05 08:35] asmithakarun commented on #2995
The Redfish APIs are all ready for the hostboot dump.
- Listing of dumps
- Deletion of a single dump
- Delete all dumps
The APIs are same as the other dumps (system/resource) under /redfish/v1/Systems/system path. Just that each dump entry id will be prefixed by "Hostboot_", "Resource_", "System_" based on the respective dump types!

[2021-06-05 10:42] rfrandse commented on #2058
refresh

[2021-06-05 10:46] rfrandse commented on #2428
refresh

[2021-06-05 10:48] rfrandse commented on #2326
refresh

[2021-06-05 10:49] rfrandse commented on #2398
refresh

[2021-06-05 10:54] rfrandse commented on #577
refresh

[2021-06-05 11:01] rfrandse commented on #3016
refresh

[2021-06-05 11:03] rfrandse commented on #1258
refresh

[2021-06-05 11:06] rfrandse commented on #1523
refresh

[2021-06-05 14:33] ojayanth commented on #3212
Int checkattn(  bool & state )
      global attention status register and mask for SBE error. If both these bits are ‘1’ for any proc the attention gpio should have gone active and triggered the attention handler.
     global interrupt status register is cfam 0x1007, global interrupt mask is cfam 0x100d, sbe error is bit 30

Int setSBEState(const Target* procTarget, SBE_STATE sbeSatate)
{
     Upd

[2021-06-06 10:53] rfrandse commented on #577
refresh

[2021-06-06 11:01] rfrandse commented on #3117
refresh

[2021-06-07 05:38] ojayanth commented on #1966
Scope:
 - Enable Chip-op Error Path handling TODos'
 - Enable deconfig support created phal boot errors.

[2021-06-07 05:42] ojayanth commented on #2225
Cleanup issue , updating Milestone accordingly.

[2021-06-07 07:31] ojayanth commented on #2525
Created upstream repos.

https://github.com/open-power/ipl
https://github.com/open-power/pdata
https://github.com/open-power/libekb_p10
https://github.com/open-power/pub-ekb
https://github.com/open-power/guard

[2021-06-07 07:31] ojayanth commented on #2525
https://github.com/open-power/pub-ekb -- Mirroring enabled .

[2021-06-07 09:28] clairefish commented on #3107
Hi @Erich-Hauptli @gtmills

It will be happened on Firefox browser only and won't impact to KVM function.
You can still keep using KVM function after refreshing the web page.
We suppose it's the limitation of Firefox, it could be listed in a known issue.
Do you have any concern with this condition?
If there is no further problem, we will still push this solution to github.

P.S. We can provide the

[2021-06-07 09:44] ojayanth commented on #3090
libekb PR's related this work

libekb: Add p10_extract_sbe_rc hwp support #24
libekb: Remove unused fapi attribute xml files. #25
SBE Hardware procedure Error plat support #26
plat: SBE Hardware procedure Error support #27
libekb: Add SBE FFDC packet processing support #28

[2021-06-07 09:44] #3090 closed

[2021-06-07 09:48] ParishrutB commented on #1303
Yes

[2021-06-07 10:45] rfrandse commented on #2183
refresh

[2021-06-07 10:48] rfrandse commented on #2305
refresh

[2021-06-07 10:48] rfrandse commented on #2316
refresh

[2021-06-07 10:50] rfrandse commented on #2398
refresh

[2021-06-07 10:57] rfrandse commented on #690
refresh

[2021-06-07 11:05] rfrandse commented on #1328
refresh

[2021-06-07 11:12] rfrandse commented on #1960
refresh

[2021-06-07 11:12] rfrandse commented on #1964
refresh

[2021-06-07 12:14] sandeepasingh116 commented on #3215
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/43834

[2021-06-07 13:21] sneha787 commented on #3186
resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/43800

[2021-06-07 14:42] joseph-reynolds commented on #2243
This feature is also requested here: https://github.com/openbmc/obmc-console/issues/17

[2021-06-07 19:19] bjwyman commented on #2430
Need to coordinate 3rd power supply address change now?
https://gerrit.openbmc-project.xyz/c/openbmc/entity-manager/+/43797
Linux device tree will also require address change.

[2021-06-07 21:06] amboar commented on #2243
Can you explain why this is necessary?

[2021-06-08 10:47] rfrandse commented on #2428
refresh

[2021-06-08 10:47] rfrandse commented on #2305
refresh

[2021-06-08 10:52] rfrandse commented on #559
refresh

[2021-06-08 11:02] rfrandse commented on #3016
refresh

[2021-06-08 11:04] rfrandse commented on #1258
refresh

[2021-06-08 11:07] rfrandse commented on #1520
refresh

[2021-06-08 13:02] ojayanth commented on #2800
https://gerrit.openbmc-project.xyz/c/openbmc/openpower-proc-control/+/43855
https://gerrit.openbmc-project.xyz/c/openbmc/openpower-proc-control/+/43854

[2021-06-08 13:43] ParishrutB commented on #1475
**For link properties and VPD**

Comments from @santoshpuranik
There is a lot to be figured out for Link properties and PCIe VPD here:
- Where does the data come from? Most of this information has to be sent to us by PHYP
- How is the data going to be represented on BMC's D-Bus model?
- The Redfish API to represent this data and the relations.

@sampmisr  (SME for link properties) also communicate

[2021-06-08 13:44] ParishrutB commented on #1533
SME: @santoshpuranik
This feature is yet to be discussed.
https://github.com/ibm-openbmc/dev/issues/1475#issuecomment-856780060

[2021-06-08 15:21] msbarth opened #3222 "PFP::control - Fan control crashing when target sensors not available"
When any of the configured target sensors that fan control uses doesnt exist on dbus, the fan control service crashes which could be setup to then trip a fan watchdog service. In the case seen with IBM systems, the fan control device driver failed to get bound causing no target senors to get created on dbus. This in turn made fan control crash, tripping the fan watchdog which causes the fan monito

[2021-06-08 15:23] bjwyman commented on #2375
@mzipse No:

[2021-06-08 15:51] bjwyman commented on #1748
PEC was disabled, but apparently we should have sent a command to the power supply to disable it.
Still have this issue: https://github.com/ibm-openbmc/dev/issues/2375

[2021-06-08 17:32] derick-montague commented on #3005
We were able to get a system up and tested today. There were some new discoveries and some issues we need to address.

1. There  were JavaScript errors that were keeping the table from displaying correctly when running the code locally regarding an `invalid date format`
        ![image](https://user-images.githubusercontent.com/1183515/121222196-f0069e00-c84b-11eb-8f1c-83f30f0edbe7.png)
2. There a

[2021-06-08 18:02] msbarth commented on #2982
There was a rainier in MFG with bad I2C to the fan presence IO expander where we got a good create of this fail:
[code]

[2021-06-09 04:28] #3217 closed

[2021-06-09 04:32] RameshIyyar commented on #2195
@ojayanth @rsnair The flow for this issue is, guard record created for master processor and Field engineer replaced the faulty master processor then attempting booting so, that time we should ignore the guard record of master processor to apply ?

If so, How phal can get to know the processor difference ? serial and part number ? Looks, **libguard** did not add those filed in guard record due to *