[2022-06-08 07:36] lxwinspur commented on #1372
https://gerrit.openbmc.org/c/openbmc/bmcweb/+/32174
waiting for review

[2022-06-08 10:51] rfrandse commented on #2564
refresh

[2022-06-08 10:54] rfrandse commented on #608
refresh

[2022-06-08 10:55] rfrandse commented on #654
refresh

[2022-06-08 11:00] rfrandse commented on #904
refresh

[2022-06-08 11:00] rfrandse commented on #907
refresh

[2022-06-08 11:02] rfrandse commented on #3078
refresh

[2022-06-08 11:04] rfrandse commented on #1321
refresh

[2022-06-08 11:07] rfrandse commented on #1328
refresh

[2022-06-08 11:09] rfrandse commented on #3565
refresh

[2022-06-08 11:13] rfrandse commented on #1832
refresh

[2022-06-09 06:07] lxwinspur commented on #3583
review by: https://gerrit.openbmc.org/c/openbmc/pldm/+/54369

[2022-06-09 10:45] rfrandse commented on #242
refresh

[2022-06-09 10:50] rfrandse commented on #2475
refresh

[2022-06-09 10:53] rfrandse commented on #577
refresh

[2022-06-09 11:00] rfrandse commented on #904
refresh

[2022-06-09 11:01] rfrandse commented on #3016
refresh

[2022-06-09 11:08] rfrandse commented on #3565
refresh

[2022-06-09 20:40] NodeMan97 commented on #3557
https://gerrit.openbmc.org/c/openbmc/phosphor-logging/+/53420

[2022-06-09 20:40] #3557 closed, assigned to NodeMan97

[2022-06-09 20:40] NodeMan97 commented on #3563
https://gerrit.openbmc.org/c/openbmc/phosphor-state-manager/+/53320

[2022-06-09 20:40] #3563 closed, assigned to NodeMan97

[2022-06-09 20:43] NodeMan97 commented on #3578
https://gerrit.openbmc.org/c/openbmc/phosphor-state-manager/+/54138

[2022-06-09 20:43] #3578 closed, assigned to NodeMan97

[2022-06-10 05:53] sunharis commented on #3326
Upstream will have the standard DMTF redfish property implementation

[2022-06-10 05:53] #3326 closed

[2022-06-10 05:54] sunharis commented on #3444
Upstream commits are created

[2022-06-10 05:54] #3444 closed

[2022-06-10 19:39] gtmills commented on #3587
We figured out a way to do this without this so not required for GA at this point

[2022-06-14 10:46] rfrandse commented on #243
refresh

[2022-06-14 10:50] rfrandse commented on #407
refresh

[2022-06-14 10:54] rfrandse commented on #577
refresh

[2022-06-14 10:54] rfrandse commented on #608
refresh

[2022-06-14 11:09] rfrandse commented on #3565
refresh

[2022-06-14 11:09] rfrandse commented on #3575
refresh

[2022-06-15 01:46] gtmills opened #3588 "Rainier:DateTime Manual setting error out"
Downstream defect is https://w3.rchland.ibm.com/projects/SLIC/bestquest/index.php?defect=SW552970

Reported by @gkeishin
 Test:
1. Load the latest driver 5.12  1020.2224.20220613a
2. Try to set to MANUAL mode DateTime

Expectation: Sets to manual and DateTime is updated

Observation:  Errors out while trying to set

Error saving date and time settings

1st recreate
[code]

2nd recreate
[code]

3rd

[2022-06-15 11:08] rfrandse commented on #3565
refresh

[2022-06-15 19:52] sbteeks opened #3589 "IPMI: Support listing most/all sensors and SDRs"
Currently we support listing sensors related to DIMMs, CPUs, FANs, Ambient temperatures, CPU(Core0) and DIMM(dram) temperatures. However, there is a need for other sensors for current, voltage, and power consumption. We need to support these in the future release...

[2022-06-15 19:58] mzipse commented on #3589
We will consider this for a future release.  By rebasing with upstream master in a future release, there is opportunity to expand the number of sensors beyond the current 255 limitations.

[2022-06-16 11:08] rfrandse commented on #3565
refresh

[2022-06-16 13:28] #3587 closed, assigned to aahmed-2

[2022-06-17 03:19] lxwinspur commented on #3588
@gtmills we cant access this URL
and I tested it with the remote rainier system(10.250.3.20), it works fine

Also, could you give us an NTP service IP address? and lemme test again?

[2022-06-17 11:07] rfrandse commented on #3565
refresh

[2022-06-17 20:21] derekhoward55 commented on #1708
FTC team will do system - level test now that all defect fixes are in.

[2022-06-17 20:21] #1708 closed

[2022-06-18 10:51] rfrandse commented on #567
refresh

[2022-06-20 03:31] manojkiraneda commented on #3583
merged both upstream & downstream.

[2022-06-20 03:31] #3583 closed, assigned to lxwinspur

[2022-06-21 11:08] rfrandse commented on #3565
refresh

[2022-06-21 19:13] derekhoward55 commented on #1719
All work items complete for this issue.

[2022-06-21 19:13] #1719 closed

[2022-06-21 21:15] gtmills commented on #2472
@derekhoward55 I moved this to Code review in driver, let me know if there is still something needed here

[2022-06-21 21:25] gtmills commented on #3386
MERGED. Close.

[2022-06-21 21:25] #3386 closed

[2022-06-21 21:26] gtmills commented on #2748
Merged.

[2022-06-21 21:26] #2748 closed

[2022-06-22 08:43] lxwinspur commented on #3588
@mzipse
FYI

[2022-06-22 09:16] sagisin opened #3590 "PLDM: Make BIOS attributes system specific"
Create BIOS attributes system specific to suit all the types of platforms- ie, Rainier, Everest etc.

[2022-06-22 10:50] rfrandse commented on #2467
refresh

[2022-06-22 11:06] rfrandse commented on #1328
refresh

[2022-06-22 11:08] rfrandse commented on #3565
refresh

[2022-06-22 11:15] rfrandse commented on #2040
refresh

[2022-06-22 15:45] #568 closed

[2022-06-22 15:53] #2385 closed

[2022-06-22 18:58] #2750 closed

[2022-06-23 10:49] rfrandse commented on #2429
refresh

[2022-06-23 10:49] rfrandse commented on #2454
refresh

[2022-06-23 10:52] rfrandse commented on #567
refresh

[2022-06-23 10:53] rfrandse commented on #573
refresh

[2022-06-23 10:53] rfrandse commented on #574
refresh

[2022-06-23 11:04] rfrandse commented on #1321
refresh

[2022-06-23 11:07] rfrandse commented on #1328
refresh

[2022-06-23 11:08] rfrandse commented on #1403
refresh

[2022-06-23 11:09] rfrandse commented on #3566
refresh

[2022-06-23 11:12] rfrandse commented on #1704
refresh

[2022-06-23 12:05] mzipse commented on #3588
@lxwinspur , all the information we have in the link that you can't access has already been placed in this github issue.  Unfortunately, that's all the information we have to work with.

[2022-06-23 12:08] mzipse commented on #3588
There was one thought that perhaps the date/time was set too quickly?  ie. did the user try to set it before the BMC was really fully operational.  That might be worth experimenting with.

[2022-06-23 13:16] mzipse commented on #3588
@lxwinspur , another thing to try to recreate this is to have the GUI up and running.  Then have the BMC GUI do a BMC reboot.  It takes approximately a minute for the BMC to come up.  So it's possible to then set the date/time as the bmc is coming up.  That may be where  this issue is happening at.

[2022-06-23 15:18] gtmills opened #3591 "PCIe Topology: SavePCIeTopologyInfo"
Need an Oem Property on SavePCIeTopologyInfo like we did for PCIeTopologyRefresh. Let's put it on System as well. Let's make it a PATCH and a GET.

https://github.com/ibm-openbmc/phosphor-dbus-interfaces/blob/9fe8e065b4e73a888483bafbc02d8397883d3763/yaml/com/ibm/PLDM/PCIeTopology.interface.yaml#L11

[2022-06-23 19:51] smccarney opened #3592 "Redfish: Add accuracy for power supply input power sensors"
Implement support for the Accuracy attribute of Redfish power supply input power sensors.  This is needed for EnergyStar compliance.

A short term, downstream solution was implemented as a stop-gap.  However, a proper upstream solution is needed.

## High Level Design
* Resolve open question about exact meaning of Redfish Accuracy property
* Create D-Bus interface for accuracy value
* Implement su

[2022-06-23 19:58] gtmills commented on #3592
Might just have to poke Redfish again on https://redfishforum.com/thread/657/simple-sensor-accuracy-property :/

[2022-06-23 20:01] smccarney commented on #3592
Done.

[2022-06-24 09:20] lxwinspur commented on #3588
@gtmills @mzipse

When the BMC is not fully started and we manually set the time through the GUI, it is very likely that the setting will fail:
There are two situations here:

1. The time set is incorrect, systemd's timedate1 will return a failure
[code]
https://github.com/systemd/systemd/blob/main/src/timedate/timedated.c#L899

3. Because P-T-M will initialize and update NTP at startup (`https://

[2022-06-24 10:50] rfrandse commented on #2475
refresh

[2022-06-24 10:58] lxwinspur commented on #3545
@spinler could you close this issue?

[2022-06-24 11:00] rfrandse commented on #3016
refresh

[2022-06-24 11:06] rfrandse commented on #1328
refresh

[2022-06-24 11:08] rfrandse commented on #3565
refresh

[2022-06-24 11:08] rfrandse commented on #3566
refresh

[2022-06-26 11:06] rfrandse commented on #3565
refresh

[2022-06-27 15:32] spinler commented on #3545
Merged.

[2022-06-27 15:32] #3545 closed, assigned to lxwinspur

[2022-06-27 16:29] gtmills opened #3593 "GUI: FED: Bug: The GUI should not be checking model numbers to determine features"
## Expected Behavior
The GUI should not be checking model numbers to determine if we need to show a page. The concurrent maintenance page should show based on the API

## Actual Behavior
The GUI hardcodes some model numbers (this is very error-prone)

The backend needs to verify we only show battery concurrent maintenance on Everett, not rainier

[2022-06-27 17:12] derekhoward55 commented on #2990
Verified appropriate behavior on rainj645.

[2022-06-27 17:14] #2986 closed

[2022-06-28 11:06] rfrandse commented on #1328
refresh

[2022-06-28 11:08] rfrandse commented on #3565
refresh

[2022-06-29 11:08] rfrandse commented on #3565
refresh

[2022-06-29 15:51] derekhoward55 commented on #2455
Reviewed message registry and pel values.

[2022-06-29 15:51] #2455 closed

[2022-06-29 15:53] #2454 closed

[2022-06-29 19:21] derekhoward55 opened #3594 "Verify power/thermal ipmi support"
Verify IPMI/DCMI support for psu/power - rainier and everest.

Verify IPMI/DCMI support for ambient temps.  Component temps not returned via IPMI.

Verify IPMI support for fans.

[2022-06-29 19:26] derekhoward55 commented on #1709
Closing this for GA.  Incremental post-GA improvements tracked in other issues.

[2022-06-29 19:26] #1709 closed

[2022-06-29 19:53] gtmills opened #3595 "RedFish returns success on reset identify before it actually completes the operation"
From Dean's host interlock on 6/28. Need to look at this for FW1030. FYI @manojkiraneda @jinuthomas

Maury asked me to open this.

· RedFish returns success on reset identify before it actually completes the operation.
https://ibm.ent.box.com/file/977390262945

Need to probably return a task here

[2022-06-30 10:48] rfrandse commented on #2429
refresh

[2022-06-30 10:53] rfrandse commented on #574
refresh

[2022-06-30 11:08] rfrandse commented on #3565
refresh

[2022-06-30 19:58] gtmills commented on #3588
The BMC was fully started.

Did you do this and weren't able to hit?

[2022-06-30 20:00] gtmills commented on #3588
@gkeishin Anything we should add here?

[2022-06-30 20:06] derekhoward55 commented on #2472
@gtmills I finally found a system with working nvme drive temp and humidity sensors (ever20 and ever8, respectively).

`"@odata.id": ["/redfish/v1/Chassis/chassis/Sensors/Relative_Humidity"](https://ever8bmc.aus.stglabs.ibm.com/redfish/v1/Chassis/chassis/Sensors/Relative_Humidity),
"@odata.type": "#Sensor.v1_0_0.Sensor",
"Id": "Relative_Humidity",
"Name": "Relative Humidity",
"Reading": 36.4303588

[2022-06-30 20:11] #2467 closed

[2022-06-30 20:54] gtmills commented on #3588
@lxwinspur Could you try toggling back and forth on the GUI on the yellow zone system ?

[2022-06-30 21:30] #1703 closed

[2022-07-01 13:21] spinler opened #3596 "Add hysteresis to Everest ambient temp thresholds"
In Storm King.json we forgot to add 3 deg of hysteresis to the thresholds on the virtual ambient temp, so we should get that added.

Also, the HardShutdown threshold is the EPOW4 one, which should really be nonreversable but that is supposed to be accomplished with a large hysteresis so the temperature can dip below the threshold within the 15s before shutdown.  So we need to use large hysteresis

[2022-07-01 13:24] mzipse opened #3597 "GUI : FED : I/O Adapter Enlarged Capacity Upper bound improvement"
## SME
**BMC**:
**RAS**:
**PHYP**:

## FED
Nikhil
### Overview
For the Memory page setting for the I/O Adapter Enlarged Capacity, the GUI needs to show the upper bound based on the  BIOS attribute upper bound.  This upper bound also needs to be enforced when the user types in the value.  The upper bound is currently hardcoded to 21.

### Acceptance Criteria
- [ ] Feature breakdown

### cURL Comman

[2022-07-01 13:29] mzipse opened #3598 "I/O Adapter Enlarged Capacity Upper Bound calculation"
Per feedback from Travis Pizel, the I/O Adapter Enlarged Capacity upper bound varies by the model configuration and the number of slots in the system and possibly some other parameters....Travis has details.

We need to adjust the upper limit of the I/O Adapater Enlarged Capacity BIOS setting to match the specific configuration.  Current this value is set at '21', which is the largest upper bound

[2022-07-01 13:31] mzipse commented on #3597
This issue coincides with issue #3598 .

[2022-07-01 23:33] mzipse opened #3599 "SNMP errors in the Journal"
Internal number SW553815

We are seeing failures in the BMC Journal.  Fortunately everything is still work.  Would like the IPS team to investigate.

Here are the details I have:
Test Procedure:

1. Load the latest driver 1020.2226.20220630a
2. Reset BMC or post update, check for errors

Noticed in journals there is a bmcweb trying to access over 443

Jul 01 04:55:46 rainjmt02bmc systemd[1]: Start

[2022-07-02 10:51] rfrandse commented on #573
refresh

[2022-07-02 11:06] rfrandse commented on #3565
refresh

[2022-07-02 11:06] rfrandse commented on #3566
refresh

[2022-07-03 11:06] rfrandse commented on #3565
refresh

[2022-07-05 06:13] lxwinspur commented on #3588
@gtmills @mzipse
Regarding phosphor-time-manager, I pushed a new patch to print exception logs, Could you test it once after this patch is merged? Let's see what the specific error log is?
https://gerrit.openbmc.org/c/openbmc/phosphor-time-manager/+/55053/5/epoch_base.cpp#51

[2022-07-05 06:14] lxwinspur commented on #3588
Sorry, Maybe I am not following what is you mean?

[2022-07-05 12:38] gtmills opened #3600 "bmcweb: revisit our connection timeouts and have a separate image upload connection timeout"
See https://app.slack.com/client/T0JA1U9GV/drafts/thread/C1HT3FHNK-1657008136.371159 for the latest uploading an image on a slow.
We bumped the connection timeout to 26 mins for GA.

[2022-07-05 15:30] #569 closed

[2022-07-06 05:45] ojayanth commented on #3130
PR:
- https://github.com/open-power/ipl/pull/44  --Merged
- https://github.com/open-power/pdata/pull/15  --Merged
- https://github.com/open-power/libekb_p10/pull/16  --Merged
- https://gerrit.openbmc.org/q/topic:clock-redudancy  --Merged

[2022-07-06 06:42] ojayanth commented on #3130
https://github.com/open-power/op-build/pull/4844

[2022-07-06 11:02] rfrandse commented on #3129
refresh

[2022-07-06 11:08] rfrandse commented on #3565
refresh

[2022-07-07 11:07] rfrandse commented on #3565
refresh

[2022-07-07 11:44] ChicagoDuan commented on #3599
Hi @mzipse
I have solved this bug and pushed a PR to  ibm-openbmc/bmcweb: https://github.com/ibm-openbmc/bmcweb/pull/413
I have tested it on the rainier machine(10.250.3.20), and the error logs will not appear.
Please review and test this PR. if it passes, I will push it to upstream.

[2022-07-08 11:07] rfrandse commented on #3565
refresh

[2022-07-08 11:12] #886 closed

[2022-07-08 11:24] #2875 closed

[2022-07-08 11:25] #1896 closed

[2022-07-08 11:25] #1898 closed

[2022-07-08 11:25] #1899 closed

[2022-07-08 11:25] #1902 closed

[2022-07-08 11:26] #3301 closed

[2022-07-08 11:26] #1903 closed

[2022-07-08 16:22] spinler opened #3601 "Add BMC uptime to PELs in UserData section"
There is a UserData section we add to each PEL with extra debug information, like:

[code]

I would like to add the output of the 'uptime' command to that.

[code]

so:
[code]
I can't decide on if it would be better to save  a bit of space and just print the actual uptime between the 'up' and the 'load', and then put the load average as another entry:

[code]
but I could make a decision when the t

[2022-07-09 07:57] gkeishin opened #3602 "State Manager: POR reset reason is not logged"
## Expected Behavior

https://github.com/openbmc/phosphor-dbus-interfaces/blob/388b58f9a878f45b8ec243152cac5eb44ec90ced/yaml/xyz/openbmc_project/State/BMC.interface.yaml
[code]

## Actual Behavior

[code]

[code]
## Steps to Reproduce the Problem

  1. AC cycle the system
  2. Check the RebootCause

## Specifications
  - Browser: NA
  - Version: NA

[2022-07-09 07:58] gkeishin commented on #3602
@geissonator ^^^

[2022-07-09 10:49] rfrandse commented on #2429
refresh

[2022-07-09 10:52] rfrandse commented on #567
refresh

[2022-07-09 11:07] rfrandse commented on #1328
refresh

[2022-07-09 11:09] rfrandse commented on #3565
refresh

[2022-07-09 11:12] rfrandse commented on #1737
refresh

[2022-07-09 11:14] rfrandse commented on #1917
refresh

[2022-07-11 11:02] rfrandse commented on #1193
refresh

[2022-07-11 11:05] rfrandse commented on #1328
refresh

[2022-07-11 11:07] rfrandse commented on #3565
refresh

[2022-07-12 05:55] santoshpuranik opened #3603 "CM: Operator Panel Concurrent Maintenance on Everest"
Both the base and the LCD panels are concurrently maintainable on Everest. This epic covers both the backend and bmcweb work needed to enable this function.

High-level flow:
* The Redfish API to perform CM is to use the "ReadyToRemove" redfish property. This is already done in the assembly schema for the TOD battery.
* To prepare FRU for removal, user sets the ReadyToRemove property to true. bmcw

[2022-07-12 10:53] rfrandse commented on #577
refresh

[2022-07-12 11:09] rfrandse commented on #3565
refresh

[2022-07-13 09:27] lxwinspur commented on #3588
@gkeishin @gtmills
Regarding `phosphor-time-manager`, I pushed some patches upstream, which are now merged, mostly adding exception printing
https://github.com/openbmc/phosphor-time-manager/blob/master/epoch_base.cpp#L51

so, Could you pull the latest code and test it again?

[2022-07-13 11:07] rfrandse commented on #3565
refresh

[2022-07-13 11:08] rfrandse commented on #3566
refresh

[2022-07-13 18:41] spinler commented on #2514
This merged: https://github.com/openbmc/phosphor-logging/commit/744d85150947136be546ab9d0b2db941c876dbee

[2022-07-13 19:56] spinler commented on #3369
We don't have any plans to change the power on target speed sequencing, so closing. Can always revisit if something comes up.

[2022-07-13 19:57] spinler commented on #3095
Handled under another issue.

[2022-07-13 19:57] #3095 closed

[2022-07-13 19:59] spinler commented on #3080
Having a hardware implmentation that needs this will drive any work.  Closing until then.

[2022-07-13 19:59] #3080 closed

[2022-07-13 20:00] spinler commented on #2586
I think this has been taken care of.  If not, at least nobody has noticed there is still a problem.

[2022-07-13 20:00] #2586 closed

[2022-07-13 21:24] gtmills opened #3604 "IPS downstream bmcweb commits merged upstream"
In September, we are going to rebase https://github.com/ibm-openbmc/bmcweb to upstream. Developers will be have to repull their commits if they aren't merged upstream, please try to get as many downstream commits in upstream as possible.

https://gerrit.openbmc.org/q/project:openbmc/bmcweb+status:open+owner:inspur.com+

Or this is from our spreadsheet of downstream commits:

commit | Author | Titl

[2022-07-13 21:44] spinler commented on #3038
I'm happy enough with what we have here, closing.

[2022-07-14 05:53] XiaochaoMa commented on #3604
476e822eab has been Abandoned by ed. And ed used his commit (https://gerrit.openbmc.org/c/openbmc/bmcweb/+/48633) instead of mine.

[2022-07-14 10:43] rfrandse commented on #95
refresh

[2022-07-14 10:52] rfrandse commented on #574
refresh

[2022-07-14 11:02] rfrandse commented on #1172
refresh

[2022-07-14 11:06] rfrandse commented on #1328
refresh

[2022-07-14 11:08] rfrandse commented on #3565
refresh

[2022-07-15 04:26] lxwinspur commented on #3601
@spinler
Review by: https://gerrit.openbmc.org/c/openbmc/phosphor-logging/+/55391

[2022-07-18 08:59] manojkiraneda commented on #3481
yes, this is needed upstream , but it depends on a lot of base commits - for now..i think we can close this as its in the driver.

[2022-07-18 08:59] #3481 closed, assigned to lxwinspur

[2022-07-18 15:43] derekhoward55 commented on #1815
bash-4.2$ curl -k https://${bmc}/redfish/v1/Chassis/chassis/PowerSubsystem/PowerSupplies/powersupply0/Metrics
{
  "@odata.id": "/redfish/v1/Chassis/chassis/PowerSubsystem/PowerSupplies/powersupply0/Metrics",
  "@odata.type": "#PowerSupplyMetrics.v1_0_0.PowerSupplyMetrics",
  "Id": "Metrics",
  "Name": "Metrics for powersupply0",
  "Oem": {
    "@odata.type": "#OemPowerSupplyMetrics.Oem",
    "IBM"

[2022-07-18 15:46] #1815 closed

[2022-07-18 18:31] derekhoward55 commented on #2431
Results look good, with exception of timestamps.  Fix for this is in https://github.com/ibm-openbmc/bmcweb/pull/412, coming in first service pack.

"@odata.id": ["/redfish/v1/TelemetryService/MetricReports//Power5s_metrics2"](https://ever8bmc.aus.stglabs.ibm.com/redfish/v1/TelemetryService/MetricReports//Power5s_metrics2),
"@odata.type": "#MetricReport.v1_3_0.MetricReport",
"Id": "Power5s_metrics2

[2022-07-18 19:09] #2431 closed

[2022-07-18 20:02] anoo1 commented on #3408
This is complete.

[2022-07-18 20:02] #3408 closed

[2022-07-18 20:38] geissonator opened #3605 "Utilize PowerRestoreDelay to delay APR in phosphor-state-manager"
https://github.com/ibm-openbmc/phosphor-state-manager/commit/683013a7c19906ffd185bdca16963db5c35167cb went in recently to fix an issue with APR starting too early in the boot.

After that went in, it was noticed that a PowerRestoreDelay had been added to the  xyz.openbmc_project.Control.Power.RestorePolicy interface. So instead of hard coding, lets set the 30s in our meta-ibm override for this pro

[2022-07-19 21:04] gtmills opened #3606 "SNMP manager is getting configured with less octate IP (Ex:10.6.6)"
Internal defect is https://w3.rchland.ibm.com/projects/bestquest/?defect=SW549948 and below is copied from it.

Problem Description:
-----------------------
SNMP manager is getting configured with less octate IP (Ex:10.6.6)

Procedure:
------------
1.bash-4.2$export bmc=xxxx
[code]

2. Try to configure SNMP manager with invalid IP (less octate IP)

[code]

Expectation: It should not allow to confi

[2022-07-20 10:53] rfrandse commented on #608
refresh

[2022-07-20 11:01] rfrandse commented on #3016
refresh

[2022-07-20 11:02] rfrandse commented on #1072
refresh

[2022-07-20 11:07] rfrandse commented on #1328
refresh

[2022-07-20 11:09] rfrandse commented on #3565
refresh

[2022-07-20 11:09] rfrandse commented on #3566
refresh

[2022-07-20 11:10] rfrandse commented on #3575
refresh

[2022-07-20 16:33] derekhoward55 commented on #3225
Tested reboot both when host up, and when chassis off, on ever8, all working as designed.

[2022-07-20 16:33] #3225 closed

[2022-07-20 16:34] #1072 closed

[2022-07-20 18:48] #1670 closed

[2022-07-20 18:48] #573 closed

[2022-07-20 19:02] derekhoward55 commented on #3074
It is unlikely this will be hit (eg EM crashed), put this in a backlog and fix if seen in field or we have time.

[2022-07-20 19:17] derekhoward55 commented on #1724
No interest from thermal team on needing different values for this.  Closing unless told it's needed.

[2022-07-20 20:17] derekhoward55 commented on #1778
IPMI support moved to later GA.  Closing.

[2022-07-20 20:17] #574 closed

[2022-07-21 11:07] rfrandse commented on #1328
refresh

[2022-07-21 11:09] rfrandse commented on #3565
refresh

[2022-07-21 11:09] rfrandse commented on #3566
refresh

[2022-07-21 17:24] geissonator commented on #2895
ok, so as Gunnar mentioned, this is going to look at lot like https://github.com/ibm-openbmc/openbmc/commit/69ae2e079a8643ace8cf1d44988174cc8f2cf8a9

The work:
- @kennyneedsmilky is working on a change to the GUI code to make the logo file names generic (they were switched to something more IBM specific in vue). Once he has that, we'll update this issue with new file names.
- The files to override

[2022-07-22 10:47] rfrandse commented on #304
refresh

[2022-07-22 11:05] rfrandse commented on #1328
refresh

[2022-07-22 15:43] derekhoward55 commented on #1108
Yes, short term we have a downstreamed solution, but long term this should be done with the telemetry service.

The 30s ave can already be collected (via the psX_input_power sensor), and a peak can be calculated based on the highest 30s ave, but as of yet the psu-determined peak is not collected (not an EnergyStar requirement).

[2022-07-22 22:41] mzipse commented on #3599
We've pulled the fix into our downstream builds.  I'll let the testers verify.

[2022-07-23 10:58] rfrandse commented on #2945
refresh

[2022-07-23 11:04] rfrandse commented on #1328
refresh

[2022-07-23 11:06] rfrandse commented on #3565
refresh

[2022-07-23 11:07] rfrandse commented on #3566
refresh

[2022-07-25 01:03] zhanghch05 commented on #2783
@gtmills Upstream already supported

[2022-07-25 01:04] zhanghch05 commented on #2782
@gtmills Upstream already supported

[2022-07-25 09:40] lxwinspur commented on #3601
@spinler can we close this issue?

[2022-07-25 11:05] rfrandse commented on #1328
refresh

[2022-07-25 11:07] rfrandse commented on #3565
refresh

[2022-07-25 11:09] rfrandse commented on #1593
refresh

[2022-07-25 11:14] rfrandse commented on #2040
refresh

[2022-07-25 18:59] derekhoward55 commented on #3384
Per Matt/Brian will just leave in the workaround for rear-rotor 0 rpm tach readings for all Everests.

[2022-07-25 18:59] #3384 closed

[2022-07-25 19:00] #2456 closed

[2022-07-26 11:05] rfrandse commented on #1328
refresh

[2022-07-26 11:08] rfrandse commented on #3566
refresh

[2022-07-27 11:07] rfrandse commented on #3566
refresh

[2022-07-27 18:43] gtmills opened #3607 "Redfish: OEM: Move to standard Originator"
Today we use OEM GeneratorId
https://github.com/ibm-openbmc/bmcweb/commit/c45a7339059d8fd31bfc4e2f76f5e2e24ae034bc

We should move to the standard Redfish property

https://redfish.dmtf.org/schemas/LogEntry.v1_12_0.json

[code]
[code]
 @asmithakarun @sunharis FYI

[2022-07-27 18:45] gtmills opened #3608 "Redfish: OEM: Move to standard Context"
Today we have OEM ClientId
https://github.com/ibm-openbmc/bmcweb/blob/1020/static/redfish/v1/JsonSchemas/OemSession/index.json#L25

Should move to the standard Redfish property

@sunharis FYI

[2022-07-27 23:32] gtmills opened #3609 "Redfish: OEM: Move to standard chassis version"
Today we have:
https://github.com/ibm-openbmc/bmcweb/blob/1020/static/redfish/v1/JsonSchemas/OemChassis/index.json#L25

[2022-07-28 03:16] sunharis commented on #3607
https://github.com/ibm-openbmc/dev/issues/3390 is in flight to work on this

[2022-07-28 03:16] #3607 closed, assigned to nobody

[2022-07-28 04:07] sunharis commented on #3390
https://gerrit.openbmc.org/c/openbmc/phosphor-dbus-interfaces/+/47057
https://gerrit.openbmc.org/c/openbmc/phosphor-dbus-interfaces/+/54955
https://gerrit.openbmc.org/c/openbmc/phosphor-debug-collector/+/48337

[2022-07-28 07:14] lxwinspur commented on #3606
review by:
https://gerrit.openbmc.org/c/openbmc/phosphor-snmp/+/55982
https://gerrit.openbmc.org/c/openbmc/phosphor-snmp/+/55983
https://gerrit.openbmc.org/c/openbmc/phosphor-snmp/+/55954

[2022-07-28 11:05] rfrandse commented on #1328
refresh

[2022-07-28 11:07] rfrandse commented on #3565
refresh

[2022-07-28 13:49] geissonator commented on #2895
The needed GUI change is merged up at https://github.com/ibm-openbmc/webui-vue/commit/924cd305f79c1a51bf67a5cf15954397e0aefdf6

[2022-07-28 22:26] NodeMan97 commented on #3602
Fix is tested and uploaded. Awaiting CI.

[2022-07-29 08:28] ChicagoDuan commented on #3606
Hi @gtmills
    I don't think this is a bug, because we support domain name and hostname as an address. Therefore, BMC will take the inputed address (such as 10.66 or 10.6.6) as a domain name or hostname, so it will not return an error.

[2022-07-29 11:05] rfrandse commented on #1328
refresh

[2022-07-29 11:07] rfrandse commented on #3565
refresh

[2022-07-29 20:53] bjwyman commented on #3592
Attempting to summarize what was discussed in the Redfish forum:
- The sensor Accuracy format is "%" with a valid value being from 0 to 100.
  - A value of 0.25 would mean 0.25%.

- The Accuracy value is standalone, it is not related to the min/max values.
  - If you have an Accuracy of 2%, and a reading of 10, the actual metric could be from 9.8 to 10.2.

- Sometimes, a sensor accuracy is rated i

[2022-07-31 11:06] rfrandse commented on #3565
refresh

[2022-07-31 11:06] rfrandse commented on #3566
refresh

[2022-07-31 15:10] mzipse commented on #3588
@lxwinspur , I took your patches and was not able to recreate the issue.  Was there any fixes in your patches?  Or was it just collecting additional error data in case we do see a failure?

In either case, I think we should go ahead and submit a Pull Request to merge these changes, unless you know of a reason why we shouldn't do that.

[2022-08-01 00:47] lxwinspur commented on #3588
@mzipse, I just collected additional error data, and didnt do any fixes

I didnt see that IBM created the `phosphor-time-manager` repo on any branch, so I just update `SRCREV` in `openbmc/meta-phosphor/recipes-phosphor/datetime/phosphor-time-manager_git.bb`？

Also, I see that IBM has two rainier related branches (`1020` and `1020.10`), which branch should I submit a PR to?

[2022-08-01 04:49] lxwinspur commented on #2895
@geissonator @mzipse
Review by: https://github.com/ibm-openbmc/openbmc/pull/231

[2022-08-01 05:56] lxwinspur commented on #3588
@mzipse @gtmills
Sent a PR to 1020.10 branch, https://github.com/ibm-openbmc/openbmc/pull/232

[2022-08-01 17:29] NodeMan97 commented on #3577
Merged
https://github.com/openbmc/phosphor-state-manager/blob/master/discover_system_state.cpp#L127

[2022-08-01 17:29] #3577 closed, assigned to NodeMan97

[2022-08-01 17:32] NodeMan97 commented on #3605
merged
https://github.com/openbmc/phosphor-state-manager/blob/master/discover_system_state.cpp#L180

[2022-08-01 17:32] #3605 closed, assigned to NodeMan97

[2022-08-03 00:50] lxwinspur commented on #3604
@gtmills  @mzipse
We keep following up and updating these issues.

commit | Author | Title | Status
-- | -- | -- | --
9ed673a146 | Albert Zhang | Add the verification of chassisID (#317) | Merged upstream https://gerrit.openbmc.org/c/openbmc/bmcweb/+/55334
8b22db6d55 | Albert Zhang | Modify fan related bugs (#271) | Merged in IBM 1050 https://github.com/ibm-openbmc/bmcweb/pull/504
f48db1fb9d | Alb

[2022-08-03 11:05] rfrandse commented on #1328
refresh

[2022-08-03 11:07] rfrandse commented on #3565
refresh

[2022-08-03 11:08] rfrandse commented on #3575
refresh

[2022-08-03 17:18] bjwyman commented on #3592
Updated YAML file in Gerrit commit under review to reflect the clarifications noted in the Redfish forum: https://gerrit.openbmc.org/c/openbmc/phosphor-dbus-interfaces/+/53569

[2022-08-03 18:19] #3513 closed, assigned to lxwinspur, zhanghaodi

[2022-08-03 18:25] geissonator commented on #2895
Put in under https://github.com/ibm-openbmc/openbmc/pull/233

[2022-08-03 18:31] ghost commented on #2895
Handle now changed to @kennyfully88 . Sorry for the confusion

[2022-08-03 19:15] NodeMan97 commented on #3602
merged.

[2022-08-03 19:15] #3602 closed, assigned to NodeMan97

[2022-08-04 11:05] rfrandse commented on #1328
refresh

[2022-08-04 11:07] rfrandse commented on #3565
refresh

[2022-08-04 11:07] rfrandse commented on #3566
refresh

[2022-08-04 14:08] ghost opened #3610 "GUI : FED : Base favicon file relocation"
## FED
### Overview
The backend eventually will have a way to load up logos and icons depending on what company will be using the product. In our current frontend, the file location for favicons are located in the `./public` directory. It should follow uniform with the other files being changed via backend and go under `./src/assets/` directory

My suggestion is that we have a base, generic placeh

[2022-08-04 14:08] ghost commented on #3610
@gtmills @Nikhil-Ashoka @sandeepasingh116 fyi

[2022-08-05 00:04] gtmills commented on #3264
Merged.

[2022-08-05 00:04] #3264 closed

[2022-08-05 11:05] rfrandse commented on #1328
refresh

[2022-08-05 11:07] rfrandse commented on #3565
refresh

[2022-08-05 20:08] spinler commented on #3596
https://github.com/ibm-openbmc/entity-manager/pull/34

[2022-08-05 23:54] bjwyman commented on #3592
Accuracy interface merged: https://github.com/openbmc/phosphor-dbus-interfaces/commit/0020fa3da6a30f7f63afb0d2de41b508b7a8f18d

[2022-08-06 11:06] rfrandse commented on #3565
refresh

[2022-08-06 11:06] rfrandse commented on #3566
refresh

[2022-08-08 16:55] gtmills commented on #256
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/38599  has comments and merge conflicts

[2022-08-08 17:01] gtmills commented on #2015
Not clear what this is tracking. I am closing and will use different issues for telemetry function. Please reopen if I closed on mistake

[2022-08-08 17:01] #2015 closed

[2022-08-08 17:05] gtmills commented on #1174
@sandeepasingh116 @kennyfully88 I assume you haven't see this with eBMC?
I am going to close, please reopen if still a problem.

[2022-08-08 17:05] #1174 closed

[2022-08-08 17:07] gtmills commented on #2010
We have SW542471 which will add the cable cards? What more do we need here, SW542471 should get us to what we had on FSP

[2022-08-08 17:08] gtmills commented on #3329
Done here: https://github.com/ibm-openbmc/bmcweb/blob/1020/include/ibm/management_console_rest.hpp#L1347

[2022-08-09 06:13] ChicagoDuan commented on #256
Done.

[2022-08-09 10:42] rfrandse commented on #50
refresh

[2022-08-09 10:46] rfrandse commented on #2305
refresh

[2022-08-09 10:59] rfrandse commented on #2944
refresh

[2022-08-09 10:59] rfrandse commented on #2945
refresh

[2022-08-09 11:06] rfrandse commented on #1328
refresh

[2022-08-09 11:08] rfrandse commented on #3565
refresh

[2022-08-09 11:10] rfrandse commented on #612
refresh

[2022-08-09 11:12] rfrandse commented on #1832
refresh

[2022-08-09 11:15] rfrandse commented on #2040
refresh

[2022-08-09 13:44] derekhoward55 opened #3611 "PSU support for 2x low-line (110v) on 2s2u"
Update the EM config file (https://github.com/ibm-openbmc/entity-manager/blob/1030/configurations/Rainier%202U%20Chassis.json) to allow the 2000W psu's in 2s2u to be hooked up to 110v (220v support is already in place).

Ask gsi/ftc to test.

[2022-08-10 10:46] rfrandse commented on #242
refresh

[2022-08-10 11:07] rfrandse commented on #1494
refresh

[2022-08-10 11:08] rfrandse commented on #3566
refresh

[2022-08-10 18:42] spinler commented on #3336
https://gerrit.openbmc.org/c/openbmc/phosphor-fan-presence/+/50074

[2022-08-10 18:47] spinler commented on #3076
This still needs the events.json update for rainier 2U and everest.

[2022-08-11 08:28] ChicagoDuan commented on #256
Hi @gtmills , I have addressed all comments, please help review it, thanks.

[2022-08-11 10:46] rfrandse commented on #2305
refresh

[2022-08-11 10:52] rfrandse commented on #574
refresh

[2022-08-11 10:53] rfrandse commented on #577
refresh

[2022-08-11 11:08] rfrandse commented on #3566
refresh

[2022-08-11 16:19] spinler commented on #1321
Complete.

[2022-08-11 16:19] #1321 closed

[2022-08-11 21:59] bjwyman commented on #3470
I think there is some file stream thing that could be done here.
[code]
Some sort of filename = "3-0068" ...
[code]

[2022-08-12 10:50] rfrandse commented on #2475
refresh

[2022-08-12 11:00] rfrandse commented on #3016
refresh

[2022-08-12 11:07] rfrandse commented on #3566
refresh

[2022-08-12 14:23] spinler commented on #3596
Done.

[2022-08-12 14:23] #3596 closed, assigned to spinler

[2022-08-13 11:06] rfrandse commented on #3565
refresh

[2022-08-17 08:52] lxwinspur commented on #3370
@gtmills @mzipse

review by:
https://gerrit.openbmc.org/c/openbmc/phosphor-time-manager/+/56581
https://gerrit.openbmc.org/c/openbmc/phosphor-time-manager/+/56582
https://gerrit.openbmc.org/c/openbmc/phosphor-time-manager/+/56583
https://gerrit.openbmc.org/c/openbmc/phosphor-time-manager/+/56584

[2022-08-17 11:05] rfrandse commented on #1328
refresh

[2022-08-18 11:10] rfrandse commented on #3566
refresh

[2022-08-18 16:10] wrightjl1 commented on #3611
PR: https://github.com/ibm-openbmc/entity-manager/pull/35

[2022-08-18 16:24] spinler commented on #3076
Resolved by https://gerrit.openbmc.org/c/openbmc/phosphor-fan-presence/+/52276

[2022-08-18 16:24] spinler commented on #3076
This merged.

[2022-08-18 16:24] #3076 closed

[2022-08-18 18:30] spinler commented on #3089
https://gerrit.openbmc.org/c/openbmc/phosphor-fan-presence/+/55023 is the phosphor-fan code, and it merged.  Still have bitbake changes to merge.

[2022-08-19 17:53] wrightjl1 commented on #3611
1030 entity manager bump: https://github.ibm.com/openbmc/openbmc/pull/2806#

[2022-08-19 18:38] spinler commented on #3524
Resolved by https://gerrit.openbmc.org/c/openbmc/phosphor-fan-presence/+/52276

[2022-08-19 18:38] #3524 closed, assigned to spinler

[2022-08-19 18:39] spinler commented on #3089
Merged.

[2022-08-19 18:39] #3089 closed

[2022-08-24 10:52] rfrandse commented on #574
refresh

[2022-08-24 11:08] rfrandse commented on #3566
refresh

[2022-08-24 16:32] derekhoward55 commented on #3594
-bash-4.2$ ipmitool -I lanplus -C 17 -N 3 -p 623 -H rain111bmc -U admin -P XXXXXXXX sensor
...
fan0_0           | 11900.000  | RPM        | ok    | na        | na        | na        | na        | na        | na
fan0_1           | 17700.000  | RPM        | ok    | na        | na        | na        | na        | na        | na
fan1_0           | 12000.000  | RPM        | ok    | na        | na

[2022-08-24 16:35] derekhoward55 commented on #3594
-bash-4.2$ ipmitool -I lanplus -C 17 -N 3 -p 623 -H rain111bmc -U admin -P XXXXXXXX fru
...
FRU Device Description : fan0 (ID 73)
 Product Name          : fan0

FRU Device Description : fan1 (ID 74)
 Product Name          : fan1

FRU Device Description : fan2 (ID 75)
 Product Name          : fan2

FRU Device Description : fan3 (ID 76)
 Product Name          : fan3

FRU Device Description : fan4 (I

[2022-08-24 16:53] derekhoward55 commented on #3594
-bash-4.2$ ipmitool -I lanplus -C 17 -N 3 -p 623 -H rain111bmc -U admin -P XXXXXXXX dcmi get_temp_reading

        Entity ID                       Entity Instance    Temp. Readings
Inlet air temperature(40h)                      1               +23 C
Inlet air temperature(40h)                      2               +24 C
Inlet air temperature(40h)                      3               +23 C
CPU tempe

[2022-08-24 17:01] derekhoward55 commented on #3594
Mode 0x01 (System Power Statistics) will contain the current 30s rolling average to meet energystar requirements.

-bash-4.2$ ipmitool -I lanplus -C 17 -N 3 -p 623 -H rain111bmc -U admin -P XXXXXXXX dcmi power reading

    Instantaneous power reading:                   560 Watts
    Minimum during sampling period:                560 Watts
    Maximum during sampling period:                560 Watt

[2022-08-24 17:27] derekhoward55 commented on #3594
ipmitool doesn't appear to support Enhanced System Power Statistics, so not able to test that.  However no known requirement to support that, and Redfish is the strategic tool we will be supporting, so considering this done.

[2022-08-24 17:27] #3594 closed, assigned to derekhoward55

[2022-08-25 11:08] rfrandse commented on #3566
refresh

[2022-08-26 19:53] spinler commented on #3103
Resolved by https://gerrit.openbmc.org/c/openbmc/phosphor-fan-presence/+/56802

[2022-08-28 11:07] rfrandse commented on #3565
refresh

[2022-08-28 11:07] rfrandse commented on #3566
refresh

[2022-08-29 16:55] wrightjl1 commented on #3611
Merged into [fw1030.00-2.9](https://github.ibm.com/openbmc/release-notes/wiki/fw1030.00-2.9)
Available in [1030.2235.20220823a](https://rchweb.rchland.ibm.com//afs/rchland/projects/esw/fw1030/Builds/1030.2235.20220823a/logs/status.html) or greater builds.

[2022-08-29 17:06] wrightjl1 commented on #3611
Request for testing: https://ibm-systems-power.slack.com/archives/CPVHLBD3R/p1661792740491309

[2022-08-29 17:06] #3611 closed, assigned to wrightjl1

[2022-08-31 11:08] rfrandse commented on #3566
refresh

[2022-08-31 12:44] geissonator commented on #3576
Completed with https://gerrit.openbmc.org/c/openbmc/phosphor-state-manager/+/54809

[2022-08-31 12:44] #3576 closed, assigned to NodeMan97

[2022-09-01 11:09] rfrandse commented on #3575
refresh

[2022-09-05 00:42] lxwinspur commented on #3370
@gtmills @mzipse

Regarding this issue, I pushed a new patch: https://gerrit.openbmc.org/c/openbmc/phosphor-time-manager/+/56584
And Looks like the maintiner is against adding this feature to the timeManager repo, because he think that this logic should be handled where it is called.
But we still did some refactoring to the timeManager repo。

So, What do you think?

[2022-09-07 11:05] rfrandse commented on #1328
refresh

[2022-09-07 11:07] rfrandse commented on #3565
refresh

[2022-09-08 14:00] gtmills opened #3612 "SW555907:Setting NTP server for BMC Date and time is not setting the NTP time properly"
[code]

[code]

Internally this is defect https://w3.rchland.ibm.com/projects/bestquest/?defect=SW555907

[2022-09-08 20:16] spinler commented on #3446
Since we have a fan monitor dump now, we can just use that to debug fan monitor.  Closing this.

[2022-09-08 20:16] #3446 closed

[2022-09-08 20:17] spinler commented on #3103
Merged.

[2022-09-08 20:17] #3103 closed

[2022-09-09 11:06] rfrandse commented on #1328
refresh

[2022-09-09 11:08] rfrandse commented on #3565
refresh

[2022-09-09 11:08] rfrandse commented on #3566
refresh

[2022-09-10 11:07] rfrandse commented on #3565
refresh

[2022-09-12 20:28] mzipse commented on #413
Reassigning this to Dhruv.  Dhruv, if you have any questions @sbteeks or @spinler will likely be your best source of knowledge.

[2022-09-13 14:28] gtmills opened #3613 "Fix NTP server field"
Pull in https://github.com/openbmc/bmcweb/commit/b9e1522807ac9411a03f0d37b07ac35f4cebbe3c

https://github.com/openbmc/bmcweb/commit/b9e1522807ac9411a03f0d37b07ac35f4cebbe3c, which makes the NTP server field follow Redfish correctly.

"The Redfish specification for PATCH of arrays defines a number of requirements.
- Setting a value to null, should remove it from the list.
- Setting a value to empty

[2022-09-14 11:12] rfrandse commented on #3565
refresh

[2022-09-15 11:06] rfrandse commented on #1328
refresh

[2022-09-15 11:08] rfrandse commented on #3565
refresh

[2022-09-15 17:19] #3612 closed, assigned to nobody

[2022-09-15 17:20] gtmills commented on #3612
Closed for now. Will repoen if still an issue.

[2022-09-16 11:08] rfrandse commented on #3565
refresh

[2022-09-16 16:07] gtmills commented on #3604
Could you concentrate on the Power/Thermal commits? E.g.

commit | Author | Title | Status
-- | -- | -- | --
ef767bdad4 | Albert Zhang | Implement LocationIndicatorActive for Fan |  
4176eb5582 | Albert Zhang | Implements Fan schema
19f9b214bf | Albert Zhang | Add Redfish EnvironmentMetrics schema in bmcweb
9f2aa9c1eb | Chicago Duan | Redfish : Implement LocationIndicatorActive for PowerSupplies |

[2022-09-17 11:07] rfrandse commented on #3565
refresh

[2022-09-20 02:29] gtmills commented on #3465
https://gerrit.openbmc.org/c/openbmc/bmcweb/+/56328 merged

[2022-09-20 02:29] #3465 closed, assigned to gtmills

[2022-09-20 11:05] rfrandse commented on #1328
refresh

[2022-09-20 21:09] gtmills commented on #492
https://w3.rchland.ibm.com/projects/bestquest/?defect=SW556929 was a defect in this area. ReadingRangeMax / ReadingRangeMin

[2022-09-21 11:08] rfrandse commented on #3566
refresh

[2022-09-22 11:08] rfrandse commented on #3566
refresh

[2022-09-22 13:16] lxwinspur commented on #3592
@mzipse
I will look at this issue tomorrow, and I will ping @derekhoward55 if we have any questions, thanks :)

[2022-09-22 14:30] derekhoward55 commented on #3592
Brandon got the dbus interface agreed to and completed, so all that is remaining is hwmon changes to make the accuracy available, and bmcweb changes to grab it from dbus.

The accuracy of all the psu's we use is 1%.

[2022-09-23 11:08] rfrandse commented on #3566
refresh

[2022-09-27 20:25] sbteeks commented on #3426
I tried code update via Redfish API with upstream image on tacoma, it took little over 6s to upload ~50MB image, and on Rainier with P11-bringup image (200MB) it took ~24s. Looks like the time taken to upload the image and the size are directly related, and I guess this increased time is expected.

Note: The code update via Redfish API seems OK, but noticed an 'Internal error' in the task. After r

[2022-09-28 11:05] rfrandse commented on #1328
refresh

[2022-09-28 12:56] mzipse commented on #3604
Checking up on the focus we want to  put on these 4 commits....
https://gerrit.openbmc.org/c/openbmc/bmcweb/+/42210 - Haven't seen any updates.  Still has merge conflicts.
https://gerrit.openbmc.org/c/openbmc/bmcweb/+/41086 - Haven't seen any updates.  Still has merge conflicts.
https://gerrit.openbmc.org/c/openbmc/bmcweb/+/43170 - Haven't seen any updates.  Still has merge conflicts.
https://gerr

[2022-09-29 00:30] lxwinspur commented on #3604
@mzipse
Yes, We are working on these issues and will push these commits next week

[2022-09-29 11:07] rfrandse commented on #3565
refresh

[2022-09-29 12:07] mzipse commented on #3604
Thank you.

[2022-09-29 13:00] lxwinspur commented on #3592
@derekhoward55
one question: for this issue, do we need to upstream or downstream?

[2022-09-29 16:25] derekhoward55 commented on #3592
@lxwinspur upstream please

[2022-09-30 11:07] rfrandse commented on #3565
refresh

[2022-09-30 11:08] rfrandse commented on #3566
refresh

[2022-10-05 20:44] wrightjl1 commented on #877
Upstream Gerrit code reviews:
pseq: Add README for configuration file directory: https://gerrit.openbmc.org/c/openbmc/phosphor-power/+/57003 (merged)
pseq: Add README for source file directory: https://gerrit.openbmc.org/c/openbmc/phosphor-power/+/57482
pseq: Add README for power sequencer directory: https://gerrit.openbmc.org/c/openbmc/phosphor-power/+/57618

[2022-10-06 11:08] rfrandse commented on #3566
refresh

[2022-10-09 05:01] lxwinspur commented on #3604
@gtmills @mzipse

https://gerrit.openbmc.org/c/openbmc/bmcweb/+/42210 -  review by: https://gerrit.openbmc.org/q/topic:LocationIndicatorActive
https://gerrit.openbmc.org/c/openbmc/bmcweb/+/41086 - review by: https://gerrit.openbmc.org/q/topic:redfish-fan
https://gerrit.openbmc.org/c/openbmc/bmcweb/+/43170 - review by: https://gerrit.openbmc.org/q/topic:redfish-EnvironmentMetrics
https://gerrit.ope

[2022-10-09 05:48] #3601 closed, assigned to lxwinspur

[2022-10-09 09:51] lxwinspur commented on #3592
@derekhoward55
I am working on this issue, so I have a question: Should we update `phosphor-hwmon` or `dbus-sensors`?

For Power Supply, I see that IBM used `phosphor-hwmon`, but in the community, dbus-sensor is the future direction.

[2022-10-09 11:07] rfrandse commented on #3565
refresh

[2022-10-09 11:07] rfrandse commented on #3566
refresh

[2022-10-11 16:27] derekhoward55 opened #3614 "Rainier 1S4U support 2x 1000W power supplies with limited config"
Update the EM config file (https://github.com/ibm-openbmc/entity-manager/blob/1030/configurations/Rainier%201S4U%20Chassis.json) to allow 2 1000W psu's in 1s4u, and so oversubscription is not activated when only 2 psu are attached.  There is no different IM/MTM for the 2-psu and 4-psu system.

Do not need to specifically allow 2- or 4-psu configs; anything with 2 or more is fine.  Same power cap c

[2022-10-11 16:30] spinler commented on #3592
@lxwinspur We need it for phosphor-hwmon.

It's possible we'd move to PSUSensor from dbus-sensors for the power supplies in the future, but we don't use that app at all now.  If you also wanted to do that one it would be less work for later.

[2022-10-12 11:08] rfrandse commented on #3566
refresh

[2022-10-12 19:21] wrightjl1 commented on #877
Closing issue, above Gerrit reviews have all merged.

[2022-10-12 19:21] #877 closed

[2022-10-13 11:08] rfrandse commented on #3566
refresh

[2022-10-18 06:04] lxwinspur commented on #3592
phosphor-hwmon merged by: https://gerrit.openbmc.org/c/openbmc/phosphor-hwmon/+/57839
redfish review by: https://gerrit.openbmc.org/c/openbmc/bmcweb/+/57893

[2022-10-18 11:09] rfrandse commented on #3566
refresh

[2022-10-19 21:08] derekhoward55 commented on #3592
Can you please add the 1% value for ibm psu's as well?  Per Matt "the config files need to be updated in openbmc/openbmc https://github.com/openbmc/openbmc/tree/master/meta-ibm/recipes-phosphor/sensors/phosphor-hwmon/p10bmc"

Thanks!

[2022-10-19 21:52] wrightjl1 commented on #3614
Gerrit code review for phosphor-power: https://gerrit.openbmc.org/c/openbmc/phosphor-power/+/58026

[2022-10-19 22:09] wrightjl1 commented on #3614
PR for ibm-openbmc entity-manager: https://github.com/ibm-openbmc/entity-manager/pull/38

[2022-10-20 01:13] lxwinspur commented on #3592
Review by: https://gerrit.openbmc.org/c/openbmc/openbmc/+/58044

[2022-10-20 11:09] rfrandse commented on #3566
refresh

[2022-10-20 17:55] wrightjl1 commented on #3614
Take 2 PR for ibm-openbmc entity-manager: https://github.com/ibm-openbmc/entity-manager/pull/39

[2022-10-21 11:08] rfrandse commented on #3566
refresh

[2022-10-21 21:08] #2305 closed

[2022-10-21 21:08] #2040 closed

[2022-10-21 21:09] gtmills commented on #2969
I don't see this in bmcweb today: https://github.com/openbmc/bmcweb/search?q=AppendWrapsWhenFull

[2022-10-21 21:15] gtmills commented on #2969
Need https://gerrit.openbmc.org/c/openbmc/bmcweb/+/44270
Then this can close :)

[2022-10-21 21:15] gtmills commented on #2969
Resolved by https://gerrit.openbmc.org/c/openbmc/bmcweb/+/44270

[2022-10-21 21:16] gtmills commented on #1234
This is complete.
Closing.

[2022-10-21 21:16] #1234 closed

[2022-10-21 21:16] #1832 closed

[2022-10-21 21:19] gtmills commented on #3084
Done here https://gerrit.openbmc.org/c/openbmc/bmcweb/+/47655

[2022-10-21 21:19] #3084 closed

[2022-10-21 21:24] gtmills commented on #3085
Still need https://gerrit.openbmc.org/c/openbmc/bmcweb/+/47655  / https://gerrit.openbmc.org/c/openbmc/phosphor-dbus-interfaces/+/47683 merged

[2022-10-22 10:42] rfrandse commented on #50
refresh

[2022-10-22 10:53] rfrandse commented on #612
refresh

[2022-10-22 10:58] rfrandse commented on #2945
refresh

[2022-10-22 11:07] rfrandse commented on #1494
refresh

[2022-10-22 11:07] rfrandse commented on #3566
refresh

[2022-10-22 11:14] rfrandse commented on #2040
refresh

[2022-10-23 10:46] rfrandse commented on #242
refresh

[2022-10-23 10:53] rfrandse commented on #577
refresh

[2022-10-26 14:54] mzipse commented on #1330
Closing this.  There are no plans now to do PSU Updates on Witherspoon.

[2022-10-26 14:54] #1330 closed

[2022-10-26 15:00] mzipse commented on #520
This is now complete.

[2022-10-26 15:00] #520 closed

[2022-10-26 15:01] #828 closed

[2022-10-26 15:01] mzipse commented on #828
Closing this issue.  Work is complete.

[2022-10-26 15:01] mzipse commented on #516
Work is complete.

[2022-10-26 15:01] #516 closed

[2022-10-26 15:03] mzipse commented on #973
Work is complete.

[2022-10-26 15:03] #973 closed

[2022-10-26 15:05] mzipse commented on #612
This work is complete

[2022-10-26 15:05] #612 closed

[2022-10-26 15:14] mzipse commented on #1383
Closing this.

[2022-10-26 15:14] #1383 closed

[2022-10-26 15:15] mzipse commented on #1977
Closing this as work is complete.

[2022-10-26 15:15] #1977 closed

[2022-10-31 16:26] wrightjl1 commented on #3614
All commits merged.

[2022-10-31 16:26] #3614 closed, assigned to wrightjl1

[2022-10-31 18:49] mzipse commented on #1841
This work is now complete.

[2022-10-31 18:49] #1841 closed

[2022-10-31 19:05] mzipse commented on #70
Dropping this.  Closing.

[2022-10-31 19:05] #70 closed

[2022-10-31 19:07] mzipse commented on #148
No plans to do anymore with this.  Closing.

[2022-10-31 19:08] mzipse commented on #157
No plans to do anymore with this.  Closing.

[2022-10-31 19:08] #157 closed

[2022-10-31 19:08] mzipse commented on #59
Work is complete.  Closing.

[2022-10-31 19:08] #59 closed

[2022-10-31 19:09] mzipse commented on #57
No plans to pursue this.  Closing.

[2022-10-31 19:09] #57 closed

[2022-10-31 19:10] mzipse commented on #56
No plans to implement.  Closing.

[2022-10-31 19:10] #56 closed

[2022-10-31 19:10] mzipse commented on #55
No plans to implement.  CLosing this.

[2022-10-31 19:10] #55 closed

[2022-10-31 19:10] mzipse commented on #53
No plans to implement.  Closing this.

[2022-10-31 19:10] #53 closed

[2022-10-31 19:12] mzipse commented on #615
No plans to pursue.  Closing this.

[2022-10-31 19:13] mzipse commented on #54
Using Redfish Telemetry.  Closing this.

[2022-10-31 19:13] #54 closed

[2022-10-31 19:31] mzipse commented on #101
No plans to pursue.  Closing this.

[2022-10-31 19:31] #101 closed

[2022-11-01 07:24] lxwinspur commented on #3592
@derekhoward55 @spinler
Could you please reivew this patch? https://gerrit.openbmc.org/c/openbmc/openbmc/+/58044

[2022-11-01 15:06] derekhoward55 commented on #3466
No known usage for this, closing.

[2022-11-01 15:06] #3466 closed, assigned to nobody

[2022-11-01 15:09] derekhoward55 commented on #3338
No known usage for this; closing.

[2022-11-01 15:09] #3338 closed

[2022-11-01 15:10] derekhoward55 commented on #3335
No known usage for this; closing.

[2022-11-01 15:19] derekhoward55 commented on #2451
No known usage for this; closing.

[2022-11-01 15:19] #2451 closed

[2022-11-01 15:20] derekhoward55 commented on #2382
No known usage for this; closing.

[2022-11-01 15:20] #2382 closed

[2022-11-01 15:27] derekhoward55 commented on #1838
No known usage for this; closing.

[2022-11-01 15:27] #1838 closed

[2022-11-01 15:36] #95 closed

[2022-11-01 18:50] spinler commented on #3508
This is complete.

[2022-11-01 18:50] #3508 closed, assigned to nobody

[2022-11-01 18:52] spinler commented on #3343
IPMI work is complete.

[2022-11-01 18:52] #3343 closed

[2022-11-01 18:54] spinler commented on #3041
Complete.

[2022-11-01 18:54] #3041 closed

[2022-11-01 18:55] spinler commented on #2928
No new requests for this, so closing.

[2022-11-01 18:55] #2928 closed

[2022-11-01 18:56] #2204 closed

[2022-11-01 18:58] spinler commented on #3016
Closing since just an epic with a few other epics under it.

[2022-11-01 18:58] #3016 closed

[2022-11-01 18:59] spinler commented on #1480
No requests for this, so closing.

[2022-11-01 18:59] #1480 closed

[2022-11-01 18:59] spinler commented on #1341
We're trying to get off phosphor-hwmon, so closing.

[2022-11-01 18:59] #1341 closed

[2022-11-01 19:00] spinler commented on #1087
Most of them are done.  Will add any more ones people want using defects.

[2022-11-01 19:00] #1087 closed

[2022-11-01 19:00] spinler commented on #1086
I revived that commit, and it should merge shortly.

[2022-11-01 19:01] spinler commented on #1066
Clearing the error logs will be done with a POST from the web UI, where the audit logging framework will log it since it logs all posts, so not going to track this separately anymore.

[2022-11-01 19:02] spinler commented on #318
Handled elsewhere.

[2022-11-01 19:02] #318 closed

[2022-11-01 19:02] spinler commented on #78
This is complete.

[2022-11-01 19:02] #78 closed

[2022-11-01 19:04] #2475 closed

[2022-11-01 19:18] spinler commented on #566
At this point I think this would need a line item, so closing.

[2022-11-01 19:18] #566 closed

[2022-11-01 19:20] spinler commented on #1172
Closing since it's just an epic that doesn't need to migrate.

[2022-11-01 19:20] #1172 closed

[2022-11-01 20:13] spinler commented on #3502
Going to assume this has been done.  Closing.

[2022-11-01 20:13] #3502 closed, assigned to spinler

[2022-11-01 20:13] spinler commented on #3420
Systems have shipped and no official request for this, so closing.

[2022-11-01 20:14] #3420 closed

[2022-11-03 07:58] sunharis commented on #3156
Delivered downstream

[2022-11-03 07:58] #3156 closed

[2022-11-03 07:58] sunharis commented on #3123
Delivered downstream

[2022-11-03 07:58] #3123 closed

[2022-11-03 07:58] sunharis commented on #3155
Delivered downstream

[2022-11-03 07:58] #3155 closed

[2022-11-03 07:59] sunharis commented on #3121
Delivered downstream

[2022-11-03 07:59] sunharis commented on #3124
Delivered downstream & also upstreamed

[2022-11-03 07:59] #3124 closed

[2022-11-03 07:59] sunharis commented on #3126
Delivered downstream

[2022-11-03 07:59] #3126 closed

[2022-11-03 07:59] sunharis commented on #3127
Delivered downstream

[2022-11-03 07:59] #3127 closed

[2022-11-03 08:00] sunharis commented on #3296
Delivered downstream

[2022-11-03 08:00] #3296 closed

[2022-11-03 08:01] sunharis commented on #389
Out of scope

[2022-11-03 08:01] #389 closed

[2022-11-03 08:04] sunharis commented on #399
Migrate-Yes

[2022-11-03 08:05] sunharis commented on #1237
We need to evaluate if this is still an issue on the latest drivers of FW1030

[2022-11-03 08:05] sunharis commented on #1237
Migrate-Yes

[2022-11-03 08:05] sunharis commented on #2564
Migrate-Yes

[2022-11-03 08:06] sunharis commented on #3157
Migrate-Yes

[2022-11-03 08:06] sunharis commented on #3140
Migrate-Yes

[2022-11-03 08:07] sunharis commented on #2378
Migrate-Yes

[2022-11-03 08:08] sunharis commented on #3341
Migrate-Yes

[2022-11-03 08:08] sunharis commented on #247
Migrate-Yes

[2022-11-03 08:09] sunharis commented on #120
Upstream already has refactored a lot of code around this area. This story is not needed

[2022-11-03 08:09] #120 closed

[2022-11-03 08:09] sunharis commented on #3331
Migrate-Yes

[2022-11-03 08:10] sunharis commented on #390
This is already implemented via a defect fix on phosphor-networkd

[2022-11-03 08:10] #390 closed

[2022-11-03 08:11] sunharis commented on #388
Migrate-Yes

[2022-11-03 08:12] sunharis commented on #3138
Many functionalities of community interest are pushed upstream already. Story can be closed

[2022-11-03 08:12] #3138 closed

[2022-11-03 08:13] sunharis commented on #3582
Migrate-Yes

[2022-11-03 08:13] sunharis commented on #3390
Migrate-Yes

[2022-11-03 08:14] sunharis commented on #386
Migrate-Yes

[2022-11-03 08:14] sunharis commented on #476
Migrate-Yes

[2022-11-03 08:14] sunharis commented on #243
Migrate-Yes

[2022-11-03 08:14] sunharis commented on #1744
Migrate-Yes

[2022-11-03 08:15] sunharis commented on #2963
Migrate-Yes

[2022-11-03 08:15] sunharis commented on #3558
Migrate-Yes

[2022-11-03 08:15] sunharis commented on #385
Migrate-Yes

[2022-11-03 08:16] sunharis commented on #3549
Migrate-Yes

[2022-11-03 08:16] sunharis commented on #1745
Migrate-Yes

[2022-11-07 16:12] mzipse commented on #3358
ECO has been delivered quite some time ago.  Closing.

[2022-11-07 16:12] #3358 closed

[2022-11-07 16:14] mzipse commented on #100
Closing this.  No plans to do more.

[2022-11-07 16:14] #100 closed

[2022-11-08 06:15] ojayanth commented on #3375
No issues reported sofar.. Clocing the issue now.

[2022-11-08 06:15] #3375 closed

[2022-11-08 15:25] mzipse commented on #523
Closing

[2022-11-08 15:25] #523 closed

[2022-11-08 15:26] mzipse commented on #517
Closing.

[2022-11-08 15:26] #517 closed

[2022-11-08 15:28] mzipse commented on #669
Closing this issue. Work is complete.

[2022-11-08 15:28] #669 closed

[2022-11-08 15:29] mzipse commented on #670
Closing this issue. Work is complete.

[2022-11-08 15:29] #670 closed

[2022-11-08 15:30] mzipse commented on #739
Closing this issue. Work is complete.

[2022-11-08 15:30] #739 closed

[2022-11-08 15:31] mzipse commented on #728
Closing this issue. Work is complete.

[2022-11-08 15:31] #728 closed

[2022-11-08 16:12] mzipse commented on #2123
Closing.  Work is complete.

[2022-11-08 16:13] mzipse commented on #2124
Closing.  Work is complete.

[2022-11-08 16:13] #2124 closed

[2022-11-08 16:13] mzipse commented on #2125
Closing.  Work is complete.

[2022-11-08 16:13] mzipse commented on #2126
Closing.  Work is complete.

[2022-11-08 16:13] #2126 closed

[2022-11-08 16:14] mzipse commented on #2127
Closing.  Work is complete.

[2022-11-08 16:14] #2127 closed

[2022-11-08 16:15] mzipse commented on #1621
Closing.  Work is complete.

[2022-11-08 16:15] #1621 closed

[2022-11-08 16:17] mzipse commented on #2621
Closing.  Work is complete.

[2022-11-08 16:17] #2621 closed

[2022-11-08 16:17] mzipse commented on #2622
Closing.  Work is complete.

[2022-11-08 16:17] #2622 closed

[2022-11-08 16:18] mzipse commented on #2759
Closing.  Work is complete.

[2022-11-08 16:18] #2759 closed

[2022-11-08 16:18] mzipse commented on #2789
Closing.  Work is complete.

[2022-11-08 16:18] #2789 closed

[2022-11-08 16:19] mzipse commented on #2958
Closing.  Work is complete.

[2022-11-08 16:19] mzipse commented on #905
Closing.  Work is complete.

[2022-11-08 16:19] #905 closed

[2022-11-08 16:21] mzipse commented on #3158
Closing.  Work is complete.

[2022-11-08 16:21] #3158 closed

[2022-11-08 16:23] mzipse commented on #1457
Closing.  Work is complete.

[2022-11-08 16:23] #1457 closed

[2022-11-08 16:28] mzipse commented on #1322
Closing.  Work is complete.

[2022-11-08 16:28] #1322 closed

[2022-11-08 16:30] mzipse commented on #2117
Closing.  Work is complete.

[2022-11-08 16:31] mzipse commented on #2090
Closing.  Work is complete.

[2022-11-08 16:31] #2090 closed

[2022-11-08 16:31] mzipse commented on #2134
Closing.  Work is complete.

[2022-11-08 16:31] #2134 closed

[2022-11-08 16:32] mzipse commented on #2135
Closing.  Work is complete.

[2022-11-08 16:32] #2135 closed

[2022-11-08 16:33] mzipse commented on #2145
Closing.  Work is complete.

[2022-11-08 16:33] #2145 closed

[2022-11-08 16:35] mzipse commented on #2608
Closing.  Work is complete.

[2022-11-08 16:35] #2608 closed

[2022-11-08 16:36] mzipse commented on #2806
Work is complete.  Closing.

[2022-11-08 16:42] mzipse commented on #1501
Closing.  Work is complete.

[2022-11-08 16:42] #1501 closed

[2022-11-08 16:43] mzipse commented on #2421
Closing.  Work is complete.

[2022-11-08 16:43] #2421 closed

[2022-11-08 16:44] mzipse commented on #3304
Closing.  Work is complete.

[2022-11-08 16:44] #3304 closed

[2022-11-08 16:44] mzipse commented on #1500
Closing.  Work is complete.

[2022-11-08 16:44] #1500 closed

[2022-11-08 16:45] mzipse commented on #2174
Closing.  Work is complete.

[2022-11-08 16:45] #2174 closed

[2022-11-08 16:50] mzipse commented on #3320
Closing.  Work is complete.

[2022-11-08 16:50] #3320 closed

[2022-11-08 16:54] mzipse commented on #3167
Closing.  Work is complete.

[2022-11-08 16:54] #3167 closed

[2022-11-08 16:55] mzipse commented on #1523
Work is complete except some backlog work that we may or may not do.

[2022-11-08 16:55] #1523 closed

[2022-11-08 16:57] mzipse commented on #1555
Work is complete.  Closing.

[2022-11-08 16:57] #1555 closed

[2022-11-08 16:58] mzipse commented on #1795
Closing.  Work is complete.

[2022-11-08 16:58] #1795 closed

[2022-11-08 17:32] mzipse commented on #722
Work is complete.  Closing.

[2022-11-08 17:32] #722 closed

[2022-11-08 17:36] mzipse commented on #3159
@amboar , trying to figure out what we should do with this story.  Do we still want to trim down the mboxd code at all?  Also will we still need to do this for P11?  Just trying to figure out whether we should live with what we have or whether this story needs to migrate to Jira.

[2022-11-08 17:39] mzipse commented on #907
Work is complete except for a few desirable work items.  Closing this.

[2022-11-08 17:39] #907 closed

[2022-11-08 17:40] mzipse commented on #3176
Closing this the work is complete.  Just not sure we implemented as defined above.  But it's done.

[2022-11-08 17:40] #3176 closed

[2022-11-08 17:40] mzipse commented on #3177
Work is complete.  Closing.

[2022-11-08 17:40] #3177 closed

[2022-11-08 17:41] mzipse commented on #3178
Work is complete.  Closing.

[2022-11-08 17:41] #3178 closed

[2022-11-08 17:42] mzipse commented on #3179
Work is complete.  Closing.

[2022-11-08 17:42] #3179 closed

[2022-11-08 17:42] mzipse commented on #3180
Work is complete.  Closing.

[2022-11-08 17:42] #3180 closed

[2022-11-08 17:43] mzipse commented on #3199
Work is complete.  Closing.

[2022-11-08 17:43] #3199 closed

[2022-11-08 17:43] mzipse commented on #3260
Work is complete.  Closing.

[2022-11-08 17:43] #3260 closed

[2022-11-08 17:43] mzipse commented on #3261
Work is complete.  Closing.

[2022-11-08 17:43] #3261 closed

[2022-11-08 17:44] mzipse commented on #3143
Work is complete.  Closing.

[2022-11-08 17:44] #3143 closed

[2022-11-08 17:49] mzipse commented on #2813
This work is complete.  Closing.

[2022-11-08 17:49] #2813 closed

[2022-11-08 17:49] mzipse commented on #2327
This work is complete. Closing.

[2022-11-08 17:49] #2327 closed

[2022-11-08 17:50] mzipse commented on #2171
This work is complete. Closing.

[2022-11-08 17:50] #2171 closed

[2022-11-08 19:32] mzipse commented on #2689
Work is complete.  Closing.

[2022-11-08 19:32] #2689 closed

[2022-11-08 19:32] mzipse commented on #3233
Work is complete.  Closing.

[2022-11-08 19:33] #3233 closed

[2022-11-08 19:34] mzipse commented on #912
Work is complete.  CLosing.

[2022-11-08 19:35] mzipse commented on #2284
Work is complete.  Closing.

[2022-11-08 19:35] #2284 closed

[2022-11-08 19:35] mzipse commented on #2625
Work is complete.  Closing.

[2022-11-08 19:35] #2625 closed

[2022-11-08 19:40] mzipse commented on #1936
Work is complete.  Closing.

[2022-11-08 19:40] #1936 closed

[2022-11-08 19:40] mzipse commented on #2083
Work is complete.  Closing.

[2022-11-08 19:48] geissonator commented on #2695
We put in ECC detection and recovery in via a series of commits (https://gerrit.openbmc.org/c/openbmc/openbmc/+/57395 being one of them). phosphor-ecc will support looking for these errors. We're going to call that plus our use of phosphor-health-monitor for things like /tmp file usage, memory consumption, and cpu utilization good for this story.

[2022-11-08 19:48] #2695 closed

[2022-11-08 20:11] mzipse commented on #2014
Work is complete.  Closing.

[2022-11-08 20:11] #2014 closed

[2022-11-08 20:14] mzipse commented on #1845
Work is complete.  Closing.

[2022-11-08 20:14] #1845 closed

[2022-11-08 20:15] mzipse commented on #2194
Work is complete.  Closing.

[2022-11-08 20:15] #2194 closed

[2022-11-08 20:16] mzipse commented on #2007
Work is complete.  Closing.

[2022-11-08 20:16] #2007 closed

[2022-11-08 20:17] mzipse commented on #3085
Work is complete.  Closing.

[2022-11-08 20:17] #3085 closed

[2022-11-08 20:18] mzipse commented on #3329
Work is complete.  Closing.

[2022-11-08 20:18] #3329 closed

[2022-11-08 20:19] mzipse commented on #3098
Work is complete.  Closing.

[2022-11-08 20:19] #3098 closed

[2022-11-08 20:23] mzipse commented on #2552
Work is complete.  Closing.

[2022-11-08 20:23] #2552 closed

[2022-11-08 20:28] mzipse commented on #3067
Work is complete.  Closing.

[2022-11-08 20:28] #3067 closed

[2022-11-08 20:32] mzipse commented on #3150
Work is complete.  Closing.

[2022-11-08 20:32] #3150 closed

[2022-11-08 20:37] mzipse commented on #1429
Work is complete.  Closing.

[2022-11-08 20:37] #1429 closed

[2022-11-08 20:37] mzipse commented on #2734
Work is complete.  Closing.

[2022-11-08 20:37] #2734 closed

[2022-11-08 20:43] mzipse commented on #1538
Work is complete.  Closing.

[2022-11-08 20:43] #1538 closed

[2022-11-08 20:43] mzipse commented on #1537
Work is complete.  Closing.

[2022-11-08 20:43] #1537 closed

[2022-11-08 20:49] mzipse commented on #1964
Work is complete.  Closing

[2022-11-08 20:49] #1964 closed

[2022-11-08 21:03] mzipse commented on #3013
Work is complete.  Closing.

[2022-11-08 21:03] #3013 closed

[2022-11-08 21:03] mzipse commented on #3027
Work is complete.  Closing.

[2022-11-08 21:03] #3027 closed

[2022-11-08 21:54] mzipse commented on #3028
Work is complete.  Closing.

[2022-11-08 21:54] #3028 closed

[2022-11-08 23:45] mzipse commented on #1303
Work is complete.  Closing.

[2022-11-08 23:45] #1303 closed

[2022-11-08 23:45] mzipse commented on #2398
Work is complete.  Closing.

[2022-11-08 23:45] #2398 closed

[2022-11-08 23:46] mzipse commented on #2693
Work is complete.  Closing.

[2022-11-08 23:46] #2693 closed

[2022-11-08 23:47] mzipse commented on #2717
Work is complete.  Closing this.

[2022-11-08 23:47] #2717 closed

[2022-11-08 23:54] mzipse commented on #2562
Work is complete.  Closing.

[2022-11-08 23:54] #2562 closed

[2022-11-08 23:56] #1387 closed

[2022-11-08 23:57] #2738 closed

[2022-11-08 23:57] mzipse commented on #1403
Work is complete.  Closing.

[2022-11-09 00:00] mzipse commented on #1521
Work is complete.  Closing.

[2022-11-09 00:01] mzipse commented on #2977
Work is complete.  Closing.

[2022-11-09 05:03] dhruvibm commented on #723
This is merged and tested

[2022-11-09 05:03] #723 closed

[2022-11-09 05:14] dhruvibm commented on #2974
Support is added
https://github.ibm.com/openbmc/openpower-debug-collector/pull/17

[2022-11-09 05:14] #2974 closed

[2022-11-09 05:17] dhruvibm commented on #2975
This work is completed
https://github.ibm.com/openbmc/phosphor-debug-collector/pull/19

[2022-11-09 05:17] #2975 closed

[2022-11-09 05:18] dhruvibm commented on #2973
Added interface in downstream

[2022-11-09 05:18] #2973 closed

[2022-11-09 05:55] santoshpuranik commented on #2672
This one is delivered in the Rainier GA.

[2022-11-09 05:55] #2672 closed

[2022-11-09 12:53] ojayanth commented on #128
Sofar no issues reported , with larger flash supportde systems. closing this . now.

[2022-11-09 12:53] #128 closed

[2022-11-09 12:54] ojayanth commented on #3129
All the required support is in place.

[2022-11-09 12:54] #3129 closed

[2022-11-09 16:07] santoshpuranik commented on #1939
None of the above work actually was done in the LED manager app. The CM flow was handled within the VPD app. and the battery CM flow within bmcweb. Closing this one.

[2022-11-09 16:07] #1939 closed

[2022-11-09 16:08] santoshpuranik commented on #1021
This one is done. Fan VPD is placed on D-Bus and picked up by the bmcweb to publish via Redfish.

[2022-11-09 16:08] #1021 closed

[2022-11-09 16:17] santoshpuranik commented on #2010
Closing as SW542471 is now fixed.

[2022-11-09 16:17] #2010 closed

[2022-11-09 17:08] derekhoward55 commented on #3592
@lxwinspur Hi anything needed to get fixed with https://gerrit.openbmc.org/c/openbmc/bmcweb/+/57893?

[2022-11-09 17:17] joseph-reynolds commented on #3530
Closing this.  This was added to /redfish/v1 Oem.IBM.

[2022-11-09 17:17] #3530 closed, assigned to nobody

[2022-11-09 17:22] joseph-reynolds commented on #3188
This was done.

[2022-11-09 17:22] #3188 closed

[2022-11-09 17:23] joseph-reynolds commented on #3525
The appropriate operations now require service privilege.  Closing this issue.

[2022-11-09 17:26] joseph-reynolds commented on #3493
This was not done and is being tracked internally.

[2022-11-09 17:27] #3493 closed, assigned to nobody

[2022-11-09 17:27] joseph-reynolds commented on #3063
This was done for enterprise systems.  Closing.

[2022-11-09 17:27] #3063 closed

[2022-11-09 17:28] joseph-reynolds commented on #2739
This support was added a downstream enhancements to bmcweb and to phosphor-user-manager.  Closing.

[2022-11-09 17:28] #2739 closed

[2022-11-09 17:29] #2577 closed

[2022-11-09 17:30] joseph-reynolds commented on #2434
This is not being done and is not in any plan.

[2022-11-09 17:32] joseph-reynolds commented on #1544
This has become a discussion, not a specific issue to resolve.  Closing.

[2022-11-09 17:33] joseph-reynolds commented on #1529
Done, closing.  The Service Agent role was defined.  Manufacturing agent was not needed.

[2022-11-09 17:33] #1529 closed

[2022-11-09 17:34] joseph-reynolds commented on #1528
This was done for IBM systems which moved to the new admin account.  Closing.

[2022-11-09 17:34] #1528 closed

[2022-11-09 17:34] joseph-reynolds commented on #1327
This was not needed for current systems.

[2022-11-09 17:34] #1327 closed

[2022-11-09 17:35] joseph-reynolds commented on #1323
Dup of the ServiceAgent role as mentioned above.  Closing.

[2022-11-09 17:36] joseph-reynolds commented on #947
Upstream oe-core has the expire-password support.  IBM systems are using it.  Closing.

[2022-11-09 17:36] #947 closed

[2022-11-09 17:36] joseph-reynolds commented on #455
Firewall was not implemented.

[2022-11-09 17:36] #455 closed

[2022-11-09 17:37] joseph-reynolds commented on #454
Firewall was not implemented.

[2022-11-09 17:37] #454 closed

[2022-11-09 17:37] joseph-reynolds commented on #453
Firewall was not implemented.

[2022-11-09 17:37] #453 closed

[2022-11-09 17:37] joseph-reynolds commented on #452
Firewall was not implemented.

[2022-11-09 17:37] #452 closed

[2022-11-09 17:39] joseph-reynolds commented on #209
Closing.
This is done in open source here: https://github.com/openbmc/openbmc/wiki/Configuration-guide
And in IBM internal documented.
And in IBM customer documentation under ibm.com/docs

[2022-11-09 17:39] #3525 closed, assigned to nobody

[2022-11-09 19:20] mzipse commented on #957
This work is complete.  Closing.

[2022-11-09 19:20] #957 closed

[2022-11-09 19:27] mzipse commented on #2866
Work is complete.  Closing.

[2022-11-09 19:27] #2866 closed

[2022-11-09 20:35] anoo1 commented on #3431
Closing to track as part of Audit Logging.

[2022-11-09 20:35] #3431 closed

[2022-11-10 00:07] lxwinspur commented on #3592
Hi, @derekhoward55 , I just waiting for review.

[2022-11-10 07:28] ojayanth commented on #3282
No action required, based earlier comments. closing this

[2022-11-10 07:28] #3282 closed

[2022-11-10 07:29] ojayanth commented on #2225
There is no functional impact , just celanup work. i think we can close this now.

[2022-11-10 07:29] #2225 closed

[2022-11-10 07:30] #3130 closed

[2022-11-10 07:30] #1960 closed

[2022-11-10 07:33] ojayanth commented on #1940
No actions required.

[2022-11-10 07:33] #1571 closed

[2022-11-10 07:35] ojayanth commented on #741
Nice to have.

[2022-11-10 07:36] ojayanth commented on #676
No performance issues reported , Closing this now,

[2022-11-10 07:36] #676 closed

[2022-11-10 07:38] #595 closed

[2022-11-10 07:43] #594 closed

[2022-11-10 09:40] nmuruli commented on #1409
We do not want to spend time on this even in future releases

[2022-11-10 09:40] #1409 closed

[2022-11-10 09:40] nmuruli commented on #1410
We do not want to spend time on this even in future releases

[2022-11-10 09:40] #1410 closed

[2022-11-10 09:41] nmuruli commented on #3433
Code is merged , closing it

[2022-11-10 09:41] #3433 closed

[2022-11-10 09:43] nmuruli commented on #3435
Code changes are merged . https://github.com/ibm-openbmc/pldm/pull/236

[2022-11-10 09:43] #3435 closed

[2022-11-10 09:44] nmuruli commented on #809
Not going to need this anymore

[2022-11-10 09:44] #809 closed

[2022-11-10 09:45] nmuruli commented on #1447
This is already implemented

[2022-11-10 09:46] nmuruli commented on #1452
We will not be spending time on this activity during P11

[2022-11-10 09:48] nmuruli commented on #1461
We will be considering this optimization during the future releases

[2022-11-10 09:49] nmuruli commented on #1985
We have not seen any corruption of the file in /etc

[2022-11-10 09:49] #1985 closed

[2022-11-10 09:49] #1988 closed

[2022-11-10 09:50] nmuruli commented on #1988
Code changes already merged

[2022-11-10 09:52] nmuruli commented on #2395
There is no requirement to have FRU MNFG date as part of FRU table as for now even for P11

[2022-11-10 09:52] #2395 closed

[2022-11-10 09:52] nmuruli commented on #1408
We can not going to spend time on this activity

[2022-11-10 09:52] #1408 closed

[2022-11-10 09:52] nmuruli commented on #1411
Not going to spend time on this activity

[2022-11-10 09:52] #1411 closed

[2022-11-10 09:53] nmuruli commented on #2630
Not going to spend time on this activity

[2022-11-10 09:53] #2630 closed

[2022-11-10 09:54] nmuruli commented on #2773
Code changes merged and released

[2022-11-10 09:54] #2773 closed

[2022-11-10 09:55] nmuruli commented on #2876
We attempted this change and this required changes for HB . Its a complex change and we do not want to spend time on this activity

[2022-11-10 09:55] #2876 closed

[2022-11-10 09:58] nmuruli commented on #3148
Changes are merged into the build and released

[2022-11-10 09:58] #3148 closed

[2022-11-10 09:58] #910 closed

[2022-11-10 09:59] nmuruli commented on #3198
Merged and released

[2022-11-10 09:59] #3198 closed

[2022-11-10 09:59] nmuruli commented on #3201
Merged and released

[2022-11-10 09:59] nmuruli commented on #3200
Merged and released

[2022-11-10 10:00] nmuruli commented on #3174
Merged and released

[2022-11-10 10:00] #3174 closed

[2022-11-10 10:00] #3144 closed

[2022-11-10 10:15] #1257 closed

[2022-11-10 10:23] #3517 closed, assigned to sandeepasingh116

[2022-11-10 10:24] #3507 closed, assigned to Nikhil-Ashoka

[2022-11-15 21:04] spinler opened #3615 "Properly detect CPU presence in adcsensor"
The adcsensor daemon in dbus-sensors attempts to determine if an inventory path is a CPU by just checking for 'cpu' anwhere in the name here: https://github.com/openbmc/dbus-sensors/blob/master/src/ADCSensorMain.cpp#L348.

On IBM systems, that results in a bunch of extra calls because we have things in the inventory which have cpu in the name but aren't even cpus:

      │     │ ├─/xyz/openbmc_pro

[2022-11-16 01:14] amboar commented on #3159
Let's reassess future direction elsewhere.

[2022-11-16 01:14] #3159 closed

[2022-11-17 21:44] gtmills commented on #3370
We discussed this in discord, are you planning anything here @lxwinspur ?

[2022-11-18 02:01] lxwinspur commented on #3370
I pushed a commit for this issue: https://gerrit.openbmc.org/c/openbmc/phosphor-time-manager/+/56584
But Lei disagreed with this patch, do you have any suggestions? Do we need to change systemd?

[2022-11-28 02:14] lxwinspur commented on #3615
hey @spinler
Please review: https://gerrit.openbmc.org/c/openbmc/dbus-sensors/+/58966

[2022-11-30 14:36] mzipse commented on #3455
Work is complete.  Closing.

[2022-11-30 14:36] #3455 closed, assigned to sandeepasingh116

[2022-11-30 14:37] mzipse commented on #3497
Work is complete.  Closing.

[2022-11-30 14:37] #3497 closed, assigned to sandeepasingh116

[2022-11-30 14:37] mzipse commented on #3503
Work is complete.  Closing.

[2022-11-30 14:37] #3503 closed, assigned to sandeepasingh116

[2022-11-30 14:37] mzipse commented on #3394
Work is complete.  Closing.

[2022-11-30 14:37] #3394 closed

[2022-11-30 14:38] mzipse commented on #3302
Work is complete.  Closing.

[2022-11-30 14:38] #3302 closed

[2022-11-30 14:38] mzipse commented on #1288
Work is complete.  Closing.

[2022-11-30 14:38] #1288 closed

[2022-11-30 14:39] mzipse commented on #3379
Work is complete.  Closing.

[2022-11-30 14:39] #3379 closed

[2022-11-30 14:39] mzipse commented on #3378
Work is complete.  Closing.

[2022-11-30 14:39] #3378 closed

[2022-11-30 14:40] mzipse commented on #3395
Work is complete.  Closing.

[2022-11-30 14:40] #3395 closed

[2022-11-30 14:40] mzipse commented on #3380
Work is complete.  Closing.

[2022-11-30 14:40] #3380 closed

[2022-11-30 14:41] mzipse commented on #3445
Work is complete.  Closing.

[2022-11-30 14:45] mzipse commented on #3476
Work is complete.  Closing.

[2022-11-30 14:45] #3476 closed, assigned to SunnySrivastava1984

[2022-11-30 14:46] mzipse commented on #3591
Work is complete.  Closing.

[2022-11-30 14:46] #3591 closed, assigned to patelabhishek9893

[2022-11-30 17:47] mzipse commented on #3581
Work is complete.  Closing.

[2022-11-30 17:47] #3581 closed, assigned to patelabhishek9893

[2022-11-30 17:48] mzipse commented on #3585
Work is complete.  Closing.

[2022-11-30 17:48] #3585 closed, assigned to patelabhishek9893

[2022-11-30 17:48] mzipse commented on #3536
Work is complete.  Closing.

[2022-11-30 17:48] #3536 closed, assigned to patelabhishek9893

[2022-11-30 17:48] mzipse commented on #3537
Work is complete.  Closing.

[2022-11-30 17:48] #3537 closed, assigned to aahmed-2

[2022-11-30 17:49] mzipse commented on #3538
Work is complete.  Closing.

[2022-11-30 17:49] #3538 closed, assigned to aahmed-2

[2022-11-30 17:49] mzipse commented on #2219
Work is complete.  Closing.

[2022-11-30 17:49] #2219 closed

[2022-11-30 17:51] mzipse commented on #3552
Work is complete.  Closing.

[2022-11-30 17:51] #3552 closed, assigned to sbteeks

[2022-11-30 17:51] mzipse commented on #3533
Work is complete.  Closing.

[2022-11-30 17:51] #3533 closed, assigned to patelabhishek9893

[2022-11-30 17:51] mzipse commented on #3534
Work is complete.  Closing.

[2022-11-30 17:51] #3534 closed, assigned to patelabhishek9893

[2022-11-30 17:52] mzipse commented on #3535
Work is complete.  Closing.

[2022-11-30 17:52] #3535 closed, assigned to sbteeks

[2022-11-30 17:52] mzipse commented on #3484
Work is complete.  Closing.

[2022-11-30 17:52] #3484 closed, assigned to aahmed-2

[2022-11-30 17:53] mzipse commented on #3584
Work is complete.  Closing.

[2022-11-30 17:53] #3584 closed, assigned to aahmed-2

[2022-11-30 17:53] mzipse commented on #1453
Work is complete.  Closing.

[2022-11-30 17:53] #1453 closed

[2022-11-30 17:54] mzipse commented on #1454
Work is complete.  Closing.

[2022-11-30 17:54] #1454 closed

[2022-11-30 17:54] mzipse commented on #1454
Work is complete.  Closing.

[2022-11-30 17:55] mzipse commented on #1975
Work is complete.  Closing.

[2022-11-30 17:55] #1975 closed

[2022-11-30 19:23] mzipse commented on #3201
Work is complete.  Closing.

[2022-11-30 19:23] #3201 closed

[2022-11-30 19:24] mzipse commented on #3424
Work is complete.  Closing.

[2022-11-30 19:24] #3424 closed

[2022-11-30 19:28] mzipse commented on #3339
Work is complete.  Closing.

[2022-11-30 19:28] #3339 closed

[2022-11-30 19:30] mzipse commented on #1779
Work is complete.  Closing.

[2022-11-30 19:30] #1779 closed

[2022-11-30 19:32] mzipse commented on #2981
Work is complete.  Closing.

[2022-11-30 19:32] #2981 closed

[2022-11-30 19:33] mzipse commented on #3366
Work is complete.  Closing.

[2022-11-30 19:33] #3366 closed

[2022-11-30 19:33] mzipse commented on #3356
Work is complete.  Closing.

[2022-11-30 19:33] #3356 closed

[2022-11-30 19:34] mzipse commented on #3166
Work is complete.  Closing.

[2022-11-30 19:34] #3166 closed

[2022-11-30 19:35] mzipse commented on #3564
Work is complete.  Closing.

[2022-11-30 19:35] #3564 closed, assigned to aahmed-2

[2022-11-30 19:36] mzipse commented on #3551
Work is complete.  Closing.

[2022-11-30 19:36] #3551 closed, assigned to sbteeks

[2022-11-30 19:48] geissonator commented on #944
Although a nice to have, I just don't see this happening. I'm going to keep https://github.com/ibm-openbmc/dev/issues/105 open to track better documentation.

[2022-11-30 19:48] #944 closed

[2022-11-30 19:49] gtmills commented on #3328
This is done and merged: https://gerrit.openbmc.org/c/openbmc/openbmc/+/57808

[2022-11-30 19:49] #3328 closed

[2022-11-30 19:50] geissonator commented on #435
Unfortunately, testing showed that this optimization was not working as expected and it appeared to be a limitation of what was provided on d-bus.

[2022-11-30 19:50] #435 closed

[2022-11-30 19:55] gtmills commented on #3442
I don't think we need this anymore. Was a witherspoon thing. @spinler please reopen if we still need.

[2022-11-30 19:55] #3442 closed

[2022-11-30 19:56] mzipse commented on #3575
Closing this Epic.  The remaining story #3580 will be migrated to Jira.

[2022-11-30 19:56] #3575 closed, assigned to geissonator

[2022-11-30 19:58] gtmills commented on #3355
This is done. https://github.com/openbmc/openbmc/blob/master/meta-ibm/recipes-phosphor/interfaces/bmcweb_%25.bbappend#L11

[2022-11-30 19:58] #3355 closed

[2022-11-30 19:59] #2945 closed

[2022-11-30 19:59] #2944 closed

[2022-11-30 20:00] gtmills commented on #3606
Internal defect closed. Closing this.

[2022-11-30 20:00] #3606 closed, assigned to ChicagoDuan, lxwinspur

[2022-11-30 20:01] gtmills commented on #3527
@sandeepasingh116 I think this is done. Can we close?

[2022-11-30 20:02] gtmills commented on #3344
Done upstream.

[2022-11-30 20:02] #3344 closed

[2022-11-30 20:04] gtmills commented on #3426
Closing.

[2022-11-30 20:04] #3426 closed

[2022-11-30 20:04] gtmills commented on #3528
@sandeepasingh116 I think this can be closed?

[2022-11-30 20:06] gtmills commented on #3346
https://gerrit.openbmc.org/c/openbmc/phosphor-dbus-interfaces/+/47683 and https://gerrit.openbmc.org/c/openbmc/phosphor-logging/+/58815 merged. Just need the bmcweb commit.

[2022-11-30 20:07] gtmills commented on #3349
@joseph-reynolds This is complete. I closed, please reopen if there is anything more here.

[2022-11-30 20:07] #3349 closed

[2022-11-30 20:09] gtmills commented on #3406
What we have today works for now. We need to get PCIe Slots merged upstream. I am going to close.

[2022-11-30 20:09] #3406 closed

[2022-11-30 20:11] gtmills commented on #258
We don't support KVM on PowerVM systems so just going to close.

[2022-11-30 20:11] #258 closed

[2022-11-30 20:12] gtmills commented on #1830
@joseph-reynolds Can we close this?

[2022-11-30 23:59] mzipse commented on #111
No plans to do anything here, except for future documentation.  Closing this.

[2022-11-30 23:59] #111 closed