[2022-01-18 20:54] spinler commented on #3381
These are all merged now.

[2022-01-18 20:54] #3381 closed

[2022-01-18 22:44] dixsie opened #3445 "GUI: FED: Bug: Unable to set a value on "Power saver modes""
### Expected Behavior
-------

Should be able to save power saver mode value.

### Actual Behavior
-------

Unable to set a value on "Power saver modes" and GUI does not reflect current status.

### Steps to Reproduce the Problem
-------

1. Log into eBMC GUI and navigate to "Resource Management" ----> Power ----> Power saver modes

Select mode:
Static
Power saver
Maximum performance

(not sure wh

[2022-01-19 01:40] gtmills commented on #2968
@lxwinspur Has this been merged upstream ?

[2022-01-19 01:40] gtmills commented on #2969
@lxwinspur Has this been merged upstream ?

[2022-01-19 01:42] lxwinspur commented on #2969
Yeah, I think so
https://gerrit.openbmc-project.xyz/c/openbmc/telemetry/+/46111

[2022-01-19 01:43] lxwinspur commented on #2968
No, still reviewing
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/44270/

[2022-01-19 02:03] gtmills commented on #2969
https://gerrit.openbmc-project.xyz/c/openbmc/telemetry/+/46111

And the bmcweb change as well?
If so, then yeah lets close. If not, let's use this to track getting that in. We might not have to do any coding, just reviews, etc.

[2022-01-19 02:04] gtmills commented on #2968
Let's use this to track getting in.
Since we have this downstream, I moved this to Code Review in Driver.

[2022-01-19 03:51] RameshIyyar commented on #3376
Codes are merged in the fw-39 branch
https://github.ibm.com/openbmc/openbmc/pull/1727
https://github.ibm.com/openbmc/openbmc/pull/1736

[2022-01-19 03:51] #3376 closed

[2022-01-19 03:53] RameshIyyar commented on #3294
Codes are merged in the upstream and available in the driver
https://gerrit.openbmc-project.xyz/q/topic:SRV_ACTION

[2022-01-19 03:53] #3294 closed

[2022-01-19 03:57] RameshIyyar commented on #3293
TPM and NX codes are merged

https://github.com/open-power/pdbg/pull/61
https://github.com/ibm-openbmc/openpower-hw-isolation/pull/10

PMIC and Generic I2C Device codes are in the review.

https://github.com/open-power/pdbg/pull/63
https://github.com/open-power/pdata/pull/10
https://github.com/ibm-openbmc/openpower-hw-isolation/pull/11
https://github.ibm.com/openbmc/openbmc/pull/1689

[2022-01-19 03:59] RameshIyyar commented on #2547
Codes are in the review
https://github.com/open-power/ipl/pull/30

[2022-01-19 04:02] RameshIyyar commented on #1962
Looks like this issue was duplicated with https://github.com/ibm-openbmc/dev/issues/3294 so closing and that pointed issue are addressed.

[2022-01-19 04:02] #1962 closed

[2022-01-19 04:05] RameshIyyar commented on #1740
op-proc-control supports were also added.
https://gerrit.openbmc-project.xyz/c/openbmc/openpower-proc-control/+/46604

[2022-01-19 04:05] #1740 closed

[2022-01-19 15:08] msbarth opened #3446 "PFP::monitor - Create an equivalent `fanctl` application for fan monitor"
It would be beneficial to have an application similar to `fanctl` for the fan monitoring application that can display fan status information that's associated with the fan monitoring application (i.e. Functional states, configured fan feedback/target deviation range allowed w/ current feedback/target values, reload fan monitor's config, etc..).

[2022-01-19 16:34] msbarth commented on #3357
An unwanted side effect of having fan monitor delay monitoring after a reset at runtime is that since there's still no way of knowing fan monitor was restarted due to the bmc reset, it would also delay monitoring if at anytime only fan monitor was restarted while at runtime. This may be the necessary option still until changes to how the fan watchdog is handled can be done in the bmc reset at runt

[2022-01-20 01:40] amboar commented on #3437
`gpio: Add bmc-secure-boot`: https://gerrit.openbmc-project.xyz/c/openbmc/docs/+/47134

[2022-01-20 11:58] sandeepasingh116 commented on #3432
Had a discussion with @Srisuk in order to understand the code to help with debugging. She has owned up to solve this bug as she has better understanding of server power ops page.

[2022-01-20 13:59] dixsie opened #3447 "GUI: FED: Bug: Unable to upload ACF file"
## Expected Behavior
User should be able to upload .acf file. `form-file` should `accept` .acf files

## Actual Behavior
.acf file is greyed out and user is unable to upload.

![image.png](https://images.zenhubusercontent.com/5c969c26c2488c52df50b7eb/15639444-1bf4-4bad-983b-e739a5df4b33)

## Steps to Reproduce the Problem

1. Login to OpenBMC GUI
2. Navigate to certificate page
3. Try to select AC

[2022-01-20 16:46] gtmills commented on #3434
This change is here https://github.ibm.com/openbmc/webui-vue/pull/45

[2022-01-20 16:46] #3434 closed

[2022-01-20 18:02] msbarth opened #3448 "bmcweb::redfish - Repeatedly adding [ERROR "fan.hpp":587] The fan obtained at this time does not belong to chassis to journal"
When a fan is removed, the following journal entry is added repeatedly:
[code]

The fan inventory objects are under `/xyz/openbmc_project/inventory/system/chassis/motherboard/` where the fan FRU is a child of `motherboard` and the fans rotor(s) are a child of the FRU.
[code]

[2022-01-20 18:36] msbarth opened #3449 "bmcweb::redfish - Missing fan "Health" state not updated to reflect "Functional" dbus property for fan"
After a fan is pulled, `Present = false` and after a configured delay, `Functional = false` on the inventory objects related to the fan that was removed. The redfish output of this fan correctly shows the "State" as "Absent", however the "Health" attribute is not updated and still shows "OK"

[code]

Journal traces on BMC after fan was removed:
[code]
However "Health = OK" still
[code]

[2022-01-20 18:50] msbarth commented on #3449
Pretty sure the bug is on fan.hpp:67
[code]
@gtmills ^

[2022-01-20 19:03] gtmills commented on #3449
@msbarth Agreed. I'll let @lxwinspur decide who should make the fix. I left a comment upstream at https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/41086/59/redfish-core/lib/fan.hpp

[2022-01-20 19:06] msbarth opened #3450 "bmcweb::redfish - `motherboard` included under `ThermalSubsystem/Fans`"
A `motherboard` fan entry is being included 1-to-many times under the `ThermalSubsystem/Fans` collection and it never should be. The only fan relation to "motherboard" is within all the fan inventory object paths, so there appears to be a parsing problem in utilizing the fan object paths from inventory to then lookup their associated fan sensor object paths.

[code]

Another instance of many "moth

[2022-01-20 19:09] gtmills commented on #3450
This is probably not a bmcweb change

[2022-01-20 19:10] msbarth commented on #3450
Then why does it intermittently happen?... the location of the fan inventory objects, by design, have been under "motherboard" from the beginning

[2022-01-20 19:14] gtmills commented on #3450
@lxwinspur Can you verify you are only getting "xyz.openbmc_project.Inventory.Item.Fan" inventory items and reporting those as Fans ?

[2022-01-20 22:16] ghost opened #3451 "GUI: FED: Bug: Header not updating when refresh button is pressed"
## Expected Behavior
Header should show updated informaion when the refresh button is pressed via a GET api call.

## Actual Behavior
Header is not getting updated infomatiion when the refresh button is pressed.

## Steps to Reproduce the Problem

  1. Push the refresh button and check if there was a GET request from the network.

## Specifications
  - Browser: Firefox, Chrome, Safari
  - Version:

[2022-01-20 22:29] geissonator opened #3452 "ibmswtpm2 no longer builds in upstream"
We get this error:
[code]

Upstream brought in openssl3.0. https://sourceforge.net/p/ibmswtpm2/tickets/18/ tracks something that appears to be similar but it's not totally clear.

For now, to keep upstream moving forward, we're going to remove this package from p10bmc systems.

[2022-01-21 02:04] lxwinspur commented on #3450
@gtmills @msbarth
Sure, I will tell my team to fix this issue as soon as possible

[2022-01-21 09:20] zhanghaodi commented on #3450
@msbarth
May I ask which model you tested the bug in, we have not reproduced this bug here,
Could you show the configured associations.json
and execute in your test machine
busctl call xyz.openbmc_project.ObjectMapper /xyz/openbmc_project/object_mapper xyz.openbmc_project.ObjectMapper GetSubTree sias /xyz/openbmc_project/inventory 0 1 xyz.openbmc_project.Inventory.Item.Fan --verbose
Is the result

[2022-01-21 09:23] lxwinspur commented on #3448
review by: https://github.com/ibm-openbmc/bmcweb/pull/231

[2022-01-21 09:23] lxwinspur commented on #3449
review by: https://github.com/ibm-openbmc/bmcweb/pull/231

[2022-01-21 13:31] Nikhil-Ashoka commented on #3393
Resolved by: https://github.ibm.com/openbmc/webui-vue/pull/46 for CE login

[2022-01-21 13:40] msbarth commented on #3450
@zhanghaodi
The first example above was seen on a Rainier2U and the second was on an Everest system, both containing dual rotor fan hardware. I will get time on one or both of those system today and post what I find for what you're asking about. Thanks!

[2022-01-21 15:52] msbarth commented on #3450
Attached are the `associations.json` and the busctl output for that command from the Everest where I saw the problem
[Everest_ibm3450.zip](https://github.com/ibm-openbmc/dev/files/7914948/Everest_ibm3450.zip)
.

[2022-01-21 19:31] ghost commented on #3445
Resolved by: https://github.ibm.com/openbmc/webui-vue/pull/47

[2022-01-24 00:59] lxwinspur commented on #3450
@msbarth
I checked the busctl.txt file and found that may be a bug with PLDM.

[code]

The following interfaces should not exist in the /xyz/openbmc_project/inventory/system/chassis/motherboard/dcm0/cpu0/core10 path:

[code]

@manojkiraneda Could you check this issue?

[2022-01-24 06:09] manojkiraneda commented on #3450
ah, wierd. It seems some how pldm ended up hosted all the interfaces on core dbus objects. which probably is the route cause for this problem .

[2022-01-24 06:10] manojkiraneda commented on #3450
@msbarth @gtmills do you guys know how to re-create this issue ? this might be a tricky one

[2022-01-24 09:07] sandeepasingh116 opened #3453 "Add missing properties to Dimms table"
## Expected Behavior
DIMM details like AllowedSpeedsMHz, FirmwareRevision, Manufacturer, Model and RankCount are missing in hardware inventory page.

## Actual Behavior
The above mentioned properties should be added to the Dimms table

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications
  - Browser:
  - Version:

[2022-01-24 09:24] sunharis opened #3454 "PostCode event performance improvement"
When the system IPLs, numbers of boot progress indicators are generated, and each code generates an event. HMC consumes
this event and displays the boot progress at HMC GUI

While sending the events, bmcweb does a costly dbus call to get the current postcode - "GetPostCodesWithTimeStamp"

This story should remove this dbus call. Change the logic to calculate the current postcode url while sending

[2022-01-24 09:25] sunharis commented on #3454
https://github.com/ibm-openbmc/bmcweb/pull/233

[2022-01-24 09:32] ChicagoDuan commented on #3397
@gtmills Can we close this issue?

[2022-01-24 10:57] sunharis commented on #1383
We are not going to support OPAL on IBM systems. Need to check if this is required? Will discuss with Dean and take an action.

[2022-01-24 11:09] #3363 closed

[2022-01-24 11:11] sunharis commented on #3151
Code merged to downstream

[2022-01-24 11:11] #3151 closed

[2022-01-24 11:11] sunharis commented on #3147
Code merged to downstream.

[2022-01-24 11:11] #3147 closed

[2022-01-24 11:11] sunharis commented on #3149
Code merged to downstream

[2022-01-24 11:11] #3149 closed

[2022-01-24 11:13] sunharis commented on #3351
Downstream only change. Code merged to 1020

[2022-01-24 11:13] #3351 closed

[2022-01-24 11:14] sunharis commented on #3275
Downstream only change. Closing the story

[2022-01-24 11:14] #3275 closed

[2022-01-24 11:18] sunharis commented on #1776
All framework code is merged to master and some IBM specific code are merged to 1020

[2022-01-24 11:18] #1776 closed

[2022-01-24 11:20] sunharis commented on #3348
Merged to 1020. This is downstream-only change. Pushing it upstream is not yet planned.

[2022-01-24 11:20] #3348 closed

[2022-01-24 11:20] sunharis commented on #3347
Downstream-only change. Merged to 1020. Upstreaming is not yet planned

[2022-01-24 11:20] #3347 closed

[2022-01-24 11:21] sunharis commented on #3295
Downstream-only change. Merged to 1020. Upstreaming is not yet planned

[2022-01-24 11:21] #3295 closed

[2022-01-24 14:27] dixsie commented on #3411
HMC session disconnects only from HMC

Closing because HMC will always try to reconnect, not F/e issue.

[2022-01-24 14:27] #3411 closed

[2022-01-24 14:40] dixsie commented on #3019
@joseph-reynolds @gtmills Is there a redfish property to check who is allowed to upload an ACF file from the login page? Or can anyone upload from login page? Rahul said we need to check if uploading ACF is selected from the Op panel before uploading from the login page

[2022-01-24 15:02] ojayanth commented on #3285
Discussed with  BMC/Host team the agreed direction is to use existing BIOS schema for this minmum secure boot version info,

[2022-01-24 15:37] msbarth commented on #3450
Ah, good catch George

When I attempted to collect the debug info requested, I did not see the issue on the 2U system where I previously saw it...however it was still present on the Everest box so I dont know how it recreates or not.

[2022-01-24 16:57] ghost commented on #3412
Resolved By: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/50616

[2022-01-24 17:10] gtmills opened #3455 "GUI : FED : Some helper text on the GUI session page to say something like "If the HMC is active, it will attempt to reconnect. To disconnect a working HMC, please do so from the HMC itself.""
This was discussed at Dean's 1/18 meeting. From https://ibm.ent.box.com/file/907664148976

Unable to convert HMC to non-HMC managed system via eBMC GUI (Gunnar, Brad, Hari, Rahul)
???Discuss https://w3.rchland.ibm.com/projects/bestquest/?defect=SW542000
???GUI triggers disconnect of HMC connection, HMC session gets deleted. But because of HMC behaviour, HMC retries to connect back with the BMC and

[2022-01-24 19:59] spinler opened #3456 "peltool: Order PELs by commit timestamp, not EID"
Because hostboot now assigns their own EIDs, the peltool output always shows theirs last.  We can fix that but just always ordering by the commit timestamp, which the BMC always has control of.

[2022-01-24 20:10] #2243 closed

[2022-01-24 20:11] patelabhishek9893 commented on #2243
This change does not need on upstream

[2022-01-24 21:35] gtmills commented on #3411
The ask was to add some helper text here:
https://github.com/ibm-openbmc/dev/issues/3455 tracks this

[2022-01-24 21:46] #3412 closed

[2022-01-24 21:50] dixsie commented on #3019
@sandeepasingh116 let's hold off for now until we can sort ot how to handle uploading ACF from the login page.

[2022-01-24 21:53] dixsie commented on #1492
@Srisuk system should be powered on to get a response

[2022-01-24 21:54] dixsie commented on #1490
@Srisuk you won't see anything in the console unless you type something. try typing `ls`

[2022-01-24 21:57] dixsie commented on #2819
need to follow up if only `service` and `admin` users can enable/disable sol with SSH?

[2022-01-24 22:06] anoo1 opened #3457 "Simplify VERSION string"
Currently the VERSION string contains the git tag information, remove this information in bmcweb so that the GUI displays a VERSION that makes sense to the customers.

[2022-01-24 22:20] anoo1 opened #3458 "GUI : FED : Add toggle to enable/disable the secure version lock in"
## SME
**BMC**:
**RAS**:
**PHYP**:

## FED
### Overview
There is a requirement to have the GUI offer a toggle to enable/disable the "secure version lock in", which is a bios attribute (https://github.com/openbmc/pldm/commit/ea72f240bbb734b0faa8f9b29056eca5a163c1de). The secure version lock in is a security feature that is Disabled by default. If enabled, the host (bios) firmware prevents the host

[2022-01-24 22:22] ghost commented on #3451
Solved by: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/50633

[2022-01-24 22:25] anoo1 commented on #3305
I would say something like:

USB Firmware Update Policy: Enabled
Enabling the USB Firmware Update Policy will enable the functionality to allow firmware updates through a USB key.
Disabling the USB Firmware Update Policy will disable the functionality to allow firmware updates through a USB key.

[2022-01-25 02:54] lxwinspur commented on #3448
Merged ibm-openbmc/bmcweb 1020 branch

[2022-01-25 02:54] #3448 closed, assigned to lxwinspur

[2022-01-25 02:55] lxwinspur commented on #3449
Merged ibm-openbmc/bmcweb 1020 branch

[2022-01-25 02:55] #3449 closed, assigned to lxwinspur

[2022-01-25 07:36] sumitk56 commented on #2406
Resolved by - https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-logging/+/50618

[2022-01-25 07:59] RameshIyyar commented on #2406
Hi @spinler

Just another question on this.

We have a flow to deconfigure the resource **without guard record** and one of the flow is, it can be deconfigured by the error log so we will create hardware status events (DBus events) to exchange the deconfigure reason via an external interface (Redfish) and that's associated with the error log so do we need to consider that events as well before pur

[2022-01-25 15:02] gtmills commented on #3424
Call this OEM property FirmwareVersion to fit with other properties called that , e.g.
[code]

[2022-01-25 18:00] gtmills commented on #3424
If you find xyz.openbmc_project.Software.Version on the chassis, implement this OEM FirmwareVersion.

[2022-01-25 18:02] gtmills commented on #3424
After you have the OEM defined, implement it here: https://github.com/ibm-openbmc/bmcweb/blob/1020/redfish-core/lib/chassis.hpp

[2022-01-25 18:03] gtmills commented on #3424
https://github.com/ibm-openbmc/pldm/pull/109 is the pldm implementing this

[2022-01-25 18:55] bjwyman commented on #1709
I was a bit thrown off by the in2_label = vmon thing. I was not familiar with that, and it did not appear to match the Linux DD docs.
https://github.com/openbmc/openbmc/blob/master/meta-ibm/recipes-phosphor/sensors/phosphor-hwmon/witherspoon/obmc/hwmon/ahb/apb/bus@1e78a000/i2c-bus@100/power-supply@68.conf
* input voltage
* input power
* output voltage
* output current

Those look like the ones to

[2022-01-25 18:56] bjwyman commented on #1709
The output voltage could *maybe* include the extra one for standby voltage.

[2022-01-25 19:03] gtmills opened #3459 "Remove health.hpp where it isn't used"
See https://ibm-systems-power.slack.com/archives/C02VBSZCH50/p1643135022091500?thread_ts=1643133627.087300&cid=C02VBSZCH50

[code]

Downstream only change here

[2022-01-26 05:41] lxwinspur commented on #3423
This has been merged upstream, we can close this issue.

[2022-01-26 05:41] #3423 closed

[2022-01-26 06:36] lxwinspur commented on #3248
This has been merged donstream

[2022-01-26 06:36] #3248 closed

[2022-01-26 19:24] msbarth opened #3460 "PFP::control::fanctl - Display dump file created after the file has finished being written"
Currently `fanctl dump` issues a SIGUSR1 to fan control to create a dump and immediately returns that the dump file was created in /tmp. This is misleading since a user could access that file, that may have been created from a prior run of `fanctl dump`, where it does not contain the new dump data yet. It would be good to hold off returning the `fanctl dump` command until after the dump file has b

[2022-01-26 19:29] msbarth opened #3461 "PFP::control::fanctl - Add when a SIGHUP occurs to the flight_recorder"
When a SIGHUP is received to reload fan control's config, that should be added to the flight_recorder to record when its configs would have been reloaded.

(Also should look at expanding the size of the overall flight_recorder with this change)

[2022-01-26 19:36] wrightjl1 commented on #927
Second review: Add generic failure handling to base class https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-power/+/50627

[2022-01-26 20:43] msbarth commented on #1592
Following added by PR https://github.ibm.com/openbmc/openbmc/pull/1775

Rainier-2U(*Part number changed for new fan hardware - tach line swap)

- PN = 02YK200
- SN = FA121A06-K28
- DR = "Fan"
- Manufacturer = "Delta"

Rainier-4U & Rainier-1S4U

- PN = 02YK323
- SN = BFM1012EH-00EYW
- DR = "Blower"
- Manufacturer = "Delta"

[2022-01-27 02:34] shenki commented on #3439
v3 is out for review https://lore.kernel.org/all/20220121053816.82253-1-joel@jms.id.au/

[2022-01-27 02:35] shenki commented on #3439
Userspace changes for pdbg: https://github.com/amitay/pdbg/commits/ioctl

[2022-01-27 02:38] geissonator opened #3462 "validate secure boot settings when in manufacturing mode"
Read a GPIO(?) and compare with the sysfs file from https://github.com/ibm-openbmc/dev/issues/3438. If we're in mfg mode, log an error if they are not correct.

More details needed but this is a place holder to track this error logging function.

[2022-01-27 02:48] gtmills opened #3463 "Excess traces in the ThermalMetrics Query"
ThermalMetrics works but see excess traces in the Journal
[code]
[code]

[2022-01-27 10:12] chiragsibm commented on #2597
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-debug-collector/+/47088 -> System dump serialization
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-debug-collector/+/47234 -> Resource dump serialization

[2022-01-27 11:44] rfrandse commented on #2736
refresh

[2022-01-27 11:45] rfrandse commented on #50
refresh

[2022-01-27 11:49] rfrandse commented on #242
refresh

[2022-01-27 11:49] rfrandse commented on #2305
refresh

[2022-01-27 11:51] rfrandse commented on #2411
refresh

[2022-01-27 11:52] rfrandse commented on #407
refresh

[2022-01-27 11:53] rfrandse commented on #412
refresh

[2022-01-27 11:53] rfrandse commented on #2467
refresh

[2022-01-27 11:55] rfrandse commented on #567
refresh

[2022-01-27 11:56] rfrandse commented on #570
refresh

[2022-01-27 11:56] rfrandse commented on #573
refresh

[2022-01-27 11:57] rfrandse commented on #574
refresh

[2022-01-27 11:57] rfrandse commented on #577
refresh

[2022-01-27 11:58] rfrandse commented on #579
refresh

[2022-01-27 12:01] rfrandse commented on #2813
refresh

[2022-01-27 12:04] rfrandse commented on #2945
refresh

[2022-01-27 12:05] rfrandse commented on #2964
refresh

[2022-01-27 12:05] rfrandse commented on #3016
refresh

[2022-01-27 12:07] rfrandse commented on #3154
refresh

[2022-01-27 12:07] rfrandse commented on #3236
refresh

[2022-01-27 12:08] rfrandse commented on #1193
refresh

[2022-01-27 12:08] rfrandse commented on #3276
refresh

[2022-01-27 12:08] rfrandse commented on #1258
refresh

[2022-01-27 12:09] rfrandse commented on #3358
refresh

[2022-01-27 12:09] Su-kan commented on #1492
Resolved by https://github.ibm.com/openbmc/webui-vue/pull/50

[2022-01-27 12:10] Su-kan commented on #1490
Resolved by https://github.ibm.com/openbmc/webui-vue/pull/50

[2022-01-27 12:10] Su-kan commented on #3432
Resolved by https://github.ibm.com/openbmc/webui-vue/pull/48

[2022-01-27 12:11] rfrandse commented on #1328
refresh

[2022-01-27 12:13] rfrandse commented on #1489
refresh

[2022-01-27 12:16] rfrandse commented on #1832
refresh

[2022-01-27 12:17] rfrandse commented on #3382
refresh

[2022-01-27 12:18] rfrandse commented on #1936
refresh

[2022-01-27 12:19] rfrandse commented on #1942
refresh

[2022-01-27 12:19] rfrandse commented on #1977
refresh

[2022-01-27 12:20] rfrandse commented on #2040
refresh

[2022-01-27 13:14] mzipse commented on #2793
refresh

[2022-01-27 13:50] Nikhil-Ashoka commented on #2819
Resolved by: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/50717 for RTAD and VirtualTPM

[2022-01-27 16:05] spinler commented on #2406
@RameshIyyar All we'd have to do for that case is look for a /xyz/openbmc_project/logging/entry/295/event_log association?  No Resolved properties or anything to check?

[2022-01-27 16:31] msbarth commented on #3103
Fan control is handled under issue #3461

The remaining fan apps need to have a "flight recorder" implemented and a method to dump that information to a file. That work should be done under this issue.

[2022-01-27 18:12] gtmills commented on #3463
FYI @lxwinspur @msbarth

[2022-01-27 18:13] gtmills opened #3464 "ProcessorSummary and MemorySummary Status"
Typically we map "Status""State" to the Present property on D-Bus. E.g. https://github.com/ibm-openbmc/bmcweb/blob/1020/redfish-core/lib/fan.hpp#L15
And we map "Status""Health" to the Functional property on D-Bus. E.g.
https://github.com/ibm-openbmc/bmcweb/blob/1020/redfish-core/lib/power_supply.hpp#L168

In the ComputerSystem ProcessorSummary and MemorySummary we are mapping ["Status"]["State"] t

[2022-01-27 18:52] patelabhishek9893 commented on #3424
downstream https://github.com/ibm-openbmc/bmcweb/pull/241

[2022-01-27 18:59] gtmills opened #3465 "Push new fan-oem-data meson option upstream"
https://github.com/ibm-openbmc/bmcweb/pull/234

[2022-01-27 21:04] gtmills commented on #3459
Fixed here: https://github.com/ibm-openbmc/bmcweb/pull/237

[2022-01-27 21:04] #3459 closed, assigned to gtmills, patelabhishek9893, aahmed-2

[2022-01-27 21:34] bjwyman opened #3466 "IBM PSU 4th temperature"
A 4th temperature reading command was being added to the IBM power supplies.

Device driver and telemetry updates?

[2022-01-27 21:56] bjwyman commented on #1815
I think there is some slight overlap here.

I was doing that as part of #1709.

[2022-01-28 01:53] bjwyman commented on #1709
https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/50743
sensors:p10bmc:Add power-supply hwmon configs

https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/50744
meta-ibm: Add power supply sensor associations

[2022-01-28 02:30] RameshIyyar commented on #2406
Yes, Matt. we need to look at the `event_log` end point to get the associated hardware isolation status event.

and Yes, we don't have Resolved property in the Event D-Bus interface and those events go away in the next IPL if those events are resolved.

[2022-01-28 08:07] lxwinspur commented on #3463
review by: https://github.com/ibm-openbmc/bmcweb/pull/242

[2022-01-28 11:44] rfrandse commented on #2058
refresh

[2022-01-28 11:45] rfrandse commented on #2082
refresh

[2022-01-28 11:47] rfrandse commented on #2183
refresh

[2022-01-28 11:48] rfrandse commented on #242
refresh

[2022-01-28 11:49] rfrandse commented on #2305
refresh

[2022-01-28 11:53] rfrandse commented on #412
refresh

[2022-01-28 11:55] rfrandse commented on #567
refresh

[2022-01-28 11:56] rfrandse commented on #574
refresh

[2022-01-28 11:57] rfrandse commented on #577
refresh

[2022-01-28 12:03] rfrandse commented on #904
refresh

[2022-01-28 12:05] rfrandse commented on #3016
refresh

[2022-01-28 12:07] rfrandse commented on #1193
refresh

[2022-01-28 12:10] rfrandse commented on #1328
refresh

[2022-01-28 12:11] rfrandse commented on #570
refresh

[2022-01-28 17:39] bjwyman commented on #918
Plan on separating out BEh command support and the errno DD bind tracing to separate issues/stories.

[2022-01-28 19:08] msbarth commented on #3405
An additional fix is needed in this area so that the service appropriately matches to the group members and interface configured. This appears to be a bug for services that do not exist when fan control starts for objects that may never exist on dbus causing a hold target to never be released.

[2022-01-28 20:55] rfrandse commented on #567
refresh

[2022-01-28 20:57] rfrandse commented on #577
refresh

[2022-01-28 21:09] rfrandse commented on #1328
refresh

[2022-01-28 21:10] msbarth opened #3467 "PFP::control - Virtual ambient and altitude sensors appear corrupted in cache"
It was found on an Everest system that the virtual ambient and altitude values worked correctly while those values increased, however after they were brought back down (in a thermal/pressure chamber) the values did not return to their prior lower points. Instead they appeared to have corrupted values since the values of those objects on dbus, provided by their respective services, were correct. So

[2022-01-28 21:15] rfrandse commented on #1929
refresh

[2022-01-29 12:06] rfrandse commented on #1328
refresh

[2022-01-29 12:07] rfrandse commented on #1364
refresh

[2022-01-30 08:30] manojkiraneda commented on #3450
There was a pldm map (that has the dbus path to pldm entity mapping) corruption that is happening after the host power.  After host is powered off then references to the PDR's will be deleted from the entity association tree making the map point to random junk values. And randomly if  the core dbus path entry get the junk value which accidentally matches to fan , in the next power on pldm will hos

[2022-01-30 08:30] #3450 closed, assigned to manojkiraneda, lxwinspur

[2022-01-30 12:06] rfrandse commented on #1328
refresh

[2022-01-31 05:13] amboar commented on #3437
I've sent a couple of patches to upstream u-boot that add partial support for controlling FIT signature verification at runtime:

* https://lore.kernel.org/openbmc/20220131034147.106415-1-andrew@aj.id.au/
* https://lore.kernel.org/openbmc/20220131032405.105204-1-andrew@aj.id.au/

And I've posted a functioning series against the OpenBMC u-boot tree here:

https://lore.kernel.org/openbmc/20220131012

[2022-01-31 11:35] Su-kan commented on #3441
Resolved by https://github.ibm.com/openbmc/webui-vue/pull/48

[2022-01-31 12:07] rfrandse commented on #1328
refresh

[2022-01-31 18:27] msbarth opened #3468 "PFP::control - Investigate a new action to handle altitude as an offset to the pcie hot card floors"
During a walk-thru of the pcie floor configs, thermal suggested a better use of the altitude for them would be to have it be an offset to the chosen floor of the pcie hot card floor list. This would involve a new action to be created to use a configurable property (i.e. altitude) in an offset to floor lookup table that would result in that offset being applied to the configured pcie card floor tab

[2022-01-31 19:35] gtmills commented on #2577
1. Add the “SSH”, "Redfish" “IPMI” values to GET
2. Add the  “SSH” “IPMI” values to PACTH

Please try to do as much of this upstream as possible

[2022-01-31 19:49] bjwyman commented on #1394
EfficiencyPercent is showing up in latest builds, 90.

[2022-02-01 05:20] shenki commented on #3438
Here's the latest version:

 https://lore.kernel.org/all/20220201050501.182961-1-joel@jms.id.au/

[2022-02-01 08:01] Nikhil-Ashoka commented on #3415
![image.png](https://images.zenhubusercontent.com/61c40f5ed77a9c0463047832/913a4d69-7233-42af-817d-b7da7ece5b30)

If we give the selected rows directly when the length of the selected rows is less than that of the total capacity. It displays as zero, this problem is solved when the selected rows length is stored in a variable before deleted.

[2022-02-01 11:48] rfrandse commented on #242
refresh

[2022-02-01 11:54] rfrandse commented on #567
refresh

[2022-02-01 12:08] rfrandse commented on #1328
refresh

[2022-02-01 15:00] ghost commented on #3005
Resolved By: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/50827

[2022-02-01 15:32] ghost opened #3469 "GUI : FED : (Security & Access - Update CSR modal)"
- Update CSR modal and remove service login option for all users from downstream (see screenshot)

- Hide from navigation what the user is not authorized to view.

## FED
### Overview

![box-image-2.png](https://images.zenhubusercontent.com/618597a3cd3e4569c31a464a/60b9f714-c338-477c-9a48-18cd82437694)

![box-image-3.png](https://images.zenhubusercontent.com/618597a3cd3e4569c31a464a/833b08c8-3290-

[2022-02-01 20:27] bjwyman opened #3470 "Avoid trying to bind PSU device driver if already done"
When the BMC boots up, the device driver for the power supply will have the bind done if it is present.

If the PSU monitor app starts up, sees the power supply present, it blindly tries to bind the device driver again, causing some error tracing:
[code]

[2022-02-01 20:28] bjwyman commented on #3470
No apparent negative impact to function, just looks bad.

[2022-02-01 20:34] bjwyman opened #3471 "Add support for USER_DATA_14 (BEh)"
The IBM power supplies use USER_DATA_14 (BEh) for some various other indicators that may be of interest to monitor.
* AC or DC input
* High or low voltage input  (if don't use this, need to deglitch the read_vin value so we don't think wrong type of ac attached?)
* THROTTLE#

Some other bits that may be worth monitoring.

Device driver and PSU monitor application updates.

[2022-02-01 20:36] bjwyman commented on #918
Done.

[2022-02-01 20:41] bjwyman commented on #918
Is that trending data collection part of: https://github.com/ibm-openbmc/dev/issues/1815

[2022-02-01 20:51] #918 closed

[2022-02-02 11:54] rfrandse commented on #567
refresh

[2022-02-02 12:05] rfrandse commented on #1193
refresh

[2022-02-02 12:05] rfrandse commented on #1258
refresh

[2022-02-02 12:05] rfrandse commented on #1321
refresh

[2022-02-02 12:08] rfrandse commented on #1328
refresh

[2022-02-02 12:12] rfrandse commented on #1704
refresh

[2022-02-02 14:43] mzipse commented on #1846
After further analysis, this has come down to the work to support the MEX I/O drawer firmware version.  This work is tracked under issue #3424

Here's a summary of all the original support and how it's handled:

1. My understanding is the IO Enclosure refers to an attached MEX drawer or drawers only.  So if there is no MEX Drawer attached, this information does not need to be displayed on the GUI.

[2022-02-02 14:43] #3418 closed

[2022-02-02 14:47] #3416 closed

[2022-02-02 16:20] derekhoward55 opened #3472 "Power/Thermal error log nag support"
Set appropriate PEL bits if FRU callout is power/thermal FRU so customer "nagged" to service machine.

[2022-02-02 17:08] #2468 closed

[2022-02-02 17:15] msbarth commented on #2471
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50667
and
Resolved by
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49514
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49510
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50263

[2022-02-02 17:15] #2471 closed

[2022-02-02 17:17] msbarth commented on #1774
- Verified hot-swapped fan speeds up correctly without bringing system down.
- Synthesized VPD for Rainier fans added/populated on fan inventory objects
- Everest VPD populated on fan inventory objects

As noted, VPD to PHYP path to be verified by VPD team

[2022-02-02 17:17] #1774 closed

[2022-02-02 17:21] msbarth commented on #2470
Update ambient floor settings.
- Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50667

Use of altitude in floor settings
- Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50667

EPOW handling in fan monitor
- Resolved by https://github.com/openbmc/phosphor-fan-presence/commit/24966cf22c1ec5cbf7e028dfbfe656f9c6287242

`(logging "out

[2022-02-02 17:31] msbarth commented on #2470
Requirement to log "outside environment window" errors were removed

[2022-02-02 17:34] msbarth commented on #2753
Resolved by:
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49396
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49397
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49399
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49400
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49401
-

[2022-02-02 17:34] #2753 closed

[2022-02-02 17:37] msbarth commented on #2657
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49669

[2022-02-02 17:37] #2657 closed

[2022-02-02 18:03] msbarth commented on #2656
Resolved by:
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49396
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49397
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49399
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49400
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49401
-

[2022-02-02 18:03] #2656 closed

[2022-02-02 18:07] msbarth commented on #2653
Resolved by:
- https://gerrit.openbmc-project.xyz/c/openbmc/entity-manager/+/49604
- https://gerrit.openbmc-project.xyz/c/openbmc/entity-manager/+/44670
- https://gerrit.openbmc-project.xyz/c/openbmc/entity-manager/+/44290

[2022-02-02 18:07] #2653 closed

[2022-02-02 18:14] msbarth commented on #2658
Resolved by:
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49513
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49512
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49511
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49509
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/49508
-

[2022-02-02 18:14] #2658 closed

[2022-02-02 18:17] msbarth commented on #509
Resolved by:
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50667
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50146
(Rainier 4U not planning to use altitude in floor determination)

[2022-02-02 18:17] #509 closed

[2022-02-02 18:23] msbarth commented on #1724
Rainier 4U
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50593
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50597

Rainier 2U and Everest do not have floor tables utilizing power mode defined by the thermal team yet.

[2022-02-02 18:26] msbarth commented on #2659
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50263

[2022-02-02 18:26] #2659 closed

[2022-02-02 18:27] msbarth commented on #2584
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50371

[2022-02-02 18:27] #2584 closed

[2022-02-02 18:30] msbarth commented on #1773
Resolved by:
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50593
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50597
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50146

[2022-02-02 18:30] #1773 closed

[2022-02-02 18:31] msbarth commented on #2941
This appears it can be closed now?

[2022-02-02 18:32] msbarth commented on #2999
This is all up in the following commits to gerrit now:
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50593
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50597
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50667
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50146

[2022-02-02 18:35] msbarth commented on #2585
Also resolved by a high floor index when not able to get the id's of a card thru the pcie cards json config:
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50593
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50597
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50667
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-

[2022-02-02 18:36] #2585 closed

[2022-02-02 18:42] #3255 closed

[2022-02-02 18:59] spinler commented on #2941
yea.

[2022-02-02 18:59] #2941 closed

[2022-02-02 21:19] msbarth commented on #3405
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50848

[2022-02-02 21:32] msbarth commented on #3262
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50875

[2022-02-02 21:39] msbarth commented on #3460
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50723

[2022-02-02 21:39] #3460 closed, assigned to mikecgithub

[2022-02-02 21:40] msbarth commented on #3468
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50911

[2022-02-02 22:45] #1933 closed

[2022-02-02 22:48] spinler commented on #2406
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-logging/+/50618

[2022-02-02 22:48] spinler commented on #2406
Merged.

[2022-02-02 22:48] #2406 closed

[2022-02-03 11:51] rfrandse commented on #412
refresh

[2022-02-03 11:52] rfrandse commented on #2467
refresh

[2022-02-03 11:52] rfrandse commented on #2475
refresh

[2022-02-03 11:55] rfrandse commented on #574
refresh

[2022-02-03 11:55] shenki commented on #3438
v2 https://lore.kernel.org/all/20220203115344.267159-1-joel@jms.id.au/

[2022-02-03 11:56] rfrandse commented on #577
refresh

[2022-02-03 11:57] shenki commented on #3438
The current design places the secure boot state here: `/sys/firmware/bootinfo/secure_boot`

The file will read 1 when configured for secure boot, and 0 when it is not.

[2022-02-03 12:03] rfrandse commented on #3016
refresh

[2022-02-03 12:05] rfrandse commented on #1193
refresh

[2022-02-03 12:06] rfrandse commented on #1321
refresh

[2022-02-03 12:09] rfrandse commented on #1328
refresh

[2022-02-03 12:10] rfrandse commented on #1364
refresh

[2022-02-03 12:11] rfrandse commented on #1489
refresh

[2022-02-03 12:13] rfrandse commented on #1668
refresh

[2022-02-03 12:13] rfrandse commented on #1704
refresh

[2022-02-03 12:14] rfrandse commented on #1832
refresh

[2022-02-03 13:18] sandeepasingh116 opened #3473 "Filter the IPv6 address to IPv4 on sessions page"
Currently the backend is sending us IP address in IPv6 format we need to convert it to IPv4 format.

[2022-02-03 13:22] sandeepasingh116 commented on #3473
Resolved by :
https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/50828

[2022-02-03 13:24] sandeepasingh116 opened #3474 "The Sessions page should be hidden from the navigation when operator user is logged in"
Hide the sessions page from the navigation when operator is logged in, as an operator is not allowed to disconnect any alive session

[2022-02-03 14:07] msbarth commented on #1670
@amboar Where do we stand on getting these last "bunch of problems" resolved? Fan control is utilizing the temperatures but with early delivery of full function fan control, are there areas that need to still be worked so fan can react appropriately?

[2022-02-03 14:42] dixsie commented on #3474
@gtmills how should we check for operator users? Will operators always have "operator" as the username (like admin and service usernames)

[2022-02-03 17:44] gtmills commented on #3474
You will have to check the username's role

[2022-02-03 17:49] msbarth opened #3475 "PFP::fanctl - Investigate strange `fanctl` output on Everest"
Saw some strange behavior by `fanctl` in Everest simulation:
[code]
and according the dbus, the correct objects are all that's available... so not sure why `fanctl` is pickup up some duplicates
[code]

[2022-02-03 20:18] gtmills opened #3476 "Update Assembly Resource To Populate Status::State"
Similar to how we look at Operational Status to set the Status::Health Redfish property (See https://github.com/ibm-openbmc/bmcweb/pull/202), we can look at the Present property on D-Bus to set the Status::State property

If Present is true, set Status::State to Enabled, else set it to Absent.

We do this for other resources like:
https://github.com/ibm-openbmc/bmcweb/blob/1020/redfish-core/lib/po

[2022-02-04 00:12] wrightjl1 commented on #927
Third review: Add UCD90320 specific error handling https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-power/+/50760

[2022-02-04 00:18] wrightjl1 commented on #2452
Everest configuration file review: https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-power/+/50762

[2022-02-04 00:20] wrightjl1 commented on #2452
Callouts for Everest pgood failures review: https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-logging/+/50903

[2022-02-04 00:22] wrightjl1 commented on #1719
Rainier configuration file review: https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-power/+/50761

[2022-02-04 00:22] wrightjl1 commented on #1719
Application service file and meson updates review: https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-power/+/50763

[2022-02-04 00:24] wrightjl1 commented on #1719
Bit bake build files review: https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/50765

[2022-02-04 02:00] gtmills opened #3477 "Add Firmware Version to Power Supplies"
[code]
Might have to add this interface to your test machine's power supplies to test

Redfish supports this for PowerSupplies we just haven't implemented

[code]
https://redfish.dmtf.org/schemas/v1/PowerSupply.v1_3_0.json

https://github.com/ibm-openbmc/bmcweb/blob/1020/redfish-core/lib/power_supply.hpp

[2022-02-04 07:32] shenki commented on #3438
v3 https://lore.kernel.org/all/20220204072234.304543-1-joel@jms.id.au/

[2022-02-04 11:50] rfrandse commented on #2449
refresh

[2022-02-04 11:52] rfrandse commented on #2475
refresh

[2022-02-04 11:54] rfrandse commented on #567
refresh

[2022-02-04 11:54] rfrandse commented on #569
refresh

[2022-02-04 11:55] rfrandse commented on #573
refresh

[2022-02-04 11:56] rfrandse commented on #577
refresh

[2022-02-04 12:03] rfrandse commented on #3016
refresh

[2022-02-04 12:08] rfrandse commented on #1328
refresh

[2022-02-04 15:31] anoo1 opened #3478 "bmcweb "Can't find usb code update service" logs"
When the BMC boots up, there are sometimes multiple "Can't find usb code update service" logs created by bmcweb. These were added as part of the USB Enable/Disable feature: https://github.com/ibm-openbmc/bmcweb/pull/164

Discussing with the IBM team, it may be the USB service is not running yet, therefore it'd be better if service is not available, to not return the data associated with it, instea

[2022-02-04 17:04] gtmills opened #3479 "GUI: FED: Bug: Multiple pages have multiple calls to the same endpoint"
https://github.com/openbmc/webui-vue/issues/43 might fix some of this. Multiple pages have multiple calls to the same endpoint.

Multiple calls to system, bmc and redfish/v1/ on the overview page
![image](https://user-images.githubusercontent.com/5455127/152570979-2902a0ca-e3b6-4cd5-aa95-dad8a4b9aec3.png)

The power operations page has 3 calls to the system resource
![3 calls](https://user-images.

[2022-02-04 17:22] bjwyman commented on #1394
Okay, not quite sure how this blocks #1709. I think the MaxConsumedWatts (possibly moved or renamed in Redfish) is (supposed to be) coming down to the BMC via OCC polling ... total_power.

[2022-02-04 21:18] #3473 closed, assigned to sandeepasingh116

[2022-02-05 11:50] rfrandse commented on #2432
refresh

[2022-02-05 11:53] rfrandse commented on #567
refresh

[2022-02-05 11:53] rfrandse commented on #568
refresh

[2022-02-05 12:06] rfrandse commented on #1328
refresh

[2022-02-06 12:06] rfrandse commented on #1328
refresh

[2022-02-07 01:04] #3463 closed, assigned to lxwinspur

[2022-02-07 01:06] lxwinspur commented on #3477
@gtmills
Is this issue upstream or downstream?

[2022-02-07 09:30] sunharis commented on #3454
Downstream only change. Closing the story

[2022-02-07 09:30] #3454 closed, assigned to sunharis

[2022-02-07 09:39] sunharis opened #3480 "Evaluate existing IPv6 support from the upstream networkd"
Check the existing IPv6 Dbus and networkd support for Static & DHCP

[2022-02-07 11:27] sandeepasingh116 commented on #3447
Resolved by : https://github.ibm.com/openbmc/webui-vue/pull/52

[2022-02-07 11:48] rfrandse commented on #243
refresh

[2022-02-07 11:51] rfrandse commented on #407
refresh

[2022-02-07 11:56] rfrandse commented on #577
refresh

[2022-02-07 12:14] rfrandse commented on #1942
refresh

[2022-02-07 14:29] #2102 closed

[2022-02-07 14:30] #3383 closed

[2022-02-07 14:32] #3441 closed

[2022-02-07 14:33] #3432 closed

[2022-02-07 14:33] #2819 closed

[2022-02-07 14:38] dixsie commented on #3019
@gtmills - Rahul said that the option to upload an ACF file via the login page should only show when a user selects the options from the OP panel. Is there anywhere in redfish to check for this? Or should the upload button always be displayed on the login page

[2022-02-07 16:50] spinler commented on #2514
Since only bmcweb knows if a system is HMC managed, the PEL daemon wont' know so nothing can be done here.  Closing.

[2022-02-07 16:54] spinler commented on #1333
Only one left to do is 4 above.  Waiting for more people to get their errors in first.

[2022-02-07 16:58] #412 closed

[2022-02-07 17:05] gtmills commented on #3477
downstream, but I would like this change to be added on top of https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/40326

[2022-02-07 17:19] derekhoward55 commented on #1592
https://github.ibm.com/openbmc/openbmc/pull/1790 (adding RT keywords needed by phyp) merged.

Will close this out.

[2022-02-07 17:20] derekhoward55 commented on #570
All stories done, so closing epic.

[2022-02-07 22:21] msbarth commented on #3461
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/50983

[2022-02-08 02:54] manojkiraneda opened #3481 "PLDM: Consume availability interface for cores"
In the current state, the logic is bmcweb for displaying cores is that :

It checks the [Present property](https://github.com/openbmc/phosphor-dbus-interfaces/blob/08baf48ad5f15774d393fbbf4e9479a0ef3e82d0/yaml/xyz/openbmc_project/Inventory/Item.interface.yaml#L9) on core dbus object to update the [Status][State] as [Enabled/Absent](https://github.com/ibm-openbmc/bmcweb/blob/8044381620b228f99b707ea

[2022-02-08 07:59] lxwinspur commented on #3481
review by: https://github.com/ibm-openbmc/bmcweb/pull/254

[2022-02-08 11:48] rfrandse commented on #2428
refresh

[2022-02-08 11:48] rfrandse commented on #242
refresh

[2022-02-08 11:52] rfrandse commented on #2475
refresh

[2022-02-08 11:56] rfrandse commented on #577
refresh

[2022-02-08 12:05] rfrandse commented on #1193
refresh

[2022-02-08 12:08] rfrandse commented on #1328
refresh

[2022-02-08 12:11] rfrandse commented on #1571
refresh

[2022-02-08 12:12] rfrandse commented on #1668
refresh

[2022-02-08 15:43] msbarth opened #3482 "PFP::control - Move `PCIeCardMetadata` util class to use `getConfig` from manager.hpp"
`PCIeCardMetadata` should move to use the `getConfig` method in manager.hpp for finding/loading its JSON config file as the other fan control class objects that use JSON config files do. This will allow the same journal and flight recorder entries to be logged when/if the pcie card meta data JSON config file is loaded and reloaded. It would also allow the future use of profiles within the JSON to

[2022-02-08 16:04] SunnySrivastava1984 commented on #3476
Code updated under PR
https://github.com/ibm-openbmc/bmcweb/pull/256

[2022-02-08 21:59] bjwyman commented on #1709
sensors:p10bmc:Add power-supply hwmon configs: https://github.com/openbmc/openbmc/commit/3772aab33c3a17d9716463543d06ae7cffcdfb23

meta-ibm: Add power supply sensor associations: https://github.com/openbmc/openbmc/commit/bc13317c4252037b2fc99a7186539d6f8f10c600

[2022-02-08 22:01] #1037 closed

[2022-02-09 11:48] sandeepasingh116 opened #3483 "Update page access based on privilege instead of username"
## Expected Behavior
We have various checks for UI, based upon the user name, for several pages in the code.

## Actual Behavior
We need to rectify the code and write it based upon the role/privilege we get against each user.
- [ ] Certificates - CSR https://github.ibm.com/openbmc/webui-vue/pull/59

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications
  - Browser:
  - Version:

[2022-02-09 11:49] rfrandse commented on #2449
refresh

[2022-02-09 11:51] rfrandse commented on #2454
refresh

[2022-02-09 11:54] rfrandse commented on #567
refresh

[2022-02-09 11:54] rfrandse commented on #568
refresh

[2022-02-09 11:54] rfrandse commented on #571
refresh

[2022-02-09 11:55] rfrandse commented on #573
refresh

[2022-02-09 11:55] rfrandse commented on #574
refresh

[2022-02-09 11:56] rfrandse commented on #577
refresh

[2022-02-09 12:08] rfrandse commented on #1328
refresh

[2022-02-09 12:09] rfrandse commented on #1403
refresh

[2022-02-09 12:12] rfrandse commented on #1704
refresh

[2022-02-09 16:28] joseph-reynolds commented on #1193
As explained in (internal IBM) SW543421, BMC admins have very limited privileges to control the special built-in BMC "service" user account.  Why?  Because that user has the OemIBMServiceAgent role which has Restricted=true.

For details see Redfish spec 1.12.0 (http://redfish.dmtf.org/schemas/DSP0266_1.12.0.pdf) subsection "Restricted roles and restricted privileges" (excerpted here):

Here are m

[2022-02-09 17:23] gtmills opened #3484 "Additional properties on /redfish/v1 needed for ACF generation"
/redfish/v1 as new Oem.IBM properties:

    The system Model. E.g. "Model": "9105-42A",
    The system serial number.
    The BMC’s time of day (or yyyy-mm-dd).

@joseph-reynolds FYI

[2022-02-09 18:40] msbarth opened #3485 "Rainier/Everest - Update floor config with "IPS active" floors"
Need to confirm with thermal team on each system's use of this "IPS active" state in regard to adjusting fan floors (may need to reference use of this on prior generation systems).
[code]

[2022-02-09 19:33] #3262 closed

[2022-02-09 21:07] msbarth opened #3486 "PFP::control::actions::mapped_floor - Implement a "deadband" area when transitioning between keys"
The floor action used on witherspoon had a transitioning "deadband" between ambient temps which needs to be pulled forward into the `mapped_floor` action now to prevent oscillating between choosing floors when a ambient hovers between keys.

[2022-02-10 05:17] sunharis opened #3487 "Dump Offload: Implement dump offload thread at pldm"
When the dump stored at phyp is getting offloaded to a client connected via a slow network, the slowness causes the phyp-pldm communication timeout and phyp does a host-initiated reset of the BMC.

This story will implement a thread at pldm, which will do the in-memory data buffer read and write it to the HMC's offload socket at bmcweb. This will free-up the pldm main process, and that will keep t

[2022-02-10 06:05] sampmisr opened #3488 "PLDM: disable timeout in soft off"
this is wrt slack discussion: https://ibm-systems-power.slack.com/archives/CUXFWC1F1/p1642202024021900?thread_ts=1642198509.020900&cid=CUXFWC1F1

we need to disable the timeout in soft power off app. probably maybe a /etc/default/pldmd option to say “wait forever”

[2022-02-10 10:59] santoshpuranik commented on #1583
This is in a driver.

[2022-02-10 10:59] #1583 closed

[2022-02-10 11:00] santoshpuranik commented on #2980
This is done and in a driver

[2022-02-10 11:55] rfrandse commented on #574
refresh

[2022-02-10 11:55] rfrandse commented on #577
refresh

[2022-02-10 11:57] rfrandse commented on #652
refresh

[2022-02-10 12:08] rfrandse commented on #1328
refresh

[2022-02-10 12:11] rfrandse commented on #1586
refresh

[2022-02-10 16:39] mzipse commented on #3017
Per feedback from Eddie, this work is now complete!

[2022-02-10 16:39] #3017 closed

[2022-02-10 18:35] msbarth commented on #3485
[code]
After looking at prior use of IPS, there doesnt appear to be lower floors for IPS vs the other power modes. Will need to confirm the use/need for this as another floor within fan control's config after exposed onto dbus by the OCC control app.

[2022-02-10 21:00] #3461 closed, assigned to msbarth

[2022-02-11 11:48] rfrandse commented on #242
refresh

[2022-02-11 11:55] rfrandse commented on #574
refresh

[2022-02-11 12:03] rfrandse commented on #3118
refresh

[2022-02-11 12:08] rfrandse commented on #1328
refresh

[2022-02-11 12:11] rfrandse commented on #1571
refresh

[2022-02-11 14:39] gtmills commented on #2785
@zhanghch05, @aahmed-2 has been looking at being in the expand Query parameters.
Could you refresh the change ?

[2022-02-11 14:40] gtmills commented on #2785
@zhanghch05 Could you pull the expand query parameter into https://github.com/ibm-openbmc/bmcweb ?

[2022-02-11 14:43] aahmed-2 commented on #2785
@zhanghch05 - Can I ask you to fix 'Change the completionhandler to accept Res' as well? https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/48002.

 I saw you had a comment on fixing in this commit https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/48864

[2022-02-11 15:00] msbarth commented on #3223
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/51141

[2022-02-11 16:10] msbarth opened #3489 "PFP - Review GUI fan inventory"
Requested to review GUI fan inventory and note what items should be added/removed specifically for what should be included in the inventory view of fans (i.e. no sensor status, etc...)

[2022-02-11 16:40] Nikhil-Ashoka opened #3490 "GUI: FED: Bug: Remove unwanted properties from the Inventory table"
- [ ] rename system attention indicators section
- [ ] update system table
- [ ] update bmc manager
- [ ] update chassis
![image.png](https://images.zenhubusercontent.com/61c40f5ed77a9c0463047832/fdfbb238-bf6d-40e1-9598-5f0d87b3b1e0)
![image.png](https://images.zenhubusercontent.com/61c40f5ed77a9c0463047832/6faf948a-eed3-43ac-9d6e-5cbb1006af75)
![image.png](https://images.zenhubusercontent.com/61c

[2022-02-11 16:41] Nikhil-Ashoka opened #3491 "GUI: FED: Bug: Remove unwanted properties from the Inventory page"
- [x] rename system attention indicators section
- [x] update system table
- [x] update bmc manager
- [x] update chassis
![image.png](https://images.zenhubusercontent.com/61c40f5ed77a9c0463047832/fdfbb238-bf6d-40e1-9598-5f0d87b3b1e0)
![image.png](https://images.zenhubusercontent.com/61c40f5ed77a9c0463047832/6faf948a-eed3-43ac-9d6e-5cbb1006af75)
![image.png](https://images.zenhubusercontent.com/61c

[2022-02-11 16:42] #3490 closed, assigned to Nikhil-Ashoka

[2022-02-11 17:55] derekhoward55 commented on #2441
Here is the enclosure UTMS (which matches the system workbook):

        {
            "FRU Record Set Identifier": 1,
            "FRU Record Type": "General(1)",
            "Number of FRU fields": 3,
            "Encoding Type for FRU fields": "ASCII(1)"
        },
        {
            "FRU Field Type": "Model(2)",
            "FRU Field Length": 8,
            "FRU Field Value": "9040-MRX"

[2022-02-11 18:03] derekhoward55 commented on #2440
Here is the Everest config ID info.  Note the text doesn't display the "RT"&"RI" keywords, but it doesn't for some other OEM records either:

    [
        {
            "FRU Record Set Identifier": 3,
            "FRU Record Type": "OEM(254)",
            "Number of FRU fields": 2,
            "Encoding Type for FRU fields": "ASCII(1)"
        },
        {
            "FRU Field Type": "2",

[2022-02-11 18:13] derekhoward55 commented on #2441
Here is the frame vpd:

    [
        {
            "FRU Record Set Identifier": 3,
            "FRU Record Type": "OEM(254)",
            "Number of FRU fields": 15,
            "Encoding Type for FRU fields": "ASCII(1)"
        },
        {
            "FRU Field Type": "RT(2)",
            "FRU Field Length": 4,
            "FRU Field Value": "VSYS"
        },
        ...
        {

[2022-02-11 19:07] ghost commented on #3469
Resolve By: https://github.ibm.com/openbmc/webui-vue/pull/59

[2022-02-11 22:00] bjwyman commented on #1617
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-power/+/51132

[2022-02-11 22:02] bjwyman commented on #1709
Still need to determine where that goes, how to do that.

[2022-02-12 11:48] rfrandse commented on #2439
refresh

[2022-02-12 11:53] rfrandse commented on #567
refresh

[2022-02-12 11:54] rfrandse commented on #569
refresh

[2022-02-12 11:55] rfrandse commented on #574
refresh

[2022-02-12 12:10] rfrandse commented on #1593
refresh

[2022-02-14 00:05] zhanghch05 commented on #2785
@aahmed-2
Nan Zhou has a new commit and we decided to use his.
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/50742

[2022-02-14 00:35] zhanghch05 commented on #2785
@gtmills ok
IBM's bmcweb code is old and I need some time to merge and test.

[2022-02-14 09:31] zhanghch05 commented on #2785
@aahmed-2 @gtmills
Change the completionhandler to accept Res:
https://github.com/ibm-openbmc/bmcweb/pull/257

[2022-02-14 12:07] rfrandse commented on #1328
refresh

[2022-02-14 12:40] Nikhil-Ashoka commented on #3491
Resolved by: https://github.ibm.com/openbmc/webui-vue/pull/62 for rename system attention indicators section

[2022-02-14 12:42] Nikhil-Ashoka commented on #3491
Resolved by: https://github.ibm.com/openbmc/webui-vue/pull/63 for update bmc manager

[2022-02-14 13:17] Nikhil-Ashoka commented on #3491
Resolved by: https://github.ibm.com/openbmc/webui-vue/pull/64 for update chassis

[2022-02-14 16:00] smccarney opened #3492 "UPS: Ensure chassis state manager doesn't start until UPS status is known"
The chassis state manager application should not determine whether to perform auto-power-restart until the UPS status is known.

It takes about 3 seconds to reliably obtain the UPS status.  Currently there is nothing causing the chassis state manager to wait until this is done.

Modify the ibm-ups application service file to enforce that the chassis state manager should not start until the UPS sta

[2022-02-14 19:34] joseph-reynolds opened #3493 "Allow BMC admin to disable port 2200 host console"
This is to track a new function to allow a BMC administrator to disable SSH port 2200 ("host console").

This corresponds to the Redfish ManagerNetworkProtocol object at URI /redfish/v1/Managers/bmc/NetworkProtocol, for a new property to-be-determined, perhaps: Oem.OpenBMC.SSHHostConsole.

Disambiguation: This function disables the service itself, so the BMC is no longer listening at this port.  M

[2022-02-14 19:48] joseph-reynolds commented on #3493
The implementation in BMCWeb would be to enhance GET and PATCH in https://github.com/openbmc/bmcweb/blob/master/redfish-core/lib/network_protocol.hpp.
Some specification work (either in Redfish or OpenBMC) is needed to know what property name to use.  Because "SSH" is already taken to mean SSH to the BMC's port 22 which connects to the BMC command shell.

[2022-02-14 20:59] gtmills opened #3494 "Fix user patching invalid duplicate values"
if a user PATCHes ["1.1.1.1", "1.1.1.1"]
that's invalid
we shouldn't just silently fix it for them

Should return probably a
[code]

https://redfish.dmtf.org/registries/Base.1.12.1.json

[2022-02-15 04:56] #3415 closed

[2022-02-15 09:02] ChicagoDuan commented on #3478
Please review: https://github.com/ibm-openbmc/bmcweb/pull/258

[2022-02-15 09:55] Nikhil-Ashoka commented on #3491
Resolved by: https://github.ibm.com/openbmc/webui-vue/pull/65 for update system table

[2022-02-15 11:54] rfrandse commented on #571
refresh

[2022-02-15 12:07] rfrandse commented on #1328
refresh

[2022-02-15 16:45] msbarth commented on #2599
Refer to fan control documentation when complete under #3095

A `pcie_cards.json` configuration file exists to list hot pcie cards with their associated floor indexes, which are then used within a configured `mapped_floor` event in determining the floor for fan control to use.

[2022-02-15 16:45] #2599 closed

[2022-02-15 16:59] spinler commented on #2514
It turns out there is an API available to know if the system is HMC managed, the 'pvm_hmc_managed' BIOS attribute, so I think we can do this after all.

[2022-02-15 18:02] msbarth opened #3495 "Redfish::Fan - Add `HotPluggable` attribute to fans"
Need to reflect the `HotPluggable` state related to each fan within a system:

- [ ] Investigate where a dbus property should exist to show `HotPluggable` state per fan
- [ ] Update dbus interface with property for `HotPluggable` state
- [ ] Populate `HotPluggable` state (thru a fan app? how to configure? or other app?)
- [ ] Check Redfish correctly returns `HotPluggable` state on fan objects

[2022-02-15 18:11] bjwyman opened #3496 "Power supplies are hot pluggable - update D-Bus"
The IBM power supplies are hot pluggable. They can be removed while the system is powered up, in order to be replaced.

It is a bit unclear if one considers this as also concurrently maintainable, since usually one associates a need to power off the device/FRU in order to replace it.

References:
`yaml/xyz/openbmc_project/Inventory/Item/PCIeSlot.interface.yaml`

`yaml/xyz/openbmc_project/Inventory

[2022-02-15 22:20] gtmills commented on #2785
@zhanghch05 the focus of the expand query parameter is on the sensors.
 /redfish/v1/Chassis/chassis/Sensors?$expand=*($levels=1) ?

 @aahmed-2 built your code but was still seeing /redfish/v1/Chassis/chassis/Sensors?$expand=*($levels=1) take mins

[2022-02-15 22:20] gtmills commented on #2785
I think we will need some performance enhancements for the sensors $expand=*($levels=1)

[2022-02-16 02:56] cjengel commented on #3462
There are two SB settings.  There is the sysfs file from #3438 which is Aspeed SB as well as J1_SECURE_BOOT which is a GPIO 'gpioget gpiochip0 70'.

If the sysfs file indicates Aspeed SB disabled or the GPIO==0 need to log an error in MFG mode so that the MFG team can detect misconfigured HW and correct it.

[2022-02-16 03:10] zhanghch05 commented on #2785
done

[2022-02-16 03:21] gtmills commented on #2785
Reopening since this isn't merged.
Can you add some performance numbers behind /redfish/v1/Chassis/chassis/Sensors?$expand=*($levels=1) ?

[2022-02-16 03:27] zhanghch05 commented on #2785
This is related to the number of sensors. I am currently using QEMU to test, only 13 voltage sensors, it takes about 1s.
How many sensors do you have?

[2022-02-16 04:24] Nikhil-Ashoka commented on #3453
Resolved by: https://github.ibm.com/openbmc/webui-vue/pull/58

[2022-02-16 04:25] #3453 closed, assigned to Nikhil-Ashoka

[2022-02-16 05:39] aahmed-2 commented on #2785
How many sensors do you have?

Generally around 150-200 sensors but as many as 300+. More sensors are being added so expand could take some time.

[2022-02-16 06:30] sumitk56 commented on #3456
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-logging/+/51076

[2022-02-16 11:20] ChicagoDuan commented on #3477
Done. Please review: https://github.com/ibm-openbmc/bmcweb/pull/259
And this change has be added on top of https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/40326

[2022-02-16 11:54] rfrandse commented on #567
refresh

[2022-02-16 12:04] rfrandse commented on #1172
refresh

[2022-02-16 12:08] rfrandse commented on #1328
refresh

[2022-02-16 12:11] rfrandse commented on #1593
refresh

[2022-02-16 12:11] rfrandse commented on #1668
refresh

[2022-02-16 14:31] #3413 closed

[2022-02-16 14:32] #1490 closed

[2022-02-16 14:32] #1492 closed

[2022-02-16 14:33] #3491 closed, assigned to Nikhil-Ashoka

[2022-02-17 07:34] RameshIyyar commented on #3290
Code up for review: https://github.com/open-power/guard/pull/7

[2022-02-17 07:35] RameshIyyar commented on #2547
Merged the above PR

[2022-02-17 07:35] #2547 closed

[2022-02-17 07:36] RameshIyyar commented on #3293
All above patches are merged

[2022-02-17 07:36] #3293 closed

[2022-02-17 09:04] sandeepasingh116 opened #3497 "Firmware page update"
Firmware page update

- Add info tip against the TFTP server radio button
- Add b-link 'Manage access keys' that leads to Capacity on demand page.

[2022-02-17 09:07] sandeepasingh116 commented on #3497
Resolved by: https://github.ibm.com/openbmc/webui-vue/pull/66

[2022-02-17 11:48] rfrandse commented on #242
refresh

[2022-02-17 11:54] rfrandse commented on #572
refresh

[2022-02-17 11:55] rfrandse commented on #573
refresh

[2022-02-17 12:03] rfrandse commented on #3016
refresh

[2022-02-17 12:03] rfrandse commented on #3236
refresh

[2022-02-17 12:05] rfrandse commented on #1193
refresh

[2022-02-17 12:08] rfrandse commented on #1328
refresh

[2022-02-17 12:10] rfrandse commented on #1489
refresh

[2022-02-17 14:20] ghost opened #3498 "GUI : FED : (Current User Mixin)"
We need a better way to access the current user and properties.

If such a mixin is not in our code, we would have to custom make a computed property every time we need to check for the current user, which can cause a lot of conflicts and possible errors if the code isn't unified.

[2022-02-17 14:20] ghost commented on #3498
Resolved By: https://github.ibm.com/openbmc/webui-vue/pull/67

[2022-02-17 14:22] ghost commented on #3498
![Screen Shot 2022-02-17 at 7.40.33 AM.png](https://images.zenhubusercontent.com/618597a3cd3e4569c31a464a/afc30797-5d77-4797-acb3-655d0443f282)

[2022-02-17 14:33] #3447 closed

[2022-02-17 17:37] gtmills opened #3499 "Run the Protocol Validator and start to fix issues"
https://github.com/DMTF/Redfish-Protocol-Validator
Please include the errors that we need to fix here

[2022-02-17 18:46] ghost opened #3500 "Remove irrelevant fields from the VET Capabilities table"
Remove the following from the VET Capabilities:

- [x] Trial Memory Licenses (GB)
- [x] Trial Processor Licenses
- [x] Elastic MemoryGB*Days Available
- [x] Elastic Processor*Days Available
- [x] AIX Update Access Key
- [x] Asset Protection Machine ID
- [x] Asset Protection Public Key

![Screen Shot 2022-02-17 at 12.36.31 PM.png](https://images.zenhubusercontent.com/618597a3cd3e4569c31a464a/ec0bd7

[2022-02-18 00:00] ghost commented on #3500
Resolved By: https://github.ibm.com/openbmc/webui-vue/pull/68

[2022-02-18 00:46] ChicagoDuan commented on #3477
Close this issue. https://github.com/ibm-openbmc/bmcweb/pull/259

[2022-02-18 00:48] ChicagoDuan commented on #3478
Merged. https://github.com/ibm-openbmc/bmcweb/pull/258

[2022-02-18 00:48] #3478 closed, assigned to ChicagoDuan

[2022-02-18 00:52] gtmills commented on #3477
Let's keep this open until upstream merged

[2022-02-18 09:37] RameshIyyar commented on #3290
Merged the above PR to resolve this issue.

[2022-02-18 18:07] ghost opened #3501 "Remove alert message from Update firmware component"
## Expected Behavior
There shouldn't be an alert message in the update firmware component.

## Actual Behavior
There is an alert message in the update firmware component.

![image.png](https://images.zenhubusercontent.com/618597a3cd3e4569c31a464a/46581ba5-0788-4b52-a9e8-d84c8e033022)

[2022-02-19 12:06] rfrandse commented on #1328
refresh

[2022-02-20 12:07] rfrandse commented on #1328
refresh

[2022-02-21 08:18] #3456 closed, assigned to sumitk56

[2022-02-21 12:07] rfrandse commented on #1328
refresh

[2022-02-21 17:21] geissonator commented on #3462
Generic GPIO name was added via https://github.com/openbmc/docs/commit/d55349e10ec2432886b26b00322ef0eaff2b919a (bmc-secure-boot)

So basic flow is:
- Check if "mfg mode" is enabled - QuiesceOnHwError?
- If not enabled, exit and do not run below logic

GPIO Logic
- Check if `bmc-secure-boot` is a defined GPIO on system. If not, exit
- Read the GPIO, if 0 log an error, do not run next Sysfs check (

[2022-02-21 19:35] derekhoward55 commented on #2867
@mikecgithub is this something you could pickup?  apparently just need to add the thresholds to the 3 ambient temp sensors...

[2022-02-21 20:36] msbarth commented on #3489
Posted GUI review comments on fan inventory.

[2022-02-21 20:36] #3489 closed, assigned to msbarth

[2022-02-21 20:42] msbarth opened #3502 "LED::Fan - Setup/Verify `Identify` LED path to blink amber LED"
The fan `Identify` LED path is not working to blink the amber LED on the fan enclosures. Need to setup/verify what's needed to enable this on fans with expose amber LEDs (does Rainier 2U have an LED on chassis since fans are inside?).

[2022-02-22 01:06] geissonator commented on #2895
This story will track the following:
- Enhance https://github.com/ibm-openbmc/openbmc/commit/69ae2e079a8643ace8cf1d44988174cc8f2cf8a9 to support p10bmc systems. It must support:
  - IBM Systems
  - IPS Systems
  - OEM Systems

Need details from @santoshpuranik (?) on what VPD keyword will be used for this and what the different possible values are.

A custom hostname should not be needed as the de

[2022-02-22 02:55] ghost commented on #3501
Resolved By: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/51418

[2022-02-22 09:58] sandeepasingh116 opened #3503 "One time boot options are removed from the GUI so the alert message needs to be removed."
## Expected Behavior
One time boot options are removed from the GUI so the alert message needs to be removed.

 Best Quest Link: https://w3.rchland.ibm.com/projects/bestquest/?defect=SW544037
## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications
  - Browser:
  - Version:

[2022-02-22 10:09] sandeepasingh116 commented on #3503
Resolved by : https://github.ibm.com/openbmc/webui-vue/pull/69

[2022-02-22 11:54] rfrandse commented on #573
refresh

[2022-02-22 12:08] rfrandse commented on #1328
refresh

[2022-02-23 00:24] bjwyman commented on #1617
PSU monitor side to call setPowerSupplyError: https://github.com/openbmc/phosphor-power/commit/10fc6e8746d00faa638b29ba547d82d2f8057ddf

[2022-02-23 00:30] bjwyman commented on #1617
Note that if the method to call is not present, there is an INFO journal trace, example:
[code]

[2022-02-23 07:00] Nikhil-Ashoka commented on #3305
Resolved by: https://github.ibm.com/openbmc/webui-vue/pull/73

[2022-02-23 11:47] rfrandse commented on #242
refresh

[2022-02-23 11:54] rfrandse commented on #569
refresh

[2022-02-23 12:04] rfrandse commented on #1193
refresh

[2022-02-23 12:05] rfrandse commented on #1321
refresh

[2022-02-23 12:08] rfrandse commented on #1328
refresh

[2022-02-23 12:12] rfrandse commented on #1704
refresh

[2022-02-23 14:42] ghost commented on #3005
From the redfish point of view there is no difference in the signature when user initiates a resource dump. But for ACF Authentication valid password (Should match with ACF installed time password) is mandatory.

Resource Dump With out ACF Authentication:
******************************************
`curl -k -H "X-Auth-Token: $bmc_token" -X POST https://${bmc}/redfish/v1/Systems/system/LogServices/D

[2022-02-23 14:43] dixsie opened #3504 "GUI: FED: Bug: Network settings defects"
Defects:

- [ ] [SW540874](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW540874) - FTC1020:Rainier:Network:GUI- DHCP enabling is not working on eth1
- [ ] [SW541096](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW541096) - FTC1020:Rainier:Network:GUI:Unable to edit IP address/ Subnet/ Gateway
- [ ] [SW544246](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW544246) - FTC1

[2022-02-23 17:11] msbarth commented on #3502
Verified 4U blowers have a green and amber LED on the physical blower and the amber blinks when the "Identify" toggle is turned on in the GUI (BMC level -38.9)

[2022-02-23 18:07] joseph-reynolds commented on #1935
What are the next steps?  It seems to me we need:
1. Create the "Phosphor Audit Service" per [designs/phosphor-audit.md](https://github.com/openbmc/docs/blob/master/designs/phosphor-audit.md) which is capable of performing the "logging" action (to send log events to a journal).  (We don't need any other actions to be implemented at this time.)
2. Add code throughout the OpenBMC project (multiple r

[2022-02-23 18:28] aahmed-2 commented on #2785
Are you seeing any errors in the output of the expand query when we use $expand=*($levels=2)?
I'm seeing an output of only the final response instead of all the responses together.

[2022-02-23 20:48] joseph-reynolds commented on #571
The UPS can be plugged into the BMC's USB port so they can communicates with each other.  There were discussions about whether or not the BMC admin should have the ability to disable this interface.  (When the BMC's UPS USB interface is disabled, the BMC no longer communicates with the UPS.)
We decided this is not a priority and will not work on it at this time.

[2022-02-23 21:15] msbarth commented on #3357
It was found that a combination of the configured `monitor_start_delay` and `threshold` values allow sufficient amount of time for fans to decrease down to the currently configured lowest fan floor speed after a BMC reboot at runtime.

A new issue will be opened to handle where these configured values are not sufficient in allowing enough time for fans to drop to the lowest possible speed after a

[2022-02-23 21:15] #3357 closed

[2022-02-23 21:29] msbarth commented on #3184
Will be added as found necessary

[2022-02-23 21:29] #3184 closed

[2022-02-23 21:46] msbarth commented on #2867
@spinler Is this covered with this section the EM config(ex Storm King) -> https://github.com/ibm-openbmc/entity-manager/blob/1020/configurations/Storm%20King.json#L25-L34
Where just the error logging is missing?

[2022-02-23 21:52] msbarth commented on #2867
Quick glance at phosphor-virtual-sensor seems that values outside of `MaxValidInput` or `MinValidInput` should log an error ?

[2022-02-23 22:08] ghost commented on #3005
Resolved By: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/50827

[2022-02-23 22:13] spinler commented on #2867
The thresholds need to go on the underlying temp sensors in that file.

[2022-02-24 01:04] zhanghch05 commented on #2785
I don't see an error, I've only tested $expand in /redfish/v1/Systems and /redfish/v1/Chassis/chassis/Sensors. Where are you using $expand=*($levels=2)?

[2022-02-24 01:13] lxwinspur commented on #1935
@joseph-reynolds
Thanks so much for reviewing this design document.

phosphor-logging/elog is responsible for sending log events to a journal

phosphor-audit-service is only responsible for recording log files, filtering and recording logs according to the configuration, or sending emails and other operations (this function has not been implemented yet)

We will create a new service (`phosphor-aud

[2022-02-24 11:52] rfrandse commented on #2475
refresh

[2022-02-24 11:54] rfrandse commented on #573
refresh

[2022-02-24 11:55] rfrandse commented on #574
refresh

[2022-02-24 11:56] rfrandse commented on #577
refresh

[2022-02-24 12:03] rfrandse commented on #3016
refresh

[2022-02-24 12:05] rfrandse commented on #1193
refresh

[2022-02-24 12:06] rfrandse commented on #1258
refresh

[2022-02-24 12:09] rfrandse commented on #1328
refresh

[2022-02-24 12:12] rfrandse commented on #1593
refresh

[2022-02-24 14:59] dixsie opened #3505 "GUI: FED: Bug: Inventory and LED defects"
## Defects

- [ ] [SW541930](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW541930) - FTC1020:Rainier: rain56bmc GUi has no way to turn off System attention LED
- [ ] [SW542308](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW542308) - FTC1020:Rainier:GUI: Heath and state field of assembly components is missing in inventory page
- [ ] [SW537245](https://w3.rchland.ibm.com/projects

[2022-02-24 15:19] dixsie opened #3506 "GUI: FED: Bug: Power page defects"
## Defects

### Idle power save
- [ ] [SW544233](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW544233) - FTC1020:Rainier:GUI: Unable to provide different values for enter and exit for Utilization threshold *WIP on backend*
- [ ] Add info icon for ExitUtilizationPercent  with following text:
  - When the IdlePowerSaver ExitUtilizationPercent is set to 0, the factory default Idle Power Sav

[2022-02-24 16:27] spinler commented on #1161
Some users we know we need to support:
1. RHEL 7.7 on x86 (eblis)
2. RHEL 7.9 using Fedora 35 containers on ppc64le (ISDW - call home databases)
3. RHEL 7.9 on ppc64le (STELA)
4. RHEL 7.9 on x86 ECUREP  (decode PELs from BMC dumps coming back from the field)
5. Some developer pools systems are ubuntu?

To run peltool along with all of its parsers we need:
1. peltool itself, built from C++
2. messa

[2022-02-24 16:35] spinler commented on #1161
I put up the commit https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-logging/+/51492 to add a wrapper so we can trace in that code without using phosphor-logging.  Eventually it can just use std::cerr in the standalone case and the normal log<>() otherwise.

[2022-02-24 16:38] spinler commented on #1161
An example of some hostboot python plugins is https://github.com/open-power/hostboot/blob/master-p10/setup.py

[2022-02-24 16:59] joseph-reynolds commented on #3484
Do we also need to know if the "OpPanel function 74 time window" is currently open to satisfy https://github.com/ibm-openbmc/dev/issues/3019

[2022-02-24 17:00] joseph-reynolds commented on #3019
I asked in https://github.com/ibm-openbmc/dev/issues/3484

[2022-02-24 17:48] dixsie opened #3507 "GUI : FED : Event logs add missing information"
## SME
@spinler

## FED
### Overview
Need to add missing info to expanded row details  on Event  logs.

![Screen Shot 2022-02-24 at 11.42.40 AM.png](https://images.zenhubusercontent.com/5c969c26c2488c52df50b7eb/578fd484-cca2-4ff9-a911-8d8276cd7338)

### Acceptance Criteria
- [x] add definition list for `EventID`
- [x] add dl for `Resolution` need to format text redfish response value ( add new lin

[2022-02-24 17:59] spinler opened #3508 "Provide parsed PELs to the web UI"
Theoretically, we could add a new attachment to the Redfish event log entry that, when requested, could have bmcweb invoke peltool on the underlying file (whose filename is a property on dbus) and return the JSON output.  It would be ugly, so probably not upstreamable.

[2022-02-24 20:58] msbarth opened #3509 "PFP::control: Extraneous mapper lookups occur down the `addGroups()` path"
Need to determine where a "leak" of mapper lookups is occurring down the `addGroups()` path for doing bulk reads of sensors from dbus.

*Note: Providing the service for each group entirely eliminates the mapper lookups so this is needed for when group members may be provided by more than one service and the service has to be looked up for each member.

[2022-02-25 00:15] bjwyman commented on #1862
- [x] Monitor power supplies for input power faults.
    - https://github.com/openbmc/phosphor-power/commit/3f1242f3a147ee372d1e5c7274cb1db69d626b34
    - https://github.com/openbmc/phosphor-power/commit/b76ab2497e1010c238035b642bfa2123aad66bdf
    - https://github.com/openbmc/phosphor-power/commit/e3b0bb01dc4cf77486510eec2780ed2adf14aad0
- [x] Latched vs dynamic AC loss handling.
  - 900W & 1400W

[2022-02-25 00:21] bentyner commented on #2441
Testing result of fan present true/false using busctl tool shows consistent but unexpected behavior.
state: fan0, fan1, fan2, fan3 present <-- busctl get property xyz.openbmc_project.Inventory.Item Present
status: pldmtool fru GetFruRecordTable | grep fan:
"FRU Field Value": "fan0"
"FRU Field Value": "fan1"
"FRU Field Value": "fan2"
"FRU Field Value": "fan3"
test: fan0 set not-present <-- busctl s

[2022-02-25 00:31] bentyner commented on #2441
systemctl stop pldmd followed by systemctl start pldmd allows pldmtool fru GetFruRecordTable to function again
The unexpected additional fan0 entry and pldmtool core dump behavior can be repeated.

[2022-02-25 00:40] bentyner commented on #2441
test: pldmtool fru GetFruRecordTable | grep 904
result: "FRU Field Value": "9040-MRX"
expected: 9043-MRX <-- Everest P10 System Workbook, Version 1.3, Date: Jan 25, 2022
SUT os-release detail: VERSION_ID=fw1020.00-41.3

[2022-02-25 11:49] rfrandse commented on #2439
refresh

[2022-02-25 11:52] rfrandse commented on #2477
refresh

[2022-02-25 11:54] rfrandse commented on #572
refresh

[2022-02-25 11:56] rfrandse commented on #577
refresh

[2022-02-25 12:03] rfrandse commented on #3016
refresh

[2022-02-25 12:05] rfrandse commented on #1193
refresh

[2022-02-25 12:05] rfrandse commented on #1321
refresh

[2022-02-25 12:08] rfrandse commented on #1328
refresh

[2022-02-25 12:12] rfrandse commented on #1704
refresh

[2022-02-25 16:30] kennyneedsmilky commented on #3506
[SW543421](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW543421) : FTC1020:Rainier: GUI: Displaying OemIBMServiceAgent in Group Privilege

Resolved By: https://github.ibm.com/openbmc/webui-vue/pull/76

[2022-02-25 17:35] ghost opened #3510 "GUI: FED: Bug: Sensors page defects"
- [x] [SW535672](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW535672) : FTC1020:Rainier:GUI: Sensor information are not getting displayed in Sensor page

[2022-02-25 17:44] ghost opened #3511 "GUI : FED : Bug: Security and Access page defects"
- [x] [SW543421](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW543421) : FTC1020:Rainier: GUI: Displaying OemIBMServiceAgent in Group Privilege

- [ ] [SW542643](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW542643) : FTC1020:Rainier:GUI session logs out upon trying to disconnect the stale HMC connection.

- [x] [SW541853](https://w3.rchland.ibm.com/projects/bestquest/?defect=S

[2022-02-25 17:46] ghost commented on #3511
[SW543421](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW543421) : FTC1020:Rainier: GUI: Displaying OemIBMServiceAgent in Group Privilege

Resolved By: https://github.ibm.com/openbmc/webui-vue/pull/76

[2022-02-25 18:10] ghost commented on #3510
SW535672 : FTC1020:Rainier:GUI: Sensor information are not getting displayed in Sensor page

Resolved By: https://github.ibm.com/openbmc/webui-vue/pull/77

[2022-02-25 18:42] ghost opened #3512 "GUI : FED : Bug: Logs page defects"
- [x] [SW536647](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW536647) : FTC1020:Rainier:System dump : BMC GUI : GUI gives a message saying dump will be offloaded to OS , even though system is connected to HMC
- [x] [SW539054](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW539054) : FTC1020:Rainier: GUI : Appropriate error message not displayed in BMC GUI upon trying to trigger

[2022-02-25 18:59] msbarth commented on #2867
Looks like you're not able to use `Thresholds` on the devices with more than one sensor, i.e. DPS310, since the threshold gets applied to both sensors. When I attempted to split the ambient from the pressure on the DPS310 so the threshold would only get applied to the ambient, it doesnt appear the pressure gets put onto dbus by the HwmonTempSensor service any longer (even though they both show up

[2022-02-25 19:00] ghost commented on #3512
[SW536647](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW536647) : FTC1020:Rainier:System dump : BMC GUI : GUI gives a message saying dump will be offloaded to OS , even though system is connected to HMC

Resolved By: https://w3.rchland.ibm.com/projects/bestquest/?defect=SW536647

[2022-02-25 19:01] spinler commented on #2867
Would this help? https://gerrit.openbmc-project.xyz/c/openbmc/dbus-sensors/+/51366

[2022-02-25 19:03] msbarth commented on #2867
Yes..obviously not wanting to hard-code "indexes" but that's the exact issue I'm seeing since I only want the thresholds applied to one of the sensors

[2022-02-25 19:07] msbarth commented on #2867
Guess I'd rather see the number after `Name` be used to associate to thresholds instead of arbitrary index numbers like that commit since that code mentions the number associates to the sysfs filename #

[2022-02-25 19:27] msbarth commented on #2867
We need that fix included in a bump to dbus-sensors for this issue to get resolved.

[2022-02-25 19:48] msbarth opened #3513 "bmcweb::redfish: ThermalSubsystem fan objects should be based on fan inventory FRU and not the sensros"
The Redfish fan objects are incorrectly using the fan inventory endpoints, which reflect the rotors of a fan FRU, instead of the fan FRU level inventory object. This is causing duplicate information to be presented within the ThermalSubsystem and on the GUI for each fan that has more than 1 rotor (i.e. dual rotor fans).

When populating the fan objects within the ThermalSubsystem, the bmcweb code

[2022-02-25 20:37] msbarth commented on #2867
Verified the threshold interfaces show up correctly on just the ambient sensors if we bump dbus-sensors to include https://gerrit.openbmc-project.xyz/c/openbmc/dbus-sensors/+/51366

[2022-02-25 21:02] msbarth commented on #2867
Resolved by https://github.com/ibm-openbmc/entity-manager/pull/24

[2022-02-26 00:05] ghost opened #3514 "GUI: FED: Bug: SOL/host console defects"
- [x] [SW537257](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW537257) : FTC1020:Rainier:GUI: Serial On Lan pop up page displays 'Status: Disconnected'

[2022-02-26 00:09] ghost commented on #3514
[SW537257](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW537257) : FTC1020:Rainier:GUI: Serial On Lan pop up page displays 'Status: Disconnected'

Resolved By: https://github.ibm.com/openbmc/webui-vue/pull/79

[2022-02-26 00:48] ghost commented on #3512
[SW539054](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW539054) : FTC1020:Rainier: GUI : Appropriate error message not displayed in BMC GUI upon trying to trigger system dump at wrong system state

Resolved By: https://github.ibm.com/openbmc/webui-vue/pull/80

[2022-02-26 01:56] zhanghaodi commented on #3513
@msbarth This was considered at the time. For the speed of the dual-rotor fan, the speeds of the two rotors may be different. If the fan is used as the fanId instead of the fan rotor as the fanId, the fan speed is not easy to select at this time.

[2022-02-26 11:52] rfrandse commented on #2475
refresh

[2022-02-26 12:02] rfrandse commented on #3016
refresh

[2022-02-26 12:07] rfrandse commented on #1328
refresh

[2022-02-26 17:31] gtmills commented on #2895
We should follow the design in https://github.com/ibm-openbmc/openbmc/commit/69ae2e079a8643ace8cf1d44988174cc8f2cf8a9
No changes to the GUI or bmcweb needed here

[2022-02-27 12:06] rfrandse commented on #1328
refresh

[2022-02-27 22:30] ghost commented on #3511
[SW541853](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW541853) : FTC1020:Everest:GUI: ever57bmc.isst Need indication of a user creation fail for too weak of a password

Resolved By: https://github.ibm.com/openbmc/webui-vue/pull/81

[2022-02-27 22:42] ghost opened #3515 "GUI: FED: Bug: Resource management page defects"
- [x] [SW543100](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW543100) : HST:STC1020:Rainier:rain505 - System power mode change doesn't work via BMC GUI

[2022-02-27 22:44] ghost commented on #3515
[SW543100](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW543100) : HST:STC1020:Rainier:rain505 - System power mode change doesn't work via BMC GUI

Power saver modes
Resolved By: https://github.ibm.com/openbmc/webui-vue/pull/47

[2022-02-28 00:15] ghost commented on #3506
[SW543100](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW543100) : HST:STC1020:Rainier:rain505 - System power mode change doesn't work via BMC GUI

Power cap settings
Resolved By: https://github.ibm.com/openbmc/webui-vue/pull/82

Power saver modes
Resolved By: https://github.ibm.com/openbmc/webui-vue/pull/47

Idle power saver
Resolved By: https://github.ibm.com/openbmc/webui-vue/pull/34

[2022-02-28 00:15] #3515 closed, assigned to nobody

[2022-02-28 00:16] ghost commented on #3515
Duplicate issue.

[2022-02-28 02:01] ghost commented on #3506
[link](https://github.ibm.com/openbmc/webui-vue/pull/83) Update Power saver modes descriptions

Resolved By: https://github.ibm.com/openbmc/webui-vue/pull/83

[2022-02-28 09:16] sandeepasingh116 commented on #1509
Resolved by :
https://github.ibm.com/openbmc/webui-vue/pull/84

[2022-02-28 12:07] rfrandse commented on #1328
refresh

[2022-02-28 16:31] msbarth commented on #3513
This bug is not in reference to the fan speeds, which would be on the GUI's sensors page, this is in reference to the inventory and all the information that's currently provided under the `ThermalSubsystem/Fans/*` which is displayed on the GUI's inventory page.

What Redfish path represents the fan's sensor(s) where the rotor speeds would be provided? I do not see those getting provided on the `Th

[2022-02-28 17:00] ghost opened #3516 "GUI: FED: Bug: Profile settings page defects"
- [x] [SW529065](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW529065) : FW1020:Rainier: GUI allows user to attempt service user password modification

[2022-02-28 17:21] msbarth commented on #3509
Its been determined that the "leak" of mapper lookups is due to the number of object paths that do not exist on dbus for sensors that may not exist due to a system's specific sensor configuration. Fan control is configured to handle a full system config, but partial configs will not expose some sensor object paths to dbus and therefore never exist on dbus. Due to this, fan control continually atte

[2022-02-28 17:21] #3509 closed, assigned to msbarth

[2022-02-28 17:31] #3468 closed, assigned to spinler, msbarth

[2022-02-28 19:21] msbarth commented on #3485
This depends on getting the "IPS Active" sensors exposed onto dbus by @baileysh

[2022-02-28 22:04] msbarth commented on #3495
For reference: https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-dbus-interfaces/+/51320

[2022-02-28 22:26] ghost commented on #3516
[SW529065](https://w3.rchland.ibm.com/projects/bestquest/?defect=SW529065) : FW1020:Rainier: GUI allows user to attempt service user password modification

Resolved By: https://github.ibm.com/openbmc/webui-vue/pull/88

[2022-03-01 01:10] zhanghaodi commented on #3513
@msbarth I understand what you mean, in the original version, ThermalSubsystem/Fans/* was also based on inventory instead of sensors,
Later, in the next-level directory, ThermalSubsystem/Fans/fanID, this directory needs to display the attributes of each fan, including the fan speed. At this time, if ThermalSubsystem/Fans/* is based on inventory, then the fan speed displayed by ThermalSubsystem/Fan

[2022-03-01 11:55] rfrandse commented on #577
refresh

[2022-03-01 12:07] rfrandse commented on #1328
refresh

[2022-03-01 19:44] msbarth commented on #3513
Ok, but can we fix that now so that we add a layer for the fan sensors to the fan FRU level of the ThermalSubsystem?
i.e.)
ThermalSubsystem/Fans/fan0 <== FRU level representing the info from the fan FRU's inventory object on dbus (/xyz/openbmc_project/inventory/system/chassis/motherboard/fan0)

ThermalSubsystem/Fans/fan0/fan0_0 <== Individual fan sensors that would contain that associated sensor's

[2022-03-02 02:13] shenki commented on #3462
The files are now at /sys/kernel/debug/aspeed/

* /sys/kernel/debug/aspeed/secure_boot
* /sys/kernel/debug/aspeed/abr_image
* /sys/kernel/debug/aspeed/otp_protected

A correctly provisioned system should have secure_boot and otp_protected set to 1.

abr_image is a per-boot setting. It should always be 0. Raise an error if set to 1.

[2022-03-02 02:40] shenki commented on #3462
Can we log something to the journal, without creating a formal log?

We should still log if the file does not exist.

I suggest we check all of the bits, and output the information in the journal. It's only once the info is collected and we're in manufacturing mode that if we have any errors we raise a error.

[2022-03-02 11:36] sandeepasingh116 opened #3517 "GUI : FED : Update Memory page"
## SME
**BMC**:
**RAS**:
**PHYP**:

## FED
### The Memory Page under the Resource management page has to be updated
- [x] Text under the Logical memory block size has to be updated
- [x] The input fields and buttons should be be disabled when the system is powered on
- [x] The alert message on the top of the page has to be updated
- [x] Make the page setup section editable
- [x] Follow up with Pet

[2022-03-02 11:53] rfrandse commented on #2477
refresh

[2022-03-02 12:03] rfrandse commented on #3016
refresh

[2022-03-02 12:08] rfrandse commented on #1328
refresh

[2022-03-02 18:16] bjwyman commented on #3496
NOTE: This should end up very similar to fan HotPluggable attribute: https://github.com/ibm-openbmc/dev/issues/3495.

Plan is to work out details for that attribute, and re-use it for the power supplies.

[2022-03-02 18:23] patelabhishek9893 commented on #2577
downstream:
https://github.com/ibm-openbmc/bmcweb/pull/270

upstream:
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/50835
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/50965

[2022-03-02 20:07] #927 closed

[2022-03-02 21:58] bjwyman commented on #1402
- [x] Add 2602 fault to message_registry.json
    - This is the standby VRM failure that can cause BMC reset
    - Severity as critical in the registry.
    - https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-logging/+/52055
    - https://github.com/openbmc/phosphor-logging/commit/2a2d0aeb2aa6470952d9b4cbc7a99d18c7f8eb14
- [x] Updates for 00AC - Blackout.
    - [x] Update state manager code to

[2022-03-02 22:06] baileysh opened #3518 "Change function setSensorValueToNonFunctional"
to make this function more readable and versatile the code review suggestion was to
Consolidate setSensorValueToNonFunctional (should have been State and not Value) and setSensorValueToNaN
to UpdateFuncStateValue( Instance, Func, Value)
This would loop through the OCC instance and set the Func State, and Value State if directed.
-
NOTE: currently if Functional State is to be set to False, then the

[2022-03-02 23:27] #3512 closed, assigned to nobody

[2022-03-02 23:28] dixsie commented on #3512
Moving to Status board

[2022-03-03 00:12] dixsie commented on #3505
moving to status tracker in GHE

[2022-03-03 00:12] #3505 closed, assigned to Nikhil-Ashoka

[2022-03-03 00:14] #3514 closed, assigned to nobody

[2022-03-03 00:20] dixsie commented on #3506
moving to GHE  tracker

[2022-03-03 00:20] #3506 closed, assigned to nobody

[2022-03-03 02:57] zhanghaodi commented on #3513
@msbarth
https://github.com/ibm-openbmc/bmcweb/pull/271
Modified in this commit, ThermalSubsystem/Fans/fanID does not add the fan speed property,
Do you think this meets the requirements?

[2022-03-03 11:47] rfrandse commented on #242
refresh

[2022-03-03 11:54] rfrandse commented on #567
refresh

[2022-03-03 11:54] rfrandse commented on #569
refresh

[2022-03-03 11:54] rfrandse commented on #572
refresh

[2022-03-03 12:05] rfrandse commented on #1321
refresh

[2022-03-03 12:08] rfrandse commented on #1328
refresh

[2022-03-03 12:12] rfrandse commented on #1704
refresh

[2022-03-03 13:53] dixsie commented on #3516
moving issue to GHE

[2022-03-03 13:53] #3516 closed, assigned to nobody

[2022-03-03 13:55] dixsie commented on #3511
moving to GHE

[2022-03-03 13:55] #3511 closed, assigned to nobody

[2022-03-03 13:57] dixsie commented on #3510
moving to GHE

[2022-03-03 13:57] #3510 closed, assigned to nobody

[2022-03-03 14:01] dixsie commented on #3504
moving to GHE

[2022-03-03 14:01] #3504 closed, assigned to dixsie

[2022-03-03 15:15] sandeepasingh116 commented on #3517
Resolved by https://github.ibm.com/openbmc/webui-vue/pull/92

[2022-03-03 17:37] bjwyman commented on #1617
pseq: Add setPowerSupplyError D-Bus method: https://github.com/openbmc/phosphor-power/commit/ccea2d2b95e1f826d42a14a47b1b30aaec5cd93d

pseq: Clear power supply error at power on: https://github.com/openbmc/phosphor-power/commit/abd64b949bebebe17f0b28131c1a038dd021c255

pseq: Prevent multiple failures: https://github.com/openbmc/phosphor-power/commit/48752626d222ff2d0842ede1b0a66de5ee9595dc

pseq:

[2022-03-03 18:28] bjwyman commented on #1617
PEL: Remove severity from power supply errors: https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-logging/+/51629

[2022-03-03 20:27] gtmills opened #3519 "Fix PartitionSystemAttentionIndicator / PlatformSystemAttentionIndicator OEM"
[code]

Looking at the Patch:
are the same as LampTest and should be under IBM  (not IBMOem, you don't pass in IBMOem to PATCH)

https://github.com/ibm-openbmc/bmcweb/blob/be031b4de143cec47c5aefc9731e4390c0e158cd/redfish-core/lib/systems.hpp#L2891

so something more like
[code]

[2022-03-03 20:36] gtmills opened #3520 "After enabled both -Dibm-sai and -Dibm-lamp-test Lamp Test no longer works"
PATCH
	https://<bmc ip address>/redfish/v1/Systems/system

	{"Oem":{"IBM":{"LampTest":true}}}

This returns a
[code]
now. It used to work.

Please check the SystemAttentionIndicators as well
[code]

Our EXTRA_OEMESON
[code]

[2022-03-03 21:44] #1617 closed

[2022-03-03 22:08] gtmills opened #3521 "Add PATCHing of MetricReportDefinition"
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/49796 adds PATCHing of the MetricReportDefinition

Future release here

[2022-03-04 01:40] bjwyman commented on #1862
[code]
Spare part number (FRU number): 03FP378
Model (CCIN): 51E9
Firmware version: 393141313831

[2022-03-04 11:43] rfrandse commented on #50
refresh

[2022-03-04 11:51] rfrandse commented on #2475
refresh

[2022-03-04 11:51] rfrandse commented on #2477
refresh

[2022-03-04 11:52] rfrandse commented on #567
refresh

[2022-03-04 11:53] rfrandse commented on #569
refresh

[2022-03-04 11:53] rfrandse commented on #572
refresh

[2022-03-04 12:00] rfrandse commented on #2945
refresh

[2022-03-04 12:02] rfrandse commented on #3016
refresh

[2022-03-04 12:04] rfrandse commented on #1321
refresh

[2022-03-04 12:07] rfrandse commented on #1328
refresh

[2022-03-04 12:11] rfrandse commented on #1704
refresh

[2022-03-04 12:14] rfrandse commented on #1934
refresh

[2022-03-04 12:14] rfrandse commented on #1936
refresh

[2022-03-04 12:15] rfrandse commented on #1942
refresh

[2022-03-04 19:33] msbarth commented on #3513
Well, the issue isnt specific to the fan speed property but how the `fanID` objects are constructed. Could you provide the output of the following that shows all the fans with this change:
[code]

I'm looking for that to return only the number of entries as there are actual fan enclosures(FRUs) and not the number of fan rotors that exist (and of course have the appropriate redfish data associated

[2022-03-05 11:52] rfrandse commented on #2475
refresh

[2022-03-05 12:02] rfrandse commented on #3016
refresh

[2022-03-05 12:07] rfrandse commented on #1328
refresh

[2022-03-07 01:33] zhanghaodi commented on #3513
Here are the relevant test results:
[code]
In the fanID related attributes, the fan speed is not added, which is related to the fan rotor.

[2022-03-07 09:48] lxwinspur commented on #3520
review by: https://github.com/ibm-openbmc/bmcweb/pull/275

[2022-03-07 09:48] lxwinspur commented on #3519
review by: https://github.com/ibm-openbmc/bmcweb/pull/275

[2022-03-07 12:08] rfrandse commented on #1328
refresh

[2022-03-07 12:17] Nikhil-Ashoka commented on #3507
Resolved by: https://github.ibm.com/openbmc/webui-vue/pull/111

[2022-03-07 12:49] shenki commented on #3438
This has been added to debugfs while the upstream sysfs API is discussed:

[code]

Note that simics does not populate the registers with something sensible.

[2022-03-07 12:50] shenki commented on #3437
Andrew and Chris decided this work is not required for the use case we have, and have stopped working on it.

[2022-03-07 12:50] #3437 closed

[2022-03-07 12:51] shenki commented on #3436
This was merged into the aspeed openbmc tree.

https://lore.kernel.org/openbmc/20220207231334.59845-1-eajames@linux.ibm.com/

[2022-03-07 12:51] #3436 closed

[2022-03-07 12:53] shenki commented on #3439
pdbg 3.5 was released with this feature. https://github.com/open-power/pdbg/releases/tag/v3.5

linux v5.18 will have the ioctl. It has been backported to dev-5.15 and the ghe kernel tree.

The kernel hack that is in place to make the timeout unconditionally can be removed.

[2022-03-07 12:53] #3439 closed

[2022-03-07 12:53] #3438 closed

[2022-03-07 18:37] msbarth commented on #3513
Ah, ok.. cool. I'll pull down that change and check it out on the same system thru the GUI

[2022-03-07 21:38] geissonator commented on #3462
Series of commits up at https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-state-manager/+/51765

[2022-03-08 03:35] lxwinspur commented on #3519
review by: https://github.com/ibm-openbmc/bmcweb/pull/276

[2022-03-08 03:35] lxwinspur commented on #3520
review by: https://github.com/ibm-openbmc/bmcweb/pull/276

[2022-03-08 12:08] rfrandse commented on #1328
refresh

[2022-03-08 18:43] msbarth opened #3522 "PFP::control::actions: Use event name in action's unique instance name"
Currently an incremented instance number is concatenated to each instance of an action to create a uniquely identifiable name for that action's instance. It would be more beneficial to instead concatenate the event's name (which is forced to be unique) to the action name.

Since an event could technically be configured to call the same action more than once, keeping the instance number attached to

[2022-03-08 19:28] bjwyman commented on #2431
- [x] Update which (if any) N_MODE_VREF gpio needed for oversubscription in entity manager config file.
    - https://github.com/ibm-openbmc/entity-manager/pull/12
    - Upstream review: ???
...

[2022-03-08 19:44] msbarth opened #3523 "PFP::control::actions: Update actions that have other actions as input support the same configuration options an action does on an event"
There are actions (i.e. `TimerBasedActions::setActions`-> https://github.com/openbmc/phosphor-fan-presence/blob/master/control/json/actions/timer_based_actions.cpp#L184) that take actions in their configuration input which should support the same configuration options that can be provided when an action is configured on an event. These configuration options include the use of "profiles" and settin

[2022-03-08 20:34] spinler commented on #1161
Based on the survey of our users, the first thing we need to be able to do is get 'peltool --file = <raw pel file>' working on RHEL 7.9.

On Fedora 35, can just do the normal meson build, though that pulls more than necessary into peltool, but it doesn't work on RHEL.

With the follow PEL data, (base64 encoded here so it can be shown):
EgAMAEANQAgIgMIGEAnGSAiAwgYQCcpTwAACgAAEZwAAAAAAAAAAFAAX9hQAF/

[2022-03-08 21:14] msbarth opened #3524 "Rainier/Everest: Configure fan override action"
Need to add the configuration as outlined in #3076 so that when a rotor fails within a dual rotor fan, the other rotor is locked at these system's full speed value (aka `poweron_target` from zones.json of each system).

[2022-03-09 11:51] rfrandse commented on #2429
refresh

[2022-03-09 11:53] rfrandse commented on #2477
refresh

[2022-03-09 12:04] rfrandse commented on #3016
refresh

[2022-03-09 12:06] rfrandse commented on #1321
refresh

[2022-03-09 12:09] rfrandse commented on #1328
refresh

[2022-03-09 12:10] rfrandse commented on #1359
refresh

[2022-03-09 12:13] rfrandse commented on #1704
refresh

[2022-03-09 16:25] msbarth commented on #3513
So with the latest I pulled down from https://github.com/ibm-openbmc/bmcweb/pull/271, now no fans show up in the GUI's inventory which is not what we want and I'm also not able to access the individual fans thru `curl` commands now as well.
[code]
So this change doesnt appear to correctly be handling multi-rotor fans? Did the system you tested on above have dual rotor fans?

[2022-03-09 16:29] msbarth commented on #3513
fyi, I cherry-picked sha `4c1db9707dfe7bdd1a1d2fc1182ff866d048e8c6` in this testing which also looks to have failed CI in the PR.

[2022-03-09 23:04] joseph-reynolds opened #3525 "Restrict Redfish/REST APIs to the service user"
This story is to restrict certain BMCWeb Redfish and REST APIs so only the service user is allowed to use them.  For example:
- /redfish/v1/Systems/system/LogServices/EventLog/** -- see below
- /redfish/v1/Systems/system/LogServices/CELog/** -- see below
- the API to allow the service user to login to theBMC command shell

One way to enforce that is for the operation to require the new OemIBMPerfo

[2022-03-09 23:18] wrightjl1 commented on #1717
Code review for minimum power off time: https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-power/+/51808

[2022-03-10 11:53] rfrandse commented on #2475
refresh

[2022-03-10 11:54] rfrandse commented on #569
refresh

[2022-03-10 11:56] rfrandse commented on #577
refresh

[2022-03-10 12:04] rfrandse commented on #3016
refresh

[2022-03-10 12:09] rfrandse commented on #1328
refresh

[2022-03-10 13:54] cjcain commented on #957
Code implemented for the pcap hard minimum and maximum.

Dbus:
[code]

[code]

Pull request for 1020: https://github.ibm.com/openbmc/openbmc/pull/2002

[2022-03-10 18:00] geissonator commented on #2990
Think I can close this one out @derekhoward55 ?

[2022-03-10 18:05] geissonator commented on #1693
The critical service work within phosphor-state-manager is complete and merged starting with this commit https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-state-manager/+/51128

The final piece here is to define the IBM critical services which is up for review at https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/51686

[2022-03-10 18:08] geissonator commented on #2618
Per discussion with the PE and RAS team, it is agreed that for eBMC, no BMC reboots will be done to try and recover from service failures.  https://github.com/ibm-openbmc/dev/issues/1693 will ensure the services are monitored for failure and appropriate FFDC and error reporting is done.

https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-logging/+/51533 will be the SRC posted when a critical se

[2022-03-10 18:08] #2618 closed

[2022-03-10 18:10] geissonator commented on #870
All changes are merged and in. Closing this issue. Adriana is working the Brownout piece separately.  See https://github.com/openbmc/docs/blob/master/designs/power-recovery.md for details on this work.

[2022-03-10 18:10] #870 closed

[2022-03-10 19:38] derekhoward55 commented on #2990
@bjwyman have we seen enough logs/time on these ps to be confident there are not other functional changes needed?

[2022-03-10 19:45] #1942 closed

[2022-03-11 11:54] rfrandse commented on #572
refresh

[2022-03-11 11:59] rfrandse commented on #767
refresh

[2022-03-11 11:59] rfrandse commented on #771
refresh

[2022-03-11 12:03] rfrandse commented on #2986
refresh

[2022-03-11 12:06] rfrandse commented on #1321
refresh

[2022-03-11 12:09] rfrandse commented on #1328
refresh

[2022-03-11 12:10] rfrandse commented on #1484
refresh

[2022-03-11 12:11] rfrandse commented on #1494
refresh

[2022-03-11 12:13] rfrandse commented on #1704
refresh

[2022-03-11 14:13] bentyner commented on #2441
Ensure alerts/epows (eg high ambient temp epow3/4) supported
---
Mar 04 19:05:09 p10bmc sensor-monitor[526]: Starting 900000ms SoftShutdownAlarmHigh shutdown timer due to sensor /xyz/openbmc_project/sensors/temperature/Ambient_Virtual_Temp value 81
...
Mar 04 19:05:09 p10bmc sensor-monitor[526]: Starting 23000ms HardShutdownAlarmHigh shutdown timer due to sensor /xyz/openbmc_project/sensors/temper

[2022-03-12 11:49] rfrandse commented on #2439
refresh

[2022-03-12 11:52] rfrandse commented on #2475
refresh

[2022-03-12 11:54] rfrandse commented on #572
refresh

[2022-03-12 11:54] rfrandse commented on #573
refresh

[2022-03-12 11:56] rfrandse commented on #577
refresh

[2022-03-12 11:59] rfrandse commented on #767
refresh

[2022-03-12 12:03] rfrandse commented on #3016
refresh

[2022-03-14 03:23] zhanghaodi commented on #3513
1>Tested machine has dual rotor fans,
[code]
2>CI bug resolved, updated in https://github.com/ibm-openbmc/bmcweb/pull/271

[2022-03-14 11:08] rfrandse commented on #1328
refresh

[2022-03-14 14:30] cjcain commented on #957
Code available in fw1020.00-45.2

[2022-03-14 15:39] #1717 closed

[2022-03-14 20:04] spinler commented on #1161
I put up a chain of commits starting at https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-logging/+/51970/ to remove all the dbus and dependencies to the code that builds into peltool so that it can compile on RHEL:

[code]

[2022-03-15 00:37] lxwinspur commented on #3520
@gtmills
https://github.com/ibm-openbmc/bmcweb/pull/276 has been merged, could you close it?

[2022-03-15 00:37] lxwinspur commented on #3519
@gtmills
https://github.com/ibm-openbmc/bmcweb/pull/276 has been merged, could you close it?

[2022-03-15 10:53] rfrandse commented on #2477
refresh

[2022-03-15 10:54] rfrandse commented on #567
refresh

[2022-03-15 10:55] rfrandse commented on #569
refresh

[2022-03-15 11:03] rfrandse commented on #3016
refresh

[2022-03-15 11:08] rfrandse commented on #1328
refresh

[2022-03-15 11:10] rfrandse commented on #1484
refresh

[2022-03-15 13:57] smccarney commented on #3492
Pull request up containing this fix:  https://github.com/ibm-openbmc/phosphor-power/pull/4

[2022-03-15 16:59] ghost commented on #3427
Resolved By: https://github.ibm.com/openbmc/webui-vue/pull/109

[2022-03-15 18:51] spinler commented on #1161
We decided to just rewrite peltool in python to avoid the headache of having to build it separately for all of the platforms.  I'm going to close this issue  and open a new one for that so we can start clean.

[2022-03-15 18:51] #1161 closed

[2022-03-15 19:45] spinler opened #3526 "Python version of peltool"
From #1161, we have to deliver a peltool application to parse PEL files to many different users, including at the minimum:

RHEL 7.7 on x86 (eblis)
RHEL 7.9 using Fedora 35 containers on ppc64le (ISDW - call home databases)
RHEL 7.9 on ppc64le (STELA)
RHEL 7.9 on x86 ECUREP (decode PELs from BMC dumps coming back from the field)

We decided the best way forward is to write a python version of pelt

[2022-03-15 19:47] spinler commented on #3526
The example from #1161:

With the follow PEL data, (base64 encoded here so it can be shown):
[code]
it would give something like:
[code]

[2022-03-16 10:53] rfrandse commented on #2477
refresh

[2022-03-16 10:55] rfrandse commented on #567
refresh

[2022-03-16 10:55] rfrandse commented on #571
refresh

[2022-03-16 10:57] rfrandse commented on #577
refresh

[2022-03-16 11:04] rfrandse commented on #3016
refresh

[2022-03-16 11:10] rfrandse commented on #1328
refresh

[2022-03-17 11:05] rfrandse commented on #1321
refresh

[2022-03-17 11:08] rfrandse commented on #1328
refresh

[2022-03-17 11:12] rfrandse commented on #1704
refresh

[2022-03-17 15:46] msbarth commented on #3482
Leave this as-is so that the pcie_cards.json files are loaded in addition to those in the OEM location if the paths don't match between the override location and the OEM location. Where if they match, the pcie_cards.json file overrides the config found in its OEM location.

[2022-03-17 15:46] #3482 closed, assigned to spinler, msbarth

[2022-03-17 16:45] gtmills opened #3527 "GUI: FED: Bug: QuiesceOnError and Manual mode should not be coupled"
## Expected Behavior
QuiesceOnError and Manual mode should not be coupled
When setting Manual mode it should not adjust QuiesceOnError.

## Actual Behavior
Setting Manual Mode sets QuiesceOnError

[code]

https://ibm-systems-power.slack.com/archives/G3WAVQYTH/p1647535411586139?thread_ts=1647451541.496879&cid=G3WAVQYTH

[2022-03-17 18:37] bjwyman commented on #1709
Added power supply temperatures:
- https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/51941
- https://github.com/openbmc/openbmc/commit/7eb569c9b994c3c0ab2c9faeb33a0d2528d9e117

[2022-03-17 19:17] msbarth commented on #3502
Dont foresee this being an issue with 2U or Everest unless its config related, so only need to test on these systems to verify the amber LED of each fan blinks when the "Identity" toggle is turned on in the GUI.

[2022-03-17 19:27] msbarth commented on #3089
My suggestion is to enable meson only for the JSON based configurations for each fan application. This would be the first stepping-stone to then deprecate `phosphor-fan-presence` and create a new repo called `phosphor-fan` (to match the recipe name). Then within this new `phosphor-fan` repo, all the YAML and autotools support can be officially removed and then unit tests(https://github.com/openbmc

[2022-03-17 20:00] bjwyman commented on #1394
Did we end up with just a PR in ibm-openbmc to address this? Nothing in Gerrit?

https://github.com/ibm-openbmc/bmcweb/pull/135

PowerWatts is the new name?

[2022-03-17 20:03] bjwyman commented on #1394
EfficiencyPercent: https://github.com/openbmc/bmcweb/commit/42cbe53889b5f2d358d1174245df51a23efcb3f8

[2022-03-17 20:37] msbarth commented on #3467
Have not seen this occur again, closing.

[2022-03-17 20:37] #3467 closed, assigned to msbarth

[2022-03-17 20:40] bjwyman commented on #1394
PowerMetrics -> PowerWatts.

Old:
[code]

Min and Max values for the new Redfish schema apparently still missing.

[2022-03-17 22:37] smccarney commented on #3492
Pull request has been merged and pulled into BMC tag/version 46.4.

[2022-03-17 22:37] #3492 closed, assigned to smccarney

[2022-03-18 10:53] rfrandse commented on #2475
refresh

[2022-03-18 10:54] rfrandse commented on #567
refresh

[2022-03-18 10:55] rfrandse commented on #571
refresh

[2022-03-18 11:03] rfrandse commented on #3016
refresh

[2022-03-18 11:09] rfrandse commented on #1328
refresh

[2022-03-18 16:11] #1643 closed

[2022-03-18 16:12] #571 closed

[2022-03-18 18:34] derekhoward55 commented on #1806
Code is in places where we shut off the system.  Verified power off, error logs, etc on hardware.

[2022-03-18 18:34] #1806 closed

[2022-03-18 19:29] msbarth commented on #3486
One option to have a "deadband" is to wait until the key transitions by a configured minimum (<= 1.0) before transitioning to the next key. This would then keep the mapped floor from transitioning to quickly based on how often the key's value is updated on dbus. (i.e. a key could be updated ever 0.001 value on dbus, but maybe this mapped floor action for fan control should only wait until the key

[2022-03-18 19:38] msbarth commented on #3486
For IBM's configuration, its possible that the `Fan floors` event could be updated to utilize a timer trigger in place of the signal triggers for the ambient group where it would preload the ambient group ever X seconds and run the mapped_floor action. Any change in parameters would still trigger the mapped_floor action to run.
i.e.)
[code]

[2022-03-19 10:53] rfrandse commented on #567
refresh

[2022-03-19 10:54] rfrandse commented on #572
refresh

[2022-03-19 11:07] rfrandse commented on #1328
refresh

[2022-03-19 11:11] rfrandse commented on #1704
refresh

[2022-03-21 06:31] OguzhanCaglar commented on #827
Hi, I want to ask something. How can i boot the ast2500 from SD-Card? And how can i generate image that compatible with sd-card?

[2022-03-21 10:53] rfrandse commented on #521
refresh

[2022-03-21 15:57] gtmills opened #3528 "GUI : FED : Add "Dump in progress; dump will be lost if server is power off" when Dump is in progress"
## SME
**BMC**: @geissonator

## FED
### Overview

If the user were to power off the system when a dump is happening the dump is lost.
There is going to be a Bios Attribute to allow the HMC and the GUI to know a Dump is in progress.
On the Server Power Operations page need to warn the user a power off will result in the dump being lost.
Either a message on the screen before a reboot or power off i

[2022-03-21 17:50] msbarth commented on #3513
On a dual rotor fan system, I found that the `/redfish/v1/Chassis/chassis/ThermalSubsystem/Fans/fan*` now returns the correct representation of the fan FRUs within the system. However, I am now unable to retrieve the individual fan objects from that path to see their associated properties that use to be retrieved from the fan FRU inventory object path:

Redfish retrieve all fan objects from `.../F

[2022-03-22 07:23] zhanghaodi commented on #3513
The reason for the test failure after the update is:
In https://github.com/ibm-openbmc/openbmc/blob/1020/meta-ibm/recipes-phosphor/inventory/phosphor-inventory-manager/associations.json,
Required for "path": "system/chassis/motherboard/fan0",
  "path": "system/chassis/motherboard/fan1".. this series, need to add a new endpoint,
[code]
Take "path": "system/chassis/motherboard/fan0" for example
adde

[2022-03-22 10:53] rfrandse commented on #516
refresh

[2022-03-22 10:54] rfrandse commented on #519
refresh

[2022-03-22 10:54] rfrandse commented on #567
refresh

[2022-03-22 10:55] rfrandse commented on #572
refresh

[2022-03-22 11:09] rfrandse commented on #1328
refresh

[2022-03-22 17:13] gtmills commented on #3484
This only tracks what was on ASMI and is needed for ACF generation:

ASMI had on the header of the login:
[code]
And the body
[code]

Not sure if all of that is needed..

[2022-03-22 19:26] spinler opened #3529 "PELs: Sort callouts and remove duplicates"
There's several ways to add callouts to PELs - JSON, CALLOUT_INV_PATH, device path callouts, msg registry, and more than one could be used at once.  It would be nice to remove any duplicate callouts left at the end of adding all of them, as well as  sorting them based on priority.

[2022-03-22 20:46] msbarth commented on #3513
Ah, thanks for the info on what's needed in the `associations.json`! I was able to update this and check this out with a dual rotor fan system and from what I can tell its working as expected with your fix. I need to check a few more things thru Redfish and would like to spot check on a single rotor setup, but it appears to be working good so far, thanks!

[2022-03-22 20:49] bjwyman commented on #1862
SRCREV bump: https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/52241

[2022-03-22 21:05] bjwyman commented on #1402
SRCREV bump: https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/52230

[2022-03-22 21:16] #1402 closed

[2022-03-22 22:30] bjwyman commented on #1708
Noted an errno=2 issue a while back, thought had a kernel update issue, but Eddie James did not see what kernel change might cause that.

Testing in simulator, still see that on missing to present. There was an internal defect as well, on Everest that seemed to indicate a problem.

I think the ordering change that tries to updateInventory() before binding the device driver is the issue.

Swizzled

[2022-03-22 23:07] bjwyman commented on #1862
https://github.com/openbmc/openbmc/commit/23b4bb87e4754490acfc26a65312d0feb8767a2a

[2022-03-22 23:07] #1862 closed

[2022-03-23 10:54] rfrandse commented on #567
refresh

[2022-03-23 10:55] rfrandse commented on #572
refresh

[2022-03-23 11:05] rfrandse commented on #1172
refresh

[2022-03-23 11:06] rfrandse commented on #1321
refresh

[2022-03-23 11:09] rfrandse commented on #1328
refresh

[2022-03-23 11:13] rfrandse commented on #1704
refresh

[2022-03-23 12:06] nmuruli commented on #2660
All kinds of BMC dumps we need to have Journal traces and PLDM flight recorder. Eg if the BMC dump is triggered due to some daemon taking a core then the Journal with specific to that PID will be collected. I think this will be a issue. we should we requiring to collect full Journal and pldm flight recorder by default.. I cannot talk from other components respective , but for PLDM to do any debug

[2022-03-23 15:05] msbarth commented on #3513
My verification of this change looks good! Thanks for the help getting this fixed up.

[2022-03-23 15:06] msbarth commented on #3513
Will need to coordinate getting the `associations.json` files updated along with this change to bmcweb.

[2022-03-23 15:45] joseph-reynolds opened #3530 "Flag for unauthenticated ACF upload"
There should be a boolean value available to unauthenticated users which says if the unauthenticated ACF upload time window is active.  This is needed by the service representative who needs to use the BMC's unauthenticated ACF upload function to determine if Operator Panel function 74 was successful.

Background: In one of the functions described by https://github.com/ibm-openbmc/dev/issues/3019,

[2022-03-23 21:02] bjwyman commented on #1815
I read that as the INPUT_HISTORY command the phosphor-psu-monitor needs to read and push out to D-Bus.

Added myself as one of the assignees due to that.

[2022-03-23 23:46] bjwyman commented on #1708
Remove/install, errno=2 issues reading and updating VPD/inventory. Fix(es):
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-power/+/52254
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-power/+/52255

Oops! Appending '\0' to the string is a bad idea. PHYP testing found problems, labeled it corrupt VPD. Fix:
- https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-power/+/52297

[2022-03-24 10:51] rfrandse commented on #2443
refresh

[2022-03-24 10:53] rfrandse commented on #2475
refresh

[2022-03-24 10:54] rfrandse commented on #567
refresh

[2022-03-24 11:03] rfrandse commented on #3016
refresh

[2022-03-24 11:08] rfrandse commented on #1328
refresh

[2022-03-25 08:21] sunharis commented on #3371
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-debug-collector/+/52299

[2022-03-25 08:21] #3371 closed

[2022-03-25 08:21] #3276 closed

[2022-03-25 08:25] sunharis opened #3531 "Support interfaceEnabled property on Hypervisor Network Interface"
Earlier, GET on the hypervisor ethernet interface hardcoded InterfaceEnabled property of the redfish response as true and
network configuration data will be displayed based on the dbus object's "Enabled" property - display ip when the property is true, else return null.

With this change, the network configuration data will be displayed irrespective of the "Enabled" property's value and InterfaceE

[2022-03-25 08:25] sunharis commented on #3531
https://github.com/ibm-openbmc/bmcweb/pull/300

[2022-03-25 08:31] sunharis opened #3532 "Dump Management - Block Delete dump while offload is in progress"
This story will also implement pldm changes where pldm will clear the dump offload url set at dbus when the dump offload is complete ( success/error).  Based on this, dump manager shall return NotAllowed error for delete operation when then same dump offload is getting offloaded. bmcweb should map this NotAllowed error to ServiceUnavailable with a 1 sec retry timer.

This would give a indication t

[2022-03-25 10:51] rfrandse commented on #2429
refresh

[2022-03-25 11:08] rfrandse commented on #1328
refresh

[2022-03-25 14:24] gtmills opened #3533 "PCIe Topology: Redfish: Cable links"
Cable need downstream/upstream port
Downstream resource, upstream resource, downstream chassis
https://github.ibm.com/gmills/pcie-topology

Code will go here: https://github.com/ibm-openbmc/bmcweb/blob/1020/redfish-core/lib/cable.hpp

https://github.ibm.com/openbmc/openbmc/pull/2264 is the resource upstream and downstream and port upstream and downstream

https://github.com/ibm-openbmc/phosphor-db

[2022-03-25 14:30] gtmills opened #3534 "PCIe Topology: Redfish: Need link for fabric adapter to pcie device"
This is Link PCIeDevice at https://github.ibm.com/gmills/pcie-topology
https://redfish.dmtf.org/schemas/v1/FabricAdapter.v1_2_0.json

[code]

[2022-03-25 14:43] gtmills opened #3535 "PCIe Topology: Redfish: PCIeSlot links"
PCIeSlot to processor link - Redfish property  (backend in)
PCieSlot to associated assembly link - Will be OEM  (waiting on backend)
See https://github.ibm.com/gmills/pcie-topology

PCIeSlot to processor link from https://redfish.dmtf.org/schemas/v1/PCIeSlots.v1_5_0.json
[code]
See https://github.ibm.com/openbmc/openbmc/pull/2230/files

[2022-03-25 14:55] gtmills opened #3536 "PCIe Topology: Redifsh: "Refresh of PCIe Topology requested""
The property is called: PCIeTopologyRefresh
https://github.com/ibm-openbmc/phosphor-dbus-interfaces/pull/46
I think it is just easiest if we put it on the system object at /redfish/v1/Systems/system

From https://syswiki02.rchland.ibm.com/openbmc/openbmc-design-reviews
Gunnar/Manoj: PCIeTopologyRefresh
[code]

[2022-03-25 16:22] gtmills opened #3537 "PCIe Topology: Redfish: Link Properties like LinkId, Link Width, Link Speed"
LinkId, Link Width, Link Speed

[2022-03-25 17:13] gtmills opened #3538 "Event Log: Redfish: OEM for full PEL"
Place holder for some Oem Additional Data URI which will contain the Full PEL.
This will be a 2nd Oem Additional Data URI.
OemAdditionalDataPel is a possible property name

A possible path might be something like:
/redfish/v1/Systems/system/LogServices/EventLog/Entries/1/OemPelAttachment

[2022-03-25 21:06] sbteeks commented on #3041
PR up for review: https://github.com/ibm-openbmc/phosphor-buttons/pull/1

[2022-03-26 11:07] rfrandse commented on #1328
refresh

[2022-03-27 11:07] rfrandse commented on #1328
refresh

[2022-03-27 19:10] bjwyman commented on #2990
I have not had much time on Rainier 1s4u systems. I previously noted odd behavior if power supplies moved from top slots to bottom slots. The last power supply removed remains marked present, creating a sort of phantom inventory entry.

[2022-03-28 11:03] rfrandse commented on #2986
refresh

[2022-03-29 14:31] #3427 closed, assigned to nobody

[2022-03-29 15:40] manojkiraneda opened #3539 "PLDM : Create LED PDR's for unpopulated processors & DIMM's"
**Problem :**
In the current pldm design, the [LED PDR's of Processors](https://github.com/ibm-openbmc/pldm/blob/1020/oem/ibm/configurations/pdr/ibm%2Crainier-2u/11.json#L195-L269) & [LED PDR's of DIMMS](https://github.com/ibm-openbmc/pldm/blob/1020/oem/ibm/configurations/pdr/ibm%2Crainier-2u/11.json#L339-L945) are generated and attached to Processor FRU PDR (entity type, instance number , contain

[2022-03-29 19:27] gtmills commented on #3538
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-dbus-interfaces/+/52275

[2022-03-29 19:53] gtmills opened #3540 "Unable to configure SNMP managers with fully qualified domain name or hostname"
As SW539991 states, still seeing
[code]
return an InternalError using https://github.com/ibm-openbmc/bmcweb

[2022-03-29 20:51] gtmills commented on #3525
It was decided not to restrict CELog.
From a Aug 25, 2021 email after this was discussed in a meeting

[code]

[2022-03-29 20:52] gtmills commented on #3525
And /redfish/v1/Systems/system/LogServices/EventLog/** should not be restricted either

[2022-03-30 07:07] ChicagoDuan commented on #3540
Hi @gtmills ,  What is the commitID of the phosphor-snmp you use?  I have fixed this issue here:https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-snmp/+/49289 .  Can you post more information? Thanks.

[2022-03-30 11:00] rfrandse commented on #2813
refresh

[2022-03-30 11:10] rfrandse commented on #1328
refresh

[2022-03-30 20:49] mzipse commented on #3458
Here's the Redfish bios attribute info needed for this work.
   {
         "attribute_name":"hb_secure_ver_lockin_enabled",
         "possible_values":[
            "Enabled",
            "Disabled"
         ],
         "default_values":[
            "Disabled"
         ],
         "helpText" : "Specifies whether the secure version lockin functionality is enabled.",
         "displayName" : "Secur

[2022-03-31 10:08] Nikhil-Ashoka commented on #3458
Resolved by: https://github.ibm.com/openbmc/webui-vue/pull/167

[2022-03-31 10:56] rfrandse commented on #577
refresh

[2022-03-31 11:09] rfrandse commented on #1328
refresh

[2022-03-31 11:17] rfrandse commented on #2040
refresh

[2022-03-31 12:15] mzipse commented on #3477
@gtmills , have we pulled this in downstream yet?

[2022-03-31 12:21] lxwinspur commented on #3477
Yes, I think so, it has been merged downstream: https://github.com/ibm-openbmc/bmcweb/pull/259

[2022-03-31 13:08] mzipse commented on #3477
Thank you!  Marking "Code Review in Driver"

[2022-03-31 17:25] smccarney commented on #2473
Eddie James said that he thought the kernel configuration changes he did for Rainier would also be in place for Everest.

No Everest-specific functionality was planned for the ibm-ups application.

Tested the ibm-ups application with the "dummy" UPS device today on an Everest system with Marissa Garza's help.

Completed the following test plan.  All tests worked as expected:
[code]

[2022-03-31 17:26] #2473 closed

[2022-03-31 19:25] bjwyman commented on #1860
@anoo1 indicated this should essentially be complete after: https://gerrit.openbmc-project.xyz/c/openbmc/docs/+/48015

[2022-03-31 19:25] bjwyman commented on #1860
That did get merged: https://github.com/openbmc/docs/commit/e67c779ec815d204ae7d9f07da3f533f6aab8364

[2022-03-31 19:27] bjwyman commented on #1860
This goes with that: https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-state-manager/+/52283

[2022-04-01 06:40] rsnair commented on #1744
TODO: @sunharis  Split this into smaller stories. Also, create stories for the PLDM bios changes. Let us track this as an epic

[2022-04-01 06:49] rsnair commented on #3480
Modifying the story scope for the following -
=> Master refresh for networkd
=> Effort for Merge conflict resolution
=> Regression test effort to ensure the existing features are not broken
=> Evaluating the IPv6 support from the latest master

[2022-04-01 06:52] rsnair commented on #389
Changing it back to original sizing. This was put on hold. Will have to resume and revalidate if this issue is addressed

[2022-04-01 10:48] rfrandse commented on #243
refresh

[2022-04-01 10:51] rfrandse commented on #2454
refresh

[2022-04-01 10:52] rfrandse commented on #407
refresh

[2022-04-01 10:55] rfrandse commented on #572
refresh

[2022-04-01 10:56] rfrandse commented on #577
refresh

[2022-04-01 11:09] rfrandse commented on #1328
refresh

[2022-04-01 11:13] rfrandse commented on #1744
refresh

[2022-04-01 13:47] spinler commented on #3513
Hi @zhanghaodi, we noticed on a system with an external IO drawer, meaning multiple chassis, that getting the Fans for 1 chassis gets all of  them:

[code]

Looks like getValidFan() doesn't compare the chassis ID when building its response?

[2022-04-01 17:53] bjwyman commented on #1394
`curl -k -H "X-Auth-Token: $bmc_token" -X GET https://${bmc}/redfish/v1/Chassis/chassis/PowerSubsystem/PowerSupplies/powersupply0`

- Rainier: Sensor changed to /redfish/v1/Chassis/chassis/EnvironmentMetrics (PowerWatts)

[2022-04-01 20:03] spinler commented on #3354
I fixed this a while ago by putting inventory associations in the associations.json files, and also giving the pcie card temp sensors stable names so they could have associations.

[2022-04-01 20:03] #3354 closed

[2022-04-01 20:04] spinler commented on #2999
All merged.

[2022-04-01 20:04] #2999 closed

[2022-04-01 20:05] spinler commented on #2867
Merged.

[2022-04-01 20:05] #2867 closed

[2022-04-01 20:10] spinler commented on #1668
All stories complete.  Closing.

[2022-04-01 20:10] #1668 closed

[2022-04-02 01:28] zhanghaodi commented on #3513
@spinler

[2022-04-02 01:30] zhanghaodi commented on #3513
Hi,@spinler
There is a getValidChassis method. The get method compares whether the ChassisId is equal. See the test result about a system with an external IO drawer.
/redfish/v1/Chassis/ChassisId/ThermalSubsystem/Fans/fanId/
The chassisId of the other two chassis is also chassis, which is the cause of this problem. It is recommended to name the chassisId of the other two chassis to a different ID

[2022-04-02 10:45] rfrandse commented on #2099
refresh

[2022-04-02 10:48] rfrandse commented on #243
refresh

[2022-04-02 10:52] rfrandse commented on #407
refresh

[2022-04-02 10:54] rfrandse commented on #567
refresh

[2022-04-02 10:55] rfrandse commented on #573
refresh

[2022-04-02 10:56] rfrandse commented on #577
refresh

[2022-04-02 16:15] spinler commented on #3513
But getValidFan() ignores the chassis ID passed in when determining which fans to use...
It uses a GetSubTree to find all fans, and then assigns them all the chassis ID passed in even though some of those fans are from another chassis.  That also aligns with the results I posted above showing the fans from the MEX also showing up under the main chassis.

[2022-04-03 11:07] rfrandse commented on #1328
refresh

[2022-04-03 14:50] bentyner commented on #2440
Verify alert status and flags (eg 'ThermalFault') implemented via pldm state sensors.

* Thermal alert related PLDM sensors:
{
    ...
    "sensorID": 27,
    "entityType": "[Physical] Cooling subsystem",
    ...
    "stateSetID[0]": "Thermal Trip(21)",
    "possibleStatesSize[0]": 1,
    "possibleStates[0]": [
        "Normal(1)",
        "Thermal Trip(2)"
    ]
}
{
    ...
    "sensorID": 28,

[2022-04-03 14:51] bentyner commented on #2440
Defect status:
- Done: Verify Everest config ID read from the RI value in the backplane VPD (see issue https://github.com/ibm openbmc/dev/issues/1233) is available with GetFRURecordTable cmd. Use pldmtool fru GetFRURecordTable.
- Done: Verify alert status and flags (eg 'ThermalFault') implemented via pldm state sensors.
- NA: A new cmd to pass config ID from entity manager mapping of property "IM"

[2022-04-03 20:52] bentyner commented on #2441
* Ensure fan FRU vpd and phyp indication via pldm sent after hot fan remove and install (using pldmtool, busctl, and journalctl).

Note: The PLDM traffic is very chatty and hard to correlate to specific events in time. The following sequence of events seem to be consistent with fan add/remove after several rounds of experimentation.
...
Apr 03 20:27:21 p10bmc phosphor-fan-monitor[583]: Fan /system

[2022-04-03 20:54] bentyner commented on #2441
Defect status:

* Done: Ensure enclosure UTMS returned in GetFRURecordTable PLDM cmd. Use pldmtool fru GetFRURecordTable.

* Done: Ensure actual FRU vpd and frame vpd (in PLDM format) with GetFRURecordTable pldm/pdr.

* Done: Ensure fan FRU vpd and phyp indication via pldm sent after hot fan remove and install (using pldmtool, busctl, and journalctl).

* Done: Ensure alerts/epows (eg high ambient

[2022-04-04 10:49] rfrandse commented on #2439
refresh

[2022-04-04 13:40] manojkiraneda commented on #3488
upstream commit : https://gerrit.openbmc-project.xyz/c/openbmc/pldm/+/51297
downstream PR : https://github.com/ibm-openbmc/pldm/pull/138

Downstream PR is merged.

[2022-04-04 13:40] #3488 closed, assigned to manojkiraneda

[2022-04-04 19:54] gtmills commented on #3540
We are using https://github.com/ibm-openbmc/phosphor-snmp/commits/1020. Which has your commit @ChicagoDuan

[2022-04-04 20:08] gtmills commented on #3540
From our recipe:
[code]

[2022-04-04 20:10] gtmills commented on #3540
@prkatti1 Anymore detail to help @ChicagoDuan ?

[2022-04-04 20:30] mikecgithub commented on #3513
I am working on a fix for this that doesn't add a fan unless the inventory path includes the proper chassis string. will update the ticket once I begin testing.

[2022-04-05 14:14] prkatti1 commented on #3540
SNMP configuration with IP address via redfish works
SNMP configuration with IP address via GUI works

SNMP configuration with FQDN address via redfish used to work, but not working from yesterday build.
SNMP configuration with FQDN address via GUI does not work. Did not work earlier also.

[2022-04-05 14:21] mzipse commented on #3540
@ChicagoDuan , the GUI part, you don't need to worry about.  We think we have that fixed.  But if you can help us figure out what's going on with the "SNMP configuration with FQDN address via redfish used to work, but not working from yesterday build." , we would really appreciate it.  The bmcweb code we are using in our drivers is here... https://github.com/ibm-openbmc/bmcweb/commits/1020 as of A

[2022-04-05 16:53] baileysh commented on #3323
Merged

[2022-04-05 16:53] #3323 closed

[2022-04-05 17:24] #3518 closed, assigned to baileysh

[2022-04-05 19:56] #3520 closed, assigned to lxwinspur

[2022-04-05 19:56] #3519 closed, assigned to lxwinspur

[2022-04-05 19:57] gtmills commented on #3355
@aahmed-2 Any luck getting this in upstream?

[2022-04-06 07:42] ChicagoDuan commented on #3540
Hi @mzipse @gtmills @prkatti1
I did some tests and it worked well on my machine. The bmcweb I use is  https://github.com/ibm-openbmc/bmcweb/commits/1020 . commit id: 7edde88e6de8847fb53be0ce36adf48c1000002f (Commits on Apr 1).
[code]
Can you help with the following tests?
1. Can you see some error logs using `journalctl` ？
2. Test whether the snmptrap client can be created using busctl:
    `busct

[2022-04-06 07:44] prkatti1 commented on #3540
@ChicagoDuan yep, it worked for us in today's build.
Now it is GUI only issue.

[2022-04-06 07:54] ChicagoDuan commented on #3540
Okay, please let me know after you fix the GUI issue. I will close this issue page.

[2022-04-06 10:45] rfrandse commented on #2099
refresh

[2022-04-06 10:56] rfrandse commented on #577
refresh

[2022-04-06 10:58] rfrandse commented on #652
refresh

[2022-04-06 11:03] rfrandse commented on #904
refresh

[2022-04-06 11:09] rfrandse commented on #1328
refresh

[2022-04-06 17:57] #2441 closed

[2022-04-06 19:49] derekhoward55 commented on #2440
Re: Thermal Trip - seems to just be hard to capture.  Will be changed after service mode times out after fans are removed, but when phyp subsequently shuts down, the thermal fault dbus property will be cleared by bmc resulting in the sensor being set back to '1' again.

Matt verified PHYP shut down when pulling multiple fans, and thermaltrip would be the only applicable sensor updated for PHYP to

[2022-04-06 19:49] #2440 closed

[2022-04-06 19:50] #2439 closed

[2022-04-06 22:29] mzipse commented on #3540
@prkatti1 , I see your comment in the defect indicating that you tested on the 51.2.  Something is not making sense.  The GUI fix was in the 50.3 BMC level.  @sandeepasingh116 just removed the enforcement to allow the fully qualified name to get passed to the  Redfish API.  Can you show Sandeepa on your system tommorrow.....perhaps she can debug it directly on your machine.

[2022-04-07 03:03] zhanghaodi commented on #3513
Hi, @spinler
https://github.com/ibm-openbmc/bmcweb/pull/317
Added the verification of chassisID in the above submission, could you help to test whether this meets the requirements?

[2022-04-07 04:23] santoshpuranik opened #3541 "Bonnell: VPD Backup and Restore"
On Bonnell, the BMC is on the same motherboard FRU. Need a way to handle system VPD restore on a backplane replacement.
One option is to use the Operator panel VPD EEPROM to hold a second copy of the needed system VPD.

More details TBD

[2022-04-07 07:19] santoshpuranik commented on #3422
Fixed by https://github.com/ibm-openbmc/openpower-vpd-parser/pull/25

[2022-04-07 08:26] PriyangaRamasamy commented on #3422
Fixed by https://github.com/ibm-openbmc/openpower-vpd-parser/pull/24

[2022-04-07 11:08] rfrandse commented on #1328
refresh

[2022-04-07 12:37] ChicagoDuan commented on #3540
By the way, When there is no DNS IP address in BMC, checking the hostname by accessing the DNS server will throw an error, so the redfish will return a internal error.

[2022-04-07 13:12] prkatti1 commented on #3540
Ok, but that should not fail during configuration.
That can fail during address resolution or while sending trap.

[2022-04-07 14:18] derekhoward55 commented on #1709
Heres a mockup of all the PowerSubsystem fields:

![image](https://user-images.githubusercontent.com/22683949/162220694-6d65a6af-6500-4ff9-be62-e8de57f9d2da.png)

[2022-04-07 17:51] gtmills opened #3542 "bmcweb: AccountType on Post support"
Need support for AccountType on Post
https://github.com/ibm-openbmc/bmcweb/blob/1020/redfish-core/lib/account_service.hpp#L1994

https://ibm-systems-power.slack.com/archives/C0Q6TQP5Z/p1649353788101469?thread_ts=1649268527.377349&cid=C0Q6TQP5Z

[2022-04-07 18:32] derekhoward55 opened #3543 "Add support for redfish PowerSubsystem wattages"
This is basically a child of https://github.com/ibm-openbmc/dev/issues/1709, view that and https://github.com/ibm-openbmc/dev/issues/2792 and https://github.com/ibm-openbmc/dev/issues/2795 for background info.

Fill out fields (for PowerSubsystem):

- "CapacityWatts" = PS output * #ofPS (just at boot time, don't change based on hotplug) (output wattage value TBD)
- "RequestedWatts" = .MaxPowerCapV

[2022-04-07 18:42] derekhoward55 commented on #3543
Mockup
![image](https://user-images.githubusercontent.com/22683949/162274104-9fd86225-c1cd-4f53-9ddb-cfcd4be6a769.png)
...
![image](https://user-images.githubusercontent.com/22683949/162274221-5bcfe636-9f56-44b2-a404-a2eef89baa5d.png)

[2022-04-07 19:45] joseph-reynolds commented on #3542
Note the Redfish AccountTypes property corresponds to the [phosphor user management group roles](https://github.com/openbmc/docs/blob/master/architecture/user-management.md#supported-group-roles) which controls which interfaces a user is allowed to use (ssh, ipmi, redfish, and web).

Currently the Redfish API to create a new user (via `POST /redfish/v1/AccountService/Accounts/`) does not accept th

[2022-04-07 19:55] gtmills commented on #2785
Merged here: https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/52272

[2022-04-07 19:55] #2785 closed

[2022-04-07 19:56] gtmills commented on #1569
Merged here:  https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/47474/20

[2022-04-07 19:56] #1569 closed

[2022-04-07 19:59] gtmills opened #3544 "Expand Query parameter sensor collection optimization"
The GUI has a page for all the sensors, with https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/52272/31 merging it would good to look at any optimization we can do for `/redfish/v1/Chassis/chassis/Sensors?\$expand\=.\(\$levels\=1\`.

This should up upstream.

Possible optimization:

A special if for the expand query parameter and having bmcweb get all the sensors in one call and use that to po

[2022-04-08 01:14] lxwinspur commented on #3540
@prkatti1 Could we discuss this issue on discord? and your discord Id is @Prashanth#8294 right?
@ChicagoDuan , please ping him on discord.

[2022-04-08 01:53] ChicagoDuan commented on #3540
No. it will fail during configuration.  When we use hostname to creat a snmptrap client, the phosphor-snmp will check the hostname by accessing the DNS server: https://github.com/openbmc/phosphor-snmp/blob/master/snmp_util.cpp#L54-L73

[2022-04-08 03:14] prkatti1 commented on #3540
Ideally phosphor SNMP manager should contact DNS server while sending trap. Configuration doesn't send trap or connection or any packets so doesn't make much sense to contact DNS server during configuration.

[2022-04-08 03:22] ChicagoDuan commented on #3540
Yes, I agree with you. But you'd better talk to the maintainer of phosphor-snmp.

[2022-04-08 10:54] rfrandse commented on #567
refresh

[2022-04-08 11:09] rfrandse commented on #1328
refresh

[2022-04-08 11:12] rfrandse commented on #1593
refresh

[2022-04-08 13:49] #2099 closed

[2022-04-08 13:51] spinler commented on #3522
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/52719

Examples:
[code]

[2022-04-08 13:52] spinler commented on #3101
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/52717

[2022-04-08 16:24] spinler opened #3545 "Convert phosphor-inventory-manager to meson"
It's currently autotools.

[2022-04-08 19:27] spinler commented on #3486
WIP commits up at https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/52564

[2022-04-09 11:08] rfrandse commented on #1328
refresh

[2022-04-10 11:07] rfrandse commented on #1328
refresh

[2022-04-11 20:18] sbteeks commented on #3041
Merged. SRC codes to Op Panel is a TODO...

[2022-04-11 21:11] gtmills opened #3546 "Fix the hypervisor systems code"
See https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/52777

Fix this code:
https://github.com/openbmc/bmcweb/blob/master/redfish-core/lib/hypervisor_system.hpp#L16

@sunharis FYI

[2022-04-11 22:24] #1860 closed

[2022-04-12 10:55] rfrandse commented on #572
refresh

[2022-04-12 11:09] rfrandse commented on #1328
refresh

[2022-04-12 15:55] gtmills commented on #3540
Can we open an issue in phosphor-snmp ?

[2022-04-13 03:27] zhanghch05 commented on #3544
Ed has merged this patchset.
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/52418
Can this issue be closed?

[2022-04-13 08:26] ChicagoDuan commented on #3540
I want to know the latest status of this bug "Unable to configure SNMP managers with fully qualified domain name or hostname#3540". I see from @prkatti1 's comment that it has been solved. Can you update the latest status?

[2022-04-13 08:29] ChicagoDuan commented on #3540
Hi @ratagupt  What do you think of  @prkatti1 's comment? https://github.com/ibm-openbmc/dev/issues/3540#issuecomment-1092400342

[2022-04-13 11:08] rfrandse commented on #1328
refresh

[2022-04-13 11:12] rfrandse commented on #1593
refresh

[2022-04-13 13:35] #3414 closed

[2022-04-13 13:38] dixsie commented on #3474
Is this  story  still needed since the  operator  role is going away? @gtmills

[2022-04-13 15:04] derekhoward55 commented on #1394
PowerWatts is being returned (this is from rain104):
[code]

So all that is remaining is to test by defining a MetricReportDefinition so the telemetry service can construct the max PowerWatts.

[2022-04-13 15:32] mzipse commented on #3455
Per feedback from Sandeepa, this test has already been added quite some time back to our downstream code.

[2022-04-13 20:04] gtmills commented on #3528
This is ready for GUI development. The bios attribute value is pvm_sys_dump_active

[2022-04-14 04:04] manojkiraneda opened #3547 "PLDM : Destroy & create new core dbus objects for every first getPDR command"
As per the new discussions , this is how the pldm code should work.

case 1 : Normal Poweron (for the first time)/ after a BMC factory reset
-  There wont be any persist file (that has the cached core dbus objects)
- When PLDM comes up, by default it does not create any dbus objects.
- While powering on the host , when we get the getPDR request from host - that is when we will create the core dbus

[2022-04-14 04:13] sunharis opened #3548 "VMI bring up on IPv6 and unit test"
This story will contain the unit test and bring up effort for Static, SLAAC and DHCP VMI IPv6

[2022-04-14 04:17] sunharis opened #3549 "VMI IPv6 Redfish interface implementation"
Implement the bmcweb component changes for supporting VMI IPv6 network configuration. Required schema is available from DMTF

[2022-04-14 04:20] sunharis opened #3550 "PLDM bios attribute definitions(discussion & code drop)"

[2022-04-14 04:47] sunharis commented on #3531
Code merged and tested

[2022-04-14 04:47] #3531 closed, assigned to asmithakarun

[2022-04-14 04:47] sunharis commented on #3487
Merged and tested

[2022-04-14 04:47] #3487 closed, assigned to raviteja-b

[2022-04-14 04:48] sunharis commented on #3443
Merged and tested. But due to some reasons, its reverted. This is planned to be a future work item.

[2022-04-14 04:48] #3443 closed

[2022-04-14 04:48] #3125 closed

[2022-04-14 10:54] rfrandse commented on #567
refresh

[2022-04-14 11:03] rfrandse commented on #2963
refresh

[2022-04-14 11:06] rfrandse commented on #1258
refresh

[2022-04-14 11:09] rfrandse commented on #1328
refresh

[2022-04-14 11:13] rfrandse commented on #1744
refresh

[2022-04-14 11:18] rfrandse commented on #2040
refresh

[2022-04-14 12:21] mzipse commented on #3481
@manojkiraneda, I see the PR 254 is merged.  Can we mark this issue "Code Review in Driver"?  Also, do we need this upstreamed as well?

[2022-04-14 12:22] mzipse commented on #3397
@prkatti1 , I believe we are working to get our documentation updated, correct?  Is there anything else needed on this one?

[2022-04-14 12:27] mzipse commented on #3433
@sampmisr , can we mark this issue "Code Review in Driver" as I believe PR 102 is merged.  Do we still need to upstream this?

[2022-04-14 12:31] mzipse commented on #2120
@ravindra-srikanth , can you work with @jinuthomas to see if we can close these out?  I'm thinking all these PRs are closed/merged.  If we plan to upstream this code, we should at least mark them "Code Review in Driver".

[2022-04-14 12:54] prkatti1 commented on #3397
Yep, we are good with current implementation & new fixes.
Just need documentation for pre-requisites @mzipse

[2022-04-14 14:44] #3498 closed, assigned to nobody

[2022-04-14 14:45] ghost commented on #3498
Closed due to the PR being not needed.

[2022-04-14 14:46] #3451 closed, assigned to nobody

[2022-04-14 14:46] #3500 closed, assigned to nobody

[2022-04-14 14:46] #3469 closed, assigned to nobody

[2022-04-14 14:46] #3501 closed, assigned to nobody

[2022-04-15 10:48] rfrandse commented on #243
refresh

[2022-04-15 10:52] rfrandse commented on #407
refresh

[2022-04-15 10:56] rfrandse commented on #577
refresh

[2022-04-15 10:58] rfrandse commented on #652
refresh

[2022-04-15 11:02] rfrandse commented on #904
refresh

[2022-04-15 11:09] rfrandse commented on #1328
refresh

[2022-04-15 11:12] rfrandse commented on #1593
refresh

[2022-04-15 19:49] derekhoward55 commented on #1817
With Ali's help, built report metrics. Telemetry service created report, snippet below.

Timestamps seem odd and need to be verified, will do that as part of power telemetry stories.  Close this out.

[2022-04-15 19:49] #1817 closed

[2022-04-15 19:55] derekhoward55 commented on #1778
Redfish reporting and telemetry tested and working as appropriate.

Only thing remaining is verifying IPMI support.

[2022-04-15 20:01] derekhoward55 commented on #1818
Verified all temp data 30s aves/mins/maxes with Ali's input.  Humidity not in sensor list yet, needs PR [https://github.com/ibm-openbmc/bmcweb/pull/320](https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_ibm-2Dopenbmc_bmcweb_pull_320&d=DwMCaQ&c=jf_iaSHvJObTbx-siA1ZOg&r=buJZJd6hpnAL-jZkzZNxeXWQ4eL1BJWyyWlS2JdM088&m=H1j6UHh5t15yL0CiID5Tu3ytJqpKwit14vIXGpwNDb4&s=c0FHLFARM2ldn3ig7ftASbZnt

[2022-04-16 10:54] rfrandse commented on #573
refresh

[2022-04-16 10:55] rfrandse commented on #574
refresh

[2022-04-18 19:27] derekhoward55 commented on #1720
Performed on perfrain86bmc, closing.

[2022-04-18 19:27] #1720 closed

[2022-04-19 10:54] rfrandse commented on #568
refresh

[2022-04-19 15:34] ravindra-srikanth commented on #2120
@mzipse , did not see "Code review in Driver" label. Marked it "Downstream".

[2022-04-19 17:18] #3544 closed, assigned to zhanghch05

[2022-04-19 17:33] gtmills opened #3551 "PCIe Topology: Redfish: Reset Link"
See conversation here:
https://ibm-systems-power.slack.com/archives/C02LD8E1F18/p1650384784018809?thread_ts=1650380328.037139&cid=C02LD8E1F18

D-Bus property defined here: https://github.com/ibm-openbmc/phosphor-dbus-interfaces/pull/53/files

[2022-04-19 17:51] aahmed-2 commented on #3484
Downstream PR: https://github.com/ibm-openbmc/bmcweb/pull/305

[2022-04-19 19:35] derekhoward55 commented on #1394
Verified we're able to collect a Max PowerWatts with redfish telemetry service:

`    {
      "MetricId": "MaxTotalPower_5s",
      "MetricProperty": "/redfish/v1/Chassis/chassis/Sensors/total_power/Reading",
      "MetricValue": "797.000000",
      "Timestamp": "1970-10-06T06:37:15+00:00"
    },
`

[2022-04-19 19:35] #1394 closed

[2022-04-19 20:30] gtmills commented on #3537
https://ibm-systems-power.slack.com/archives/C0Q6TQP5Z/p1650400200647849?thread_ts=1650399924.109139&cid=C0Q6TQP5Z

[2022-04-19 20:33] aahmed-2 commented on #3537
Dbus interfaces:

https://github.com/ibm-openbmc/phosphor-dbus-interfaces/pull/50/files
https://github.com/ibm-openbmc/phosphor-dbus-interfaces/pull/49

[2022-04-19 20:36] gtmills opened #3552 "PCIe Topology: Redfish: Link Status"
See https://github.ibm.com/gmills/pcie-topology

[code]

Should do here: https://github.com/ibm-openbmc/bmcweb/blob/1020/redfish-core/lib/pcie_slots.hpp
Downstream only since the PDI is

[2022-04-20 06:56] aahmed-2 opened #3553 "redfish/v1/JsonSchemas does not show OEM schemas"
Get on redfish/v1/JsonSchema only returns DMTF redfish schemas. No OEM schema are listed.

To reproduce:
Curl -k -H "X-Auth-Token: $token" -X GET "https://$bmc/redfish/v1/JsonSchemas"
Look at output, see if OEMAssembly or other OEM schemas are there.

Note:
Curl -k -H "X-Auth-Token: $token" -X GET "https://$bmc/redfish/v1/JsonSchemas/<OemSchema_Name>" returns valid output.

[2022-04-20 10:52] rfrandse commented on #407
refresh

[2022-04-20 10:54] rfrandse commented on #567
refresh

[2022-04-20 10:56] rfrandse commented on #577
refresh

[2022-04-20 11:09] rfrandse commented on #1328
refresh

[2022-04-20 11:12] rfrandse commented on #1593
refresh

[2022-04-20 12:35] sandeepasingh116 commented on #3527
@gtmills I m unable to open the above link, can you tag me in the slack thread?

[2022-04-20 18:27] #2452 closed

[2022-04-21 10:52] rfrandse commented on #2449
refresh

[2022-04-21 10:54] rfrandse commented on #567
refresh

[2022-04-21 15:19] derekhoward55 opened #3554 "Support multiple power caps per system"
Support multiple power caps on a system based on the power supply (type and number present) and input voltage.
For initial GA, the n and n+1 bulk power limits were hardcoded in MRW HB attributes and read by HTMGT/OCC, independent of the type of ps attached.

This is required for the following systems:
1) 1S4U when supported with 2x 1000W supplies
2) 2S2U when supported with 2x 1000W supplies  *thi

[2022-04-21 15:27] derekhoward55 opened #3555 "BMC pass up PSU config in HTMGT poll at boot time"
The BMC will pass up the ps configuration to HTMGT in it's poll, and HTMGT will get the correlated bulk power limit from the MRW HB attributes and send to the OCC.  Update poll response format.

PS types, input type, etc can only change at standby, so HTMGT can just check at boot what the configuration is.  Losses of PS function only realized by the oversubscription line.

[2022-04-21 15:31] derekhoward55 opened #3556 "PSU EM config updates and determination for mfg"
1s4u supports either 2+2, or 1+1 “limited configs” with 1000W ps.  Therefore need to change the design to allow the same ps to be in either 1+1 or 2+2 config.

Also need to change design to know whether system is supposed to be a 1+1 or 2+2 configuration, so we log the ps missing errors correctly, and use the correct power caps (both standard and in oversubscription).  Systems will have same IM, a

[2022-04-21 15:34] derekhoward55 commented on #1618
This is dupe of https://github.com/ibm-openbmc/dev/issues/3554.

[2022-04-21 15:34] #1618 closed

[2022-04-21 15:58] derekhoward55 commented on #1818
Confirmed.

[2022-04-21 16:50] gtmills commented on #3552
https://github.com/ibm-openbmc/phosphor-dbus-interfaces/pull/52/files

[2022-04-21 23:57] bjwyman commented on #1815
https://github.com/ibm-openbmc/bmcweb/pull/328

[2022-04-21 23:58] bjwyman commented on #1815
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-power/+/53170
...
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-power/+/53173

[2022-04-22 10:54] rfrandse commented on #567
refresh

[2022-04-22 10:55] rfrandse commented on #573
refresh

[2022-04-22 11:09] rfrandse commented on #1328
refresh

[2022-04-22 16:22] bjwyman commented on #1815
GPIO character device -> libgpiod -> line name: https://gerrit.openbmc-project.xyz/c/openbmc/docs/+/53120
Merged: https://github.com/openbmc/docs/commit/1f45b3001f01e56226f74f6e1f272ff4adc70874

[2022-04-22 16:23] bjwyman commented on #1815
[[PATCH] ARM: dts: aspeed: Everest and Rainier: Add power-ffs-sync-history GPIO](https://lore.kernel.org/openbmc/20220421213638.1151193-1-bjwyman@gmail.com/T/#u)

[2022-04-22 16:44] #2437 closed

[2022-04-22 18:33] gtmills commented on #3537
The D-Bus interfaces merged

[2022-04-23 10:51] rfrandse commented on #2432
refresh

[2022-04-23 10:54] rfrandse commented on #567
refresh

[2022-04-23 11:08] rfrandse commented on #1328
refresh

[2022-04-25 13:11] #3305 closed

[2022-04-25 13:11] #3005 closed

[2022-04-25 13:11] #2967 closed

[2022-04-25 13:11] #1509 closed

[2022-04-25 15:02] derekhoward55 commented on #2466
Collected 30s min/max/ave fan speeds.  Eg:

`{
  "@odata.id": "/redfish/v1/TelemetryService/MetricReports//Thermal_metrics",
  "@odata.type": "#MetricReport.v1_3_0.MetricReport",
  "Id": "Thermal_metrics",
  "MetricReportDefinition": {
    "@odata.id": "/redfish/v1/TelemetryService/MetricReportDefinitions//Thermal_metrics"
  },
  "MetricValues": [
    {
      "MetricId": "MaxFan2_0_30s",
      "Me

[2022-04-25 15:02] #2466 closed

[2022-04-25 15:38] derekhoward55 commented on #2472
Collected appropriate temps on a system, eg:

` "MetricValues": [
    {
      "MetricId": "MaxAmbient0_10s",
      "MetricProperty": "/redfish/v1/Chassis/chassis/Sensors/Ambient_0_Temp/Reading",
      "MetricValue": "23.125000",
      "Timestamp": "2021-10-03T06:42:42+00:00"
    },
    {
      "MetricId": "AveAmbient0_10s",
      "MetricProperty": "/redfish/v1/Chassis/chassis/Sensors/Ambient_0_Tem

[2022-04-25 18:00] geissonator opened #3557 "phosphor-logging: org.open_power.PHAL.Error.HostRunning error should be cec_sp_hyp_iface subsystem"
This error is actually an indication of a failure between the BMC and PHYP subsystem.

Need to change: https://grok.openbmc.org/xref/openbmc/phosphor-logging/extensions/openpower-pels/registry/message_registry.json?r=d29837f8#531

to cec_sp_hyp_iface subsystem.

[2022-04-25 18:29] geissonator commented on #3557
High level steps for this:
- Checkout phosphor-logging from gerrit (scp the git hooks per gerrit setup doc)
- Make a dev branch - git checkout -b fix-phal-subsystem
- Make change to file documented above
- Run the unit test docker script against your repo to ensure it builds
- git add <file you changed>
- git commit --signoff
- push your change to gerrit

[2022-04-26 05:16] sunharis opened #3558 "VMI IPv6- Add new Dbus property for IPv6 interface status"
Phyp has separate attr for IPv4 and IPv6 notification.
This story is to implement a new Dbus property to hold the active/inactive of IPV6. Interface can go "enabled" if either one of the IPv4 or IPv6 address property is true.

[2022-04-26 10:48] rfrandse commented on #242
refresh

[2022-04-26 10:52] rfrandse commented on #2456
refresh

[2022-04-26 10:53] rfrandse commented on #2467
refresh

[2022-04-26 10:57] rfrandse commented on #579
refresh

[2022-04-26 11:06] rfrandse commented on #1193
refresh

[2022-04-26 11:06] rfrandse commented on #1258
refresh

[2022-04-26 11:10] rfrandse commented on #1328
refresh

[2022-04-26 11:14] rfrandse commented on #1744
refresh

[2022-04-26 14:50] spinler opened #3559 "Capture BMC dumps on fan/ambient shutdowns"
It would be good to capture a BMC dump after the system is shut down to do fan or high ambient related changes, after all of  the error logs are created.

I think this would be in:
1. fan-monitor: System::handleOfflineFanController()
2. fan-monitor: the powerOff() functions in power_off_action.hpp
3. fan-monitor: meltdownTimerExpired() in power_off_action.hpp
4. sensor-monitor: timerExpired() in s

[2022-04-26 14:54] spinler opened #3560 "phosphor-fan: Add journal to fan/temperature PELs"
I think we can start with what the phosphor-regulators app does in phosphor-power: https://github.com/openbmc/phosphor-power/tree/master/phosphor-regulators/src

[2022-04-26 16:59] jesltc opened #3561 "TMGT: Mode locking support"
Provide function to 'lock' the power management mode, such that the mode can not be changed via the GUI or any other method, once the 'lock' command is run.  The lock can only be cleared via factory reset.  Provide a command to check the current state of the lock.  These commands should only be available with CE login.

[2022-04-27 04:16] NodeMan97 commented on #3557
Done and pushed to Gerrit!

[2022-04-27 10:49] rfrandse commented on #243
refresh

[2022-04-27 10:52] rfrandse commented on #407
refresh

[2022-04-27 10:57] rfrandse commented on #577
refresh

[2022-04-27 11:09] rfrandse commented on #1328
refresh

[2022-04-27 11:23] sunharis opened #3562 "CreateDump : change the Task states for resource dump"
Originated from : Discussion: HMC doesn’t have a way to return an error on resource dump request (SW547081)

HMC request for a resource there wont be any validation on the BMC and reply a success. HMC could poll on the Redfish task before returning the success/failure on the createDump request thread.

- createDump will return 202 with task url - current behavior
- Task will be created with initia

[2022-04-27 15:33] geissonator opened #3563 "phosphor-state-manager: ensure bmc stays in Quiesce"
Once the BMC state changes to Quiesced, it needs to stay there until the BMC is rebooted. I keep seeing situations where this is not working:
[code]

I think in the end we just need a check in https://grok.openbmc.org/xref/openbmc/phosphor-state-manager/bmc_state_manager.cpp?r=71e538fc#193 that says "if BMC is in Quiesced state, return from function" and basically just ignore any other events.

[2022-04-27 16:55] gtmills commented on #3535
I see in the code here:
https://github.com/ibm-openbmc/bmcweb/blob/1020/redfish-core/lib/pcie_slots.hpp#L200
But didn't see on the rainier I was looking at

[2022-04-27 17:08] gtmills commented on #3535
@sbteeks, Sunny indicated Monday, he is working this

[2022-04-27 19:11] bjwyman commented on #1815
power-ffs-sync-history GPIO: https://github.com/openbmc/linux/commit/fc8ba762618d0f80130ea68853692c52402d0b36
and https://github.com/openbmc/openbmc/commit/6bc61b816079134c3aaa9e868b1022fbed8b8f18

[2022-04-28 01:16] NodeMan97 commented on #3563
Pushed to Gerrit! Currently running into issues with building BitBake. Once figured out I would love to manually test this.

[2022-04-28 10:55] rfrandse commented on #567
refresh

[2022-04-28 11:09] rfrandse commented on #1328
refresh

[2022-04-29 10:54] rfrandse commented on #569
refresh

[2022-04-29 11:08] rfrandse commented on #1328
refresh

[2022-04-29 14:09] gtmills opened #3564 "PCIe Topology: Redfish: Cable Status"
Cable Status

0x00 = inactive
0x01 = running
0x02 = powered off
0xFF = unknown

Are the values
https://github.com/ibm-openbmc/phosphor-dbus-interfaces/pull/55 is the interface

D-Bus to Redfish mapping:

inactive - State == "StandbyOffline"; CableStatus = Normal; Health = Ok
running - State "Enable"; CableStatus = Normal;  Health = Ok
powered offmState == "StandbyOffline" ; CableStatus = Disabled;

[2022-04-29 14:53] smccarney commented on #3543
Support for the RequestedWatts and AllocatedWatts properties is implemented in the following PR
* https://github.com/ibm-openbmc/bmcweb/pull/334

[2022-04-29 15:32] mikecgithub commented on #3559
Reviewed and merged:

https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-fan-presence/+/53307

[2022-04-29 21:33] rfrandse commented on #567
refresh

[2022-04-29 21:47] rfrandse commented on #1328
refresh

[2022-04-29 21:54] rfrandse commented on #1938
refresh

[2022-04-29 21:55] rfrandse commented on #2040
refresh

[2022-04-29 22:37] rfrandse commented on #1328
refresh

[2022-04-29 22:38] rfrandse commented on #1364
refresh

[2022-04-30 02:24] #103 closed

[2022-04-30 11:07] rfrandse commented on #1328
refresh

[2022-05-02 14:59] sunharis commented on #3562
https://github.com/ibm-openbmc/bmcweb/pull/335

[2022-05-02 16:42] #3559 closed, assigned to mikecgithub

[2022-05-02 20:08] geissonator commented on #3563
This was pulled into downstream via PR 2333. Keep this issue open until we get the upstream gerrit merged though.

[2022-05-02 20:38] bjwyman commented on #1815
phosphor-power changes: https://github.com/openbmc/phosphor-power/commit/49b8ec4924bfde34e9ae6f65d04ba7d47f2bc71e

[2022-05-03 10:54] rfrandse commented on #567
refresh

[2022-05-03 13:07] geissonator commented on #2990
ok, I'm going to close this out, if any other issues are found we can track with defects.

[2022-05-03 13:07] geissonator commented on #1693
Everything is complete and in upstream and our downstream drivers.

[2022-05-03 13:44] rfrandse opened #3565 "TBD - Epic A.3"

[2022-05-03 14:44] derekhoward55 opened #3566 "Miscellaneous power/thermal work"
Store remaining power/thermal work to be done under this epic.

[2022-05-03 16:10] bjwyman commented on #1815
Autobump for phosphor-power: https://github.com/openbmc/openbmc/commit/5c73d2a2dea7ed45600e7c9599f1166a8e155d7b

[2022-05-03 16:16] #572 closed

[2022-05-03 17:46] derekhoward55 commented on #3023
Done in https://github.com/ibm-openbmc/dev/issues/2439.

[2022-05-03 17:46] #3023 closed

[2022-05-03 17:53] derekhoward55 commented on #3024
Done in https://github.com/ibm-openbmc/dev/issues/2439.

[2022-05-03 17:53] #3024 closed

[2022-05-03 18:56] #1704 closed

[2022-05-03 20:43] #2449 closed

[2022-05-03 20:51] #2432 closed

[2022-05-04 06:27] Pavithrab7 opened #3567 "Update the FRU Record Table after a CM/Hotplug"
When a CEC FRU such as a Fan or Power Supply is concurrently removed, BMC properly sends pdrRepoChangeEvents to PHYP to remove the FRU Record Set ID and to modify the Entity Association PDRs. BMC also removes the corresponding state sensors/ effecters PDRs. However, BMC does not remove the FRU entry from the FRU Record Table.

When BMC adds a new FRU, BMC does send new FRU Record with the new FRU

[2022-05-04 10:51] rfrandse commented on #567
refresh

[2022-05-04 10:57] rfrandse commented on #771
refresh

[2022-05-04 11:00] rfrandse commented on #2986
refresh

[2022-05-04 11:06] rfrandse commented on #1328
refresh

[2022-05-04 11:08] rfrandse commented on #3565
refresh

[2022-05-04 11:08] rfrandse commented on #3566
refresh

[2022-05-04 11:14] rfrandse commented on #2040
refresh

[2022-05-04 17:53] geissonator commented on #3557
oops, be sure to not close these out until the change has been merged into both gerrit and GHE.

Change up at https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-logging/+/53420

[2022-05-04 21:50] smccarney opened #3568 "Redfish: Upstream support for Redfish PowerSubsystem wattages"
In issue #3543, support for several new properties was added to the PowerSubsystem.

This support was only implemented downstream for the following reasons:
* The PowerSubsystem has not merged yet upstream.
* A more general design is probably needed for upstream acceptance:
  * Use associations to find PowerCap interface for the specified chassis
  * Update YAML for PowerCap interface to document

[2022-05-05 10:44] rfrandse commented on #2183
refresh

[2022-05-05 10:46] rfrandse commented on #2305
refresh

[2022-05-05 10:56] rfrandse commented on #767
refresh

[2022-05-05 11:06] rfrandse commented on #1328
refresh

[2022-05-05 11:08] rfrandse commented on #3565
refresh

[2022-05-05 14:49] derekhoward55 opened #3569 "Add redfish RedundancyMode support for psu"
Include RedundancyMode (a read-write property) in http://redfish.dmtf.org/schemas/v1/Redundancy.v1_3_4.json#/definitions/Redundancy.

See https://github.com/ibm-openbmc/dev/issues/1709 for Redundancy mockup.

[2022-05-05 19:18] NodeMan97 commented on #3563
Hopefully the changes should be good to get merged. Just documented the manual testing I did.

[2022-05-05 22:57] patelabhishek9893 opened #3570 "refactor assembly code to retrieve list ChassisAssembly"
Chassis Assembly and cable and PCIe_slots have command code where they try to retrieve the Chassis Assembly list. and based on in shorted order and then from that list based on index number it set link number.
EX: check https://rain118bmc.aus.stglabs.ibm.com/redfish/v1/Chassis/chassis/Assembly Assemblies -> "@odata.id": ["/redfish/v1/Chassis/chassis/Assembly#/Assemblies/0"]

currently, cable.hpp a

[2022-05-05 23:09] patelabhishek9893 commented on #3534
https://github.com/ibm-openbmc/bmcweb/commit/a366115111c85d64dc09cccc28c456ae540e01f8
this feature already gets in by sunny.

[2022-05-06 08:40] manojkiraneda commented on #3547
closing the story as its merged

[2022-05-06 08:40] #3547 closed, assigned to lxwinspur

[2022-05-06 11:07] rfrandse commented on #3565
refresh

[2022-05-06 14:01] patelabhishek9893 commented on #3533
downstream commit
https://github.com/ibm-openbmc/bmcweb/pull/338

[2022-05-06 16:44] gtmills commented on #3552
Actually, moving to code review in driver since we should still do this upstream

[2022-05-06 16:46] gtmills commented on #3534
It is not upstream though so moving to code review in driver

[2022-05-07 11:05] rfrandse commented on #1328
refresh

[2022-05-09 04:31] RameshIyyar opened #3571 "Guard: Increase the GUARD partition size"

[2022-05-09 11:07] rfrandse commented on #3565
refresh

[2022-05-09 16:26] asmithakarun commented on #3562
https://github.com/ibm-openbmc/bmcweb/pull/335 - downstreamed

[2022-05-09 16:26] #3562 closed, assigned to asmithakarun

[2022-05-10 11:06] rfrandse commented on #1328
refresh

[2022-05-10 13:40] aahmed-2 commented on #3564
Available Redfish values for CableStatus: https://redfish.dmtf.org/schemas/v1/Cable.v1_2_0.json

      "CableStatus": {
            "enum": [
                "Normal",
                "Degraded",
                "Failed",
                "Testing",
                "Disabled",
                "SetByService"
            ],

[2022-05-11 01:44] geissonator opened #3572 "Enhanced handling of kernel detected out of memory errors"
This is to track a better solution then just causing a BMC panic when an OOM is detected.

Some ideas:
- Using cgroups to classify applications into "kill this when you're low on memory" and "do not kill these". That way we can have things like fan control, the webUI or other well tested restartable services go first.
- Have some telemetry/monitoring for per-application memory usage, so we have da

[2022-05-11 11:05] rfrandse commented on #1328
refresh

[2022-05-11 11:07] rfrandse commented on #3565
refresh

[2022-05-12 11:41] RameshIyyar opened #3573 "PHAL: Did not apply preserved ECO_MODE and HWAS_STATE attributes after the disruptive code update"
**Background:**

- The openpower-hw-isolation application is used to return the isolated
  (aka guarded) hardware list to the end-user through Redfish via D-Bus.

- BMC needs to display a different name ( i.e. `Cache-Only Core`) for
  the isolated ECO cores so the BMC inventory is modeled with
  a static D-Bus object under each processor.

- Whenever the ECO core is isolated, the openpower-hw-isol

[2022-05-13 11:07] rfrandse commented on #3565
refresh

[2022-05-13 14:06] gtmills opened #3574 "GUI : Revisit how we display an Absent FRU"
## SME
**BMC**: @manojkiraneda @gtmills
**RAS**: Joe Mulholland, Russ Young
**PHYP**: Adam Stallman

## Research
### Summary

Today an absent FRU looks like:
![absent](https://user-images.githubusercontent.com/5455127/168299997-e20fc4b5-3a56-48bf-b793-cc5c7d61a7aa.JPG)

From discussion on
https://ibm-systems-power.slack.com/archives/C03F0R308J1/p1652364586315499
and defect https://w3.rchland.ibm.c

[2022-05-13 16:37] gtmills commented on #3535
https://github.com/ibm-openbmc/bmcweb/pull/343 merged

[2022-05-13 16:38] gtmills commented on #3533
https://github.com/ibm-openbmc/bmcweb/pull/338 merged

[2022-05-13 16:38] gtmills commented on #3537
https://github.com/ibm-openbmc/bmcweb/pull/348 is the PR

[2022-05-13 16:40] gtmills commented on #3551
https://github.com/ibm-openbmc/bmcweb/pull/352 is the PR

[2022-05-14 11:05] rfrandse commented on #1328
refresh

[2022-05-14 11:07] rfrandse commented on #3565
refresh

[2022-05-16 20:52] joseph-reynolds commented on #2219
Update.  I think this is done and can be closed.  You can PATCH /redfish/v1/AccountService/Accounts/SOMEUSER property AccountTypes:
- Including the IPMI value allows the user to use the IPMI interface and limits their password to 20 characters.
- Omitting the IPMI value blocks the user from using the IPMI interface.

Specifically, upstream BMCWeb code implements the AccountTypes IMPI value, and up

[2022-05-16 20:57] joseph-reynolds commented on #2220
#2219 is completed [edit: for IBM branches] and is no longer a blocker [for IBM branches].  It would be nice to have a real-time warning as they type which says `Password cannot exceed 20 characters when IPMI is enabled`, so this story is still relevant.  The Web app can detect if SOMEUSER is allowed to use the IPMI interface by checking if the "IPMI" value is in the list of AcountTypes which is a

[2022-05-16 21:08] joseph-reynolds commented on #3305
The BMC admin should be allowed to control the USB Firmware Update Policy (aka USB code update).  This is a toggle (enable/disable).  Operator and readonly users should only have read access to this setting.

[2022-05-17 00:15] gtmills commented on #2219
I don't think this is upstream yet, just downstream. I moved to "Code Review in Driver"

[2022-05-17 10:45] rfrandse commented on #242
refresh

[2022-05-17 10:46] rfrandse commented on #243
refresh

[2022-05-17 10:49] rfrandse commented on #2428
refresh

[2022-05-17 10:50] rfrandse commented on #407
refresh

[2022-05-17 10:54] rfrandse commented on #577
refresh

[2022-05-17 11:03] rfrandse commented on #1193
refresh

[2022-05-17 12:41] mzipse commented on #1744
refresh

[2022-05-17 12:45] mzipse commented on #2591
refresh

[2022-05-17 12:54] mzipse commented on #3549
Refresh

[2022-05-17 13:26] sunharis commented on #3550
https://gerrit.openbmc-project.xyz/c/openbmc/pldm/+/53261 merged to master pldm repo. This contains the pldm bios attributes for IPv6 parameters

[2022-05-17 13:26] #3550 closed, assigned to raviteja-b

[2022-05-17 13:33] RameshIyyar commented on #3573
Once addressed this issue needs to remove the below workarounds added in the openpower-hw-isolation.

- [Core ECO mode](https://github.com/ibm-openbmc/openpower-hw-isolation/commit/9b543d974ee6c9a500e4023c08f67fe6a75daf1e)
- [Hardware Isolation event](https://github.com/ibm-openbmc/openpower-hw-isolation/commit/b27829f135232ca39898f8ccdfd0fdeb060350d5)

**Note:** Whenever removing a workaround, ne

[2022-05-17 13:38] aahmed-2 commented on #3564
PR here: https://github.com/ibm-openbmc/bmcweb/pull/357

[2022-05-18 06:25] lxwinspur commented on #3540
@gtmills @mzipse
Could we close this issue?

[2022-05-18 06:25] lxwinspur commented on #3526
@spinler @mzipse
Could we close this issue?

[2022-05-18 10:46] rfrandse commented on #243
refresh

[2022-05-18 10:49] rfrandse commented on #2428
refresh

[2022-05-18 10:50] rfrandse commented on #407
refresh

[2022-05-18 10:54] rfrandse commented on #577
refresh

[2022-05-18 10:56] rfrandse commented on #652
refresh

[2022-05-18 11:01] rfrandse commented on #904
refresh

[2022-05-18 11:07] rfrandse commented on #1328
refresh

[2022-05-18 11:09] rfrandse commented on #3565
refresh

[2022-05-18 11:12] rfrandse commented on #1744
refresh

[2022-05-18 13:14] geissonator opened #3575 "phosphor-state-manager: Technical Debt Epic"
Track all downstream changes that incurred technical debt that need to be worked into upstream

[2022-05-18 13:15] geissonator opened #3576 "Turn off power-on LEDs after a power blackout"
Commit: https://github.com/ibm-openbmc/phosphor-state-manager/commit/e9b9dc31e3332d194a2b0b1c8bd5000b88b62583

Action: Either have LED service monitor for this event and run, or create a new systemd target which state-manager calls and has the appropriate service contained within it.

[2022-05-18 13:15] geissonator opened #3577 "Only run power store on AC losses"
Commit: https://github.com/ibm-openbmc/phosphor-state-manager/commit/d8270f6c8942bedf66462d1951284d015cf2f9b5 and https://github.com/ibm-openbmc/phosphor-state-manager/commit/45f36e60c253b1450ddf65225e619e51d215561a

Action: Update the gerrit commit upstream to make this a configurable option where the default is the standard behavior and the needed IBM behavior is enabled via a meta-ibm bbappend

[2022-05-18 13:16] geissonator opened #3578 "host-check: add extra debug and time"
Commit: https://github.com/ibm-openbmc/phosphor-state-manager/commit/25ee40ba611e49554230afc06b18405f210f0599

Action: I think this can probably be upstreamed as-is. Maybe some improvement to the comments around the new code.

[2022-05-18 13:16] geissonator opened #3579 "ensure /run/openbmc dir created on power loss"
Commit: https://github.com/ibm-openbmc/phosphor-state-manager/commit/45f36e60c253b1450ddf65225e619e51d215561a

This was really just a fix to https://github.com/ibm-openbmc/phosphor-state-manager/commit/d8270f6c8942bedf66462d1951284d015cf2f9b5 so lets include this in https://github.com/ibm-openbmc/dev/issues/3577

[2022-05-18 13:17] geissonator opened #3580 "Stop FSI scan service if chassis power on but host not booting"
Commit: https://github.com/ibm-openbmc/phosphor-state-manager/commit/8418950330cbf73b5362cdc5a2756be8ae4950f0 and https://github.com/ibm-openbmc/phosphor-state-manager/commit/2b8218dbd2185fef0ab15971427188c1b0797204

Action: This is a bit complicated as it mostly has to do with our use of cronus and how it ties in with our chassis on and boot process. We'll need to review this path and see if ther

[2022-05-18 13:27] spinler commented on #3526
yep, thanks.

[2022-05-18 13:27] #3526 closed, assigned to lxwinspur

[2022-05-18 14:25] #3579 closed, assigned to nobody

[2022-05-18 18:42] #3522 closed, assigned to spinler, mikecgithub

[2022-05-18 18:42] #3101 closed

[2022-05-18 18:43] spinler commented on #1800
I don't think this is still desired.

[2022-05-18 18:43] #1800 closed

[2022-05-18 18:44] spinler commented on #1801
Not desired anymore, we went a different direction.

[2022-05-18 18:44] #1801 closed

[2022-05-18 18:44] spinler commented on #559
Complete.

[2022-05-18 18:44] #559 closed

[2022-05-18 18:47] spinler commented on #1086
There is a commit up for this at https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-logging/+/48042.  However the issue is that nothing clears progress codes on a power off so any errors at power off show a progress code from the last time PHYP was booted.  Since the BMC doesn't create any progress codes itself anyway, I don't see this as important as it as on previous generations.

[2022-05-18 18:50] spinler commented on #2204
We are now leaning toward having the MRW not model the muxes and instead modeling it as a direction connection to the BMC using the i2c alias bus numbers.  Still waiting on the MRW update for that though.

[2022-05-18 18:54] spinler commented on #2787
Seems like the previous comment indicates this is no longer needed.  Closing as I can't see we still need to do anything here anyway.

[2022-05-18 18:54] #2787 closed

[2022-05-18 19:02] spinler commented on #3103
@mikecgithub We can use this issue to look into a fan monitor dump using the USR1 signal if there's data we'd like to see, like the trailing tach/target values you've added.

[2022-05-19 01:06] raviteja-b commented on #3480
Currently Networkd does not have full IPv6 support.
there are two commits for IPv6 support under review.
Created a test build with these commits and started verifying IPv6 functions

[2022-05-19 01:08] raviteja-b commented on #3532
Merged

[2022-05-19 01:08] #3532 closed, assigned to raviteja-b

[2022-05-19 01:43] raviteja-b commented on #385
Currently with upstream Networkd + commits under review
D-bus objects created for Autoconf addresses but origin is marked as "DHCP".
Need to identify way to figure out ipv6 DHCP address vs SLAAC address and populate origin accordingly Needs discussion with Networkd maintainers

[2022-05-19 05:21] lxwinspur commented on #3545
review by: https://gerrit.openbmc-project.xyz/q/topic:IM-switch-to-meson

[2022-05-19 10:46] rfrandse commented on #243
refresh

[2022-05-19 10:49] rfrandse commented on #407
refresh

[2022-05-19 10:51] rfrandse commented on #2475
refresh

[2022-05-19 10:53] rfrandse commented on #574
refresh

[2022-05-19 10:54] rfrandse commented on #577
refresh

[2022-05-19 11:01] rfrandse commented on #3016
refresh

[2022-05-19 11:03] rfrandse commented on #1172
refresh

[2022-05-19 11:07] rfrandse commented on #1328
refresh

[2022-05-19 11:09] rfrandse commented on #3575
refresh

[2022-05-19 17:50] bjwyman commented on #1815
Lower input history sync delay to 5ms:
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-power/+/53762
https://github.com/openbmc/phosphor-power/commit/c9e840e443d88bdef496388ccbdbc419868ab1ba

[2022-05-19 17:51] bjwyman commented on #1815
I believe this is ready for a re-review after some schema updates, and changing from parallel arrays to an array of InputHistoryItem entries with date/average/maximum.

[2022-05-19 17:52] bjwyman commented on #1709
sensor: Add Accuracy to Value interface
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-dbus-interfaces/+/53569

[2022-05-20 10:52] rfrandse commented on #567
refresh

[2022-05-20 11:01] rfrandse commented on #3016
refresh

[2022-05-20 11:08] rfrandse commented on #3565
refresh

[2022-05-21 10:51] rfrandse commented on #569
refresh

[2022-05-24 10:20] sunharis commented on #3390
Need to implement the below properties https://redfish.dmtf.org/schemas/v1/LogEntry.v1_11_0.json

                "Originator": {
                    "description": "The source of the log entry.",
                    "longDescription": "This property shall contain the source of the log entry.",
                    "readonly": true,
                    "type": "string",
                    "version

[2022-05-24 11:06] rfrandse commented on #1328
refresh

[2022-05-24 19:21] gtmills opened #3581 "PCIe Topology: Make redfish adapter objects unique"
From https://syswiki02.rchland.ibm.com/openbmc/openbmc-design-reviews
bmcweb shows redfish adapter objects with the same path even though all the dbus objects have unique path.
[code]
What did we do for cores and cpu's? Guard looked at further up the path, we should do the same.
Going to have to move away from the generic getCollectionMembers :(
https://github.com/ibm-openbmc/bmcweb/blob/1020/redf

[2022-05-25 11:06] rfrandse commented on #1328
refresh

[2022-05-26 10:51] rfrandse commented on #569
refresh

[2022-05-26 11:05] rfrandse commented on #1328
refresh

[2022-05-26 11:07] rfrandse commented on #3565
refresh

[2022-05-27 16:23] gtmills commented on #2183
@lxwinspur This would be a really really good one to get in.
Not sure why these have dependencies on things like https://gerrit.openbmc.org/c/openbmc/bmcweb/+/37045 ?

Would think
https://gerrit.openbmc.org/c/openbmc/bmcweb/+/41086 shouldn't be dependent on many other things.

[2022-05-28 10:45] rfrandse commented on #2305
refresh

[2022-05-28 11:05] rfrandse commented on #1328
refresh

[2022-05-30 05:16] sunharis opened #3582 "Network(IPV6): Differentiate between DHCPV6/autoconf"
Need to identify way to figure out ipv6 DHCP address vs SLAAC address and populate origin accordingly Needs discussion with Networkd maintainers

[2022-05-30 05:17] sunharis commented on #385
Creating new story for the same https://github.com/ibm-openbmc/dev/issues/3582

[2022-05-30 05:18] sunharis commented on #385
Code ready. UT done. Need a 1020-Nov branch to push the PR.

[2022-05-30 05:21] sunharis commented on #384
Worked on this as part of https://github.com/ibm-openbmc/dev/issues/385. Closing

[2022-05-30 05:21] #384 closed

[2022-05-30 05:22] sunharis commented on #3480
Done. We have the list of changes needed from upstream and code ready for the missing part.

[2022-05-30 05:22] #3480 closed, assigned to sunharis, raviteja-b

[2022-05-30 05:38] sunharis commented on #3558
Upstream commit https://gerrit.openbmc.org/c/openbmc/phosphor-networkd/+/53995

[2022-05-30 10:49] rfrandse commented on #407
refresh

[2022-05-30 10:53] rfrandse commented on #577
refresh

[2022-05-30 11:10] rfrandse commented on #1744
refresh

[2022-05-31 04:59] sunharis commented on #3549
Upstream commit at : https://gerrit.openbmc.org/c/openbmc/bmcweb/+/54109

[2022-05-31 15:39] NodeMan97 commented on #3575
An additional compilation setting was added ('ONLYRUNAPRONPOWERLOSS'. By default it is set to false which allows APR to behave regularly as expected. If the flag is set to true then APR will only be run if there was an AC power loss on the chassis.

[2022-05-31 21:43] NodeMan97 commented on #3578
Added a comment to the logging message. Since the firmware condition of each service is being logged for each attempt I don't see where else any debug could be added(unless you would like to inspect situations where the host/chassis are not on or running).

[2022-05-31 21:43] NodeMan97 commented on #3578
Pushed to upstream.

[2022-05-31 22:48] mzipse commented on #3366
refresh

[2022-05-31 22:49] mzipse commented on #3158
refresh

[2022-05-31 22:49] mzipse commented on #3264
refresh

[2022-05-31 22:54] mzipse commented on #3564
refresh

[2022-05-31 23:02] mzipse commented on #3045
refresh

[2022-05-31 23:04] mzipse commented on #3462
This got pulled in downstream.

[2022-05-31 23:10] mzipse commented on #3397
Documentation is in place.

[2022-05-31 23:11] mzipse commented on #3540
We can mark this Code Review in Driver.  All is working downstream.  Did the code get merged upstream?

[2022-06-01 00:58] lxwinspur commented on #2183
https://gerrit.openbmc.org/c/openbmc/bmcweb/+/37045 shuold be dependent on https://gerrit.openbmc.org/c/openbmc/bmcweb/+/41086, we will update these patches today and push upstream again

[2022-06-01 06:22] manojkiraneda opened #3583 "PLDM BIOS : Stop sending the events to hypervisor if the bios value is unchanged"
In the current state, PLDM sends the event to phyp for every attribute change (irrespective of if whether if the value is even changed). This story is for fixing that behavior.

[2022-06-01 08:59] ChicagoDuan commented on #3540
Not merged : https://gerrit.openbmc.org/c/openbmc/bmcweb/+/38599/44

[2022-06-01 10:47] rfrandse commented on #243
refresh

[2022-06-01 10:47] rfrandse commented on #2305
refresh

[2022-06-01 10:51] rfrandse commented on #407
refresh

[2022-06-01 10:55] rfrandse commented on #577
refresh

[2022-06-01 11:07] rfrandse commented on #1328
refresh

[2022-06-01 18:50] mzipse commented on #3540
ok.  We'll leave this open until we get the commit upstreamed.

[2022-06-01 18:51] mzipse commented on #1403
Refresh

[2022-06-01 18:52] mzipse commented on #3462
Refresh

[2022-06-01 18:54] mzipse commented on #3045
refresh again

[2022-06-01 18:54] mzipse commented on #3564
refresh again

[2022-06-01 18:55] mzipse commented on #3537
refresh

[2022-06-01 18:55] mzipse commented on #3366
refresh again

[2022-06-01 18:56] mzipse commented on #3158
refresh again

[2022-06-01 19:29] geissonator commented on #3462
This was merged upstream

[2022-06-01 19:29] #3462 closed, assigned to geissonator

[2022-06-01 19:34] geissonator commented on #1372
How we looking here @lxwinspur ?

[2022-06-01 19:40] geissonator commented on #2687
All state manager errors have been added. Merged upstream and downstream.

[2022-06-01 19:40] #2687 closed

[2022-06-01 19:42] geissonator commented on #1054
I'm going to close this out and say it's tracked via the audit logging function (which is still TBD).

[2022-06-01 19:48] mzipse commented on #3540
Adding an extra label.  This is a test.  Please disregard.

[2022-06-01 20:37] geissonator commented on #3577
Refresh

[2022-06-01 23:02] patelabhishek9893 commented on #3536
https://github.com/ibm-openbmc/bmcweb/pull/377
downstream PR

[2022-06-02 09:18] sunharis commented on #3444
Merged to 1020. Upstream commit is: https://gerrit.openbmc.org/c/openbmc/bmcweb/+/54120

[2022-06-02 09:20] sunharis commented on #3389
Out of scope for our team

[2022-06-02 09:20] #3389 closed

[2022-06-02 09:25] sunharis commented on #2234
@sbteeks Please update the latest status and move the story to the right state/release

[2022-06-02 09:27] sunharis commented on #2736
All stories are complete for FW1020 release

[2022-06-02 09:27] #2736 closed

[2022-06-02 09:27] sunharis commented on #3274
@sbteeks Please update the latest on this story

[2022-06-02 10:44] rfrandse commented on #2183
refresh

[2022-06-02 10:46] rfrandse commented on #2305
refresh

[2022-06-02 10:54] rfrandse commented on #2675
refresh

[2022-06-02 10:55] rfrandse commented on #654
refresh

[2022-06-02 10:57] rfrandse commented on #767
refresh

[2022-06-02 11:02] rfrandse commented on #3154
refresh

[2022-06-02 11:03] rfrandse commented on #1176
refresh

[2022-06-02 11:04] rfrandse commented on #1321
refresh

[2022-06-02 11:07] rfrandse commented on #1328
refresh

[2022-06-02 11:09] rfrandse commented on #3565
refresh

[2022-06-02 11:09] rfrandse commented on #3575
refresh

[2022-06-02 11:12] rfrandse commented on #1744
refresh

[2022-06-02 11:13] rfrandse commented on #1832
refresh

[2022-06-02 13:52] eddiejames commented on #2849
This is fixed. On Everest hardware:
[code]

[2022-06-02 13:52] #2849 closed

[2022-06-02 14:50] spinler commented on #1333
I think I will leave things how they are.  Closing.

[2022-06-02 14:50] #1333 closed

[2022-06-02 14:50] #2477 closed

[2022-06-02 14:52] spinler commented on #3523
If there is an explicit action that needs this I will revisit, but closing for now.

[2022-06-02 14:52] #3523 closed, assigned to spinler

[2022-06-02 15:00] spinler commented on #3560
Resolved by https://gerrit.openbmc.org/c/openbmc/phosphor-fan-presence/+/54158 and merged.

[2022-06-02 15:00] #3560 closed, assigned to mikecgithub

[2022-06-02 15:01] spinler commented on #3475
We haven't seen this again.  Closing.

[2022-06-02 15:01] #3475 closed, assigned to mikecgithub

[2022-06-02 15:02] spinler commented on #3337
Not sure we'll ever have a need to support this, so closing.  Can revisit if the need arises.

[2022-06-02 16:22] sbteeks commented on #2234
Not looked into this story yet. With IPMI slowing down, and disabling IPMI service by default so not sure we need to focus on this...

[2022-06-02 16:40] spinler commented on #3076
Resolved by https://github.com/openbmc/phosphor-fan-presence/commit/59af8caa3c07db908e5a6fe8b3c5f4dbeead8959

[2022-06-02 19:05] spinler commented on #3524
Asking the thermal team if this is needed and what values to use if it is.

[2022-06-02 20:01] spinler commented on #2872
Looks like  `JsonConfig::start()` gets called on InterfacesAdded signals from the compatibility interface, so we would just need to skip running the body of that function if we've already run it once.

[2022-06-02 20:16] spinler commented on #1087
From the PEL spec:
[code]

We implemented a few of these so far, as we had use for them:
[code]

[2022-06-02 20:28] bjwyman commented on #1815
https://github.com/ibm-openbmc/bmcweb/commit/adb4133efdf148878799b37be4ff278030572465

[2022-06-02 20:31] spinler commented on #1087
The remaining ones could be fairly involved to implement, so I think I will hold off until we hear of a need for them as opposed to putting in a lot of work for something that nobody looks at.  We've made it this far without them so I'm not sure they'll be needed.

[2022-06-02 21:06] geissonator commented on #3578
Please add link to all upstream gerrit reviews for these issues to keep tracking easy

[2022-06-03 10:45] rfrandse commented on #243
refresh

[2022-06-03 10:47] rfrandse commented on #2385
refresh

[2022-06-03 10:49] rfrandse commented on #407
refresh

[2022-06-03 10:50] rfrandse commented on #2475
refresh

[2022-06-03 10:52] rfrandse commented on #567
refresh

[2022-06-03 10:53] rfrandse commented on #574
refresh

[2022-06-03 10:54] rfrandse commented on #577
refresh

[2022-06-03 11:01] rfrandse commented on #3016
refresh

[2022-06-03 11:03] rfrandse commented on #1172
refresh

[2022-06-03 11:07] rfrandse commented on #1328
refresh

[2022-06-03 11:08] rfrandse commented on #1403
refresh

[2022-06-03 11:09] rfrandse commented on #3575
refresh

[2022-06-03 11:14] rfrandse commented on #1944
refresh

[2022-06-03 13:25] gtmills opened #3584 "PCIe Topology: Cable Part Number, Type, and Length"
As https://github.ibm.com/gmills/pcie-topology describes need the cable PartNumber, Length and Type
https://redfish.dmtf.org/schemas/Cable.v1_2_0.json

There is a CableType (string) so will work perfectly. There is also length and Part Number here: https://redfish.dmtf.org/schemas/Cable.v1_2_0.json

[code]

[code]

[2022-06-03 14:22] gtmills opened #3585 "PCIe Topology: Link from PCIe Device to PCIe Slot"
As discussed on the 6/3 call, we need an OEM link from the PCIE Device to the PCIe Slot..
You should be able to look at the parent of the PCIe Device to get the PCIe Slot. The chassis would be a further grandparent.

[2022-06-03 15:50] spinler opened #3586 "PFP: fan watchdog timeouts will lead to fan callouts"
if the watchdog process ends up not pinging the fan watchdog fast enough and it trips, the fans will go to high speed.  Fan monitor won't know that, so it will consider those fan errors and shut down the system.

While I think we do need some error logs here, the system should really stay up.

[2022-06-03 16:18] spinler commented on #3586
Thinking about this some more, with our newer code it's more likely that we'd get stuck in a loop of:

1) fans get set to nonfunc because it's running too fast
2) 1 minute shutdown timer starts
2) new fan target of max speed gets set because of the nonfunc fans
3) fans are now within range of max so they become func and shutdown timer is cancelled
4) fans start to decrease again
5) start over at 1

[2022-06-04 10:59] rfrandse commented on #3016
refresh

[2022-06-04 11:06] rfrandse commented on #3565
refresh

[2022-06-05 11:06] rfrandse commented on #3565
refresh

[2022-06-07 09:49] ojayanth commented on #3091
Suppoert is in place.

[2022-06-07 09:50] ojayanth commented on #3128
All support in place.

[2022-06-07 09:50] #3128 closed

[2022-06-07 09:52] ojayanth commented on #3285
No action required in pHAL side.

[2022-06-07 09:52] #3285 closed

[2022-06-07 09:56] ojayanth commented on #3130
- Define new Attribute “SYS_CLOCK_DECONFIG_STATE”
           - Update Attribute persistency. ( pdata changes)
- “update_hw_model” chage
           -  read SYS_CLOCK_DECONFIG_STATE attribute and set clock functional state.
-  istep 0.6 change
           - On any clock failure related to i2c status check,
                     -  check CP_REFCLOCK_SELECT and if already redundancy is not there.
      

[2022-06-07 09:58] #3118 closed

[2022-06-07 09:59] ojayanth commented on #3145
All support is in place.

[2022-06-07 09:59] #3145 closed

[2022-06-07 09:59] #3117 closed

[2022-06-07 10:03] ojayanth commented on #691
latest code already supported to include SBE related CFAM debug information in Journal/Dumps. No action required.

[2022-06-07 10:03] #691 closed

[2022-06-07 10:04] ojayanth commented on #682
Support is available

[2022-06-07 10:04] ojayanth commented on #2195
https://github.com/ibm-openbmc/dev/issues/2195 already handled this.

[2022-06-07 10:04] #2195 closed

[2022-06-07 10:06] ojayanth commented on #693
Done

[2022-06-07 10:07] #719 closed

[2022-06-07 10:13] #1572 closed

[2022-06-07 10:45] rfrandse commented on #219
refresh

[2022-06-07 10:55] rfrandse commented on #657
refresh

[2022-06-07 11:00] rfrandse commented on #904
refresh

[2022-06-07 11:01] rfrandse commented on #948
refresh

[2022-06-07 11:12] rfrandse commented on #3382
refresh

[2022-06-07 11:13] rfrandse commented on #1936
refresh

[2022-06-07 11:14] rfrandse commented on #1959
refresh

[2022-06-07 14:21] gtmills commented on #3585
Will be something like  "Links""Oem""Ibm""PcieSlot" on the PcieDevice here https://redfish.dmtf.org/schemas/PCIeDevice.v1_9_0.json

[2022-06-07 15:20] anoo1 commented on #3407
This will be handled by setting a specific value for BUILD_ID.

[2022-06-07 15:20] #3407 closed

[2022-06-07 15:21] anoo1 commented on #1877
Done.

[2022-06-07 15:21] #1877 closed

[2022-06-07 15:23] anoo1 commented on #3146
Done.

[2022-06-07 15:25] anoo1 commented on #1415
No current plans to support this.

[2022-06-07 15:25] #1415 closed

[2022-06-07 15:25] anoo1 commented on #1334
No plans to support this.

[2022-06-07 15:25] #1334 closed

[2022-06-07 15:27] anoo1 commented on #1531
Per Joseph this is an on-going work and it's documented in box. Closing issue.

[2022-06-07 15:27] #1531 closed

[2022-06-07 15:29] anoo1 commented on #3457
It was decided to leave this as-is.

[2022-06-07 15:29] #3457 closed, assigned to anoo1

[2022-06-07 15:30] anoo1 commented on #2929
This is done.

[2022-06-07 15:30] #2929 closed

[2022-06-07 15:31] anoo1 commented on #3104
This is done.

[2022-06-07 15:31] #3104 closed

[2022-06-07 15:32] anoo1 commented on #3431
This could be done as part of the Audit logging work: https://github.com/ibm-openbmc/dev/issues/1935

[2022-06-07 15:33] #3458 closed, assigned to Nikhil-Ashoka

[2022-06-07 20:18] gtmills opened #3587 "PCIe Topology: OemPcieSlots on the Assembly schema"
@santoshpuranik Is creating an association to link the redfish "Assembly" to "PCIeSlot".
We will want to use this newly created association to populate this "Links""Oem""Ibm""PcieSlots". This is similar work to what @patelabhishek9893 is doing on https://github.com/ibm-openbmc/dev/issues/3585